@use 'src/sass/includes/responsive';

.drop-zone-examples {
  .neon-drop-zone {
    align-items: center;
    justify-content: center;
    width: 250rem;
    height: 250rem;

    h4 {
      line-height: var(--neon-line-height-one);
      margin: 0;
    }
  }

  .neon-drop-zone--circular {
    width: 250rem;
    height: 250rem;
    margin-left: calc(8 * var(--neon-base-space));

    @include responsive.responsive(tablet) {
      margin-left: 0;
      margin-top: calc(4 * var(--neon-base-space));
    }
  }
}
