@use '../includes/layout';
@use '../includes/responsive';
@use '../includes/scrollbars';
@use '../includes/typography';

@mixin typography {
  pre.neon--preformatted {
    color: var(--neon-color-text-secondary-dark);
    background-color: var(--neon-background-color-pre);

    &:not(.prism-editor__editor) {
      @include scrollbars.scrollbars;
      @include layout.padding();
      border-radius: var(--neon-border-radius);
      overflow-x: auto;
      white-space: pre-line;
    }
  }

  .neon-monospaced {
    font-family: var(--neon-font-family-monospaced);
    font-variant-ligatures: discretionary-ligatures;
  }

  textarea {
    font-family: var(--neon-font-family-body);
  }

  p {
    font-family: var(--neon-font-family-paragraph);
    margin: 0;
    max-width: var(--neon-max-paragraph-width);
    line-height: var(--neon-line-height-ratio);
  }

  em {
    font-weight: var(--neon-font-weight-em);
    margin-right: 1rem; // to account for the slanting text
  }

  strong {
    font-weight: var(--neon-font-weight-strong);
    letter-spacing: var(--neon-letter-spacing-s);
  }

  .neon-number {
    font-variant: tabular-nums;
  }

  .neon-h0 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h0;
  }

  .neon-h1,
  h1 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h1;
  }

  .neon-h2,
  h2 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h2;
  }

  .neon-h3,
  h3 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h3;
  }

  .neon-h4,
  h4 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h4;
  }

  .neon-h5,
  h5 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h5;
  }

  .neon-h6,
  h6 {
    font-family: var(--neon-font-family-heading);
    line-height: var(--neon-line-height-headings-ratio);
    letter-spacing: var(--neon-letter-spacing-headings);
    @include typography.neon-h6;
  }

  label:not(.no-style):not(.neon-field) {
    width: fit-content;
    margin-bottom: var(--neon-space-8);
    @include typography.label;
  }

  @include responsive.responsive(mobile-large) {
    .neon-h0 {
      font-size: var(--neon-h1-size);
    }

    .neon-h1,
    h1 {
      font-size: var(--neon-h2-size);
    }

    .neon-h2,
    h2 {
      font-size: var(--neon-h3-size);
    }

    .neon-h3,
    h3 {
      font-size: var(--neon-h4-size);
    }

    .neon-h4,
    h4 {
      font-size: var(--neon-h5-size);
    }

    .neon-h5,
    h5 {
      font-size: var(--neon-h6-size);
    }

    .neon-h6,
    h6 {
      font-size: var(--neon-font-size-m);
    }
  }

  .neon-h0,
  h1,
  .neon-h1,
  h2,
  .neon-h2,
  h3,
  .neon-h3,
  h4,
  .neon-h4,
  h5,
  .neon-h5,
  h6,
  .neon-h6,
  .neon-color-heading {
    color: var(--neon-color-text-primary);
  }
}
