.neon-action-menu {
  &__link {
    display: flex;
    width: calc(100% + #{2 * $base-space});
    letter-spacing: $component-letter-spacing-m;
    border-radius: $border-radius;
    margin: 0.5 * $base-space -2 * $base-space;
    padding-left: 2 * $base-space;
    padding-top: $base-space;
    padding-bottom: $base-space;
    font-size: $font-size-s;
    font-weight: 300;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}
