.neon-alert {
  position: fixed;
  z-index: $z-index-modal-over-top-nav;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  width: $width-alert;
  max-width: $width-alert;
  @include max-height(100);
  overflow-y: auto;
  overflow-x: visible;
  padding: 2 * $base-space;

  &--top-right {
    top: 0;
    right: 0;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
  }

  &--top-right,
  &--bottom-right {
    @include responsive(mobile-large) {
      right: auto;
      min-width: 100vw;
    }
  }

  &--top-left {
    top: 0;
    left: 0;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
  }

  &--top-left,
  &--bottom-left {
    @include responsive(mobile-large) {
      left: auto;
      min-width: 100vw;
    }
  }

  &__message {
    pointer-events: visible;
    touch-action: auto;
    height: 100%;
    margin: $base-space;
    overflow: hidden;
    border-radius: 2 * $border-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: $base-font-size;
    @include padding(0.5);

    &--dismissable {
      cursor: pointer;
    }

    .neon-icon {
      width: 8 * $base-space;
      height: 8 * $base-space;
      margin-right: 3 * $base-space;

      @include responsive(mobile-large) {
        margin-right: 2 * $base-space;
      }
    }
  }

  &__title {
    line-height: $line-height-one;
    font-size: $h6-size;
    font-weight: 500;
    font-family: $heading-font-family;
    letter-spacing: $component-letter-spacing-m;
  }

  &__body {
    font-size: $font-size-s;
  }
}

.neon-alert-transition {
  &-enter-active,
  &-leave-active {
    transition: all ease-in-out $animation-speed-slow;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    height: 0;
    transform: scale(0);
  }
}
