.neon-alert {
  position: fixed;
  z-index: $z-index-top;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  width: $width-alert;
  max-width: $width-alert;
  @include max-height(100);
  overflow-y: auto;
  overflow-x: visible;
  padding: 2 * $base-space;

  &--top-right {
    top: 0;
    right: 0;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
  }

  &--top-right,
  &--bottom-right {
    @include responsive(mobile-large) {
      right: auto;
      min-width: 100vw;
    }
  }

  &--top-left {
    top: 0;
    left: 0;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
  }

  &--top-left,
  &--bottom-left {
    @include responsive(mobile-large) {
      left: auto;
      min-width: 100vw;
    }
  }

  &__message {
    pointer-events: visible;
    touch-action: auto;
    height: 100%;
    min-height: 20 * $base-space;
    margin: $base-space;
    overflow: hidden;
    border-radius: 2 * $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    font-size: $base-font-size;

    &--dismissable:not(.neon-alert__message--with-actions) {
      cursor: pointer;
    }

    .neon-icon {
      min-width: 8 * $base-space;
      width: 8 * $base-space;
      min-height: 8 * $base-space;
      height: 8 * $base-space;
      margin: 2 * $base-space;
      margin-left: 3 * $base-space;
      align-self: center;
    }
  }

  &__title {
    line-height: $line-height-one;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $heading-font-family;
    letter-spacing: $component-letter-spacing-m;
  }

  &__body {
    font-size: $font-size-s;
  }

  .neon-alert__actions {
    margin-left: 2 * $base-space;

    .neon-alert__action {
      padding: 2 * $base-space;
      font-size: $font-size-xs;
      text-transform: uppercase;
      letter-spacing: $component-letter-spacing-m;
      height: 100%;
      display: flex;
      align-items: center;
      width: $width-alert-action;
      justify-content: center;
      font-weight: 600;
    }
  }

  &__content {
    padding-top: 2 * $base-space;
    padding-bottom: 2 * $base-space;
    justify-content: center;
    flex: 1 1 auto;
  }
}

.neon-alert-transition {
  &-enter-active,
  &-leave-active {
    transition: all ease-in-out $animation-speed-slow;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    height: 0;
    transform: scale(0);
  }
}
