.neon-page--with-top-nav .neon-page__container {
  .neon-anchor {
    position: absolute;
    @include responsive(larger-than-tablet) {
      top: -$neon-top-nav-height-desktop;
    }

    @include responsive(tablet) {
      top: -$neon-top-nav-height-tablet;
    }

    @include responsive(mobile-large) {
      top: -$neon-top-nav-height-mobile;
    }
  }
}
