@import 'includes/layout';

$badge-icon-size: 0.667;

@mixin badge-size($size, $font-size) {
  font-size: $font-size;

  &,
  .neon-badge__image {
    width: $size;
    height: $size;
  }

  .neon-icon {
    width: $badge-icon-size * $size;
    height: $badge-icon-size * $size;
  }
}

@mixin neon-badge-import {
  .neon-badge {
    &--s {
      @include badge-size($neon-size-s, $neon-font-size-s);
    }

    &--m {
      @include badge-size($neon-size-m, $neon-font-size-m);
    }

    &--l {
      @include badge-size($neon-size-l, $neon-h6-size);
    }

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: $neon-letter-spacing-m;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &__label,
    svg {
      display: flex;
      position: relative;
      top: 0;
    }

    &--square {
      &,
      .neon-badge__image {
        border-radius: $neon-border-radius;
      }
    }

    &--circular {
      &,
      .neon-badge__image {
        border-radius: 50%;
      }
    }
  }
}
