& {
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

hr {
  display: flex;
  width: 100%;
  border-radius: $border-radius;
  border: none;
  @include margin-vertical;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  > li {
    list-style-type: none;
    margin: 0;
  }

  &:not(.no-style) > li {
    display: inline;
    max-width: $max-paragraph-width;
    padding-left: 7 * $base-space;

    &:before {
      content: '—';
      padding-right: 3 * $base-space;
      margin-left: -7 * $base-space;
      display: inline-flex;
      align-items: center;
      font-size: $font-size-l;
      line-height: $line-height-ratio;
    }
  }

  & + p {
    margin-top: 4 * $base-space;
  }
}

pre:not(.prism-editor__editor) {
  @include padding;
  border-radius: $border-radius;
  overflow-x: auto;
  white-space: pre-line;
}

p + pre {
  margin-top: 0;
}

p + ul & > li {
  margin-top: 2 * $base-space;
}

pre + p {
  margin-top: 2 * $base-space;
}

blockquote,
.neon-note,
table,
p {
  & + h1,
  & + .neon-h1,
  & + h2,
  & + .neon-h2,
  & + h3,
  & + .neon-h3,
  & + h4,
  & + .neon-h4,
  & + h5,
  & + .neon-h5,
  & + h6,
  & + .neon-h6 {
    margin-top: 4 * $base-space;
  }
}

.neon--disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
}

.neon-monospaced {
  font-family: $font-family-monospaced;
  font-variant-ligatures: discretionary-ligatures;
  font-variation-settings: $monospaced-font-variation-settings;
}

.neon-closable--open {
  overflow: hidden;
}

textarea {
  font-family: $body-font-family;
}
