& {
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

hr {
  display: flex;
  width: 100%;
  border-radius: $neon-border-radius;
  border: none;
  @include margin-vertical;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  > li {
    list-style-type: none;
    margin: 0;
  }

  &:not(.no-style) > li {
    display: inline;
    max-width: $neon-max-paragraph-width;
    padding-left: 7 * $neon-base-space;

    &:before {
      content: '•';
      padding-right: 2 * $neon-base-space;
      margin-left: -7 * $neon-base-space;
      display: inline-flex;
      align-items: center;
      font-size: $neon-font-size-l;
      line-height: $neon-line-height-ratio;
    }
  }

  & + p {
    margin-top: 4 * $neon-base-space;
  }
}

pre:not(.prism-editor__editor) {
  @include padding;
  border-radius: $neon-border-radius;
  overflow-x: auto;
  white-space: pre-line;
}

p + pre {
  margin-top: 0;
}

p + ul {
  margin-top: 2 * $neon-base-space;
}

pre + p {
  margin-top: 2 * $neon-base-space;
}

blockquote,
.neon-note,
table,
p {
  & + h1,
  & + .neon-h1,
  & + h2,
  & + .neon-h2,
  & + h3,
  & + .neon-h3,
  & + h4,
  & + .neon-h4,
  & + h5,
  & + .neon-h5,
  & + h6,
  & + .neon-h6 {
    margin-top: 8 * $neon-base-space;
  }
}

.neon-monospaced {
  font-family: $neon-font-family-monospaced;
  font-variant-ligatures: discretionary-ligatures;
}

.neon-closable--open {
  overflow: hidden;
}

textarea {
  font-family: $neon-body-font-family;
}
