@import 'includes/layout';

@mixin button-size($size, $font-size, $icon-only-size) {
  height: $size;
  font-size: $font-size;
  line-height: $neon-line-height-one;
  padding: 0 0.75 * ($size - $font-size);

  .neon-icon {
    width: $font-size * $neon-line-height-one;
    height: $font-size * $neon-line-height-one;
  }

  &.neon-button--icon-only {
    min-width: $size;
    padding: 0;

    &.neon-button--circular {
      border-radius: 50%;
    }

    .neon-icon {
      width: $icon-only-size;
      height: $icon-only-size;
    }
  }
}

.neon-button {
  margin-left: 0;
  margin-right: 0;

  &--s {
    @include button-size($neon-size-s, $neon-font-size-s, $neon-font-size-l);
  }

  &--m {
    @include button-size($neon-size-m, $neon-font-size-m, $neon-h6-size);
  }

  &--l {
    @include button-size($neon-size-l, $neon-font-size-m, $neon-h5-size);
  }

  &--xl {
    @include button-size($neon-size-xl, $neon-h5-size, $neon-h3-size);
    border-radius: $neon-border-radius-button-xl;
  }

  border-radius: $neon-border-radius-button;
  font-weight: 400;
  letter-spacing: $neon-letter-spacing-m;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  outline: none;
  user-select: none;

  .neon-button__label {
    white-space: nowrap;
    flex: 1 1 auto;
    text-align: left;
  }

  &:active:not(:disabled) {
    .neon-button__label,
    .neon-icon {
      position: relative;
      top: 1px;
    }

    .neon-button__indicator {
      top: 1px;
    }
  }

  &.neon-button--full-width {
    width: 100%;
    justify-content: center;

    .neon-button__label {
      text-align: center;
    }
  }

  &--icon-left {
    .neon-icon {
      margin-right: 2 * $neon-base-space;
    }
  }

  &--icon-right {
    .neon-icon {
      order: 1;
      margin-left: 2 * $neon-base-space;
    }
  }

  &--state-loading,
  &--state-success,
  &--state-error {
    &:not(.neon-button--with-icon) {
      .neon-button__label {
        opacity: 0;
      }

      .neon-icon {
        position: absolute;
        z-index: $z-index-above;
      }
    }
  }

  &--state-loading {
    cursor: progress;
  }

  &__indicator:not(:first-child) {
    margin-left: 2 * $neon-base-space;
  }

  .neon-link__label {
    display: flex;
    justify-content: center;
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.neon-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .neon-button + .neon-button {
    margin-left: 2 * $neon-base-space;
  }
}
