@import 'includes/layout';

@mixin button-size($size, $font-size, $icon-only-size) {
  height: $size;
  font-size: $font-size;
  line-height: 1.125;
  padding: 0 0.75 * ($size - $font-size);

  .neon-icon {
    width: $font-size;
    height: $font-size;
  }

  &.neon-button--icon-only {
    min-width: $size;
    padding: 0;

    &.neon-button--circular {
      border-radius: 50%;
    }

    .neon-icon {
      width: $icon-only-size;
      height: $icon-only-size;
    }
  }
}

.neon-button {
  &--s {
    @include button-size($size-s, $font-size-s, $font-size-l);
  }

  &--m {
    @include button-size($size-m, $base-font-size, $h6-size);
  }

  &--l {
    @include button-size($size-l, $base-font-size, $h5-size);
  }

  &--xl {
    @include button-size($size-xl, $h5-size, $h3-size);
    border-radius: $border-radius-button-xl;
  }

  border-radius: $border-radius;
  font-weight: 400;
  letter-spacing: $component-letter-spacing-m;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  outline: none;
  user-select: none;

  .neon-button__label {
    white-space: nowrap;
  }

  &:active:not(:disabled) {
    .neon-button__label,
    .neon-icon {
      position: relative;
      top: 1px;
    }

    .neon-button__indicator {
      top: 1px;
    }
  }

  &.neon-button--full-width {
    width: 100%;
    justify-content: center;
  }

  &--icon-left {
    .neon-icon {
      margin-right: 2 * $base-space;
    }
  }

  &--icon-right {
    .neon-icon {
      order: 1;
      margin-left: 2 * $base-space;
    }
  }

  &--state-loading,
  &--state-success,
  &--state-error {
    &:not(.neon-button--with-icon) {
      .neon-button__label {
        opacity: 0.15;
      }

      .neon-icon {
        position: absolute;
      }
    }
  }

  &--state-loading {
    cursor: progress;
  }

  &__indicator:not(:first-child) {
    margin-left: 2 * $base-space;
  }

  .neon-link__label {
    display: flex;
    justify-content: center;
  }
}

.neon-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .neon-button + .neon-button {
    margin-left: 2 * $base-space;
  }
}
