@mixin horizontal-card-responsive {
  flex-direction: row;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    @include padding;
    margin-bottom: 0;
    justify-content: center;

    &:first-child {
      border-bottom-left-radius: $neon-border-radius;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-right-radius: $neon-border-radius;
    }
  }

  .neon-card-header {
    align-items: center;
  }

  .neon-card-body {
    flex: 1 1 auto;
  }
}

.neon-card {
  border-radius: $neon-border-radius;
  box-shadow: $neon-box-shadow;
  position: relative;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    @include padding;
    position: relative;

    &:first-child {
      border-top-left-radius: $neon-border-radius;
      border-top-right-radius: $neon-border-radius;
    }
  }

  .neon-card-footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .neon-button + .neon-button {
      margin-left: 4 * $neon-base-space;
    }
  }

  .neon-card-header {
    flex-direction: row;
    justify-content: space-between;

    .neon-h1,
    .neon-h2,
    .neon-h3,
    .neon-h4,
    .neon-h5,
    .neon-h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    &:last-child {
      border-bottom-left-radius: $neon-border-radius;
      border-bottom-right-radius: $neon-border-radius;
    }
  }

  @if ($neon-theme == smooth) {
    &.neon-card--vertical {
      .neon-card-header {
        &:not(:last-child) {
          padding-bottom: 0;
        }
      }

      .neon-card-footer {
        &:not(:first-child) {
          padding-top: 0;
        }
      }
    }
  }

  &.neon-card--horizontal {
    &.neon-card--horizontal-breakpoint-mobile-l {
      @include responsive(larger-than-mobile-large) {
        @include horizontal-card-responsive;
      }
    }

    &.neon-card--horizontal-breakpoint-mobile {
      @include responsive(larger-than-mobile) {
        @include horizontal-card-responsive;
      }
    }

    &.neon-card--horizontal-breakpoint-tablet {
      @include responsive(larger-than-tablet) {
        @include horizontal-card-responsive;
      }
    }
  }

  .neon-card-body--full-width {
    padding: 0;

    img {
      margin-left: -$neon-border-width;
      margin-right: -$neon-border-width;
    }

    &:not(:first-child) {
      img {
        margin-top: -1px;
      }
    }

    & > * {
      max-width: calc(100% + #{2 * $neon-border-width});
    }

    &:first-child {
      & > * {
        border-top-left-radius: $neon-border-radius;
        border-top-right-radius: $neon-border-radius;
      }
    }

    &:last-child {
      & > * {
        border-bottom-left-radius: $neon-border-radius;
        border-bottom-right-radius: $neon-border-radius;
      }
    }
  }
}
