@mixin horizontal-card-responsive {
  flex-direction: row;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    margin-bottom: 0;

    &:last-child {
      width: 100%;
    }
  }
}

.neon-card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    @include padding;
    position: relative;
  }

  .neon-card-footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .neon-button + .neon-button {
      margin-left: 4 * $base-space;
    }
  }

  .neon-card-header {
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      line-height: 1;
    }
  }

  .neon-card-body {
    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .neon-card-footer {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &.neon-card--horizontal {
    &.neon-card--horizontal-breakpoint-mobile {
      @include responsive(larger-than-mobile) {
        @include horizontal-card-responsive;
      }
    }

    &.neon-card--horizontal-breakpoint-tablet {
      @include responsive(desktop) {
        @include horizontal-card-responsive;
      }
    }
  }

  .neon-card-body--full-width {
    padding: 0;
    margin-left: -$border-width;
    margin-right: -$border-width;

    &:not(:first-child) {
      margin-top: -1px;
    }

    & > * {
      max-width: 100%;
    }

    &:first-child {
      & > * {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    &:last-child {
      & > * {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
