@use './includes/svg';

@mixin chip-size($size, $font-size, $icon-size, $padding, $neon-base-space, $neon-animation-speed-fast) {
  height: $size - 2 * $neon-base-space;
  font-size: $font-size;
  transition: transform $neon-animation-speed-fast ease-in-out;
  padding-left: $padding * $neon-base-space;

  &.neon-chip--click {
    padding-right: $padding * $neon-base-space;
  }

  &.neon-chip--remove {
    padding-right: 0.667 * $padding * $neon-base-space;
  }

  .neon-icon:not(.neon-chip__close) {
    max-height: $font-size;
    max-width: $font-size;
  }

  .neon-chip__close {
    max-height: $icon-size * $neon-base-space;
    max-width: $icon-size * $neon-base-space;
    margin-left: 1.5 * $neon-base-space;
  }
}

@mixin import(
  $neon-border-radius-chip,
  $neon-letter-spacing-m,
  $neon-size-s,
  $neon-size-m,
  $neon-size-l,
  $neon-font-size-xs,
  $neon-font-size-s,
  $neon-font-size-m,
  $neon-base-space,
  $neon-animation-speed-fast,
) {
  .neon-chip {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 0 0 auto;
    user-select: none;
    border-radius: $neon-border-radius-chip;
    width: fit-content;
    font-weight: 400;
    letter-spacing: $neon-letter-spacing-m;

    &--s {
      @include chip-size($neon-size-s, $neon-font-size-xs, 4, 3, $neon-base-space, $neon-animation-speed-fast);
    }

    &--m {
      @include chip-size($neon-size-m, $neon-font-size-s, 4.5, 3, $neon-base-space, $neon-animation-speed-fast);
    }

    &--l {
      @include chip-size($neon-size-l, $neon-font-size-m, 5, 5, $neon-base-space, $neon-animation-speed-fast);
    }

    &__close {
      opacity: 0.5;
    }

    &:not(.neon-chip--disabled) {
      cursor: pointer;

      &:active,
      &.neon-chip--active {
        transform: scale(0.95);
      }
    }

    &--remove:not(.neon-chip--disabled) {
      &:focus,
      &:hover {
        .neon-chip__close {
          opacity: 1;
        }
      }
    }

    .neon-icon + .neon-chip__label {
      margin-left: 2 * $neon-base-space;
    }

    &--disabled {
      cursor: not-allowed;

      .neon-chip__close {
        opacity: 1;
      }
    }
  }

  .neon-transition-chip-leave-active {
    transform: scale(0.5);
    transition: transform $neon-animation-speed-fast ease-in-out;
  }
}

@mixin import-colors(
  $neon-functional-colors,
  $neon-color-toggle-chip,
  $neon-border-width,
  $neon-border-style,
  $neon-opacity-toggle-chip,
  $neon-color-disabled-dark,
  $neon-color-disabled-light,
) {
  .neon-chip {
    @each $color, $palette in $neon-functional-colors {
      &.neon-chip--#{$color} {
        &:not(.neon-chip--disabled) {
          $neon-chip-color: map-get($palette, $neon-color-toggle-chip);
          border: $neon-border-width $neon-border-style $neon-chip-color;
          background-color: rgba($neon-chip-color, $neon-opacity-toggle-chip);
          @include svg.color-with-svg($neon-chip-color);

          &:focus,
          &:hover {
            background-color: rgba($neon-chip-color, 2 * $neon-opacity-toggle-chip);
          }
        }

        &.neon-chip--disabled {
          background-color: $neon-color-disabled-dark;
          @include svg.color-with-svg($neon-color-disabled-light);
          border: $neon-border-width $neon-border-style $neon-color-disabled-light;
        }
      }
    }
  }
}
