@mixin chip-size($size, $font-size, $icon-size, $padding) {
  height: $size - 2 * $neon-base-space;
  font-size: $font-size;
  transition: transform $neon-animation-speed-fast ease-in-out;
  padding-left: $padding;

  &.neon-chip--click {
    padding-right: $padding;
  }

  &.neon-chip--remove {
    padding-right: 0.667 * $padding;
  }

  .neon-icon:not(.neon-chip__close) {
    max-height: $font-size;
    max-width: $font-size;
  }

  .neon-chip__close {
    max-height: $icon-size;
    max-width: $icon-size;
    margin-left: 1.5 * $neon-base-space;
  }
}

@mixin neon-chip-import {
  .neon-chip {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 0 0 auto;
    user-select: none;
    border-radius: $neon-border-radius-chip;
    width: fit-content;
    font-weight: 400;
    letter-spacing: $neon-letter-spacing-m;

    &--s {
      @include chip-size($neon-size-s, $neon-font-size-xs, 4 * $neon-base-space, 3 * $neon-base-space);
    }

    &--m {
      @include chip-size($neon-size-m, $neon-font-size-s, 4.5 * $neon-base-space, 3 * $neon-base-space);
    }

    &--l {
      @include chip-size($neon-size-l, $neon-font-size-m, 5 * $neon-base-space, 5 * $neon-base-space);
    }

    &__close {
      opacity: 0.5;
    }

    &:not(.neon-chip--disabled) {
      cursor: pointer;

      &:active,
      &.neon-chip--active {
        transform: scale(0.95);
      }
    }

    &--remove:not(.neon-chip--disabled) {
      &:focus,
      &:hover {
        .neon-chip__close {
          opacity: 1;
        }
      }
    }

    .neon-icon + .neon-chip__label {
      margin-left: 2 * $neon-base-space;
    }

    &--disabled {
      cursor: not-allowed;

      .neon-chip__close {
        opacity: 1;
      }
    }
  }

  .neon-transition-chip-leave-active {
    transform: scale(0.5);
    transition: transform $neon-animation-speed-fast ease-in-out;
  }
}
