@import 'includes/layout';

.neon-drawer {
  &__container {
    position: fixed;
    overflow: hidden;
    margin: 0;
    z-index: $z-index-top;
    @include padding($multiplier: 0.75);
    transition: margin-left ease-in-out $neon-animation-speed-slow, margin-right ease-in-out $neon-animation-speed-slow,
      margin-top ease-in-out $neon-animation-speed-slow, margin-bottom ease-in-out $neon-animation-speed-slow;

    &--full-width {
      padding: 0;
    }
  }

  &--left,
  &--right {
    .neon-drawer__container {
      top: 0;
      width: $neon-side-nav-width;
      @include min-height(100);
      @include height(100);
    }
  }

  &--left {
    .neon-drawer__container {
      left: 0;
    }

    &:not(.neon-drawer--open) .neon-drawer__container {
      margin-left: -200%;
    }
  }

  &--right {
    .neon-drawer__container {
      right: 0;
    }

    &:not(.neon-drawer--open) .neon-drawer__container {
      margin-right: -200%;
    }
  }

  &--top,
  &--bottom {
    .neon-drawer__container {
      left: 0;
      @include width(100);
    }
  }

  &--top {
    .neon-drawer__container {
      top: 0;
      margin-top: 0;
    }

    &:not(.neon-drawer--open) .neon-drawer__container {
      margin-top: -200%;
    }
  }

  &--bottom {
    .neon-drawer__container {
      bottom: 0;
    }

    &:not(.neon-drawer--open) .neon-drawer__container {
      margin-bottom: -200%;
    }
  }

  .neon-drawer__overlay {
    opacity: 0;
    z-index: $z-index-below;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    @include width(100);
    @include min-height(100);
    @include height(100);
  }

  &.neon-drawer--open {
    .neon-drawer__overlay {
      opacity: 1;
      pointer-events: auto;
      z-index: $z-index-top;
      transition: opacity ease-in-out 0.5 * $neon-animation-speed-fast;
    }
  }
}

.neon-page--with-top-nav {
  .neon-drawer--top {
    .neon-drawer__overlay {
      z-index: $z-index-above-2;
    }
    .neon-drawer__container {
      z-index: $z-index-above-2;
    }
  }

  .neon-drawer--top {
    .neon-drawer__container {
      @include responsive(larger-than-tablet) {
        margin-top: $neon-top-nav-height-desktop;
      }

      @include responsive(tablet) {
        margin-top: $neon-top-nav-height-tablet;
      }

      @include responsive(mobile-large) {
        margin-top: $neon-top-nav-height-mobile;
      }
    }

    &:not(.neon-drawer--open) .neon-drawer__container {
      margin-top: -200%;
    }
  }
}
