.neon-dropdown-menu {
  &__items {
    max-height: $neon-max-height-dropdown;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    user-select: none;
    cursor: pointer;

    .neon-link,
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }

    &-label {
      white-space: nowrap;
    }

    .neon-icon {
      margin-right: 3 * $neon-base-space;
    }

    .neon-link {
      text-decoration: none;
    }

    .neon-link,
    .neon-dropdown-menu__item-container {
      padding-left: 4 * $neon-base-space;
      padding-right: 4 * $neon-base-space;
      height: $neon-size-m;
      flex: 1 1 auto;
      font-size: $neon-font-size-s;
    }

    .neon-icon {
      width: $neon-font-size-s;
      height: $neon-font-size-s;
    }

    &--grouped {
      .neon-dropdown-menu__item-container,
      .neon-link {
        padding-left: 8 * $neon-base-space;
        padding-right: 8 * $neon-base-space;
      }
    }

    &--group-title {
      .neon-dropdown-menu__item-container {
        font-weight: 500;
        letter-spacing: $neon-letter-spacing-s;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}

.neon-dropdown__content {
  &--top-left,
  &--top-right,
  &--left-bottom,
  &--right-bottom {
    .neon-dropdown-menu__items {
      flex-direction: column-reverse;
    }
  }
}
