@mixin dropdown-size($size, $offset) {
  .neon-dropdown__content {
    &--top-left,
    &--top-right {
      bottom: calc(100% + #{$offset});
    }

    &--bottom-left,
    &--bottom-right {
      top: calc(100% + #{$offset});
    }

    &--left-top,
    &--left-bottom {
      right: calc(100% + #{$offset});
    }

    &--right-top,
    &--right-bottom {
      left: calc(100% + #{$offset});
    }
  }
}

.neon-dropdown {
  position: relative;
  width: fit-content;

  &__content {
    position: absolute;
    z-index: $z-index-above;
    border-radius: $neon-border-radius;
    overflow: hidden;
    min-width: calc(100% - 2 * #{$neon-border-width});

    & > .neon-card-body {
      @include padding(0.75);
    }

    &--bottom-left,
    &--top-left {
      left: 0;
    }

    &--bottom-right,
    &--top-right {
      right: 0;
    }

    &--left-top,
    &--right-top {
      top: 0;
    }

    &--right-bottom,
    &--left-bottom {
      bottom: 0;
    }
  }

  &__content-close {
    display: none;
  }

  &--s {
    @include dropdown-size($neon-size-s, $neon-base-space);

    &.neon-dropdown--open-on-hover {
      @include dropdown-size($neon-size-s, 0px);
    }
  }

  &--m {
    @include dropdown-size($neon-size-m, $neon-base-space);

    &.neon-dropdown--open-on-hover {
      @include dropdown-size($neon-size-m, 0px);
    }
  }

  &--l {
    @include dropdown-size($neon-size-l, $neon-base-space);

    &.neon-dropdown--open-on-hover {
      @include dropdown-size($neon-size-l, 0px);
    }
  }

  &__click-blocker {
    display: none;
  }

  &--open-on-hover {
    .neon-dropdown__content {
      display: none;
    }

    &.neon-dropdown--open,
    &:hover {
      .neon-dropdown__content {
        display: flex;
      }

      .neon-expansion-indicator {
        .neon-expansion-indicator__container {
          transform: translateY(-2px);
        }

        .neon-expansion-indicator__line1 {
          transform: rotate(-35deg);
        }

        .neon-expansion-indicator__line2 {
          transform: rotate(35deg);
        }
      }
    }
  }

  &--open {
    .neon-dropdown__click-blocker {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: $z-index-top;
    }
  }

  .neon-button {
    flex: 1 0 auto;
    width: inherit;
  }

  &__badge {
    outline: none;
    flex-direction: row;
    align-items: center;

    .neon-expansion-indicator {
      margin-left: 2 * $neon-base-space;
    }

    .neon-badge {
      box-shadow: $neon-box-shadow;
      position: relative;

      &:not(.neon-badge--disabled) {
        opacity: 0.9;
      }
    }

    &:hover {
      .neon-badge {
        opacity: 1;
      }
    }

    &:active {
      .neon-badge:not(.neon-badge--disabled) {
        .neon-badge__label,
        svg {
          top: 1px;
        }
      }
    }
  }
}
