@use './includes/layout';

@mixin import($spacings, $neon-base-space, $neon-border-radius) {
  .neon-drop-zone {
    border: 0.5 * $neon-base-space dashed;
    border-radius: $neon-border-radius;
    @include layout.padding($spacings, 1, true);
    cursor: copy;

    &--circular {
      border-radius: 50%;
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--state-loading {
      cursor: progress;
    }

    &__container {
      justify-content: center;
      align-items: center;
    }
  }
}

@mixin import-colors(
  $neon-background-color,
  $neon-color-drop-zone,
  $neon-animation-speed-fast,
) {
  .neon-drop-zone {
    background-color: rgba($neon-background-color, 0.5);
    border-color: rgba($neon-color-drop-zone, 0.5);
    color: rgba($neon-color-drop-zone, 0.5);
    transition: background-color ease-in-out $neon-animation-speed-fast, color ease-in-out $neon-animation-speed-fast,
    border-left-color ease-in-out $neon-animation-speed-fast, border-top-color ease-in-out $neon-animation-speed-fast,
    border-bottom-color ease-in-out $neon-animation-speed-fast,
    border-right-color ease-in-out $neon-animation-speed-fast;

    &--active:not(.neon-drop-zone--disabled),
    &:hover:not(.neon-drop-zone--disabled) {
      border-color: $neon-color-drop-zone;
      color: $neon-color-drop-zone;
    }
  }
}
