%chevron-line-base {
  stroke-width: 1;
  stroke-linecap: round;
  transition: all ease-in-out $animation-speed-fast;
}

.neon-expansion-indicator__line1 {
  @extend %chevron-line-base;
  transform-origin: 8px 8px;
}

.neon-expansion-indicator__line2 {
  @extend %chevron-line-base;
  transform-origin: 8px 8px;
}

.neon-expansion-indicator {
  display: flex;
  font-size: $base-font-size;
  position: relative;

  &__container {
    transition: all ease-in-out $animation-speed-fast;
    transform: translateY(2px);
  }

  &__line1 {
    transform: rotate(35deg);

    &.neon-svg--stroke {
      transition: transform ease-in-out $animation-speed-fast !important;
    }
  }

  &__line2 {
    transform: rotate(-35deg);

    &.neon-svg--stroke {
      transition: transform ease-in-out $animation-speed-fast !important;
    }
  }

  &--expanded {
    .neon-expansion-indicator__container {
      transform: translateY(-2px);
    }

    .neon-expansion-indicator__line1 {
      transform: rotate(-35deg);
    }

    .neon-expansion-indicator__line2 {
      transform: rotate(35deg);
    }
  }
}
