@mixin expansion-indicator(
  $neon-animation-speed-fast,
  $neon-font-size-m,
) {
  .neon-expansion-indicator__line1,
  .neon-expansion-indicator__line2 {
    stroke-width: 1;
    stroke-linecap: round;
    transition: all ease-in-out $neon-animation-speed-fast;
    transform-origin: 8px 8px;
  }

  .neon-expansion-indicator {
    display: flex;
    font-size: $neon-font-size-m;
    position: relative;

    &__container {
      transition: all ease-in-out $neon-animation-speed-fast;
      transform: translateY(2px);
    }

    &__line1 {
      transform: rotate(35deg);

      &.neon-svg--stroke {
        transition: transform ease-in-out $neon-animation-speed-fast !important;
      }
    }

    &__line2 {
      transform: rotate(-35deg);

      &.neon-svg--stroke {
        transition: transform ease-in-out $neon-animation-speed-fast !important;
      }
    }

    &--expanded {
      .neon-expansion-indicator__container {
        transform: translateY(-2px);
      }

      .neon-expansion-indicator__line1 {
        transform: rotate(-35deg);
      }

      .neon-expansion-indicator__line2 {
        transform: rotate(35deg);
      }
    }
  }
}
