.neon-field-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & > *,
  & > .neon-input {
    &,
    & > input {
      border-radius: 0;
      min-height: 100%;
    }

    &:first-child {
      &,
      & > input {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }

    &:not(:first-child) {
      &,
      & > input {
        &:not(:focus) {
          border-left: none;
        }
      }

      & > input {
        &:focus {
          margin-left: -$border-width;
          width: calc(100% + #{$border-width});
        }
      }
    }

    &:last-child {
      &,
      & > input {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    &:not(:last-child) {
      border-right: none;
    }
  }
}
