@mixin field-group(
  $neon-border-radius,
  $neon-border-width,
) {
  .neon-field-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & > *,
    & > .neon-input,
    & > .neon-select {
      &,
      & > input,
      & .neon-button {
        border-radius: 0;
        min-height: 100%;
      }

      &:first-child {
        &,
        & > input,
        & .neon-button {
          border-top-left-radius: $neon-border-radius;
          border-bottom-left-radius: $neon-border-radius;
        }
      }

      &:not(:first-child) {
        &,
        & > input,
        & .neon-button {
          &:not(:focus) {
            border-left: none;
          }
        }

        & > input,
        & .neon-button {
          &:focus {
            margin-left: -$neon-border-width;
            margin-right: -$neon-border-width;
            width: calc(100% + #{2 * $neon-border-width});
          }
        }
      }

      &:last-child {
        &,
        & > input,
        & .neon-button {
          border-top-right-radius: $neon-border-radius;
          border-bottom-right-radius: $neon-border-radius;
        }
      }

      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  .neon-theme--smooth {
    .neon-field-group > *:not(:last-child) {
      margin-right: 1px;
    }
  }
}
