@mixin first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

@mixin last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.neon-field-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & > .neon-button,
  .neon-number-spinner,
  .neon-input,
  .neon-file-label {
    border-radius: 0;

    &:first-child {
      @include first-child;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &:last-child {
      @include last-child;
    }

    &:not(:last-child) {
      border-right: none;
    }
  }

  & > .neon-input-indicator {
    border-radius: 0;
    &:first-child {
      @include first-child;
      border-right: none;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &:last-child {
      @include last-child;
    }
  }

  .neon-input {
    .neon-textfield {
      border-radius: 0;
    }

    &:first-child {
      .neon-textfield {
        @include first-child;
      }
    }

    &:last-child {
      .neon-textfield {
        @include last-child;
      }
    }
  }

  .neon-select {
    .neon-dropdown-button {
      border-radius: 0;
    }

    &:first-child {
      .neon-dropdown-button {
        @include first-child;
      }
    }

    &:not(:first-child) {
      .neon-dropdown-button {
        border-left: none;
      }
    }

    &:last-child {
      .neon-dropdown-button {
        @include last-child;
      }
    }
  }

  .neon-number-spinner {
    .neon-number-spinner-control {
      border-radius: 0;
    }

    &:first-child {
      .neon-number-increment {
        border-top-left-radius: $border-radius;
      }

      .neon-number-decrement {
        border-bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      .neon-number-increment {
        border-top-right-radius: $border-radius;
      }

      .neon-number-decrement {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
