.neon-filter-list {
  .neon-filter-list__item {
    justify-content: flex-start;

    &-label {
      margin-right: 2 * $base-space;
    }

    &-count {
      width: fit-content;
      min-width: fit-content;
      margin-right: 6 * $base-space;
      font-size: $font-size-xs;
      font-weight: 600;
      font-variant: tabular-nums;
      line-height: 1;
    }

    &--selected {
      .neon-filter-list__item-count {
        margin-right: 2 * $base-space;
      }
    }

    &--disabled {
      cursor: not-allowed;
    }

    &-label,
    &-count,
    .neon-icon {
      pointer-events: none;
      touch-action: none;
    }
  }
}
