@use './includes/layout';

@mixin single-file-size($size, $spacings) {
  .neon-list__item {
    height: $size;
    @include layout.padding($spacings, 0.5);
  }
}

@mixin file(
  $spacings,
  $neon-base-space,
  $neon-size-s,
  $neon-size-m,
  $neon-size-l,
) {
  .neon-file {
    &__input {
      display: none;
    }

    .neon-list {
      margin-bottom: 4 * $neon-base-space;
    }

    &--single {
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%;
      flex: 1 1 auto;

      .neon-list {
        margin-right: 2 * $neon-base-space;
        flex: 1 1 auto;
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
      }

      &.neon-file--s {
        @include single-file-size($neon-size-s, $spacings);
      }

      &.neon-file--m {
        @include single-file-size($neon-size-m, $spacings);
      }

      &.neon-file--l {
        @include single-file-size($neon-size-l, $spacings);
      }
    }

    .neon-button + .neon-button {
      margin-left: 4 * $neon-base-space;
    }
  }
}
