.neon-footer {
  width: 100%;
  display: flex;
  align-items: flex-start;

  &__container {
    display: flex;
    width: 100%;
    max-width: $max-page-width + 4 * $base-space;
    line-height: 1;

    @include responsive(larger-than-tablet) {
      font-size: $base-font-size;
      height: $footer-height-desktop;
      padding: 0 $spacing-vertical-desktop;
    }

    @include responsive(tablet) {
      font-size: $font-size-s;
      height: $footer-height-tablet;
      padding: 0 $spacing-vertical-tablet;
    }

    @include responsive(mobile-large) {
      font-size: $font-size-s;
      height: $footer-height-mobile;
      padding: 0 $spacing-vertical-mobile;
    }
  }
}

.neon-side-nav + .neon-grid + .neon-footer {
  @include side-nav-offset;

  .neon-footer__container {
    max-width: $max-page-width - $side-nav-width;
  }
}
