.neon-footer {
  display: flex;
  align-items: flex-start;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $neon-max-page-width + 4 * $neon-base-space;
    line-height: $neon-line-height-one;

    @include responsive(larger-than-tablet) {
      font-size: $neon-base-font-size;
      height: $neon-footer-height-desktop;
      padding: 0 $spacing-vertical-desktop;
    }

    @include responsive(tablet) {
      font-size: $neon-font-size-s;
      height: $neon-footer-height-tablet;
      padding: 0 $spacing-vertical-tablet;
    }

    @include responsive(mobile-large) {
      font-size: $neon-font-size-s;
      height: $neon-footer-height-mobile;
      padding: 0 $neon-spacing-vertical-mobile;
    }
  }
}

.neon-page--with-side-nav .neon-footer {
  @include side-nav-offset;
}
