@import 'includes/layout';

.neon-grid {
  width: 100%;
  max-width: $max-page-width;
  @include min-height(100, $footer-height-desktop);
  @include padding(0.5, true);
  display: grid;

  .neon-grid-area {
    @include margin(0.5, true);
    display: flex;
  }
}

.neon-page--with-side-nav .neon-grid {
  @include side-nav-offset;
  max-width: calc(#{$max-page-width - $side-nav-width});
}

.neon-page--with-top-nav .neon-page__container {
  .neon-grid {
    @include responsive(larger-than-tablet) {
      @include min-height(100, $top-nav-height-desktop + $footer-height-desktop);
    }

    @include responsive(tablet) {
      @include min-height(100, $top-nav-height-tablet + $footer-height-tablet);
    }

    @include responsive(mobile-large) {
      @include min-height(100, $top-nav-height-mobile + $footer-height-mobile);
    }
  }
}

.neon-grid {
  .neon-grid-area {
    @include responsive(larger-than-tablet) {
      max-width: calc(100vw - #{2 * $spacing-vertical-desktop});
    }

    @include responsive(tablet) {
      max-width: calc(100vw - #{2 * $spacing-vertical-tablet});
    }

    @include responsive(mobile-large) {
      max-width: calc(100vw - #{2 * $spacing-vertical-mobile});
    }
  }
}

.neon-page--with-side-nav .neon-grid {
  .neon-grid-area {
    @include responsive(larger-than-tablet) {
      max-width: calc(100vw - #{$side-nav-width + 2 * $spacing-vertical-desktop});
    }
  }
}
