@mixin input-size($size, $font-size) {
  .neon-input__text,
  .neon-input__textarea {
    font-size: $font-size;
  }

  .neon-input__text {
    height: $size;
  }

  &.neon-input--state-loading,
  &.neon-input--state-success,
  &.neon-input--state-error,
  &.neon-input--with-icon {
    .neon-input__text {
      padding-right: $size;
    }

    .neon-icon {
      position: absolute;
      width: $font-size * $line-height-one;
      height: $font-size * $line-height-one;
      right: 0.5 * ($size - $font-size);
      top: 0.5 * ($size - $font-size) - 1px;
      cursor: default;
      border-radius: 50%;

      &:focus {
        outline: none;
      }
    }
  }

  &.neon-input--with-icon {
    .neon-icon {
      cursor: pointer;

      &:active {
        top: 0.5 * ($size - $font-size) + 1px;
      }
    }
  }
}

.neon-input {
  width: 100%;
  position: relative;

  &--s {
    @include input-size($size-s, $font-size-s);
  }

  &--m {
    @include input-size($size-m, $base-font-size);
  }

  &--l {
    @include input-size($size-l, $base-font-size);
  }

  &__text,
  &__textarea {
    border-radius: $border-radius;
    border: $border-width $border-style;
    padding: $base-space 2 * $base-space;
    line-height: $line-height-one;
    outline: none;
    font-family: $body-font-family;
    width: 100%;

    &::placeholder {
      font-family: $body-font-family;
      letter-spacing: $letter-spacing-s;
    }
  }

  &:not(.neon-input--placeholder-visible) {
    input[type='password'] {
      font-weight: bold;
      letter-spacing: 2 * $letter-spacing-m;
    }
  }

  &__text[type='number'],
  &__text[inputmode='tel'],
  &__text[inputmode='decimal'],
  &__text[inputmode='numeric'] {
    font-variant: tabular-nums;
  }
}
