@import 'includes/layout';

.neon-label {
  &--xs {
    height: $size-xs - $base-space;
    min-width: $size-xs - $base-space;
    font-size: $font-size-xxs;
    padding: 0 $base-space;

    .neon-icon {
      width: $font-size-xs;
      height: $font-size-xs;
    }
  }

  &--s {
    height: $size-s - $base-space;
    min-width: $size-s - $base-space;

    font-size: $font-size-s;

    .neon-icon {
      width: $font-size-s;
      height: $font-size-s;
    }
  }

  text-transform: uppercase;
  border-radius: $border-radius;
  letter-spacing: $letter-spacing-s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 2 * $base-space;
  min-width: fit-content;
  width: fit-content;
  font-weight: 700;

  &__label {
    white-space: nowrap;
    line-height: 1;
  }

  &--with-icon {
    &:not(.neon-label--with-label) {
      padding: 0;
    }

    &.neon-label--with-label {
      &.neon-label--icon-left .neon-icon {
        margin-right: $base-space;
      }

      &.neon-label--icon-right .neon-icon {
        order: 1;
        margin-left: $base-space;
      }
    }
  }
}
