@import 'includes/layout';

.neon-label {
  &--xs {
    height: $neon-size-xs - $neon-base-space;
    min-width: $neon-size-xs - $neon-base-space;
    font-size: $neon-font-size-xxs;
    padding: 0 $neon-base-space;

    .neon-icon {
      width: $neon-font-size-xs;
      height: $neon-font-size-xs;
    }
  }

  &--s {
    height: $neon-size-s - $neon-base-space;
    min-width: $neon-size-s - $neon-base-space;

    font-size: $neon-font-size-s;

    .neon-icon {
      width: $neon-font-size-s;
      height: $neon-font-size-s;
    }
  }

  text-transform: uppercase;
  border-radius: $neon-border-radius;
  letter-spacing: $neon-letter-spacing-s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 2 * $neon-base-space;
  min-width: fit-content;
  width: fit-content;
  font-weight: 700;

  &__label {
    white-space: nowrap;
    line-height: 1;
  }

  &--with-icon {
    &:not(.neon-label--with-label) {
      padding: 0;
    }

    &.neon-label--with-label {
      &.neon-label--icon-left .neon-icon {
        margin-right: $neon-base-space;
      }

      &.neon-label--icon-right .neon-icon {
        order: 1;
        margin-left: $neon-base-space;
      }
    }
  }
}
