a[href]:not(.neon-link--no-style),
.neon-link:not(.neon-link--no-style) {
  cursor: pointer;
  text-decoration: none;

  &:not(.neon-button) {
    width: fit-content;

    &:hover:not(:active) {
      text-decoration: underline;
    }
  }
}

.neon-link {
  &__external-indicator {
    width: $font-size-s;
    height: $font-size-s;
    margin-left: $base-space;
    margin-right: 2 * $base-space;
    vertical-align: -2px;
    opacity: 0.5;
  }

  &:hover {
    .neon-link__external-indicator {
      opacity: 1;
    }
  }
}
