%neon-link-no-style {
  cursor: pointer;
  text-decoration: none;

  &:not(.neon-button) {
    width: fit-content;

    &:hover:not(:active) {
      text-decoration: none;
    }
  }
}

a[href]:not(.neon-link--no-style) {
  @extend %neon-link-no-style;
}

@mixin neon-link-import {
  .neon-link {
    position: relative;

    &:not(.neon-link--no-style) {
      @extend %neon-link-no-style;
    }

    &__external-indicator {
      width: $neon-font-size-s;
      height: $neon-font-size-s;
      margin-left: $neon-base-space;
      vertical-align: -2px;
      opacity: 0.5;
    }

    &:hover {
      .neon-link__external-indicator {
        opacity: 1;
      }
    }

    &.neon-link--outline-text.neon-link--with-external-indicator {
      &:after {
        width: calc(100% - #{4.5 * $neon-base-space});
      }

      &:hover,
      &:focus {
        &:after {
          width: calc(100% - #{4.5 * $neon-base-space});
        }
      }
    }
  }
}
