@mixin neon-logo-import {
  .neon-logo {
    @include responsive(larger-than-tablet) {
      height: $neon-size-m;
      width: $neon-logo-width-multiplier * $neon-size-m;
    }

    @include responsive(tablet) {
      height: $neon-size-s;
      width: $neon-logo-width-multiplier * $neon-size-s;
    }

    @include responsive(mobile-large) {
      height: $neon-size-xs;
      width: $neon-logo-width-multiplier * $neon-size-xs;
    }
  }
}
