@use './includes/svg';

@mixin neon-menu-size($size, $neon-base-space, $neon-border-radius) {
  .neon-menu__item {
    height: $size;
    font-size: $size;
    padding-left: 5 * $neon-base-space;
    padding-right: 5 * $neon-base-space;
    border-radius: $neon-border-radius;

    .neon-link {
      height: $size;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:focus,
    a:focus {
      outline: none;
    }

    &-icon,
    .neon-dropdown .neon-dropdown__button .neon-icon {
      width: $size;
      height: $size;
      margin-right: 2 * $neon-base-space;
      padding-right: 0;
    }
  }

  .neon-dropdown .neon-dropdown__button {
    font-size: $size;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      cursor: pointer;
    }

    &:active,
    &:focus {
      .neon-button__label,
      .neon-button__indicator {
        top: 0;
      }
    }
  }
}

@mixin menu(
  $neon-size-s,
  $neon-size-m,
  $neon-size-l,
  $neon-base-space,
  $neon-border-radius,
  $neon-heading-font-family,
  $neon-letter-spacing-m,
) {
  .neon-menu {
    display: flex;
    flex-direction: row;
    user-select: none;

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__responsive-menu {
      font-family: $neon-heading-font-family;

      &:not(:first-child) {
        margin-left: 5 * $neon-base-space;
      }

      &--hidden {
        display: none;
      }
    }

    &__item {
      font-weight: 400;
      letter-spacing: $neon-letter-spacing-m;
      white-space: nowrap;

      .neon-link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &__label {
          display: flex;
          align-items: center;
          font-family: $neon-heading-font-family;
        }
      }

      &--disabled {
        .neon-link {
          cursor: not-allowed;
        }
      }

      .neon-dropdown .neon-dropdown__button {
        font-family: $neon-heading-font-family;
        font-weight: 400;
        letter-spacing: $neon-letter-spacing-m;
      }
    }

    &--s {
      @include neon-menu-size($neon-size-s, $neon-base-space, $neon-border-radius);
    }

    &--m {
      @include neon-menu-size($neon-size-m, $neon-base-space, $neon-border-radius);
    }

    &--l {
      @include neon-menu-size($neon-size-l, $neon-base-space, $neon-border-radius);
    }
  }
}

@mixin menu-colors(
  $neon-color-text-neutral,
  $neon-animation-speed-fast,
  $neon-color-disabled-light,
  $neon-functional-colors,
  $neon-color-tab-selected,
  $neon-background-color-dropdown-menu-highlight,
  $neon-color-text,
) {
  .neon-menu {
    &__item {
      & > .neon-link {
        color: $neon-color-text-neutral;
        transition: color ease-in-out $neon-animation-speed-fast;
      }

      &--disabled {
        .neon-link {
          color: $neon-color-disabled-light;
        }
      }
    }

    &__wrapper {
      .neon-dropdown:not(.neon-dropdown--disabled) {
        .neon-dropdown__button {
          @include svg.color-with-svg($neon-color-text-neutral);
          transition: color ease-in-out $neon-animation-speed-fast;

          &:hover:not(disabled),
          &:active:not(disabled) {
            background-color: transparent;
            color: $neon-color-text-neutral;
          }
        }

        .neon-dropdown-menu__item {
          &:not(.neon-dropdown-menu__item--highlighted) .neon-link,
          &--group-title {
            color: $neon-color-text-neutral;
          }
        }
      }
    }

    @each $color, $palette in $neon-functional-colors {
      &.neon-menu--#{$color},
      &__responsive-menu.neon-dropdown-menu--#{$color} {
        .neon-menu__item:not(.neon-menu__item--disabled) {
          &:hover:not(.router-link-active),
          &:focus:not(.router-link-active),
          &:active:not(.router-link-active) {
            & > .neon-link,
            .neon-dropdown__button {
              @include svg.color-with-svg(rgba(map-get($palette, $neon-color-tab-selected), 0.85));
            }
          }

          &:focus-within {
            background-color: rgba(map-get($palette, $neon-background-color-dropdown-menu-highlight), 0.125);

            & > .neon-link:not(.router-link-active),
            .neon-button:not(.router-link-active) {
              @include svg.color-with-svg($neon-color-text);
            }
          }
        }

        .router-link-active {
          color: map-get($palette, $neon-color-tab-selected);

          .neon-dropdown__button {
            color: map-get($palette, $neon-color-tab-selected);
          }

          @include svg.svg-colors(rgba(map-get($palette, $neon-color-tab-selected), 0.85));
        }
      }
    }
  }
}
