@mixin neon-menu-size($size, $font-size, $horizontal-spacing) {
  .neon-menu__item {
    height: $size;
    font-size: $font-size;
    padding-left: $horizontal-spacing;
    padding-right: $horizontal-spacing;
    border-radius: $neon-border-radius;

    .neon-link {
      height: $size;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:focus,
    a:focus {
      outline: none;
    }

    &-icon,
    .neon-dropdown .neon-dropdown__button .neon-icon {
      width: $font-size;
      height: $font-size;
      margin-right: 2 * $neon-base-space;
      padding-right: 0;
    }
  }

  .neon-dropdown .neon-dropdown__button {
    font-size: $font-size;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      cursor: pointer;
    }

    &:active,
    &:focus {
      .neon-button__label,
      .neon-button__indicator {
        top: 0;
      }
    }
  }
}

.neon-menu {
  display: flex;
  flex-direction: row;
  user-select: none;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__responsive-menu {
    font-family: $neon-heading-font-family;

    &:not(:first-child) {
      margin-left: 5 * $neon-base-space;
    }

    &--hidden {
      display: none;
    }
  }

  &__item {
    font-weight: 400;
    letter-spacing: $neon-letter-spacing-m;
    white-space: nowrap;

    .neon-link {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &__label {
        display: flex;
        align-items: center;
        font-family: $neon-heading-font-family;
      }
    }

    &--disabled {
      .neon-link {
        cursor: not-allowed;
      }
    }

    .neon-dropdown .neon-dropdown__button {
      font-family: $neon-heading-font-family;
      font-weight: 400;
      letter-spacing: $neon-letter-spacing-m;
    }
  }

  &--s {
    @include neon-menu-size($neon-size-s, $neon-font-size-s, 5 * $neon-base-space);
  }

  &--m {
    @include neon-menu-size($neon-size-m, $neon-font-size-m, 5 * $neon-base-space);
  }

  &--l {
    @include neon-menu-size($neon-size-l, $neon-font-size-l, 5 * $neon-base-space);
  }
}
