@use './includes/layout';
@use './includes/responsive';
@use './includes/globals';

@mixin modal(
  $neon-animation-speed-fast,
  $neon-animation-speed-slow,
  $neon-base-space,
) {
  .neon-modal {
    align-items: center;
    justify-content: center;

    &,
    .neon-modal__container,
    .neon-modal__overlay {
      position: fixed;
      opacity: 0;
      z-index: globals.$z-index-below;
      pointer-events: none;
      transition: opacity ease-in-out $neon-animation-speed-fast;

      @include responsive.responsive(larger-than-mobile-large) {
        transition: all ease-in-out $neon-animation-speed-fast;
        .neon-card {
          margin-top: -30vh;
          transition: all ease-in-out $neon-animation-speed-slow;
        }
      }
    }

    &,
    .neon-modal__overlay {
      top: 0;
      left: 0;
      @include layout.width(100);
      @include layout.min-height(100);
      @include layout.height(100);
    }

    &.neon-modal--open {
      opacity: 1;

      @include responsive.responsive(larger-than-mobile-large) {
        .neon-card {
          margin-top: -20vh;
        }
      }

      .neon-modal__container,
      .neon-modal__overlay {
        opacity: 1;
        pointer-events: auto;
      }

      &:not(.neon-dialog),
      &:not(.neon-dialog) .neon-modal__container {
        @include responsive.responsive(mobile-large) {
          @include layout.width(100);
          @include layout.min-height(100);

          .neon-card {
            @include layout.min-height(100);
          }
        }
      }

      &,
      .neon-modal__container {
        z-index: globals.$z-index-top;

        @include responsive.responsive(mobile-large) {
          .neon-card {
            .neon-card-body {
              flex: 1 1 auto;
            }
          }
        }
      }
    }

    &__container {
      @include responsive.responsive(larger-than-mobile-large) {
        padding-left: 2 * $neon-base-space;
        padding-right: 2 * $neon-base-space;
      }
    }

    &__close {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      margin: 0.5 * $neon-base-space;

      @include responsive.responsive(larger-than-mobile-large) {
        display: none;
      }
    }

    &.neon-dialog {
      &,
      .neon-modal__container,
      .neon-modal__overlay {
        transition: all ease-in-out $neon-animation-speed-fast;

        .neon-card {
          margin-top: -30vh;
          transition: all ease-in-out $neon-animation-speed-slow;
        }
      }

      &.neon-modal--open {
        .neon-card {
          margin-top: -20vh;
        }
      }

      .neon-modal__close {
        @include responsive.responsive(mobile-large) {
          display: none;
        }
      }
    }
  }
}

@mixin modal-colors(
  $neon-background-color-overlay,
  $neon-box-shadow-alert,
) {
  .neon-modal {
    &__overlay {
      background-color: $neon-background-color-overlay;
    }

    .neon-card {
      box-shadow: $neon-box-shadow-alert;
    }
  }
}
