.neon-notification-counter {
  transform: scale(0);
  transition: transform linear $animation-speed-fast;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 12px;
  z-index: $z-index-above;
  position: absolute;
  width: 23px;
  height: 23px;
  top: -10px;
  right: -10px;
  user-select: none;
  font-weight: 500;

  &--active {
    transform: scale(1);
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) $animation-speed-slow;
  }
}
