@use './includes/layout';
@use './includes/responsive';
@use './includes/note';

@mixin note(
  $spacings,
  $neon-border-radius,
  $neon-base-space,
  $neon-font-size-m,
) {
  .neon-note {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    border-radius: 0 $neon-border-radius $neon-border-radius 0;

    span {
      display: inline;
    }

    & + p {
      margin-top: 4 * $neon-base-space;
    }

    justify-content: space-between;

    &__icon.neon-icon {
      margin-right: 4 * $neon-base-space;
      $note-icon-size: 1.5 * $neon-font-size-m;
      width: $note-icon-size;
      min-width: $note-icon-size;
      height: $note-icon-size;
      min-height: $note-icon-size;
    }

    &__container {
      @include layout.padding($spacings, 0.85);
      width: 100%;
      justify-items: flex-start;
      align-items: flex-start;
      flex-direction: row;
    }

    &__close {
      align-self: flex-start;

      &.neon-button {
        @include responsive.responsive(larger-than-tablet) {
          margin: 2 * $neon-base-space;
        }

        @include responsive.responsive(tablet) {
          margin: $neon-base-space;
        }

        @include responsive.responsive(mobile-large) {
          margin: 0.5 * $neon-base-space;
        }
      }
    }
  }

  @include note.neon-note-margins($neon-base-space, '.neon-note');
}

@mixin note-colors(
  $neon-color-note,
  $neon-color-text,
  $neon-functional-colors,
  $neon-background-color-note,
  $neon-border-color-note,
  $neon-border-width-note,
  $neon-border-style,
  $neon-primary-palette,
  $neon-size-xs,
) {
  .neon-note {
    color: $neon-color-note;

    strong {
      color: $neon-color-text;
    }

    @each $color, $palette in $neon-functional-colors {
      &--#{$color} {
        background-color: $neon-background-color-note;
        border-left: $neon-border-width-note $neon-border-style map-get($palette, $neon-border-color-note);
      }
    }

    .neon-button.neon-button--s.neon-button--icon-only {
      min-width: $neon-size-xs;
      width: $neon-size-xs;
      height: $neon-size-xs;
      opacity: 0.75;

      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }
  }

  blockquote {
    color: $neon-color-note;

    strong {
      color: $neon-color-text;
    }

    background-color: $neon-background-color-note;
    border-left: $neon-border-width-note $neon-border-style map-get($neon-primary-palette, $neon-border-color-note);
  }
}
