.neon-number {
  &--with-buttons.neon-number {
    &--s {
      max-width: 4 * $neon-size-s;
    }

    &--m {
      max-width: 4 * $neon-size-m;
    }

    &--l {
      max-width: 4 * $neon-size-l;
    }
  }

  .neon-input .neon-input__textfield {
    padding-right: 2 * $neon-base-space;
    font-variant: tabular-nums;
    border-right: none;
    -moz-appearance: textfield;

    &:focus {
      margin-left: 0;
      margin-right: 0;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .neon-input {
    .neon-icon {
      display: none;
    }
  }

  &:not(.neon-number--editable):not(.neon-number--disabled) .neon-number__input .neon-input__textfield {
    cursor: default;
  }
}
