.neon-page {
  position: relative;
  left: 0;
  width: 100%;

  &--with-top-nav .neon-page__container {
    @include responsive(larger-than-tablet) {
      padding-top: $neon-top-nav-height-desktop;
      @include min-height(100, $neon-top-nav-height-desktop);
    }

    @include responsive(tablet) {
      padding-top: $neon-top-nav-height-tablet;
      @include min-height(100, $neon-top-nav-height-tablet);
    }

    @include responsive(mobile-large) {
      padding-top: $neon-top-nav-height-mobile;
      @include min-height(100, $neon-top-nav-height-mobile);
    }
  }
}
