.neon-page {
  position: relative;
  left: 0;
  width: 100%;
  z-index: $z-index-modal-under-top-nav;

  .neon-top-nav + .neon-page__container {
    @include responsive(larger-than-tablet) {
      padding-top: $top-nav-height-desktop;
      @include min-height(100, $top-nav-height-desktop);
    }

    @include responsive(tablet) {
      padding-top: $top-nav-height-tablet;
      @include min-height(100, $top-nav-height-tablet);
    }

    @include responsive(mobile-large) {
      padding-top: $top-nav-height-mobile;
      @include min-height(100, $top-nav-height-mobile);
    }
  }
}
