@mixin range-slider-track-lower($neon-color-slider-fill, $neon-color-slider-track) {
  background: linear-gradient($neon-color-slider-track, $neon-color-slider-track) 0 / var(--sx) 100% no-repeat $neon-color-slider-fill;
}

@mixin range-slider-track-upper($neon-color-slider-track) {
  background: linear-gradient($neon-color-slider-track, $neon-color-slider-track) 101% / calc(100% - var(--sx)) 100% no-repeat;
}

@mixin range-slider-track-lower-disabled($neon-color-disabled-dark, $neon-color-disabled-light) {
  background: linear-gradient($neon-color-disabled-dark, $neon-color-disabled-dark) 0 / var(--sx) 100% no-repeat $neon-color-disabled-light;
}

@mixin import(
  $neon-base-space,
  $neon-font-size-s,
) {
  .neon-range-slider {
    position: relative;
    width: 100%;
    height: 16 * $neon-base-space;

    &.neon-range-slider--disabled {
      cursor: not-allowed;
    }

    &__output-range-separator {
      margin-left: 1.5 * $neon-base-space;
      margin-right: 1.5 * $neon-base-space;
      font-weight: 700;
      opacity: 0.25;
      top: -1px;
      position: relative;
    }

    .neon-slider__output {
      font-size: $neon-font-size-s;
      font-variant-numeric: tabular-nums;
      height: 4 * $neon-base-space;
      display: flex;
    }

    .neon-slider__input,
    .neon-slider {
      pointer-events: none;
    }

    .neon-range-slider__lower,
    .neon-range-slider__upper {
      position: absolute;
      top: 24px;
      width: 100%;
    }

    &.neon-range-slider--all-upper-bound {
      .neon-range-slider__upper {
        .neon-slider__input {
          &::-webkit-slider-thumb {
            pointer-events: none;
          }

          &::-moz-range-thumb {
            pointer-events: none;
          }

          &::-ms-thumb {
            pointer-events: none;
          }
        }
      }
    }
  }
}

@mixin import-colors(
  $neon-functional-colors,
  $neon-color-slider,
  $neon-color-slider-track,
  $neon-color-disabled-dark,
  $neon-color-disabled-light,
) {
  .neon-range-slider {
    .neon-range-slider__lower {
      @each $color, $palette in $neon-functional-colors {
        &.neon-slider--#{$color} {
          $neon-color-slider-fill: map-get($palette, $neon-color-slider);

          .neon-slider__input {
            &::-webkit-slider-runnable-track {
              @include range-slider-track-lower($neon-color-slider-fill, $neon-color-slider-track);
            }

            &::-moz-range-track {
              @include range-slider-track-lower($neon-color-slider-fill, $neon-color-slider-track);
            }

            &::-ms-track {
              @include range-slider-track-lower($neon-color-slider-fill, $neon-color-slider-track);
            }
          }
        }
      }

      &.neon-slider--disabled {
        .neon-slider__input {
          &::-webkit-slider-runnable-track {
            @include range-slider-track-lower-disabled($neon-color-disabled-dark, $neon-color-disabled-light);
          }

          &::-moz-range-track {
            @include range-slider-track-lower-disabled($neon-color-disabled-dark, $neon-color-disabled-light);
          }

          &::-ms-track {
            @include range-slider-track-lower-disabled($neon-color-disabled-dark, $neon-color-disabled-light);
          }
        }
      }
    }

    .neon-range-slider__upper {
      .neon-slider__input {
        &::-webkit-slider-runnable-track {
          @include range-slider-track-upper($neon-color-slider-track);
        }

        &::-moz-range-track {
          @include range-slider-track-upper($neon-color-slider-track);
        }

        &::-ms-track {
          @include range-slider-track-upper($neon-color-slider-track);
        }
      }
    }
  }
}
