.neon-select {
  &__wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: fit-content;
  }

  &__options {
    max-height: $neon-max-height-dropdown;
    overflow-y: auto;
  }

  &__option {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    user-select: none;
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
    }

    &-placeholder {
      cursor: default;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }

    &-label {
      white-space: nowrap;
    }

    &-title {
      display: flex;
      flex: 1 0 auto;
      user-select: none;
      align-items: center;
      font-weight: 600;
      font-size: $neon-font-size-xs;
      text-transform: uppercase;
      padding: 3 * $neon-base-space 4 * $neon-base-space $neon-base-space;
      letter-spacing: $neon-letter-spacing-s;
    }

    .neon-switch {
      pointer-events: none;
      touch-action: none;
    }

    .neon-icon {
      margin-right: 3 * $neon-base-space;
    }

    .neon-select__option-container {
      padding-left: 4 * $neon-base-space;
      padding-right: 4 * $neon-base-space;
      height: $neon-size-m;
      flex: 1 1 auto;
      font-size: $neon-font-size-s;
    }

    .neon-icon {
      width: $neon-font-size-s;
      height: $neon-font-size-s;
    }
  }

  &--grouped:not(.neon-select--multiple) {
    .neon-select__option {
      padding-left: 4 * $neon-base-space;
    }
  }

  &:not(.neon-select--grouped) {
    .neon-dropdown__content {
      &--top-left,
      &--top-right,
      &--left-bottom,
      &--right-bottom {
        .neon-select__options {
          flex-direction: column-reverse;
        }
      }
    }
  }

  &__native {
    display: none;

    @include touchscreen {
      font-size: $neon-base-font-size;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-index-above;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
