@use './includes/responsive';
@use './includes/globals';
@use './includes/scrollbars';

@mixin select(
  $neon-max-height-dropdown,
  $neon-font-size-xs,
  $neon-font-size-s,
  $neon-font-size-m,
  $neon-size-m,
  $neon-base-space,
  $neon-letter-spacing-s,
) {
  .neon-select {
    &__wrapper {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      width: fit-content;
    }

    &__options {
      max-height: $neon-max-height-dropdown;
      overflow-y: auto;
    }

    &__option {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      user-select: none;
      cursor: pointer;

      &--disabled {
        cursor: not-allowed;
      }

      &-placeholder {
        cursor: default;
      }

      &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }

      &-label {
        white-space: nowrap;
      }

      &-title {
        display: flex;
        flex: 1 0 auto;
        user-select: none;
        align-items: center;
        font-weight: 600;
        font-size: $neon-font-size-xs;
        text-transform: uppercase;
        padding: 3 * $neon-base-space 4 * $neon-base-space $neon-base-space;
        letter-spacing: $neon-letter-spacing-s;
      }

      .neon-switch {
        pointer-events: none;
        touch-action: none;
      }

      .neon-icon {
        margin-right: 3 * $neon-base-space;
      }

      .neon-select__option-container {
        padding-left: 4 * $neon-base-space;
        padding-right: 4 * $neon-base-space;
        height: $neon-size-m;
        flex: 1 1 auto;
        font-size: $neon-font-size-s;
      }

      .neon-icon {
        width: $neon-font-size-s;
        height: $neon-font-size-s;
      }
    }

    &--grouped:not(.neon-select--multiple) {
      .neon-select__option {
        padding-left: 4 * $neon-base-space;
      }
    }

    &:not(.neon-select--grouped) {
      .neon-dropdown__content {
        &--top-left,
        &--top-right,
        &--left-bottom,
        &--right-bottom {
          .neon-select__options {
            flex-direction: column-reverse;
          }
        }
      }
    }

    &__native {
      display: none;

      @include responsive.touchscreen {
        font-size: $neon-font-size-m;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: globals.$z-index-above;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}

@mixin select-colors(
  $neon-border-width-separator-before,
  $neon-border-style,
  $neon-border-color-dropdown,
  $neon-color-text,
  $neon-color-disabled-light,
  $neon-functional-colors,
  $neon-background-color-dropdown-menu-highlight,
  $neon-color-scrollbar,
  $neon-width-scrollbar,
  $neon-border-radius-scrollbar,
) {
  .neon-select {
    &__option {
      &--separator-before {
        border-top: $neon-border-width-separator-before $neon-border-style $neon-border-color-dropdown;

        &:first-child {
          border-top: none;
        }
      }

      .neon-link {
        color: $neon-color-text;
      }

      &--disabled {
        &,
        .neon-link {
          color: $neon-color-disabled-light;
        }
      }
    }

    &__options {
      @include scrollbars.scrollbars($neon-color-scrollbar, $neon-width-scrollbar, $neon-border-radius-scrollbar);
    }

    @each $color, $palette in $neon-functional-colors {
      &--#{$color} {
        .neon-select__option {
          &--selected {
            background-color: rgba(map-get($palette, $neon-background-color-dropdown-menu-highlight), 0.2);
          }

          &--highlighted:not(.neon-select__option--disabled):not(.neon-select__option--selected) {
            background-color: rgba(map-get($palette, $neon-background-color-dropdown-menu-highlight), 0.05);
          }
        }
      }
    }
  }

  .neon-dropdown__content {
    &--top-left,
    &--top-right,
    &--left-bottom,
    &--right-bottom {
      .neon-select__option {
        &--separator-before {
          &:first-child {
            border-top: $neon-border-width-separator-before $neon-border-style $neon-border-color-dropdown;
          }

          &:last-child {
            border-top: none;
          }
        }
      }
    }
  }
}