@import 'includes/layout';

.neon-side-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  @include responsive(larger-than-tablet) {
    width: $neon-side-nav-width;
    @include min-height(100);
    @include height(100);
  }

  @include responsive(tablet) {
    display: none;
  }

  &__sticky {
    @include padding($multiplier: 0.75);
    flex: 1 0 auto;
  }

  &__scrolling {
    @include padding($multiplier: 0.75);
    overflow-y: auto;
    height: 100%;
  }

  &--full-width {
    .neon-side-nav {
      &__sticky,
      &__scrolling {
        padding: 0;
      }
    }
  }
}

.neon-page--with-top-nav .neon-side-nav {
  @include responsive(larger-than-tablet) {
    @include min-height(100, $neon-top-nav-height-desktop);
    @include height(100, $neon-top-nav-height-desktop);
  }
}
