@mixin skeleton-loader(
  $neon-font-size-m,
  $neon-base-space,
  $neon-border-radius-skeleton-loader,
) {
  @keyframes neon-shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .neon-skeleton-loader {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &__item {
      display: flex;
      flex: 1 1 auto;
      width: 100%;
      min-height: $neon-font-size-m;
      margin-top: $neon-base-space;
      margin-bottom: $neon-base-space;
      border-radius: $neon-border-radius-skeleton-loader;
      position: relative;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        animation: neon-shimmer 2.5s infinite;
      }
    }
  }
}

@mixin skeleton-loader-colors(
  $neon-color-loading-1,
  $neon-color-loading-2,
  $neon-color-loading-3,
) {
  .neon-skeleton-loader {
    &__item {
      background-color: $neon-color-loading-1;

      &:after {
        background-image: linear-gradient(
                        90deg,
                        $neon-color-loading-1 0,
                        $neon-color-loading-2 33%,
                        $neon-color-loading-3 66%,
                        $neon-color-loading-1
        );
      }
    }
  }
}