/* from https://css-tricks.com/sliding-nightmare-understanding-range-input/ */
$neon-width-slider-tooltip: 201px;

@mixin track($neon-border-radius-slider-track, $neon-height-slider-track) {
  box-sizing: border-box;
  border: none;
  border-radius: $neon-border-radius-slider-track;
  width: 100%;
  height: $neon-height-slider-track;
}

@mixin thumb($neon-width-slider-thumb, $neon-height-slider-thumb, $neon-border-radius-slider-thumb) {
  box-sizing: border-box;
  border: none;
  width: $neon-width-slider-thumb;
  height: $neon-height-slider-thumb;
  border-radius: $neon-border-radius-slider-thumb;
  pointer-events: all;
}

/* from https://css-tricks.com/sliding-nightmare-understanding-range-input/ */
@mixin track-color($neon-color-slider-fill, $neon-color-slider-track) {
  background: $neon-color-slider-track;
  background: linear-gradient($neon-color-slider-fill, $neon-color-slider-fill) 0 / var(--sx) 100% no-repeat $neon-color-slider-track;
}

@mixin disabled-track($neon-color-disabled-light, $neon-color-disabled-dark) {
  cursor: not-allowed;
  background: linear-gradient($neon-color-disabled-light, $neon-color-disabled-light) 0 / var(--sx) 100% no-repeat $neon-color-disabled-dark;
}

@mixin thumb-color($neon-border-slider-thumb, $neon-slider-thumb-color, $neon-box-shadow-slider) {
  background: $neon-slider-thumb-color;
  box-shadow: $neon-box-shadow-slider;
  border: $neon-border-slider-thumb;
}

@mixin thumb-color-sharp($neon-background-color-slider-thumb, $neon-box-shadow-slider, $neon-border-slider-thumb) {
  background: $neon-background-color-slider-thumb;
  box-shadow: $neon-box-shadow-slider;
  border: $neon-border-slider-thumb;
}

@mixin thumb-disabled($neon-color-disabled-light) {
  cursor: not-allowed;
  background: $neon-color-disabled-light;
  box-shadow: none;
  border-color: $neon-color-disabled-light;
}

@mixin import(
  $neon-width-slider-thumb,
  $neon-font-size-s,
  $neon-base-space,
  $neon-animation-speed-slow,
  $neon-border-radius-slider-tooltip,
  $neon-height-slider-thumb,
  $neon-border-radius-slider-track,
  $neon-height-slider-track,
  $neon-border-radius-slider-thumb,
) {
  .neon-slider {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(#{0.5 * $neon-width-slider-thumb} + var(--ratio) * (100% - #{$neon-width-slider-thumb}));
    position: relative;

    .neon-slider__output {
      font-size: $neon-font-size-s;
      margin-bottom: $neon-base-space;
      display: flex;
      font-variant-numeric: tabular-nums;
    }

    /* create a transparent fixed width container to position centered above the thumb, that way we can center the
       variable width contents using flex */
    .neon-slider__tooltip {
      opacity: 0;
      position: absolute;
      display: flex;
      width: $neon-width-slider-tooltip;
      bottom: 52px;
      left: calc(var(--sx) - #{floor(0.5 * $neon-width-slider-tooltip)});
      justify-content: center;
      transition: opacity $neon-animation-speed-slow ease-in-out;
      transition-delay: 1.5s;

      div {
        user-select: none;
        display: flex;
        font-size: $neon-font-size-s;
        font-variant: tabular-nums;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0;
        padding: 2 * $neon-base-space;
        border-radius: $neon-border-radius-slider-tooltip;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 6px solid;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          top: 100%;
          left: calc(50% - 1px);
          margin-left: -4px;
          margin-top: -1px;
        }
      }
    }

    &:hover .neon-slider__tooltip {
      opacity: 1;
      transition: opacity $neon-animation-speed-slow ease-in-out;
      transition-delay: 0s;
    }

    &.neon-slider--disabled {
      cursor: not-allowed;

      .neon-slider__tooltip {
        visibility: hidden;
      }

      .neon-slider__legend {
        opacity: 1;
      }
    }
  }

  .neon-slider__input {
    outline: none;

    &,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    margin: 0;
    padding: 0;
    width: 100%;
    height: $neon-height-slider-thumb;
    background: transparent;

    &::-webkit-slider-runnable-track {
      @include track($neon-border-radius-slider-track, $neon-height-slider-track);
    }

    &::-moz-range-track {
      @include track($neon-border-radius-slider-track, $neon-height-slider-track);
    }

    &::-ms-track {
      @include track($neon-border-radius-slider-track, $neon-height-slider-track);
    }

    &::-moz-range-progress {
      display: none;
    }

    &::-ms-fill-lower {
      display: none;
    }

    &::-webkit-slider-thumb {
      margin-top: 0.5 * ($neon-height-slider-track - $neon-height-slider-thumb);
      @include thumb($neon-width-slider-thumb, $neon-height-slider-thumb, $neon-border-radius-slider-thumb);
    }

    &::-moz-range-thumb {
      @include thumb($neon-width-slider-thumb, $neon-height-slider-thumb, $neon-border-radius-slider-thumb);
    }

    &::-ms-thumb {
      margin-top: 0;
      @include thumb($neon-width-slider-thumb, $neon-height-slider-thumb, $neon-border-radius-slider-thumb);
    }

    &::-ms-tooltip {
      display: none;
    }
  }

  .neon-slider__legend {
    flex-direction: row;
    font-size: $neon-font-size-s;
    display: flex;
    justify-content: space-between;
  }

  .neon-slider--no-legend {
    .neon-slider__tooltip {
      bottom: 30px;
    }
  }
}

@mixin import-colors(
  $neon-color-placeholder,
  $neon-card-box-shadow,
  $neon-color-inverse,
  $neon-border-slider-thumb,
  $neon-slider-thumb-color,
  $neon-box-shadow-slider,
  $neon-background-color-low-contrast,
  $neon-functional-colors,
  $neon-color-slider,
  $neon-color-slider-track,
  $neon-theme,
  $neon-color-disabled-light,
  $neon-color-disabled-dark,
) {
  .neon-slider {
    &__legend {
      color: $neon-color-placeholder;
    }

    &__tooltip {
      div {
        box-shadow: $neon-card-box-shadow;
        color: $neon-color-inverse;
      }
    }

    &__input {
      &::-webkit-slider-thumb {
        @include thumb-color($neon-border-slider-thumb, $neon-slider-thumb-color, $neon-box-shadow-slider);
      }

      &::-moz-range-thumb {
        @include thumb-color($neon-border-slider-thumb, $neon-slider-thumb-color, $neon-box-shadow-slider);
      }

      &::-ms-thumb {
        @include thumb-color($neon-border-slider-thumb, $neon-slider-thumb-color, $neon-box-shadow-slider);
      }

      &:focus {
        $neon-box-shadow-slider-thumb-focus: 0 0 0 4px rgba($neon-background-color-low-contrast, 0.3);

        &::-webkit-slider-thumb {
          box-shadow: $neon-box-shadow-slider-thumb-focus;
        }

        &::-moz-range-thumb {
          box-shadow: $neon-box-shadow-slider-thumb-focus;
        }

        &::-ms-thumb {
          box-shadow: $neon-box-shadow-slider-thumb-focus;
        }
      }
    }

    @each $color, $palette in $neon-functional-colors {
      &--#{$color} {
        $neon-color-slider-fill: map-get($palette, $neon-color-slider);
        /* create a transparent fixed width container to position centered above the thumb, that way we can center the
           variable width contents using flex */
        .neon-slider__tooltip {
          div {
            background: $neon-color-slider-fill;

            &:after {
              border-top-color: $neon-color-slider-fill;
            }
          }
        }

        .neon-slider__input {
          &::-webkit-slider-runnable-track {
            @include track-color($neon-color-slider-fill, $neon-color-slider-track);
          }

          &::-moz-range-track {
            @include track-color($neon-color-slider-fill, $neon-color-slider-track);
          }

          &::-ms-track {
            @include track-color($neon-color-slider-fill, $neon-color-slider-track);
          }

          @if ($neon-theme == 'sharp') {
            &::-webkit-slider-thumb {
              @include thumb-color-sharp(darken($neon-color-slider-fill, 10), $neon-box-shadow-slider, $neon-border-slider-thumb);
            }

            &::-moz-range-thumb {
              @include thumb-color-sharp(darken($neon-color-slider-fill, 10), $neon-box-shadow-slider, $neon-border-slider-thumb);
            }

            &::-ms-thumb {
              @include thumb-color-sharp(darken($neon-color-slider-fill, 10), $neon-box-shadow-slider, $neon-border-slider-thumb);
            }
          }
        }

        &:focus-within {
          @if ($neon-theme == 'sharp') {
            .neon-slider__input:focus {
              $neon-box-shadow-slider-thumb-focus: 0 0 0 4px rgba($neon-color-slider-fill, 0.3);

              &::-webkit-slider-thumb {
                box-shadow: $neon-box-shadow-slider-thumb-focus;
              }

              &::-moz-range-thumb {
                box-shadow: $neon-box-shadow-slider-thumb-focus;
              }

              &::-ms-thumb {
                box-shadow: $neon-box-shadow-slider-thumb-focus;
              }
            }
          }
        }
      }
    }

    &.neon-slider--disabled {
      .neon-slider__input {
        &::-webkit-slider-runnable-track {
          @include disabled-track($neon-color-disabled-light, $neon-color-disabled-dark);
        }

        &::-moz-range-track {
          @include disabled-track($neon-color-disabled-light, $neon-color-disabled-dark);
        }

        &::-ms-track {
          @include disabled-track($neon-color-disabled-light, $neon-color-disabled-dark);
        }

        &::-webkit-slider-thumb {
          @include thumb-disabled($neon-color-disabled-light);
        }

        &::-moz-range-thumb {
          @include thumb-disabled($neon-color-disabled-light);
        }

        &::-ms-thumb {
          @include thumb-disabled($neon-color-disabled-light);
        }
      }
    }
  }
}
