@mixin switch-classic($switch-height) {
  &.neon-switch--switch {
    .neon-switch__switch {
      height: $switch-height;
      width: 2 * $switch-height;
      padding: 2px;
      overflow: hidden;
    }

    $switch-indicator-size: $switch-height - 4px;

    .neon-switch__indicator {
      height: $switch-indicator-size;
      width: $switch-indicator-size;
      left: 0;
      transition: all $neon-animation-speed-fast ease-in;
    }

    &.neon-switch--checked {
      .neon-switch__indicator {
        left: 2 * $switch-height - $switch-indicator-size - 4px;
      }
    }
  }
}

@mixin switch-sharp($switch-height) {
  &.neon-switch--switch {
    .neon-switch__switch {
      height: $switch-height;
      width: 2 * $switch-height - 6px;
      padding: 2px;
      overflow: hidden;
    }

    $switch-indicator-size: $switch-height - 6px;

    .neon-switch__indicator {
      height: $switch-indicator-size;
      width: $switch-indicator-size;
      left: 0;
      transition: all $neon-animation-speed-fast ease-in;
    }

    &.neon-switch--checked {
      .neon-switch__indicator {
        left: $switch-indicator-size;
      }
    }
  }
}

@mixin switch-style($size) {
  @if ($neon-theme == 'sharp') {
    @include switch-sharp($size);
  } @else {
    @include switch-classic($size);
  }
}

@mixin checkbox-style($size) {
  .neon-switch__checkbox {
    height: $size;
    width: $size;
  }
}

.neon-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  &:focus {
    outline: none;
  }

  &__label {
    user-select: none;
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;
  }

  &--s {
    font-size: $neon-font-size-s;
  }

  &--m {
    font-size: $neon-font-size-s;
  }

  &--l {
    font-size: $neon-base-font-size;
  }

  &--switch {
    &.neon-switch--s {
      $switch-height: $neon-size-s - 3 * $neon-base-space;
      $switch-margin: 0.5 * ($neon-size-s - $switch-height);
      height: $switch-height;
      margin-top: $switch-margin;
      margin-bottom: $switch-margin;
      @include switch-style($switch-height);
    }

    &.neon-switch--m {
      $switch-height: $neon-size-m - 4 * $neon-base-space;
      $switch-margin: 0.5 * ($neon-size-m - $switch-height);
      height: $switch-height;
      margin-top: $switch-margin;
      margin-bottom: $switch-margin;
      @include switch-style($switch-height);
    }

    &.neon-switch--l {
      $switch-height: $neon-size-l - 5 * $neon-base-space;
      $switch-margin: 0.5 * ($neon-size-l - $switch-height);
      height: $switch-height;
      margin-top: $switch-margin;
      margin-bottom: $switch-margin;
      @include switch-style($switch-height);
    }

    .neon-switch__switch {
      margin: 0 2 * $neon-base-space;
      display: inline-flex;
      position: relative;
      align-items: center;
      border-radius: $neon-border-radius-switch;
      outline: none;
      pointer-events: none;
      touch-action: none;
    }

    .neon-switch__indicator {
      display: flex;
      position: relative;
      border-radius: $neon-border-radius-switch-indicator;
    }
  }

  &--checkbox {
    .neon-switch__checkbox {
      padding: 0.5 * $neon-base-space;
      margin-right: 2 * $neon-base-space;
      border: $neon-border-width-checkbox $neon-border-style;
      border-radius: $neon-border-radius;
      outline: none;
      pointer-events: none;
      touch-action: none;

      svg {
        display: none;
      }
    }

    &.neon-switch--checked {
      .neon-switch__checkbox {
        svg {
          display: flex;
        }
      }
    }

    &.neon-switch--s {
      $checkbox-height: 0.5 * $neon-size-s;
      $checkbox-margin: 0.5 * ($neon-size-s - $checkbox-height);
      height: $checkbox-height;
      margin-top: $checkbox-margin;
      margin-bottom: $checkbox-margin;
      @include checkbox-style($checkbox-height);
    }

    &.neon-switch--m {
      $checkbox-height: 0.5 * $neon-size-m;
      $checkbox-margin: 0.5 * ($neon-size-m - $checkbox-height);
      height: $checkbox-height;
      margin-top: $checkbox-margin;
      margin-bottom: $checkbox-margin;
      @include checkbox-style($checkbox-height);
    }

    &.neon-switch--l {
      $checkbox-height: 0.5 * $neon-size-l;
      $checkbox-margin: 0.5 * ($neon-size-l - $checkbox-height);
      height: $checkbox-height;
      margin-top: $checkbox-margin;
      margin-bottom: $checkbox-margin;
      @include checkbox-style($checkbox-height);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }
}
