@use './includes/layout';
@use './includes/responsive';
@use './includes/svg';

@mixin import(
  $spacings,
  $neon-border-width-tabs,
  $neon-base-space,
  $neon-border-radius,
  $neon-animation-speed-fast,
  $neon-size-s,
  $neon-font-size-m,
  $neon-size-m,
  $neon-size-l,
  $neon-font-size-l,
) {
  .neon-tabs {
    &__menu-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;

      &--underlined {
        .neon-tabs__menu-item-container:before {
          bottom: -$neon-border-width-tabs;
        }
      }
    }

    &__menu-item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      user-select: none;
      cursor: pointer;

      & + .neon-tabs__menu-item {
        margin-left: 6 * $neon-base-space;
      }

      &:focus {
        outline: none;
      }

      &-container {
        pointer-events: none;
        touch-action: none;
        outline: none;
        height: 100%;
        align-items: center;
        flex-direction: row;

        &:before {
          content: '';
          display: flex;
          width: 100%;
          background-color: transparent;
          position: absolute;
          height: $neon-border-width-tabs;
          bottom: 0;
          border-radius: $neon-border-radius;
          transition: all ease-in-out $neon-animation-speed-fast;
        }
      }

      .neon-tabs__menu-item-container:focus {
        &:before {
          margin-left: $neon-base-space;
          margin-right: $neon-base-space;
          width: calc(100% - #{2 * $neon-base-space});
        }
      }
    }

    &--s {
      .neon-tabs__menu-items {
        height: $neon-size-s;
        font-size: $neon-font-size-m;

        svg {
          width: $neon-font-size-m;
          height: $neon-font-size-m;
          margin-right: $neon-base-space;
        }
      }
    }

    &--m {
      .neon-tabs__menu-items {
        height: $neon-size-m;
        font-size: $neon-font-size-l;

        svg {
          width: $neon-font-size-l;
          height: $neon-font-size-l;
          margin-right: 2 * $neon-base-space;
        }
      }
    }

    &--l {
      .neon-tabs__menu-items {
        height: $neon-size-l;
        font-size: $neon-font-size-l;

        svg {
          width: $neon-font-size-l;
          height: $neon-font-size-l;
          margin-right: 2 * $neon-base-space;
        }
      }
    }
  }

  .neon-tab {
    position: relative;
    display: none;
    border-radius: $neon-border-radius;
    @include layout.padding-vertical($spacings);

    &--selected {
      display: flex;
    }

    &:before {
      content: '';
      position: absolute;
      top: $neon-base-space;
      right: 0;
      width: 2 * $neon-base-space;
      height: 2 * $neon-base-space;
      border-radius: $neon-border-radius;
      display: flex;
      transition: all $neon-animation-speed-fast ease-in-out;
    }

    &:focus {
      outline: none;
    }
  }

  @include responsive.responsive(mobile-large) {
    .neon-tabs__menu-items {
      display: none;
    }

    .neon-tab {
      display: flex;
      padding-bottom: 0;
    }
  }

  .neon-card-body--full-width {
    .neon-tabs__menu-items {
      @include layout.padding-horizontal($spacings);
    }

    .neon-tab {
      @include layout.padding($spacings);
    }
  }
}

@mixin import-colors(
  $neon-border-width-tabs,
  $neon-border-style,
  $neon-border-color-tabs-underline,
  $neon-color-text-low-contrast,
  $neon-animation-speed-fast,
  $neon-functional-colors,
  $neon-color-tab-selected,
) {
  .neon-tabs {
    .neon-tabs__menu-items--underlined {
      border-bottom: $neon-border-width-tabs $neon-border-style $neon-border-color-tabs-underline;
    }

    .neon-tabs__menu-item {
      @include svg.color-with-svg($neon-color-text-low-contrast);
      transition: color ease-in-out $neon-animation-speed-fast;
    }

    @each $color, $palette in $neon-functional-colors {
      &.neon-tabs--#{$color} {
        $tab-color: map-get($palette, $neon-color-tab-selected);

        .neon-tabs__menu-item {
          &:hover:not(.neon-tabs__menu-item--selected),
          &:active:not(.neon-tabs__menu-item--selected) {
            @include svg.color-with-svg($tab-color);

            .neon-tabs__menu-item-container:before {
              background-color: $tab-color;
            }
          }

          &--selected {
            @include svg.color-with-svg($tab-color);

            .neon-tabs__menu-item-container:before {
              background-color: $tab-color;
            }
          }

          &-container:focus:before {
            background-color: $tab-color;
          }
        }

        .neon-tab {
          &:focus:before {
            background-color: $tab-color;
          }
        }
      }
    }
  }

  .neon-tab {
    &:focus:before {
      background-color: $neon-color-text-low-contrast;
    }
  }
}