table {
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    tr {
      th {
        height: $size-m;
        vertical-align: bottom;
        font-size: $font-size-s;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        padding: 0 2 * $base-space;
        letter-spacing: $component-letter-spacing-m;

        &.neon--number {
          text-align: right;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: top;
        text-align: left;
        padding: 0.5 * ($size-m - $line-height-ratio * $base-font-size) 3 * $base-space;
        font-weight: 400;
        letter-spacing: $component-letter-spacing-m;

        &.neon--number {
          text-align: right;
          font-variant: tabular-nums;
        }
      }

      &:hover {
        &:not(:first-child) {
          td:first-child {
            border-top-left-radius: $border-radius;
          }

          td:last-child {
            border-top-right-radius: $border-radius;
          }
        }

        &:not(:last-child) {
          td:first-child {
            border-bottom-left-radius: $border-radius;
          }

          td:last-child {
            border-bottom-right-radius: $border-radius;
          }
        }
      }
    }
  }
}
