table {
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    tr {
      th {
        height: $neon-size-m;
        vertical-align: bottom;
        font-size: $neon-font-size-s;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        padding: 0 6 * $neon-base-space 0 0;
        letter-spacing: $neon-letter-spacing-m;

        &.neon--number {
          text-align: right;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        $padding-td-vertical: 0.5 * ($neon-size-m - $neon-line-height-ratio * $neon-base-font-size);
        vertical-align: top;
        text-align: left;
        padding: $padding-td-vertical 6 * $neon-base-space $padding-td-vertical 0;
        font-weight: 400;
        letter-spacing: $neon-letter-spacing-m;

        &.neon--number {
          text-align: right;
          font-variant: tabular-nums;
        }

        &:last-child {
          padding-right: 0;
        }

        .neon-label--xs {
          margin-top: 0.5 * ($neon-line-height-ratio * $neon-base-font-size - ($neon-size-xs - $neon-base-space));
        }
      }
    }
  }
}
