.neon-alert {
  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &--top,
  &--bottom {
    min-width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .neon-toast__message {
    pointer-events: visible;
    touch-action: auto;
    height: $neon-size-l;
    min-width: $neon-width-toast;
    margin: $neon-base-space;
    overflow: hidden;
    border-radius: 2 * $neon-border-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 3 * $neon-base-space 3.5 * $neon-base-space;

    &--dismissable {
      cursor: pointer;
    }

    .neon-toast__close {
      min-width: $neon-font-size-l;
      width: $neon-font-size-l;
      min-height: $neon-font-size-l;
      height: $neon-font-size-l;
      margin-left: 3.5 * $neon-base-space;
      opacity: 0.5;
      outline: none;
    }

    &:hover {
      .neon-toast__close {
        opacity: 1;
      }
    }
  }

  .neon-toast__title {
    line-height: $neon-line-height-one;
    font-size: $neon-base-font-size;
    font-weight: 400;
  }
}
