.neon-toggle-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: $border-width $border-style;
  border-radius: $border-radius;

  &__label {
    user-select: none;
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;
  }

  &__checked {
    width: 0;
    margin-right: 0;
    opacity: 0;
    transition: all ease-in-out $animation-speed-fast;
  }

  &--checked {
    .neon-toggle-chip__checked {
      margin-right: 2 * $base-space;
      opacity: 1;
    }
  }

  &--xs {
    height: $size-xs;
    font-size: $font-size-xs;
    padding-left: 2 * $base-space;
    padding-right: 2 * $base-space;

    &.neon-toggle-chip--checked {
      .neon-toggle-chip__checked {
        width: $font-size-xs;
        height: $font-size-xs;
      }
    }
  }

  &--s {
    height: $size-s;
    font-size: $font-size-s;
    padding-left: 2.5 * $base-space;
    padding-right: 2.5 * $base-space;

    &.neon-toggle-chip--checked {
      .neon-toggle-chip__checked {
        width: $font-size-s;
        height: $font-size-s;
      }
    }
  }

  &--m {
    height: $size-m;
    font-size: $font-size-s;
    padding-left: 3.5 * $base-space;
    padding-right: 3.5 * $base-space;

    &.neon-toggle-chip--checked {
      .neon-toggle-chip__checked {
        width: $font-size-s;
        height: $font-size-s;
      }
    }
  }

  &--l {
    height: $size-l;
    font-size: $base-font-size;
    padding-left: 5 * $base-space;
    padding-right: 5 * $base-space;

    &.neon-toggle-chip--checked {
      .neon-toggle-chip__checked {
        width: $base-font-size;
        height: $base-font-size;
      }
    }
  }

  &:active:not(.neon-toggle-chip--disabled) {
    transform: scale(0.9);
  }
}
