@mixin neon-toggle-chip-size($neon-toggle-chip-size, $neon-toggle-chip-font-size, $neon-toggle-chip-padding) {
  height: $neon-toggle-chip-size;
  font-size: $neon-toggle-chip-font-size;
  padding-left: $neon-toggle-chip-padding;
  padding-right: $neon-toggle-chip-padding;

  &.neon-toggle-chip--checked {
    .neon-toggle-chip__checked {
      width: $neon-toggle-chip-font-size;
      height: $neon-toggle-chip-font-size;
    }
  }
}

.neon-toggle-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: $neon-border-width $neon-border-style;
  border-radius: $neon-border-radius;
  transition: width ease-in-out $neon-animation-speed-fast, background-color ease-in-out $neon-animation-speed-fast;

  &:focus {
    outline: none;
  }

  &__label {
    user-select: none;
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;
  }

  &__checked {
    width: 0;
    margin-right: 0;
    opacity: 0;
  }

  &--checked {
    .neon-toggle-chip__checked {
      margin-right: 2 * $neon-base-space;
      opacity: 1;
    }
  }

  &--xs {
    @include neon-toggle-chip-size($neon-size-xs, $neon-font-size-xs, 2 * $neon-base-space);
  }

  &--s {
    @include neon-toggle-chip-size($neon-size-s, $neon-font-size-s, 2.5 * $neon-base-space);
  }

  &--m {
    @include neon-toggle-chip-size($neon-size-m, $neon-font-size-m, 3.5 * $neon-base-space);
  }

  &--l {
    @include neon-toggle-chip-size($neon-size-l, $neon-font-size-l, 5 * $neon-base-space);
  }

  &:active:not(.neon-toggle-chip--disabled):not(.neon-toggle-chip--show-check) {
    transform: scale(0.95);
  }

  &--disabled {
    cursor: not-allowed;
  }
}
