@import 'includes/toggle-mixins';

.neon-toggle {
  width: fit-content;
  height: fit-content;

  input {
    display: none;
  }

  &__label {
    user-select: none;
    padding: 2 * $base-space 3 * $base-space;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &--disabled {
      cursor: not-allowed;
    }
  }

  &--toggle {
    @include toggle-layout;
  }

  &--radio-buttons {
    @include radio-button-layout;
  }

  &--horizontal {
    flex-direction: row;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
