.neon-top-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: $z-index-top-nav;

  &__container {
    @include padding($multiplier: 0.75);
    width: 100%;
    max-width: $max-page-width;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include responsive(desktop) {
    height: $top-nav-height-desktop;
  }

  @include responsive(tablet) {
    height: $top-nav-height-tablet;
  }

  @include responsive(mobile) {
    height: $top-nav-height-mobile;
  }
}
