.neon-top-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: $z-index-above-3;

  &__container {
    @include padding(0.75);
    width: 100%;
    max-width: $neon-max-page-width;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include responsive(larger-than-tablet) {
    height: $neon-top-nav-height-desktop;
  }

  @include responsive(tablet) {
    height: $neon-top-nav-height-tablet;
  }

  @include responsive(mobile-large) {
    height: $neon-top-nav-height-mobile;
  }
}
