.neon-tree-menu {
  &__section-link,
  &__link {
    display: flex;
    width: 100%;
    letter-spacing: $component-letter-spacing-s;
    border-radius: $border-radius;
    padding-top: 0.5 * $base-space;
    padding-bottom: 0.5 * $base-space;
    margin: 0;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
  }

  .neon-tree-menu__section-link {
    font-weight: 800;
  }

  .neon-tree-menu__section {
    & > .neon-tree-menu__link {
      font-size: $base-font-size;
    }

    .neon-tree-menu__links {
      display: none;
    }

    &--expanded {
      .neon-tree-menu__links {
        display: flex;
      }
    }

    &--separator-before {
      margin-top: 6 * $base-space;

      hr {
        margin-top: 0.5 * $base-space;
        margin-bottom: 2 * $base-space;
      }
    }
  }

  .neon-tree-menu__link-item {
    font-weight: 400;

    .neon-tree-menu__link {
      margin-bottom: 0.5 * $base-space;
      padding-left: 4 * $base-space;
    }
  }

  &.neon-tree-menu--expand-all {
    .neon-tree-menu__section {
      .neon-tree-menu__links {
        display: flex;
      }
    }
  }

  & > ul > li:first-child {
    margin-top: 2 * $base-space;
  }
}
