body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: 16px;
  line-height: $line-height-ratio;
}

p {
  font-family: $font-family-paragraph;
  margin: 0 0 4 * $base-space;
  max-width: $max-paragraph-width;
  line-height: $line-height-ratio;

  &:last-child {
    margin-bottom: 0;
  }
}

em {
  font-weight: $font-weight-em;
}

strong {
  font-weight: $font-weight-strong;
  letter-spacing: $letter-spacing-s;
}

span {
  max-width: $max-paragraph-width;
}

.neon-number {
  font-variant: tabular-nums;
}

$typography-margin-unit: 2 * $base-space;

@mixin neon-h0 {
  font-family: $heading-font-family;
  font-weight: $h0-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h0-size;
  line-height: $line-height-headings-ratio;
}

.neon-h0 {
  @include neon-h0;
}

@mixin neon-h1 {
  font-family: $heading-font-family;
  font-weight: $h1-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h1-size;
  line-height: $line-height-headings-ratio;
}

.neon-h1,
h1 {
  @include neon-h1;
}

@mixin neon-h2 {
  font-family: $heading-font-family;
  font-weight: $h2-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h2-size;
  line-height: $line-height-headings-ratio;
}

.neon-h2,
h2 {
  @include neon-h2;
}

@mixin neon-h3 {
  font-family: $heading-font-family;
  font-weight: $h3-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h3-size;
  line-height: $line-height-headings-ratio;
}

.neon-h3,
h3 {
  @include neon-h3;
}

@mixin neon-h4 {
  font-family: $heading-font-family;
  font-weight: $h4-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h4-size;
  line-height: $line-height-headings-ratio;
}

.neon-h4,
h4 {
  @include neon-h4;
}

@mixin neon-h5 {
  font-family: $heading-font-family;
  font-weight: $h5-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h5-size;
  line-height: $line-height-headings-ratio;
}

.neon-h5,
h5 {
  @include neon-h5;
}

@mixin neon-h6 {
  font-family: $heading-font-family;
  font-weight: $h6-weight;
  margin-bottom: $typography-margin-unit;
  margin-top: 0;
  font-size: $h6-size;
  line-height: $line-height-headings-ratio;
}

.neon-h6,
h6 {
  @include neon-h6;
}

label {
  &:not(.no-style) {
    font-size: $font-size-s;
    text-transform: uppercase;
    user-select: none;
    margin-bottom: 2 * $base-space;
  }
}
