/* generate color palettes */
@import './includes/farbig/farbig';

$neutral-palette: neutral-palette() !default;
$low-contrast-palette: low-contrast-palette() !default;
$high-contrast-palette: high-contrast-palette() !default;
$brand-palette: generate-palette($color-brand) !default;
$primary-palette: generate-palette($color-primary) !default;
$info-palette: generate-palette($color-info) !default;
$success-palette: generate-palette($color-success) !default;
$warn-palette: generate-palette($color-warn) !default;
$error-palette: generate-palette($color-error) !default;

@import './colors/colors';
@import './includes/includes';

@import 'layout';
@import 'typography';
@import 'base-html';
@import 'toggle';
@import 'top-nav';
@import 'logo';
@import 'page';
@import 'footer';
@import 'grid';
@import 'card';
@import 'switch';
@import 'side-nav';
@import 'button';
@import 'label';
@import 'badge';
@import 'note';
@import 'link';
@import 'icon';
@import 'tree-menu';
@import 'action-menu';
@import 'field-group';
@import 'drawer';
@import 'modal';
@import 'input';
@import 'drop-zone';
@import 'file';
@import 'alert';
@import 'notification-counter';
@import 'expansion-indicator';
@import 'dropdown';
@import 'dropdown-menu';
@import 'table';
@import 'anchor';
@import 'tabs';
@import 'expansion-panel';
@import 'input-indicator';
@import 'skeleton-loader';
@import 'chip';
@import 'toast';
@import 'splash-loader';
@import 'select';
@import 'toggle-chip';
@import 'tooltip';
@import 'menu';
@import 'list';
@import 'filter-list';
@import 'search';
@import 'color';
@import 'number';
@import 'slider';
@import 'range-slider';
