$neon-component-dependencies: (
  NeonActionMenu: [NeonLink,
  NeonIcon],
  NeonAlert: [NeonAlertContainer,
  NeonToastContainer,
  NeonIcon,
  NeonLink],
  NeonAlertContainer: [NeonIcon,
  NeonLink],
  NeonAnchor: [],
  NeonBadge: [NeonIcon],
  NeonButton: [NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonCard: [],
  NeonCardBody: [],
  NeonCardFooter: [],
  NeonCardHeader: [],
  NeonChip: [NeonIcon],
  NeonColor: [NeonInput,
  NeonIcon],
  NeonDialog: [NeonButton,
  NeonCard,
  NeonCardBody,
  NeonModal,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonDrawer: [],
  NeonDropdown: [NeonBadge,
  NeonButton,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonDropdownMenu: [NeonDropdown,
  NeonIcon,
  NeonLink,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator],
  NeonDropZone: [],
  NeonExpansionIndicator: [],
  NeonExpansionPanel: [NeonExpansionIndicator,
  NeonIcon],
  NeonFieldGroup: [],
  NeonFile: [NeonButton,
  NeonInput,
  NeonList,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonFilterList: [NeonIcon,
  NeonLink],
  NeonFooter: [],
  NeonGrid: [],
  NeonGridArea: [],
  NeonIcon: [],
  NeonInput: [NeonIcon],
  NeonInputIndicator: [NeonIcon],
  NeonLabel: [NeonIcon],
  NeonLink: [NeonIcon],
  NeonList: [NeonIcon],
  NeonLogo: [NeonIcon],
  NeonMenu: [NeonDropdownMenu,
  NeonIcon,
  NeonLink,
  NeonDropdown,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator],
  NeonModal: [NeonButton,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonNote: [NeonButton,
  NeonIcon,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonNotificationCounter: [],
  NeonNumber: [NeonButton,
  NeonFieldGroup,
  NeonInput,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
  NeonPage: [],
  NeonPassword: [NeonInput,
  NeonIcon],
  NeonRangeSlider: [NeonSlider],
  NeonSearch: [NeonChip,
  NeonDropdown,
  NeonIcon,
  NeonInput,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator,
  NeonLink],
  NeonSelect: [NeonDropdown,
  NeonIcon,
  NeonSwitch,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator,
  NeonLink],
  NeonSideNav: [],
  NeonSkeletonLoader: [],
  NeonSlider: [],
  NeonSplashLoader: [NeonIcon],
  NeonSwitch: [NeonIcon],
  NeonTab: [],
  NeonTabs: [NeonIcon],
  NeonToastContainer: [NeonIcon],
  NeonToggle: [NeonIcon],
  NeonToggleChip: [NeonIcon],
  NeonTooltip: [],
  NeonTopNav: [],
  NeonTreeMenu: [NeonLink,
  NeonIcon],
);

$neon-components: map-keys($neon-component-dependencies) !default;
$neon-flattened-components: [];

@each $neon-component-key in $neon-components {
  @if not index($neon-flattened-components, $neon-component-key) {
    $neon-flattened-components: append($neon-flattened-components, $neon-component-key);
  }

  @each $neon-component-dependency in map-get($neon-component-dependencies, $neon-component-key) {
    @if not index($neon-flattened-components, $neon-component-dependency) {
      $neon-flattened-components: append($neon-flattened-components, $neon-component-dependency);
    }
  }
}

/* generate color palettes */
@import './includes/farbig/farbig';

$neon-neutral-palette: neutral-palette() !default;
$neon-low-contrast-palette: low-contrast-palette() !default;
$neon-high-contrast-palette: high-contrast-palette() !default;
$neon-brand-palette: generate-palette($neon-color-brand) !default;
$neon-primary-palette: generate-palette($neon-color-primary) !default;
$neon-info-palette: generate-palette($neon-color-info) !default;
$neon-success-palette: generate-palette($neon-color-success) !default;
$neon-warn-palette: generate-palette($neon-color-warn) !default;
$neon-error-palette: generate-palette($neon-color-error) !default;

@import './colors/colors';
@import './includes/includes';

@import 'layout';
@import 'typography';
@import 'base-html';
@import 'table';

@import 'toggle';
@if index($neon-components, NeonToggle) {
  @include neon-toggle-import;
}

@import 'top-nav';
@if index($neon-components, NeonTopNav) {
  @include neon-top-nav-import;
}

@import 'logo';
@if index($neon-components, NeonLogo) {
  @include neon-logo-import;
}

@import 'page';
@if index($neon-components, NeonPage) {
  @include neon-page-import;
}

@import 'footer';
@if index($neon-components, NeonFooter) {
  @include neon-footer-import;
}

@import 'grid';
@if index($neon-components, NeonGrid) {
  @include neon-grid-import;
}

@import 'card';
@if index($neon-components, NeonCard) {
  @include neon-card-import;
}

@import 'switch';
@if index($neon-components, NeonSwitch) {
  @include neon-switch-import;
}

@import 'side-nav';
@if index($neon-components, NeonSideNav) {
  @include neon-side-nav-import;
}

@import 'button';
@if index($neon-components, NeonButton) {
  @include neon-button-import;
}

@import 'label';
@if index($neon-components, NeonLabel) {
  @include neon-label-import;
}

@import 'badge';
@if index($neon-components, NeonBadge) {
  @include neon-badge-import;
}

@import 'note';
@if index($neon-components, NeonNote) {
  @include neon-note-import;
}

@import 'link';
@if index($neon-components, NeonLink) {
  @include neon-link-import;
}

@import 'icon';
@if index($neon-components, NeonIcon) {
  @include neon-icon-import;
}

@import 'tree-menu';
@if index($neon-components, NeonTreeMenu) {
  @include neon-tree-menu-import;
}

@import 'action-menu';
@if index($neon-components, NeonActionMenu) {
  @include neon-action-menu-import;
}

@import 'field-group';
@if index($neon-components, NeonFieldGroup) {
  @include neon-field-group-import;
}

@import 'drawer';
@if index($neon-components, NeonDrawer) {
  @include neon-drawer-import;
}

@import 'modal';
@if index($neon-components, NeonModal) {
  @include neon-modal-import;
}

@import 'input';
@if index($neon-components, NeonInput) {
  @include neon-input-import;
}

@import 'drop-zone';
@if index($neon-components, NeonDropZone) {
  @include neon-drop-zone-import;
}

@import 'file';
@if index($neon-components, NeonFile) {
  @include neon-file-import;
}

@import 'alert';
@if index($neon-components, NeonAlert) {
  @include neon-alert-import;
}

@import 'notification-counter';
@if index($neon-components, NeonNotificationCounter) {
  @include neon-notification-counter-import;
}

@import 'expansion-indicator';
@if index($neon-components, NeonExpansionIndicator) {
  @include neon-expansion-indicator-import;
}

@import 'dropdown';
@if index($neon-components, NeonDropdown) {
  @include neon-dropdown-import;
}

@import 'dropdown-menu';
@if index($neon-components, NeonDropdownMenu) {
  @include neon-dropdown-menu-import;
}

@import 'anchor';
@if index($neon-components, NeonAnchor) {
  @include neon-anchor-import;
}

@import 'tabs';
@if index($neon-components, NeonTabs) {
  @include neon-tabs-import;
}

@import 'expansion-panel';
@if index($neon-components, NeonExpansionPanel) {
  @include neon-expansion-panel-import;
}

@import 'input-indicator';
@if index($neon-components, NeonInputIndicator) {
  @include neon-input-indicator-import;
}

@import 'skeleton-loader';
@if index($neon-components, NeonSkeletonLoader) {
  @include neon-skeleton-loader-import;
}

@import 'chip';
@if index($neon-components, NeonChip) {
  @include neon-chip-import;
}

@import 'toast';
@if index($neon-components, NeonToast) {
  @include neon-toast-import;
}

@import 'splash-loader';
@if index($neon-components, NeonSplashLoader) {
  @include neon-splash-loader-import;
}

@import 'select';
@if index($neon-components, NeonSelect) {
  @include neon-select-import;
}

@import 'toggle-chip';
@if index($neon-components, NeonToggleChip) {
  @include neon-toggle-chip-import;
}

@import 'tooltip';
@if index($neon-components, NeonTooltip) {
  @include neon-tooltip-import;
}

@import 'menu';
@if index($neon-components, NeonMenu) {
  @include neon-menu-import;
}

@import 'list';
@if index($neon-components, NeonList) {
  @include neon-list-import;
}

@import 'filter-list';
@if index($neon-components, NeonFilterList) {
  @include neon-filter-list-import;
}

@import 'search';
@if index($neon-components, NeonSearch) {
  @include neon-search-import;
}

@import 'color';
@if index($neon-components, NeonColor) {
  @include neon-color-import;
}

@import 'number';
@if index($neon-components, NeonNumber) {
  @include neon-number-import;
}

@import 'slider';
@if index($neon-components, NeonSlider) {
  @include neon-slider-import;
}

@import 'range-slider';
@if index($neon-components, NeonRangeSlider) {
  @include neon-range-slider-import;
}

@import 'dialog';
@if index($neon-components, NeonDialog) {
  @include neon-dialog-import;
}
