/*
  In order to use opacity with CSS Variables the raw r, g, b values need to be defined.
  This is why there are 2 color definitions the raw 'rgb' definition and the actual 'color' one
*/
.neon {
  --neon-rgb-text-primary-light: 20, 20, 20;
  --neon-rgb-text-secondary-light: 51, 51, 51;
  --neon-rgb-text-tertiary-light: 114, 114, 114;
  --neon-rgb-text-primary-dark: 248, 248, 248;
  --neon-rgb-text-secondary-dark: 221, 221, 221;
  --neon-rgb-text-tertiary-dark: 166, 166, 166;
  --neon-rgb-disabled-background-dark: 55, 55, 55;
  --neon-rgb-disabled-border-dark: 65, 65, 65;
  --neon-rgb-disabled-text-dark: 80, 80, 80;
  --neon-rgb-disabled-background-light: 240, 240, 240;
  --neon-rgb-disabled-border-light: 220, 220, 220;
  --neon-rgb-disabled-text-light: 200, 200, 200;
  --neon-rgb-low-contrast-l5: 221, 221, 221;
  --neon-rgb-low-contrast-l4: 201, 201, 201;
  --neon-rgb-low-contrast-l3: 176, 176, 176;
  --neon-rgb-low-contrast-l2: 145, 145, 145;
  --neon-rgb-low-contrast-l1: 114, 114, 114;
  --neon-rgb-low-contrast-d1: 144, 144, 144;
  --neon-rgb-low-contrast-d2: 132, 132, 132;
  --neon-rgb-low-contrast-d3: 104, 104, 104;
  --neon-rgb-low-contrast-d4: 82, 82, 82;
  --neon-rgb-low-contrast-d5: 66, 66, 66;
  --neon-rgb-neutral-l5: 238, 238, 238;
  --neon-rgb-neutral-l4: 221, 221, 221;
  --neon-rgb-neutral-l3: 201, 201, 201;
  --neon-rgb-neutral-l2: 179, 179, 179;
  --neon-rgb-neutral-l1: 155, 155, 155;
  --neon-rgb-neutral-d1: 96, 96, 96;
  --neon-rgb-neutral-d2: 82, 82, 82;
  --neon-rgb-neutral-d3: 64, 64, 64;
  --neon-rgb-neutral-d4: 48, 48, 48;
  --neon-rgb-neutral-d5: 36, 36, 36;
  --neon-rgb-high-contrast-l5: 255, 255, 255;
  --neon-rgb-high-contrast-l4: 241, 241, 241;
  --neon-rgb-high-contrast-l3: 226, 226, 226;
  --neon-rgb-high-contrast-l2: 212, 212, 212;
  --neon-rgb-high-contrast-l1: 198, 198, 198;
  --neon-rgb-high-contrast-d1: 58, 58, 58;
  --neon-rgb-high-contrast-d2: 48, 48, 48;
  --neon-rgb-high-contrast-d3: 38, 38, 38;
  --neon-rgb-high-contrast-d4: 27, 27, 27;
  --neon-rgb-high-contrast-d5: 17, 17, 17;
  --neon-rgb-brand-l5: 251, 240, 255;
  --neon-rgb-brand-l4: 243, 207, 255;
  --neon-rgb-brand-l3: 232, 175, 255;
  --neon-rgb-brand-l2: 216, 144, 255;
  --neon-rgb-brand-l1: 199, 114, 255;
  --neon-rgb-brand-d1: 136, 55, 192;
  --neon-rgb-brand-d2: 115, 51, 160;
  --neon-rgb-brand-d3: 87, 40, 119;
  --neon-rgb-brand-d4: 56, 30, 74;
  --neon-rgb-brand-d5: 33, 25, 37;
  --neon-rgb-primary-l5: 245, 241, 255;
  --neon-rgb-primary-l4: 222, 214, 255;
  --neon-rgb-primary-l3: 197, 187, 255;
  --neon-rgb-primary-l2: 171, 162, 255;
  --neon-rgb-primary-l1: 143, 138, 255;
  --neon-rgb-primary-d1: 79, 83, 194;
  --neon-rgb-primary-d2: 70, 72, 163;
  --neon-rgb-primary-d3: 54, 55, 123;
  --neon-rgb-primary-d4: 38, 37, 77;
  --neon-rgb-primary-d5: 28, 26, 39;
  --neon-rgb-info-l5: 230, 245, 255;
  --neon-rgb-info-l4: 182, 224, 255;
  --neon-rgb-info-l3: 137, 201, 255;
  --neon-rgb-info-l2: 98, 178, 255;
  --neon-rgb-info-l1: 62, 153, 255;
  --neon-rgb-info-d1: 0, 91, 191;
  --neon-rgb-info-d2: 0, 79, 162;
  --neon-rgb-info-d3: 0, 60, 123;
  --neon-rgb-info-d4: 4, 40, 78;
  --neon-rgb-info-d5: 21, 27, 41;
  --neon-rgb-success-l5: 222, 249, 244;
  --neon-rgb-success-l4: 176, 241, 230;
  --neon-rgb-success-l3: 131, 231, 215;
  --neon-rgb-success-l2: 90, 218, 201;
  --neon-rgb-success-l1: 44, 205, 187;
  --neon-rgb-success-d1: 0, 110, 96;
  --neon-rgb-success-d2: 0, 95, 83;
  --neon-rgb-success-d3: 0, 73, 63;
  --neon-rgb-success-d4: 0, 48, 42;
  --neon-rgb-success-d5: 8, 31, 28;
  --neon-rgb-warn-l5: 254, 242, 224;
  --neon-rgb-warn-l4: 255, 226, 171;
  --neon-rgb-warn-l3: 255, 211, 122;
  --neon-rgb-warn-l2: 252, 197, 77;
  --neon-rgb-warn-l1: 243, 183, 18;
  --neon-rgb-warn-d1: 131, 89, 0;
  --neon-rgb-warn-d2: 112, 76, 0;
  --neon-rgb-warn-d3: 86, 58, 0;
  --neon-rgb-warn-d4: 57, 38, 0;
  --neon-rgb-warn-d5: 34, 26, 12;
  --neon-rgb-error-l5: 255, 237, 237;
  --neon-rgb-error-l4: 255, 203, 203;
  --neon-rgb-error-l3: 255, 168, 171;
  --neon-rgb-error-l2: 255, 134, 143;
  --neon-rgb-error-l1: 255, 98, 118;
  --neon-rgb-error-d1: 197, 0, 54;
  --neon-rgb-error-d2: 166, 6, 48;
  --neon-rgb-error-d3: 125, 16, 37;
  --neon-rgb-error-d4: 79, 20, 26;
  --neon-rgb-error-d5: 41, 23, 23;
}
