/*
  In order to use opacity with CSS Variables the raw r, g, b values need to be defined.
  This is why there are 2 color definitions the raw 'rgb' definition and the actual 'color' one
*/
.neon {
  --neon-rgb-text-dark: 48, 48, 48;
  --neon-rgb-text-strong-dark: 36, 36, 36;
  --neon-rgb-text-light: 221, 221, 221;
  --neon-rgb-text-strong-light: 248, 248, 248;
  --neon-rgb-low-contrast-l5: 221, 221, 221;
  --neon-rgb-low-contrast-l4: 201, 201, 201;
  --neon-rgb-low-contrast-l3: 176, 176, 176;
  --neon-rgb-low-contrast-l2: 145, 145, 145;
  --neon-rgb-low-contrast-l1: 114, 114, 114;
  --neon-rgb-low-contrast-d1: 144, 144, 144;
  --neon-rgb-low-contrast-d2: 132, 132, 132;
  --neon-rgb-low-contrast-d3: 104, 104, 104;
  --neon-rgb-low-contrast-d4: 82, 82, 82;
  --neon-rgb-low-contrast-d5: 66, 66, 66;
  --neon-rgb-neutral-l5: 238, 238, 238;
  --neon-rgb-neutral-l4: 221, 221, 221;
  --neon-rgb-neutral-l3: 201, 201, 201;
  --neon-rgb-neutral-l2: 179, 179, 179;
  --neon-rgb-neutral-l1: 155, 155, 155;
  --neon-rgb-neutral-d1: 96, 96, 96;
  --neon-rgb-neutral-d2: 82, 82, 82;
  --neon-rgb-neutral-d3: 64, 64, 64;
  --neon-rgb-neutral-d4: 48, 48, 48;
  --neon-rgb-neutral-d5: 36, 36, 36;
  --neon-rgb-high-contrast-l5: 255, 255, 255;
  --neon-rgb-high-contrast-l4: 241, 241, 241;
  --neon-rgb-high-contrast-l3: 226, 226, 226;
  --neon-rgb-high-contrast-l2: 212, 212, 212;
  --neon-rgb-high-contrast-l1: 198, 198, 198;
  --neon-rgb-high-contrast-d1: 58, 58, 58;
  --neon-rgb-high-contrast-d2: 48, 48, 48;
  --neon-rgb-high-contrast-d3: 38, 38, 38;
  --neon-rgb-high-contrast-d4: 27, 27, 27;
  --neon-rgb-high-contrast-d5: 17, 17, 17;
  --neon-rgb-brand-l5: 250, 240, 255;
  --neon-rgb-brand-l4: 243, 208, 255;
  --neon-rgb-brand-l3: 233, 176, 255;
  --neon-rgb-brand-l2: 217, 145, 255;
  --neon-rgb-brand-l1: 199, 114, 255;
  --neon-rgb-brand-d1: 102, 19, 206;
  --neon-rgb-brand-d2: 91, 30, 171;
  --neon-rgb-brand-d3: 72, 28, 126;
  --neon-rgb-brand-d4: 49, 25, 78;
  --neon-rgb-brand-d5: 32, 25, 38;
  --neon-rgb-primary-l5: 254, 242, 224;
  --neon-rgb-primary-l4: 250, 220, 170;
  --neon-rgb-primary-l3: 241, 199, 120;
  --neon-rgb-primary-l2: 227, 179, 77;
  --neon-rgb-primary-l1: 211, 159, 29;
  --neon-rgb-primary-d1: 128, 89, 0;
  --neon-rgb-primary-d2: 110, 76, 0;
  --neon-rgb-primary-d3: 84, 58, 0;
  --neon-rgb-primary-d4: 56, 38, 0;
  --neon-rgb-primary-d5: 34, 26, 12;
  --neon-rgb-info-l5: 230, 245, 255;
  --neon-rgb-info-l4: 182, 224, 255;
  --neon-rgb-info-l3: 137, 201, 255;
  --neon-rgb-info-l2: 98, 178, 255;
  --neon-rgb-info-l1: 62, 153, 255;
  --neon-rgb-info-d1: 0, 91, 191;
  --neon-rgb-info-d2: 0, 79, 162;
  --neon-rgb-info-d3: 0, 60, 123;
  --neon-rgb-info-d4: 4, 40, 78;
  --neon-rgb-info-d5: 21, 27, 41;
  --neon-rgb-success-l5: 227, 249, 236;
  --neon-rgb-success-l4: 178, 234, 204;
  --neon-rgb-success-l3: 130, 218, 173;
  --neon-rgb-success-l2: 84, 200, 146;
  --neon-rgb-success-l1: 18, 181, 121;
  --neon-rgb-success-d1: 0, 111, 58;
  --neon-rgb-success-d2: 0, 96, 51;
  --neon-rgb-success-d3: 0, 73, 38;
  --neon-rgb-success-d4: 0, 48, 27;
  --neon-rgb-success-d5: 15, 31, 22;
  --neon-rgb-warn-l5: 255, 241, 225;
  --neon-rgb-warn-l4: 255, 217, 173;
  --neon-rgb-warn-l3: 255, 193, 124;
  --neon-rgb-warn-l2: 246, 171, 82;
  --neon-rgb-warn-l1: 233, 151, 39;
  --neon-rgb-warn-d1: 147, 80, 0;
  --neon-rgb-warn-d2: 126, 69, 0;
  --neon-rgb-warn-d3: 95, 53, 0;
  --neon-rgb-warn-d4: 63, 35, 0;
  --neon-rgb-warn-d5: 36, 26, 13;
  --neon-rgb-error-l5: 255, 238, 233;
  --neon-rgb-error-l4: 255, 204, 191;
  --neon-rgb-error-l3: 255, 170, 153;
  --neon-rgb-error-l2: 255, 139, 120;
  --neon-rgb-error-l1: 247, 108, 90;
  --neon-rgb-error-d1: 178, 47, 39;
  --neon-rgb-error-d2: 151, 44, 35;
  --neon-rgb-error-d3: 115, 34, 27;
  --neon-rgb-error-d4: 74, 26, 20;
  --neon-rgb-error-d5: 40, 23, 20;
}
