@use './includes/responsive';
@import './palette';
@import './color-variables';

.neon {
  /*********************
  * Global Variables
  *********************/

  /* layout */
  --neon-base-space: 4rem;
  --neon-max-paragraph-width: 70ch;

  /* page */
  --neon-max-width-page: 1920rem;

  /* gutters, all spacings are keyed off these values */
  --neon-gutter-desktop: 32rem;
  --neon-gutter-tablet: 24rem;
  --neon-gutter-mobile: 16rem;

  @include responsive.responsive(larger-than-tablet) {
    --neon-gutter: var(--neon-gutter-desktop);
  }

  @include responsive.responsive(tablet) {
    --neon-gutter: var(--neon-gutter-tablet);
  }

  @include responsive.responsive(mobile-large) {
    --neon-gutter: var(--neon-gutter-mobile);
  }

  /* spacings */
  --neon-space-1: calc(0.25 * var(--neon-base-space));
  --neon-space-2: calc(0.5 * var(--neon-base-space));
  --neon-space-4: var(--neon-base-space);
  --neon-space-6: calc(1.5 * var(--neon-base-space));
  --neon-space-8: calc(2 * var(--neon-base-space));
  --neon-space-10: calc(2.5 * var(--neon-base-space));
  --neon-space-12: calc(3 * var(--neon-base-space));
  --neon-space-16: calc(4 * var(--neon-base-space));
  --neon-space-20: calc(5 * var(--neon-base-space));
  --neon-space-24: calc(6 * var(--neon-base-space));
  --neon-space-32: calc(8 * var(--neon-base-space));
  --neon-space-40: calc(10 * var(--neon-base-space));
  --neon-space-48: calc(12 * var(--neon-base-space));
  --neon-space-52: calc(13 * var(--neon-base-space));
  --neon-space-56: calc(14 * var(--neon-base-space));
  --neon-space-64: calc(16 * var(--neon-base-space));
  --neon-space-72: calc(18 * var(--neon-base-space));
  --neon-space-80: calc(20 * var(--neon-base-space));
  --neon-space-84: calc(21 * var(--neon-base-space));
  --neon-space-96: calc(24 * var(--neon-base-space));
  --neon-space-120: calc(30 * var(--neon-base-space));
  --neon-space-128: calc(32 * var(--neon-base-space));
  --neon-space-144: calc(36 * var(--neon-base-space));
  --neon-space-192: calc(48 * var(--neon-base-space));

  /* stack & inline gaps */
  --neon-gap-desktop-s: var(--neon-space-4);
  --neon-gap-tablet-s: var(--neon-space-4);
  --neon-gap-mobile-s: var(--neon-space-4);

  --neon-gap-desktop-m: var(--neon-space-16);
  --neon-gap-tablet-m: var(--neon-space-12);
  --neon-gap-mobile-m: var(--neon-space-8);

  --neon-gap-desktop-l: var(--neon-space-24);
  --neon-gap-tablet-l: var(--neon-space-20);
  --neon-gap-mobile-l: var(--neon-space-16);

  /* ratio of horizontal to vertical spacing, e.g. 1 = square padding */
  --neon-spacing-horizontal-multiplier: 1;

  /* TODO: refactor to remove the usage of these spacings in src/sass/includes/_layout.scss, replace with gutter vars  */
  /* mobile spacing */
  --neon-spacing-vertical-mobile: var(--neon-gutter-mobile);
  --neon-spacing-horizontal-mobile: calc(var(--neon-gutter-mobile) * var(--neon-spacing-horizontal-multiplier));
  /* tablet spacing */
  --neon-spacing-vertical-tablet: var(--neon-gutter-tablet);
  --neon-spacing-horizontal-tablet: calc(var(--neon-gutter-tablet) * var(--neon-spacing-horizontal-multiplier));
  /* desktop spacing */
  --neon-spacing-vertical-desktop: var(--neon-gutter-desktop);
  --neon-spacing-horizontal-desktop: calc(var(--neon-gutter-desktop) * var(--neon-spacing-horizontal-multiplier));

  /* animation */
  --neon-animation-speed-slow: 0.3s;
  --neon-animation-speed-fast: 0.225s;
  --neon-animation-speed-fastest: 0.05s;

  /* borders */
  --neon-border-radius: 6rem;
  --neon-border-width: 1rem;
  --neon-border-width-separator-before: 1rem;
  --neon-border-style: solid;

  /* z-index */
  --neon-z-index-below: -1;
  --neon-z-index-default: 0;
  --neon-z-index-above: 1;
  --neon-z-index-above-2: 2;
  --neon-z-index-above-3: 3;
  --neon-z-index-below-top: 9998;
  --neon-z-index-top: 9999;

  /* typography */
  --neon-typography-scale: 1.125; // Major second https://type-scale.com/
  --neon-base-font-size: 16rem;
  --neon-typography-margin-unit: var(--neon-space-8); // base typography bottom margin unit


  --neon-font-size-m: var(--neon-base-font-size);
  --neon-font-size-s: calc(var(--neon-font-size-m) / var(--neon-typography-scale));
  --neon-font-size-xs: calc(var(--neon-font-size-s) / var(--neon-typography-scale));
  --neon-font-size-xxs: calc(var(--neon-font-size-xs) / var(--neon-typography-scale));

  --neon-font-size-l: calc(var(--neon-font-size-m) * var(--neon-typography-scale));
  --neon-font-size-xl: calc(var(--neon-font-size-l) * var(--neon-typography-scale));
  --neon-font-size-xxl: calc(var(--neon-font-size-xl) * var(--neon-typography-scale));

  --neon-letter-spacing-s: 0.25rem;
  --neon-letter-spacing-m: 0.5rem;
  --neon-letter-spacing-l: 1rem;

  --neon-h6-size: var(--neon-font-size-l);
  --neon-h5-size: var(--neon-font-size-xl);
  --neon-h4-size: var(--neon-font-size-xxl);
  --neon-h3-size: calc(var(--neon-font-size-xxl) * var(--neon-typography-scale));
  --neon-h2-size: calc(var(--neon-font-size-xxl) * var(--neon-typography-scale) * var(--neon-typography-scale));
  --neon-h1-size: calc(var(--neon-font-size-xxl) * var(--neon-typography-scale) * var(--neon-typography-scale) * var(--neon-typography-scale));
  /* AKA branding font size, used for landing page & banners etc... */
  --neon-h0-size: calc(var(--neon-font-size-xxl) * var(--neon-typography-scale) * var(--neon-typography-scale) * var(--neon-typography-scale) * var(--neon-typography-scale) * var(--neon-typography-scale));

  --neon-font-weight-extra-light: 200;
  --neon-font-weight-normal: 400;
  --neon-font-weight-medium: 500;
  --neon-font-weight-semi-bold: 600;
  --neon-font-weight-bold: 700;

  --neon-h6-weight: var(--neon-font-weight-normal);
  --neon-h5-weight: var(--neon-font-weight-medium);
  --neon-h4-weight: var(--neon-font-weight-medium);
  --neon-h3-weight: var(--neon-font-weight-semi-bold);
  --neon-h2-weight: var(--neon-font-weight-semi-bold);
  --neon-h1-weight: var(--neon-font-weight-bold);
  --neon-h0-weight: var(--neon-font-weight-bold);

  --neon-font-weight-em: var(--neon-font-weight-extra-light);
  --neon-font-weight-strong: var(--neon-font-weight-medium);

  --neon-letter-spacing-headings: 0;

  --neon-line-height-headings-ratio: 1.25;
  --neon-line-height-ratio: 1.4;
  --neon-line-height-one: 1.25; // hack for line-height: 1 to prevent cropping of content below the baseline e.g. 'g'

  --neon-system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --neon-font-family-body: var(--neon-system-font-stack);
  --neon-font-weight-body: var(--neon-font-weight-normal);

  --neon-font-family-heading: var(--neon-font-family-body);
  --neon-font-style-headings: normal;

  --neon-font-family-paragraph: var(--neon-font-family-body);
  --neon-font-family-monospaced: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace;

  /* HTML labels */
  --neon-font-size-label: var(--neon-font-size-s);
  --neon-font-weight-label: var(--neon-font-weight-normal);

  /* gradient config */
  --neon-background-gradient-angle: 90deg;
  /* % offset where background gradient switches to alternate-color */
  --neon-background-gradient-offset: 33%;
  --neon-background-gradient-offset-hover: 50%;

  /* smaller sizes for labels only */
  --neon-size-xxs: var(--neon-space-16);
  --neon-size-xs: var(--neon-space-24);
  /* standard label & input sizes */
  --neon-size-s: var(--neon-space-32);
  --neon-size-m: var(--neon-space-40);
  --neon-size-l: var(--neon-space-48);
  /* buttons & badges only */
  --neon-size-xl: var(--neon-space-64);
  --neon-size-xxl: calc(20 * var(--neon-base-space));

  /* box shadows */
  --neon-box-shadow: 0 0 0 0 rgba(#000, 0);
  --neon-box-shadow-strong: 0 0 0 0 rgba(#000, 0);
  --neon-inset-shadow: inset 0 0 0 0 rgba(#000, 0);

  /* top nav */
  --neon-top-nav-height-mobile: calc(var(--neon-size-s) + var(--neon-space-16));
  --neon-top-nav-height-tablet: calc(var(--neon-size-m) + var(--neon-space-24));
  --neon-top-nav-height-desktop: calc(var(--neon-size-l) + var(--neon-space-32));
  --neon-border-width-top-nav: 1rem;

  /* footer */
  --neon-footer-height-mobile: calc(var(--neon-font-size-s) + var(--neon-space-32));
  --neon-footer-height-tablet: calc(var(--neon-font-size-s) + var(--neon-space-32));
  --neon-footer-height-desktop: calc(var(--neon-base-font-size) + var(--neon-space-48));
  --neon-border-width-footer: 1rem;

  /* side nav */
  --neon-side-nav-width: calc(80 * var(--neon-space-4));

  /* card */
  --neon-border-width-card: 0;
  --neon-box-shadow-card: none;

  /* checkbox */
  --neon-border-width-checkbox: 1rem;
  --neon-border-radius-checkbox: 2rem;

  /* alerts */
  --neon-width-alert: 415rem;
  --neon-padding-alert: var(--neon-space-20);
  --neon-gap-alert: var(--neon-space-16);
  --neon-border-radius-alert: 0;
  --neon-size-alert-icon: 24rem;
  --neon-size-alert-close-icon: 24rem;

  --neon-line-height-alert-title: var(--neon-line-height-one);
  --neon-font-size-alert-title: var(--neon-font-size-m);
  --neon-font-weight-alert-title: var(--neon-font-weight-normal);
  --neon-font-family-alert-title: var(--neon-font-family-body);
  --neon-letter-spacing-alert-title: var(--neon-letter-spacing-s);

  --neon-line-height-alert-body: var(--neon-line-height-one);
  --neon-font-size-alert-body: var(--neon-font-size-s);
  --neon-font-weight-alert-body: var(--neon-font-weight-normal);
  --neon-font-family-alert-body: var(--neon-font-family-body);
  --neon-letter-spacing-alert-body: var(--neon-letter-spacing-s);

  --neon-font-size-alert-action: var(--neon-font-size-m);
  --neon-font-weight-alert-action: var(--neon-font-weight-bold);
  --neon-letter-spacing-alert-action: var(--neon-letter-spacing-m);

  /* toast */
  --neon-width-toast: 250rem;
  --neon-padding-toast: var(--neon-space-16);
  --neon-gap-toast: var(--neon-space-8);
  --neon-border-radius-toast: 0;
  --neon-size-toast-close-icon: 24rem;

  --neon-line-height-toast: var(--neon-line-height-one);
  --neon-font-size-toast: var(--neon-font-size-m);
  --neon-font-weight-toast: var(--neon-font-weight-normal);
  --neon-font-family-toast: var(--neon-font-family-body);
  --neon-letter-spacing-toast: var(--neon-letter-spacing-s);

  /* menu */
  --neon-font-family-menu: var(--neon-font-family-body);
  --neon-font-weight-menu: var(--neon-font-weight-bold);
  --neon-height-menu-indicator: 4rem;

  /* mobile menu */
  --neon-font-family-mobile-menu: var(--neon-font-family-body);
  --neon-font-size-mobile-menu: var(--neon-font-size-s);
  --neon-line-height-mobile-menu: var(--neon-line-height-ratio);
  --neon-font-weight-mobile-menu: var(--neon-font-weight-bold);
  --neon-height-mobile-menu-indicator: 4rem;
  --neon-opacity-mobile-menu-focus: 0.125;
  --neon-height-mobile-menu: 66rem;

  /* dropdown */
  --neon-max-height-dropdown: 280rem;

  /* buttons */
  --neon-border-radius-button: var(--neon-border-radius);
  --neon-border-radius-button-xl: var(--neon-border-radius);
  --neon-border-width-outline-button: 1rem;
  --neon-text-transform-button: none;
  --neon-font-weight-button: var(--neon-font-weight-normal);
  --neon-letter-spacing-button: var(--neon-letter-spacing-m);

  /* tabs */
  --neon-height-tabs: 48rem;
  --neon-border-width-tabs: 2rem;
  --neon-border-radius-tabs: 0;
  --neon-font-weight-tabs: var(--neon-font-weight-normal);
  --neon-font-weight-tabs-selected: var(--neon-font-weight-bold);
  --neon-opacity-tab-focus: 0.125;

  /* chips */
  --neon-border-radius-chip: var(--neon-border-radius);
  --neon-opacity-chip: 0.23;

  /* toggle chips */
  --neon-font-weight-toggle-chip: var(--neon-font-weight-semi-bold);
  --neon-border-width-toggle-chip: 1rem;
  --neon-border-radius-toggle-chip: 2rem;
  --neon-opacity-toggle-chip-hover: 0.125;
  --neon-opacity-toggle-chip-hover-checked: 0.85;

  /* scrollbars */
  --neon-width-scrollbar: 8rem;
  --neon-border-radius-scrollbar: 8rem;

  /* tooltips */
  --neon-tooltip-max-width: 144rem;
  --neon-tooltip-max-height: calc(3 * var(--neon-tooltip-max-width));
  --neon-popover-max-width: 480rem;
  --neon-popover-max-height: calc(3 * var(--neon-tooltip-max-width));
  --neon-border-width-tooltip: 0;

  /* drawer */
  --neon-border-width-drawer: 0;
  --neon-border-radius-drawer: 16rem;
  --neon-height-drawer: auto;
  --neon-width-drawer: --neon-side-nav-width;

  /* radio buttons */
  --neon-border-radius-radio-button: 50%;
  --neon-border-width-radio-button: 1rem;

  /* switch */
  --neon-border-radius-switch: calc(4 * var(--neon-base-space));
  --neon-border-radius-switch-indicator: 50%;

  /* note */
  --neon-padding-note: var(--neon-space-12);
  --neon-border-width-note: 8rem;

  --neon-font-size-note-title: var(--neon-font-size-xl);
  --neon-font-size-note-title-mobile: var(--neon-font-size-xl);

  --neon-font-size-note-text: var(--neon-font-size-s);
  --neon-font-size-note-text-mobile: var(--neon-font-size-m);

  --neon-font-weight-note-title: var(--neon-font-weight-semi-bold);
  --neon-font-weight-note-text: var(--neon-font-weight-medium);

  --neon-max-width-note: 100%;

  /* outline */
  --neon-border-width-outline: 1.5rem;

  /* link */
  --neon-text-decoration-thickness-link: 1rem;
  --neon-text-decoration-thickness-link-hover: 1rem;
  --neon-text-underline-offset-link: 2rem;

  /* slider & range slider */
  --neon-height-slider-track: 8rem;
  --neon-height-slider-thumb: calc(3 * var(--neon-height-slider-track));
  --neon-width-slider-thumb: var(--neon-height-slider-thumb);
  --neon-border-radius-slider-thumb: 50%;
  --neon-border-radius-slider-track: var(--neon-height-slider-track);
  --neon-border-radius-slider-tooltip: var(--neon-border-radius);

  /* input */
  --neon-border-radius-input: var(--neon-border-radius);
  --neon-border-width-input: var(--neon-border-width);
  --neon-font-size-placeholder: var(--neon-font-size-s);
  --neon-font-style-placeholder: italic;
  --neon-font-weight-placeholder: var(--neon-font-weight-normal);
  --neon-font-weight-input: var(--neon-font-weight-normal);
  --neon-line-height-input: var(--neon-line-height-ratio-large);
  --neon-opacity-input-background-active: 0.03125;

  --neon-font-size-input-s: var(--neon-font-size-s);
  --neon-font-size-input-m: var(--neon-font-size-m);
  --neon-font-size-input-l: var(--neon-font-size-m);

  /* input indicator */
  --neon-font-size-input-indicator-s: var(--neon-font-size-s);
  --neon-font-size-input-indicator-m: var(--neon-font-size-m);
  --neon-font-size-input-indicator-l: var(--neon-font-size-m);
  --neon-font-weight-input-indicator: var(--neon-font-weight-normal);

  /* skeleton loader */
  --neon-border-radius-skeleton-loader: 0rem;
  --neon-height-skeleton-loader: var(--neon-size-m);
  --neon-width-skeleton-loader: 100%;
  --neon-gap-skeleton-loader: 5rem;

  /* expansion panel */
  --neon-border-width-expansion-panel: 1rem;

  /* table */
  --neon-border-width-table: 1rem;

  /* label */
  --neon-border-radius-label: 2rem;

  /* badge */
  --neon-background-gradient-angle-badge: 45deg;
  --neon-icon-size-multiplier-badge: 0.667;
  --neon-size-s-badge: var(--neon-size-s);
  --neon-size-m-badge: var(--neon-size-m);
  --neon-size-l-badge: var(--neon-size-l);
  --neon-size-xl-badge: var(--neon-size-xl);
  --neon-size-xxl-badge: var(--neon-size-xxl);
  --neon-opacity-badge-editable-button: 0.33;
  --neon-opacity-badge-editable-button-hover: 0.66;
  --neon-opacity-badge-editable-content: 0.33;

  /* color input */
  --neon-border-radius-input-color: 50%;

  /* dialog */
  --neon-max-width-dialog: 250rem;
  --neon-min-height-dialog: 275rem;
  --neon-font-style-dialog: italic;

  /* progress linear */
  --neon-opacity-background-progress: 0.0625;
  --neon-border-radius-progress-indicator: calc(2 * var(--neon-base-space));

  /* selectable card */
  --neon-border-radius-selectable-card: calc(1.5 * var(--neon-base-space));

  /* card list */
  --neon-border-radius-card-list: calc(1.5 * var(--neon-base-space));

  /* image carousel */
  --neon-blur-radius-image-carousel: 5px;

  /* page container */
  --neon-height-page-container-sticky-buttons: 72rem;

  /**********************
  * DARK THEME VARIABLES
  **********************/
  &.neon-mode--dark {
    --neon-background-color-card: var(--neon-color-neutral-d4);
    --neon-border-card: var(--neon-border);
    --neon-background-color: var(--neon-color-neutral-d5);

    --neon-rgb-text-primary: var(--neon-rgb-text-primary-dark);
    --neon-color-text-primary: var(--neon-color-text-primary-dark);
    --neon-rgb-text-secondary: var(--neon-rgb-text-secondary-dark);
    --neon-color-text-secondary: var(--neon-color-text-secondary-dark);
    --neon-rgb-text-tertiary: var(--neon-rgb-text-tertiary-dark);
    --neon-color-text-tertiary: var(--neon-color-text-tertiary-dark);
    --neon-rgb-inverse: var(--neon-rgb-text-primary-light);
    --neon-color-inverse: var(--neon-color-text-primary-light);

    --neon-rgb-low-contrast: var(--neon-rgb-low-contrast-l1);
    --neon-rgb-neutral: var(--neon-rgb-neutral-l1);
    --neon-rgb-high-contrast: var(--neon-rgb-high-contrast-l1);
    --neon-rgb-brand: var(--neon-rgb-brand-l1);
    --neon-rgb-primary: var(--neon-rgb-primary-l1);
    --neon-rgb-info: var(--neon-rgb-info-l1);
    --neon-rgb-success: var(--neon-rgb-success-l1);
    --neon-rgb-warn: var(--neon-rgb-warn-l1);
    --neon-rgb-error: var(--neon-rgb-error-l1);

    --neon-color-low-contrast: var(--neon-color-low-contrast-l1);
    --neon-color-neutral: var(--neon-color-neutral-l1);
    --neon-color-high-contrast: var(--neon-color-high-contrast-l1);
    --neon-color-brand: var(--neon-color-brand-l1);
    --neon-color-primary: var(--neon-color-primary-l1);
    --neon-color-info: var(--neon-color-info-l1);
    --neon-color-success: var(--neon-color-success-l1);
    --neon-color-warn: var(--neon-color-warn-l1);
    --neon-color-error: var(--neon-color-error-l1);

    --neon-background-rgb-low-contrast: var(--neon-rgb-low-contrast-d1);
    --neon-background-color-low-contrast: var(--neon-color-low-contrast-d1);
    --neon-background-color-neutral: var(--neon-color-neutral-d1);
    --neon-background-color-high-contrast: var(--neon-color-high-contrast-d1);
    --neon-background-color-brand: var(--neon-color-brand-d1);
    --neon-background-color-primary: var(--neon-color-primary-d1);
    --neon-background-color-info: var(--neon-color-info-d1);
    --neon-background-color-success: var(--neon-color-success-d1);
    --neon-background-color-warn: var(--neon-color-warn-d1);
    --neon-background-color-error: var(--neon-color-error-d1);

    --neon-border-color: var(--neon-color-neutral-d3);
    --neon-border: var(--neon-border-width) var(--neon-border-style) var(--neon-border-color);
    --neon-border-hr: 1rem var(--neon-border-style) var(--neon-border-color);
    --neon-color-hr: var(--neon-border-color);

    --neon-color-label: var(--neon-color-text-secondary);

    --neon-rgb-disabled-text: var(--neon-rgb-disabled-text-dark);
    --neon-rgb-disabled-border: var(--neon-rgb-disabled-border-dark);
    --neon-rgb-disabled-background: var(--neon-rgb-disabled-background-dark);
    --neon-color-disabled-text: var(--neon-color-disabled-text-dark);
    --neon-color-disabled-border: var(--neon-color-disabled-border-dark);
    --neon-color-disabled-background: var(--neon-color-disabled-background-dark);

    /* switch */
    --neon-rgb-switch-off: var(--neon-rgb-neutral-d2);
    --neon-color-switch-off: var(--neon-color-neutral-d2);
    --neon-color-switch-indicator: var(--neon-color-neutral-d4);
    --neon-inset-shadow-switch: inset 0 2rem 2rem rgba(0, 0, 0, 0.014), inset 0 4rem 4rem rgba(0, 0, 0, 0.028),
    inset 0 12rem 12rem rgba(0, 0, 0, 0.03);

    /* solid buttons */
    --neon-color-solid-button: var(--neon-color-inverse);
    --neon-color-solid-button-inverse: var(--neon-color-text-primary);

    --neon-background-solid-button-light-high-contrast: var(--neon-color-text-primary);
    --neon-background-rgb-solid-button-dark-high-contrast: var(--neon-rgb-text-primary);
    --neon-background-solid-button-dark-high-contrast: var(--neon-color-text-primary);

    --neon-background-solid-button-light-inverse: var(--neon-color-inverse);
    --neon-background-rgb-solid-button-dark-inverse: var(--neon-rgb-inverse);
    --neon-background-solid-button-dark-inverse: var(--neon-color-inverse);

    --neon-background-solid-button-light-low-contrast: var(--neon-color-low-contrast-d4);
    --neon-background-rgb-solid-button-dark-low-contrast: var(--neon-rgb-low-contrast-d5);
    --neon-background-solid-button-dark-low-contrast: var(--neon-color-low-contrast-d5);

    --neon-background-solid-button-light-neutral: var(--neon-color-low-contrast-l2);
    --neon-background-rgb-solid-button-dark-neutral: var(--neon-rgb-low-contrast-l1);
    --neon-background-solid-button-dark-neutral: var(--neon-color-low-contrast-l1);

    --neon-background-solid-button-light-brand: var(--neon-color-brand-l2);
    --neon-background-rgb-solid-button-dark-brand: var(--neon-rgb-brand-l1);
    --neon-background-solid-button-dark-brand: var(--neon-color-brand-l1);

    --neon-background-solid-button-light-primary: var(--neon-color-primary-l2);
    --neon-background-rgb-solid-button-dark-primary: var(--neon-rgb-primary-l1);
    --neon-background-solid-button-dark-primary: var(--neon-color-primary-l1);

    --neon-background-solid-button-light-info: var(--neon-color-info-l2);
    --neon-background-rgb-solid-button-dark-info: var(--neon-rgb-info-l1);
    --neon-background-solid-button-dark-info: var(--neon-color-info-l1);

    --neon-background-solid-button-light-success: var(--neon-color-success-l2);
    --neon-background-rgb-solid-button-dark-success: var(--neon-rgb-success-l1);
    --neon-background-solid-button-dark-success: var(--neon-color-success-l1);

    --neon-background-solid-button-light-warn: var(--neon-color-warn-l2);
    --neon-background-rgb-solid-button-dark-warn: var(--neon-rgb-warn-l1);
    --neon-background-solid-button-dark-warn: var(--neon-color-warn-l1);

    --neon-background-solid-button-light-error: var(--neon-color-error-l2);
    --neon-background-rgb-solid-button-dark-error: var(--neon-rgb-error-l1);
    --neon-background-solid-button-dark-error: var(--neon-color-error-l1);

    /* outline buttons */
    --neon-background-outline-button-hover-high-contrast: var(--neon-color-high-contrast-l2);
    --neon-background-outline-button-active-high-contrast: var(--neon-color-high-contrast-l1);

    --neon-background-outline-button-hover-inverse: var(--neon-color-high-contrast-d5);
    --neon-background-outline-button-active-inverse: var(--neon-color-high-contrast-d4);

    --neon-background-outline-button-hover-low-contrast: var(--neon-color-low-contrast-l2);
    --neon-background-outline-button-active-low-contrast: var(--neon-color-low-contrast-l1);

    --neon-background-outline-button-hover-neutral: var(--neon-color-low-contrast-l2);
    --neon-background-outline-button-active-neutral: var(--neon-color-low-contrast-l1);

    --neon-background-outline-button-hover-brand: var(--neon-color-brand-l2);
    --neon-background-outline-button-active-brand: var(--neon-color-brand-l1);

    --neon-background-outline-button-hover-primary: var(--neon-color-primary-l2);
    --neon-background-outline-button-active-primary: var(--neon-color-primary-l1);

    --neon-background-outline-button-hover-info: var(--neon-color-info-l2);
    --neon-background-outline-button-active-info: var(--neon-color-info-l1);

    --neon-background-outline-button-hover-success: var(--neon-color-success-l2);
    --neon-background-outline-button-active-success: var(--neon-color-success-l1);

    --neon-background-outline-button-hover-warn: var(--neon-color-warn-l2);
    --neon-background-outline-button-active-warn: var(--neon-color-warn-l1);

    --neon-background-outline-button-hover-error: var(--neon-color-error-l2);
    --neon-background-outline-button-active-error: var(--neon-color-error-l1);

    /* text button */
    --neon-background-color-text-button: rgba(var(--neon-rgb-neutral-d3), 0.2);
    --neon-background-color-text-button-hover: rgba(var(--neon-rgb-neutral-d3), 0.4);
    --neon-background-color-text-button-active: rgba(var(--neon-rgb-neutral-d3), 0.6);

    /* note */
    --neon-background-color-note: rgba(var(--neon-rgb-high-contrast-d3), 0.5);
    --neon-color-note: var(--neon-color-text-secondary);

    /* link */
    --neon-color-link: var(--neon-color-primary-l1);
    --neon-rgb-link: var(--neon-rgb-primary-l1); // should match the --neon-color-link color
    --neon-color-link-hover: var(--neon-color-primary-l2);
    --neon-color-link-visited: rgba(var(--neon-rgb-primary-l1), 0.6);

    /* action menu */
    --neon-color-action-menu-hover: var(--neon-color-neutral-d3);

    /* mobile menu */
    --neon-border-top-mobile-menu: var(--neon-height-mobile-menu-indicator) var(--neon-border-style) var(--neon-border-color);
    --neon-background-color-mobile-menu: var(--neon-background-color-card);

    /* selection */
    --neon-background-rgb-selection: var(--neon-rgb-info-l1);
    --neon-color-selection: black;

    /* pre */
    --neon-color-pre: var(--neon-color-primary-l3);
    --neon-background-color-pre: var(--neon-color-neutral-d3);

    /* toggle */
    --neon-border-toggle: var(--neon-border-width) var(--neon-border-style) transparent;
    --neon-border-toggle-checked: var(--neon-border-width) var(--neon-border-style) var(--neon-border-color);
    --neon-opacity-toggle-background: 0;
    --neon-opacity-toggle-color: 0.5;
    --neon-opacity-toggle-checked: 0;
    --neon-opacity-toggle-hover: 0.05;

    /* radio buttons */
    --neon-background-radio-button: none;
    --neon-color-radio-button-bg-active: rgba(var(--neon-rgb-neutral-l3), 0.125);
    --neon-color-radio-button-label: var(--neon-color-label);

    /* drawer */
    --neon-background-color-drawer: var(--neon-background-color-card);

    /* input */
    --neon-color-input: var(--neon-color-text);
    --neon-border-color-input: var(--neon-color-neutral-d2);
    --neon-background-color-input: rgba(var(--neon-rgb-neutral-d5), 0.5);
    --neon-color-placeholder: var(--neon-color-low-contrast-d3);

    /* drop zone */
    --neon-rgb-drop-zone-background: var(--neon-rgb-neutral-d5);
    --neon-rgb-drop-zone: var(--neon-rgb-neutral-l1);

    /* alerts */
    --neon-box-shadow-alert: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) var(--neon-color-neutral-d5);

    --neon-background-color-alert-info: var(--neon-color-info);
    --neon-background-color-alert-success: var(--neon-color-success);
    --neon-background-color-alert-warn: var(--neon-color-warn);
    --neon-background-color-alert-error: var(--neon-color-error);

    --neon-color-alert-info: var(--neon-color-inverse);
    --neon-color-alert-success: var(--neon-color-inverse);
    --neon-color-alert-warn: var(--neon-color-inverse);
    --neon-color-alert-error: var(--neon-color-inverse);

    --neon-background-color-toast-info: var(--neon-color-info);
    --neon-background-color-toast-success: var(--neon-color-success);
    --neon-background-color-toast-warn: var(--neon-color-warn);
    --neon-background-color-toast-error: var(--neon-color-error);

    --neon-color-toast-info: var(--neon-color-inverse);
    --neon-color-toast-success: var(--neon-color-inverse);
    --neon-color-toast-warn: var(--neon-color-inverse);
    --neon-color-toast-error: var(--neon-color-inverse);

    /* dropdown / dropdown menu / select */
    --neon-border-color-dropdown: var(--neon-color-neutral-d3);
    --neon-box-shadow-dropdown: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) var(--neon-color-neutral-d5);
    --neon-background-color-dropdown-content: var(--neon-background-color-card);

    /* tooltip */
    --neon-box-shadow-tooltip: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) var(--neon-color-neutral-d5);

    /* tabs */
    --neon-border-color-tabs-underline: var(--neon-border-color);
    --neon-color-tab-selected-low-contrast: var(--neon-color-low-contrast-l1);
    --neon-color-tab-selected-neutral: var(--neon-color-neutral-l1);
    --neon-color-tab-selected-high-contrast: var(--neon-color-high-contrast-l1);
    --neon-color-tab-selected-brand: var(--neon-color-brand-l1);
    --neon-color-tab-selected-primary: var(--neon-color-primary-l1);
    --neon-color-tab-selected-info: var(--neon-color-info-l1);
    --neon-color-tab-selected-success: var(--neon-color-success-l1);
    --neon-color-tab-selected-warn: var(--neon-color-warn-l1);
    --neon-color-tab-selected-error: var(--neon-color-error-l1);
    --neon-color-tab-hover-low-contrast: var(--neon-color-low-contrast-l2);
    --neon-color-tab-hover-neutral: var(--neon-color-neutral-l2);
    --neon-color-tab-hover-high-contrast: var(--neon-color-high-contrast-l2);
    --neon-color-tab-hover-brand: var(--neon-color-brand-l2);
    --neon-color-tab-hover-primary: var(--neon-color-primary-l2);
    --neon-color-tab-hover-info: var(--neon-color-info-l2);
    --neon-color-tab-hover-success: var(--neon-color-success-l2);
    --neon-color-tab-hover-warn: var(--neon-color-warn-l2);
    --neon-color-tab-hover-error: var(--neon-color-error-l2);

    /* footer */
    --neon-background-color-footer: var(--neon-background-color);
    --neon-border-top-footer: var(--neon-border-width-footer) var(--neon-border-color) var(--neon-border-style);

    /* skeleton loader */
    --neon-color-loading-1: rgb(64, 64, 64);
    --neon-color-loading-2: rgb(82, 82, 82);
    --neon-color-loading-3: rgba(82, 82, 82, 0.5);

    /* scrollbars */
    --neon-color-scrollbar: rgba(255, 255, 255, 0.05);

    /* overlays */
    --neon-background-color-overlay: rgba(var(--neon-rgb-neutral-d5), 0.75);
    --neon-background-color-overlay-opaque: var(--neon-color-neutral-d5);

    /* toggle chips */
    --neon-border-width-toggle-chip: 0;
    --neon-color-toggle-chip-text: var(--neon-color-text);
    --neon-border-rgb-toggle-chip: var(--neon-rgb-neutral-d3);
    --neon-border-color-toggle-chip: var(--neon-color-neutral-d3);
    --neon-background-color-toggle-chip: transparent;
    --neon-color-toggle-chip-text-checked: var(--neon-color-inverse);

    /* slider & range slider */
    --neon-color-slider-track: var(--neon-color-neutral-d3);
    --neon-slider-thumb-color: var(--neon-color-neutral-l4);
    --neon-box-shadow-slider: 0 -2rem 4rem 0 rgba(0, 0, 0, 0.2), 0 2rem 4rem 0 rgba(0, 0, 0, 0.3);
    --neon-border-slider-thumb: none;

    /* top nav */
    --neon-background-color-top-nav: var(--neon-background-color-card);
    --neon-border-color-top-nav: var(--neon-border-color);

    /* side nav */
    --neon-background-color-side-nav: var(--neon-background-color-card);

    /* input indicators */
    --neon-background-color-input-indicator: var(--neon-background-color-input);
    --neon-color-input-indicator: var(--neon-color-text-tertiary);

    /* stepper */
    --neon-color-stepper-indicator: var(--neon-color-inverse);

    /* selectable card */
    --neon-background-color-selectable-card: rgba(var(--neon-rgb-neutral-d5), 0.5);
    --neon-box-shadow-selectable-card: 0 -2rem 4rem 0 rgba(var(--neon-rgb-neutral-d5), 0.2), 0 2rem 4rem 0 rgba(var(--neon-rgb-neutral-d5), 0.3);

    /* card list */
    --neon-background-color-card-list: rgba(var(--neon-rgb-neutral-d5), 0.5);
    --neon-box-shadow-card-list: 0 -2rem 4rem 0 rgba(var(--neon-rgb-neutral-d5), 0.2), 0 2rem 4rem 0 rgba(var(--neon-rgb-neutral-d5), 0.3);

    /* swiper */
    --neon-background-color-swiper: var(--neon-background-color-card);
  }

  /* image carousel */
  --neon-color-image-carousel-nav-indicator: var(--neon-color-text-primary);
  --neon-color-image-carousel-expanded-nav-indicator: var(--neon-color-text-primary);
  --neon-color-image-carousel-expanded-button: var(--neon-color-text-primary);
  --neon-color-image-carousel-expanded-button-disabled: var(--neon-color-low-contrast-d4);
  --neon-background-color-image-carousel-expanded-button: var(--neon-color-low-contrast-d5);
  --neon-color-image-carousel-expanded-label: var(--neon-color-text-tertiary);
  --neon-text-shadow-image-carousel-expanded: 1px 1px 2px var(--neon-color-inverse);

  /*********************
  * LIGHT THEME VARIABLES
  *********************/
  &.neon-mode--light {
    --neon-background-color-card: var(--neon-color-high-contrast-l5);
    --neon-border-card: var(--neon-border);
    --neon-background-color: var(--neon-color-high-contrast-l4);

    --neon-rgb-text-primary: var(--neon-rgb-text-primary-light);
    --neon-color-text-primary: var(--neon-color-text-primary-light);
    --neon-rgb-text-secondary: var(--neon-rgb-text-secondary-light);
    --neon-color-text-secondary: var(--neon-color-text-secondary-light);
    --neon-rgb-text-tertiary: var(--neon-rgb-text-tertiary-light);
    --neon-color-text-tertiary: var(--neon-color-text-tertiary-light);
    --neon-rgb-inverse: var(--neon-rgb-text-primary-dark);
    --neon-color-inverse: var(--neon-color-text-primary-dark);

    --neon-rgb-low-contrast: var(--neon-rgb-low-contrast-d1);
    --neon-rgb-neutral: var(--neon-rgb-neutral-d1);
    --neon-rgb-high-contrast: var(--neon-rgb-high-contrast-d1);
    --neon-rgb-brand: var(--neon-rgb-brand-d1);
    --neon-rgb-primary: var(--neon-rgb-primary-d1);
    --neon-rgb-info: var(--neon-rgb-info-d1);
    --neon-rgb-success: var(--neon-rgb-success-d1);
    --neon-rgb-warn: var(--neon-rgb-warn-d1);
    --neon-rgb-error: var(--neon-rgb-error-d1);

    --neon-color-low-contrast: var(--neon-color-low-contrast-d1);
    --neon-color-neutral: var(--neon-color-neutral-d1);
    --neon-color-high-contrast: var(--neon-color-high-contrast-d1);
    --neon-color-brand: var(--neon-color-brand-d1);
    --neon-color-primary: var(--neon-color-primary-d1);
    --neon-color-info: var(--neon-color-info-d1);
    --neon-color-success: var(--neon-color-success-d1);
    --neon-color-warn: var(--neon-color-warn-d1);
    --neon-color-error: var(--neon-color-error-d1);

    --neon-background-rgb-low-contrast: var(--neon-rgb-low-contrast-l1);
    --neon-background-color-low-contrast: var(--neon-color-low-contrast-l1);
    --neon-background-color-neutral: var(--neon-color-neutral-l1);
    --neon-background-color-high-contrast: var(--neon-color-high-contrast-l1);
    --neon-background-color-brand: var(--neon-color-brand-l1);
    --neon-background-color-primary: var(--neon-color-primary-l1);
    --neon-background-color-info: var(--neon-color-info-l1);
    --neon-background-color-success: var(--neon-color-success-l1);
    --neon-background-color-warn: var(--neon-color-warn-l1);
    --neon-background-color-error: var(--neon-color-error-l1);

    --neon-border-color: var(--neon-color-neutral-l4);
    --neon-border: var(--neon-border-width) var(--neon-border-style) var(--neon-border-color);
    --neon-border-hr: 1rem var(--neon-border-style) var(--neon-border-color);
    --neon-color-hr: var(--neon-border-color);

    --neon-color-label: var(--neon-color-text-secondary);

    --neon-rgb-disabled-text: var(--neon-rgb-disabled-text-light);
    --neon-rgb-disabled-border: var(--neon-rgb-disabled-border-light);
    --neon-rgb-disabled-background: var(--neon-rgb-disabled-background-light);
    --neon-color-disabled-text: var(--neon-color-disabled-text-light);
    --neon-color-disabled-border: var(--neon-color-disabled-border-light);
    --neon-color-disabled-background: var(--neon-color-disabled-background-light);

    /* switch */
    --neon-rgb-switch-off: var(--neon-rgb-neutral-l3);
    --neon-color-switch-off: var(--neon-color-neutral-l3);
    --neon-color-switch-indicator: var(--neon-color-high-contrast-l5);
    --neon-inset-shadow-switch: inset 0 2rem 2rem rgba(0, 0, 0, 0.014), inset 0 4rem 4rem rgba(0, 0, 0, 0.028),
    inset 0 12rem 12rem rgba(0, 0, 0, 0.03);

    /* solid buttons */
    --neon-color-solid-button: var(--neon-color-inverse);
    --neon-color-solid-button-inverse: var(--neon-color-text-primary);

    --neon-background-solid-button-light-high-contrast: var(--neon-color-text-secondary);
    --neon-background-rgb-solid-button-dark-high-contrast: var(--neon-rgb-text-secondary);
    --neon-background-solid-button-dark-high-contrast: var(--neon-color-text-secondary);

    --neon-background-solid-button-light-inverse: var(--neon-color-inverse);
    --neon-background-rgb-solid-button-dark-inverse: var(--neon-rgb-inverse);
    --neon-background-solid-button-dark-inverse: var(--neon-color-inverse);

    --neon-background-solid-button-light-low-contrast: var(--neon-color-low-contrast-l5);
    --neon-background-rgb-solid-button-dark-low-contrast: var(--neon-rgb-low-contrast-l4);
    --neon-background-solid-button-dark-low-contrast: var(--neon-color-low-contrast-l4);

    --neon-background-solid-button-light-neutral: var(--neon-color-low-contrast-d1);
    --neon-background-rgb-solid-button-dark-neutral: var(--neon-rgb-low-contrast-d2);
    --neon-background-solid-button-dark-neutral: var(--neon-color-low-contrast-d2);

    --neon-background-solid-button-light-brand: var(--neon-color-brand-d1);
    --neon-background-rgb-solid-button-dark-brand: var(--neon-rgb-brand-d2);
    --neon-background-solid-button-dark-brand: var(--neon-color-brand-d2);

    --neon-background-solid-button-light-primary: var(--neon-color-primary-d1);
    --neon-background-rgb-solid-button-dark-primary: var(--neon-rgb-primary-d2);
    --neon-background-solid-button-dark-primary: var(--neon-color-primary-d2);

    --neon-background-solid-button-light-info: var(--neon-color-info-d1);
    --neon-background-rgb-solid-button-dark-info: var(--neon-rgb-info-d2);
    --neon-background-solid-button-dark-info: var(--neon-color-info-d2);

    --neon-background-solid-button-light-success: var(--neon-color-success-d1);
    --neon-background-rgb-solid-button-dark-success: var(--neon-rgb-success-d2);
    --neon-background-solid-button-dark-success: var(--neon-color-success-d2);

    --neon-background-solid-button-light-warn: var(--neon-color-warn-d1);
    --neon-background-rgb-solid-button-dark-warn: var(--neon-rgb-warn-d2);
    --neon-background-solid-button-dark-warn: var(--neon-color-warn-d2);

    --neon-background-solid-button-light-error: var(--neon-color-error-d1);
    --neon-background-rgb-solid-button-dark-error: var(--neon-rgb-error-d2);
    --neon-background-solid-button-dark-error: var(--neon-color-error-d2);

    /* outline buttons */
    --neon-background-outline-button-hover-high-contrast: var(--neon-color-high-contrast-d1);
    --neon-background-outline-button-active-high-contrast: var(--neon-color-high-contrast-d2);

    --neon-background-outline-button-hover-inverse: var(--neon-color-high-contrast-l5);
    --neon-background-outline-button-active-inverse: var(--neon-color-high-contrast-l4);

    --neon-background-outline-button-hover-low-contrast: var(--neon-color-low-contrast-d1);
    --neon-background-outline-button-active-low-contrast: var(--neon-color-low-contrast-d2);

    --neon-background-outline-button-hover-neutral: var(--neon-color-low-contrast-d1);
    --neon-background-outline-button-active-neutral: var(--neon-color-low-contrast-d2);

    --neon-background-outline-button-hover-brand: var(--neon-color-brand-d1);
    --neon-background-outline-button-active-brand: var(--neon-color-brand-d2);

    --neon-background-outline-button-hover-primary: var(--neon-color-primary-d1);
    --neon-background-outline-button-active-primary: var(--neon-color-primary-d2);

    --neon-background-outline-button-hover-info: var(--neon-color-info-d1);
    --neon-background-outline-button-active-info: var(--neon-color-info-d2);

    --neon-background-outline-button-hover-success: var(--neon-color-success-d1);
    --neon-background-outline-button-active-success: var(--neon-color-success-d2);

    --neon-background-outline-button-hover-warn: var(--neon-color-warn-d1);
    --neon-background-outline-button-active-warn: var(--neon-color-warn-d2);

    --neon-background-outline-button-hover-error: var(--neon-color-error-d1);
    --neon-background-outline-button-active-error: var(--neon-color-error-d2);

    /* text button */
    --neon-background-color-text-button: rgba(var(--neon-rgb-neutral-l4), 0.2);
    --neon-background-color-text-button-hover: rgba(var(--neon-rgb-neutral-l4), 0.5);
    --neon-background-color-text-button-active: rgba(var(--neon-rgb-neutral-l4), 0.75);

    /* note */
    --neon-background-color-note: rgba(var(--neon-rgb-high-contrast-l3), 0.5);
    --neon-color-note: var(--neon-color-text-secondary);

    /* link */
    --neon-color-link: var(--neon-color-primary-d1);
    --neon-rgb-link: var(--neon-rgb-primary-d1); // should match the --neon-color-link color
    --neon-color-link-hover: var(--neon-color-primary-d2);
    --neon-color-link-visited: rgba(var(--neon-rgb-primary-d1), 0.6);

    /* action menu */
    --neon-color-action-menu-hover: var(--neon-color-neutral-l4);

    /* mobile menu */
    --neon-border-top-mobile-menu: var(--neon-height-mobile-menu-indicator) var(--neon-border-style) var(--neon-border-color);
    --neon-background-color-mobile-menu: var(--neon-background-color-card);

    /* selection */
    --neon-background-rgb-selection: var(--neon-rgb-info-d1);
    --neon-color-selection: white;

    /* pre */
    --neon-color-pre: var(--neon-color-primary-d3);
    --neon-background-color-pre: var(--neon-color-neutral-d5);

    /* toggle */
    --neon-border-toggle: var(--neon-border-width) var(--neon-border-style) transparent;
    --neon-border-toggle-checked: var(--neon-border-width) var(--neon-border-style) var(--neon-border-color);
    --neon-opacity-toggle-background: 0;
    --neon-opacity-toggle-color: 0.5;
    --neon-opacity-toggle-checked: 0;
    --neon-opacity-toggle-hover: 0.05;

    /* drawer */
    --neon-background-color-drawer: var(--neon-background-color-card);

    /* radio buttons */
    --neon-background-radio-button: none;
    --neon-color-radio-button-bg-active: rgba(var(--neon-rgb-neutral-l3), 0.25);
    --neon-color-radio-button-label: var(--neon-color-label);

    /* input */
    --neon-color-input: var(--neon-color-text);
    --neon-border-color-input: var(--neon-color-neutral-l3);
    --neon-background-color-input: var(--neon-color-high-contrast-l5);
    --neon-color-placeholder: var(--neon-color-low-contrast-l3);

    /* drop zone */
    --neon-rgb-drop-zone-background: var(--neon-rgb-high-contrast-l4);
    --neon-rgb-drop-zone: var(--neon-rgb-text-secondary);

    /* alerts */
    --neon-box-shadow-alert: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) rgba(var(--neon-rgb-neutral-d1), 0.5);

    --neon-background-color-alert-info: var(--neon-color-info);
    --neon-background-color-alert-success: var(--neon-color-success);
    --neon-background-color-alert-warn: var(--neon-color-warn);
    --neon-background-color-alert-error: var(--neon-color-error);

    --neon-color-alert-info: var(--neon-color-inverse);
    --neon-color-alert-success: var(--neon-color-inverse);
    --neon-color-alert-warn: var(--neon-color-inverse);
    --neon-color-alert-error: var(--neon-color-inverse);

    --neon-background-color-toast-info: var(--neon-color-info);
    --neon-background-color-toast-success: var(--neon-color-success);
    --neon-background-color-toast-warn: var(--neon-color-warn);
    --neon-background-color-toast-error: var(--neon-color-error);

    --neon-color-toast-info: var(--neon-color-inverse);
    --neon-color-toast-success: var(--neon-color-inverse);
    --neon-color-toast-warn: var(--neon-color-inverse);
    --neon-color-toast-error: var(--neon-color-inverse);

    /* dropdown / dropdown menu / select */
    --neon-border-color-dropdown: var(--neon-color-neutral-l4);
    --neon-box-shadow-dropdown: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) rgba(var(--neon-rgb-neutral-d1), 0.5);
    --neon-background-color-dropdown-content: var(--neon-background-color-card);

    /* tooltip */
    --neon-box-shadow-tooltip: calc(0.5 * var(--neon-base-space)) calc(0.5 * var(--neon-base-space)) calc(2 * var(--neon-base-space)) rgba(var(--neon-rgb-neutral-d1), 0.5);

    /* tabs */
    --neon-border-color-tabs-underline: var(--neon-border-color);
    --neon-color-tab-selected-low-contrast: var(--neon-color-low-contrast-d2);
    --neon-color-tab-selected-neutral: var(--neon-color-neutral-d2);
    --neon-color-tab-selected-high-contrast: var(--neon-color-high-contrast-d2);
    --neon-color-tab-selected-brand: var(--neon-color-brand-d2);
    --neon-color-tab-selected-primary: var(--neon-color-primary-d2);
    --neon-color-tab-selected-info: var(--neon-color-info-d2);
    --neon-color-tab-selected-success: var(--neon-color-success-d2);
    --neon-color-tab-selected-warn: var(--neon-color-warn-d2);
    --neon-color-tab-selected-error: var(--neon-color-error-d2);
    --neon-color-tab-hover-low-contrast: var(--neon-color-low-contrast-d1);
    --neon-color-tab-hover-neutral: var(--neon-color-neutral-d1);
    --neon-color-tab-hover-high-contrast: var(--neon-color-high-contrast-d1);
    --neon-color-tab-hover-brand: var(--neon-color-brand-d1);
    --neon-color-tab-hover-primary: var(--neon-color-primary-d1);
    --neon-color-tab-hover-info: var(--neon-color-info-d1);
    --neon-color-tab-hover-success: var(--neon-color-success-d1);
    --neon-color-tab-hover-warn: var(--neon-color-warn-d1);
    --neon-color-tab-hover-error: var(--neon-color-error-d1);

    /* footer */
    --neon-background-color-footer: var(--neon-background-color);
    --neon-border-top-footer: var(--neon-border-width-footer) var(--neon-border-color) var(--neon-border-style);

    /* skeleton loader */
    --neon-color-loading-1: rgb(226, 226, 226);
    --neon-color-loading-2: rgb(212, 212, 212);
    --neon-color-loading-3: rgba(212, 212, 212, 0.5);

    /* toggle */
    --neon-margin-toggle-option: 1rem;
    --neon-border-radius-toggle: 0;
    --neon-border-radius-toggle-option: 2rem;

    /* scrollbars */
    --neon-color-scrollbar: rgba(0, 0, 0, 0.125);

    /* overlays */
    --neon-background-color-overlay: rgba(var(--neon-rgb-neutral-d5), 0.75);
    --neon-background-color-overlay-opaque: var(--neon-color-neutral-l5);

    /* toggle chips */
    --neon-color-toggle-chip-text: var(--neon-color-text);
    --neon-border-rgb-toggle-chip: var(--neon-rgb-neutral-l3);
    --neon-border-color-toggle-chip: var(--neon-color-neutral-l3);
    --neon-background-color-toggle-chip: transparent;
    --neon-color-toggle-chip-text-checked: var(--neon-color-inverse);

    /* slider & range slider */
    --neon-color-slider-track: var(--neon-color-neutral-l4);
    --neon-slider-thumb-color: var(--neon-background-color-card);
    --neon-box-shadow-slider: 0 -2rem 4rem 0 rgba(140, 140, 140, 0.2), 0 2rem 4rem 0 rgba(140, 140, 140, 0.3);
    --neon-border-slider-thumb: none;

    /* top nav */
    --neon-background-color-top-nav: var(--neon-background-color-card);
    --neon-border-color-top-nav: var(--neon-border-color);

    /* side nav */
    --neon-background-color-side-nav: var(--neon-background-color-card);

    /* input indicators */
    --neon-background-color-input-indicator: var(--neon-background-color-input);
    --neon-color-input-indicator: var(--neon-color-text-tertiary);

    /* stepper */
    --neon-color-stepper-indicator: var(--neon-color-high-contrast-l5);

    /* selectable card */
    --neon-background-color-selectable-card: rgba(var(--neon-rgb-high-contrast-l4), 0.5);
    --neon-box-shadow-selectable-card: 0 -2rem 4rem 0 rgba(var(--neon-rgb-neutral-l3), 0.1), 0 2rem 4rem 0 rgba(var(--neon-rgb-neutral-l3), 0.15);

    /* card list */
    --neon-background-color-card-list: rgba(var(--neon-rgb-high-contrast-l4), 0.5);
    --neon-box-shadow-card-list: 0 -2rem 4rem 0 rgba(var(--neon-rgb-neutral-l3), 0.1), 0 2rem 4rem 0 rgba(var(--neon-rgb-neutral-l3), 0.15);

    /* swiper */
    --neon-background-color-swiper: var(--neon-background-color-card);

    /* image carousel */
    --neon-color-image-carousel-nav-indicator: var(--neon-color-primary);
    --neon-color-image-carousel-expanded-nav-indicator: var(--neon-color-inverse);
    --neon-color-image-carousel-expanded-button: var(--neon-color-inverse);
    --neon-color-image-carousel-expanded-button-disabled: var(--neon-color-low-contrast-d2);
    --neon-background-color-image-carousel-expanded-button: var(--neon-color-low-contrast-d3);
    --neon-color-image-carousel-expanded-label: var(--neon-color-text-tertiary-dark);
    --neon-text-shadow-image-carousel-expanded: 1px 1px 2px var(--neon-color-text-primary);
  }
}
