@use '../../src/sass/component-colors';

@mixin import($neon-components) {
  &.neon-mode--light {
    $neon-color-gradient-alternate: l1 !default;

    $neon-background-color-card: $neon-color-neutral-l5 !default;
    $neon-background-color: $neon-color-neutral-l5 !default;

    $neon-color-text-dark: #000 !default;
    $neon-color-text-light: #fff !default;
    $neon-color-text: $neon-color-text-dark !default;
    $neon-color-inverse: $neon-color-text-light !default;

    $neon-color-text: d1 !default;
    $neon-background-color: l1 !default;

    $neon-border-color: $neon-color-neutral-l1 !default;
    $neon-border: $neon-border-width $neon-border-style $neon-border-color !default;
    $neon-border-hr: $neon-border-width $neon-border-style $neon-border-color !default;
    $neon-color-hr: $neon-border-color !default;

    $neon-color-outline: d1 !default;

    $neon-label-color: $neon-color-neutral-d1 !default;

    $neon-color-disabled-light: $neon-color-neutral-l2 !default;
    $neon-color-disabled-dark: $neon-color-neutral-l4 !default;

    /* switch */
    $neon-color-switch-off: $neon-color-neutral-l3 !default;
    $neon-color-switch-on: d1 !default;
    $neon-color-switch-disabled: $neon-color-disabled-light !default;
    $neon-color-switch-indicator-disabled: $neon-color-disabled-dark !default;

    /* checkbox */
    $neon-background-color-checkbox: d1 !default;
    $neon-border-color-checkbox: d1 !default;

    /* solid button */
    $neon-background-solid-button-light: d1 !default;
    $neon-background-solid-button-dark: d1 !default;

    /* high-contrast buttons */
    $neon-background-high-contrast-solid-button-light: $neon-color-high-contrast-d1 !default;
    $neon-background-high-contrast-solid-button-dark: $neon-color-high-contrast-d1 !default;

    /* low-contrast buttons */
    $neon-background-low-contrast-solid-button-light: $neon-color-low-contrast-l5 !default;
    $neon-background-low-contrast-solid-button-dark: $neon-color-low-contrast-l5 !default;
    $neon-color-low-contrast-solid-button: $neon-color-low-contrast-d4 !default;
    $neon-color-low-contrast-outline-button: $neon-color-low-contrast-l2 !default;

    /* text button */
    $neon-color-text-button: d1 !default;
    $neon-background-color-text-button-hover: rgba($neon-color-neutral-l4, 0.33) !default;
    $neon-background-color-text-button-active: rgba($neon-color-neutral-l4, 0.75) !default;

    /* label */
    $neon-color-label: d1 !default;

    /* note */
    $neon-border-color-note: d1 !default;
    $neon-background-color-note: $neon-color-high-contrast-l3 !default;
    $neon-color-note: $neon-color-text !default;

    /* link */
    $neon-color-link: $neon-color-primary-d1 !default;
    $neon-color-link-hover: $neon-color-primary-d2 !default;
    $neon-color-link-visited: $neon-color-primary-l1 !default;

    /* icon */
    $neon-color-icon: d1 !default;

    /* action menu */
    $neon-color-action-menu-hover: $neon-color-neutral-l4 !default;
    $neon-color-action-menu-selected: d1 !default;

    /* selection */
    $neon-background-color-selection: $neon-color-brand-d1 !default;

    /* pre */
    $neon-color-pre: $neon-color-primary-d3 !default;
    $neon-background-color-pre: $neon-color-neutral-d4 !default;

    /* toggle */
    $neon-color-toggle: d1 !default;
    $neon-color-toggle-selected: $neon-color-neutral-l5 !default;
    $neon-border-color-toggle: $neon-color-neutral-l3 !default;

    /* radio buttons */
    $neon-background-radio-button: $neon-color-neutral-l5 !default;
    $neon-color-radio-button-label: $neon-color-neutral-d3 !default;

    /* input */
    $neon-border-color-input: $neon-color-neutral-l3 !default;
    $neon-background-color-input: rgba($neon-color-text-light, 0.5) !default;
    $neon-background-color-input-active: $neon-color-text-light !default;
    $neon-color-input-selected: d1 !default;
    $neon-color-placeholder: $neon-color-disabled-light !default;

    /* drop zone */
    $neon-color-drop-zone: $neon-color-text !default;

    /* file */
    $neon-color-list-item: d1 !default;

    /* alerts */
    $neon-box-shadow-alert: none !default;
    $neon-color-alert: d1 !default;
    $neon-background-color-toast: d1 !default;
    $neon-color-toast: l4 !default;

    /* dropdown / dropdown menu / select */
    $neon-border-color-dropdown: $neon-color-neutral-l3 !default;
    $neon-background-color-dropdown-menu-highlight: d1 !default;
    $neon-box-shadow-dropdown: $neon-box-shadow-strong !default;

    /* tooltip */
    $neon-box-shadow-tooltip: none !default;

    /* tabs */
    $neon-color-tab-selected: d1 !default;
    $neon-border-color-tabs-underline: transparentize($neon-color-neutral-l3, 0.667) !default;

    /* footer */
    $neon-background-color-footer: $neon-background-color !default;
    $neon-border-top-footer: $neon-border-width $neon-border-style $neon-border-color !default;

    /* skeleton loader */
    $neon-color-loading-1: $neon-color-high-contrast-l3 !default;
    $neon-color-loading-2: rgba($neon-color-high-contrast-l2, 0.5) !default;
    $neon-color-loading-3: $neon-color-high-contrast-l2 !default;

    /* chip */
    $neon-color-chip: d1 !default;

    /* scrollbars */
    $neon-color-scrollbar: rgba(black, 0.125) !default;

    /* overlays */
    $neon-background-color-overlay: rgba($neon-color-neutral-d5, 0.75) !default;

    /* toggle chips */
    $neon-color-toggle-chip: d1 !default;
    $neon-color-toggle-chip-text: $neon-color-text !default;
    $neon-border-color-toggle-chip: $neon-color-neutral-l3 !default;
    $neon-opacity-toggle-chip: 0.125 !default;
    $neon-opacity-toggle-chip-hover: 0.33 !default;

    /* slider & range slider */
    $neon-color-slider: d1 !default;
    $neon-color-slider-track: $neon-color-neutral-l4 !default;
    $neon-slider-thumb-color: $neon-background-color-card !default;
    $neon-box-shadow-slider: none !default;
    $neon-border-slider-thumb: none !default;

    /* top nav */
    $neon-background-color-top-nav: $neon-background-color-card !default;

    /* side nav */
    $neon-background-color-side-nav: $neon-background-color-card !default;

    /* input indicators */
    $neon-background-color-input-indicator: rgba($neon-color-disabled-dark, 0.5) !default;
    $neon-color-input-indicator: $neon-color-text-neutral !default;

    @include component-colors.import($neon-components);
  }
}
