/* theme variable */
$neon-theme: 'sharp' !default;

/* base colors */
$neon-color-brand: #5b0a9b !default;
$neon-color-primary: #34b587 !default;
$neon-color-info: #3c8eff !default;
$neon-color-success: #34b587 !default;
$neon-color-warn: #ffb22a !default;
$neon-color-error: #ec4145 !default;

/* layout */
$neon-base-space: 4px !default;
$neon-max-paragraph-width: 70ch !default;
$neon-max-page-width: 1920px !default;

/* vertical layout spacing, used for margins and paddings of layout components */
$neon-spacing-vertical-mobile: 3 * $neon-base-space !default;
/* ratio of horizontal to vertical spacing */
$neon-spacing-horizontal-multiplier: 1.1667 !default;
/* ratio of tablet to mobile spacing */
$neon-spacing-multiplier-tablet: 1.5 !default;
/* ratio of desktop to mobile spacing */
$neon-spacing-multiplier-desktop: 2 !default;

/* animation */
$neon-animation-speed-slow: 0.3s !default;
$neon-animation-speed-fast: 0.225s !default;

/* borders */
$neon-border-radius: 0 !default;
$neon-border-width: 1px !default;
$neon-border-style: solid !default;

/* typography */
$neon-typography-scale: 1.125 !default; // Major second https://type-scale.com/
$neon-base-font-size: 16px !default;

$neon-font-size-xxs: round(
  $neon-base-font-size / ($neon-typography-scale * $neon-typography-scale * $neon-typography-scale)
) !default;
$neon-font-size-xs: round($neon-base-font-size / ($neon-typography-scale * $neon-typography-scale)) !default;
$neon-font-size-s: round($neon-base-font-size / $neon-typography-scale) !default;
$neon-font-size-l: round($neon-base-font-size * $neon-typography-scale) !default;

$neon-letter-spacing-s: 0.25px !default;
$neon-letter-spacing-m: 0.5px !default;
$neon-letter-spacing-l: 1px !default;

$neon-h6-size: $neon-font-size-l !default;
$neon-h5-size: round($neon-base-font-size * $neon-typography-scale * $neon-typography-scale) !default;
$neon-h4-size: round(
  $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale
) !default;
$neon-h3-size: round(
  $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale *
    $neon-typography-scale
) !default;
$neon-h2-size: round(
  $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale *
    $neon-typography-scale * $neon-typography-scale
) !default;
$neon-h1-size: round(
  $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale *
    $neon-typography-scale * $neon-typography-scale * $neon-typography-scale
) !default;
// AKA branding font size, used for landing page & banners etc...
$neon-h0-size: round(
  $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale *
    $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale *
    $neon-typography-scale
) !default;

$neon-h6-weight: 500 !default;
$neon-h5-weight: 500 !default;
$neon-h4-weight: 500 !default;
$neon-h3-weight: 500 !default;
$neon-h2-weight: 500 !default;
$neon-h1-weight: 500 !default;
$neon-h0-weight: 500 !default;

$neon-font-weight-em: 200 !default;
$neon-font-weight-strong: 800 !default;

$neon-letter-spacing-headings: $neon-letter-spacing-s !default;

$neon-line-height-headings-ratio: 1.5 !default;
$neon-line-height-ratio: 1.618 !default;
$neon-line-height-one: 1.125 !default; // hack for line-height: 1 to prevent cropping of content below the baseline e.g. 'g'

$neon-system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$neon-body-font-family: $neon-system-font-stack !default;
$neon-body-font-weight: 400 !default;

$neon-heading-font-family: $neon-body-font-family !default;
$neon-font-style-headings: normal !default;

$neon-font-family-paragraph: $neon-body-font-family !default;
$neon-font-family-monospaced: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace !default;

$neon-logo-width-multiplier: 3.84776 !default; // logo ratio of width to height

/* components */

/* gradient config */
$neon-background-gradient-angle: 90deg !default;
/* % offset where background gradient switches to alternate-color */
$neon-background-gradient-offset: 33% !default;

/* smaller sizes for labels only */
$neon-size-xxs: 4 * $neon-base-space !default;
$neon-size-xs: 6 * $neon-base-space !default;
/* standard label & input sizes */
$neon-size-s: 8 * $neon-base-space !default;
$neon-size-m: 10 * $neon-base-space !default;
$neon-size-l: 12 * $neon-base-space !default;
/* buttons only */
$neon-size-xl: 16 * $neon-base-space !default;

/* box shadows */
$neon-box-shadow: none !default;
$neon-box-shadow-strong: none !default;
$neon-inset-shadow: none !default;

/* top nav */
$neon-top-nav-height-mobile: $neon-size-s + 4 * $neon-base-space !default;
$neon-top-nav-height-tablet: $neon-size-m + 6 * $neon-base-space !default;
$neon-top-nav-height-desktop: $neon-size-l + 8 * $neon-base-space !default;

/* footer */
$neon-footer-height-mobile: $neon-font-size-s + 8 * $neon-base-space !default;
$neon-footer-height-tablet: $neon-font-size-s + 8 * $neon-base-space !default;
$neon-footer-height-desktop: $neon-base-font-size + 12 * $neon-base-space !default;

/* side nav */
$neon-side-nav-width: 80 * $neon-base-space !default;

/* card */
$neon-card-section-border: $neon-border-width $neon-border-style !default;
$neon-card-box-shadow: $neon-box-shadow !default;

/* checkbox */
$neon-border-width-checkbox: 1px !default;

/* alerts */
$neon-width-alert: 400px !default;
$neon-width-alert-action: 96px !default;
$neon-border-width-alert: 1px !default;
$neon-border-opacity-alert-action: 1 !default;
$neon-width-toast: 250px !default;

/* dropdown */
$neon-max-height-dropdown: 280px !default;

/* buttons */
$neon-border-radius-button: $neon-border-radius !default;
$neon-border-radius-button-xl: $neon-border-radius !default;
$neon-border-width-outline-button: $neon-border-width !default;

/* tabs */
$neon-border-width-tabs: 2px !default;

/* chips */
$neon-border-radius-chip: $neon-border-radius !default;

/* scrollbars */
$neon-width-scrollbar: 6px !default;
$neon-border-radius-scrollbar: 0 !default;

/* tooltips */
$neon-tooltip-max-width: 144px !default;
$neon-tooltip-max-height: 3 * $neon-tooltip-max-width !default;
$neon-popover-max-width: 480px !default;
$neon-popover-max-height: 3 * $neon-tooltip-max-width !default;
$neon-border-width-tooltip: 1px !default;

/* drawer */
$neon-border-width-drawer: $neon-border-width !default;
$neon-border-radius-drawer: 0 !default;

/* radio buttons */
$neon-border-radius-radio-button: 0 !default;

/* switch */
$neon-border-radius-switch: 0 !default;
$neon-border-radius-switch-indicator: 0 !default;

/* note */
$neon-border-width-note: 2px !default;

/* slider & range slider */
$neon-height-slider-track: 8px !default;
$neon-height-slider-thumb: 2.5 * $neon-height-slider-track !default;
$neon-width-slider-thumb: 2.5 * $neon-height-slider-track !default;
$neon-border-radius-slider-thumb: $neon-border-radius !default;
$neon-border-radius-slider-track: $neon-border-radius !default;
$neon-border-width-slider-thumb: $neon-border-width !default;
$neon-border-radius-slider-tooltip: $neon-border-radius !default;

/* input */
$neon-border-radius-input: $neon-border-radius !default;

/* skeleton loader */
$neon-border-radius-skeleton-loader: $neon-border-radius !default;

/* expansion panel */
$neon-border-width-expansion-panel: $neon-border-width !default;
