@use '../includes/scrollbars';
@use '../includes/layout';
@use '../includes/responsive';

@mixin base-html {
  background-color: var(--neon-background-color);
  font-size: 1px;

  body {
    text-rendering: optimizeLegibility;
    background-color: var(--neon-background-color);
    color: var(--neon-color-text-secondary);
  }


  &.neon-mode--dark *,
  &.neon-mode--light * {
    box-sizing: border-box;

    &::selection {
      background-color: rgba(var(--neon-background-rgb-selection), 0.99);
      color: var(--neon-color-selection);
    }
  }

  hr {
    display: flex;
    width: 100%;
    border-radius: var(--neon-border-radius);
    border: none;
    border-top: var(--neon-border-hr);
    @include layout.margin-vertical();
  }

  ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--neon-space-16);

    > li {
      max-width: var(--neon-max-paragraph-width);
      margin-left: var(--neon-space-16);
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;

    > li {
      list-style-type: none;
      margin: 0;

      &:before {
        color: var(--neon-color-low-contrast);
      }
    }

    &:not(.no-style) > li {
      display: inline-flex;
      max-width: var(--neon-max-paragraph-width);
      padding-left: calc(7 * var(--neon-space-4));

      &:before {
        content: '•';
        padding-right: var(--neon-space-8);
        margin-left: calc(-7 * var(--neon-space-4));
        margin-top: calc(-1 * var(--neon-space-2));
        display: inline-flex;
        align-items: flex-start;
        font-size: var(--neon-font-size-l);
        line-height: var(--neon-line-height-ratio);
      }
    }
  }

  pre.neon--preformatted {
    color: var(--neon-color-text-secondary-dark);
    background-color: var(--neon-background-color-pre);

    &:not(.prism-editor__editor) {
      @include scrollbars.scrollbars;
      @include layout.padding();
      border-radius: var(--neon-border-radius);
      overflow-x: auto;
      white-space: pre-line;
    }
  }

  .neon-monospaced {
    font-family: var(--neon-font-family-monospaced);
    font-variant-ligatures: discretionary-ligatures;
  }

  .neon-closable--open {
    overflow: hidden;
  }

  .neon-fade-transition {
    &-enter-active,
    &-leave-active {
      transition: opacity ease-in-out var(--neon-animation-speed-fast);
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }

  textarea {
    font-family: var(--neon-font-family-body);
  }

  .neon-square {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      padding-bottom: 100%;
    }
  }

  .neon-color-text-primary {
    color: var(--neon-color-text-primary);
  }

  .neon-color-text-secondary {
    color: var(--neon-color-text-secondary);
  }

  .neon-color-text-tertiary {
    color: var(--neon-color-text-tertiary);
  }

  .neon-color-inverse {
    color: var(--neon-color-inverse);
  }

  .neon-dark-text {
    color: var(--neon-color-text-secondary-light);
  }

  .neon-light-text {
    color: var(--neon-color-text-secondary-dark);
  }

  .neon-color-low-contrast {
    color: var(--neon-color-low-contrast);
  }

  .neon-color-neutral {
    color: var(--neon-color-neutral);
  }

  .neon-color-high-contrast {
    color: var(--neon-color-high-contrast);
  }

  .neon-color-brand {
    color: var(--neon-color-brand);
  }

  .neon-color-accent {
    color: var(--neon-color-accent);
  }

  .neon-color-primary {
    color: var(--neon-color-primary);
  }

  .neon-color-info {
    color: var(--neon-color-info);
  }

  .neon-color-success {
    color: var(--neon-color-success);
  }

  .neon-color-warn {
    color: var(--neon-color-warn);
  }

  .neon-color-error {
    color: var(--neon-color-error);
  }

  .neon-background-color-disabled-background {
    background-color: var(--neon-color-disabled-background);
  }

  .neon-color-disabled-background {
    color: var(--neon-color-disabled-background);
  }

  .neon-border-color-disabled-border {
    border-color: var(--neon-color-disabled-border);
  }

  .neon-color-disabled-border {
    color: var(--neon-color-disabled-border);
  }

  .neon-color-disabled-text {
    color: var(--neon-color-disabled-text);
  }
}
