@use 'src/sass/includes/layout';
@use 'src/sass/includes/responsive';

@mixin layout {
  * {
    @include layout.zero-spacing;
  }

  body {
    display: flex;
    margin: 0;
    @include layout.min-height(100);
    overscroll-behavior: none;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  .neon-row,
  .neon-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include layout.margin-vertical;

    @include responsive.responsive(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .neon-space-evenly {
    width: 100%;
    justify-content: space-evenly;
  }

  .neon-spaced-apart {
    justify-content: flex-start;

    & > *:not(:last-child) {
      margin-right: calc(4 * var(--neon-base-space));
    }
  }

  .neon-space-between {
    width: 100%;
    justify-content: space-between;
  }

  .neon-app {
    width: 100%;
  }

  .neon-vertically-spaced {
    & > *:not(:last-child):not(label) {
      margin-bottom: calc(4 * var(--neon-base-space));
    }
  }
}
