@use 'src/sass/includes/layout';
@use 'src/sass/includes/responsive';
@use 'src/sass/includes/typography';

.homepage {
  align-items: center;

  &__content {
    align-items: center;
    @include layout.padding;
  }

  .neon-logo {
    $logo-height: 6.25rem;
    height: $logo-height;
    width: calc(#{$logo-height} * var(--neon-logo-width-multiplier));
    max-width: 100%;
    align-self: center;
    margin-top: calc(32 * var(--neon-base-space));
    margin-bottom: calc(5 * var(--neon-base-space));

    @include responsive.responsive(tablet) {
      height: 0.75 * $logo-height;
      width: calc(#{0.75 * $logo-height} * var(--neon-logo-width-multiplier));
    }
  }

  h1 {
    @include typography.neon-h0;
    text-align: center;
    margin-top: calc(16 * var(--neon-base-space));

    @include responsive.responsive(tablet) {
      @include typography.neon-h1;
      margin-top: calc(16 * var(--neon-base-space));
    }
  }

  .powered-by {
    font-weight: 300;
    margin-top: calc(10 * var(--neon-base-space));
    text-align: center;
  }

  p {
    font-size: var(--neon-h5-size);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include responsive.responsive(tablet) {
      font-size: var(--neon-font-size-m);
    }
  }

  .neon-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(8 * var(--neon-base-space));
  }

  .highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    .highlight {
      @include layout.padding;
      align-items: center;
      width: calc(100 * var(--neon-base-space));
      @include layout.margin(1, true);

      h2 {
        font-size: var(--neon-h4-size);
        font-weight: var(--neon-h4-weight);
        text-align: center;
      }

      p {
        font-size: var(--neon-font-size-m);
      }

      @include responsive.responsive(mobile-large) {
        width: calc(82 * var(--neon-base-space));
      }
    }

    .highlight-icon {
      width: calc(24 * var(--neon-base-space));
      height: calc(24 * var(--neon-base-space));
      margin: calc(4 * var(--neon-base-space));
    }
  }
}
