@use '../../../sass/includes/layout';
@use '../../../sass/includes/responsive';
@use '../../../sass/includes/typography';

.homepage {
  align-items: center;

  &__content {
    align-items: center;
    @include layout.padding;
  }

  .neon-icon--name-neon-logo {
    $logo-height: 200rem;
    height: $logo-height;
    width: $logo-height;
    max-width: 100%;
    align-self: center;
    margin-top: var(--neon-space-64);
    margin-bottom: var(--neon-space-20);

    @include responsive.responsive(tablet) {
      height: 0.75 * $logo-height;
      width: 0.75 * $logo-height;
    }
  }

  h1 {
    @include typography.neon-h0;
    text-align: center;
    margin-top: var(--neon-space-64);

    @include responsive.responsive(tablet) {
      @include typography.neon-h1;
      margin-top: var(--neon-space-64);
    }
  }

  .powered-by {
    font-weight: var(--neon-font-weight-light);
    margin-top: var(--neon-space-40);
    text-align: center;
  }

  p {
    font-size: var(--neon-h5-size);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include responsive.responsive(tablet) {
      font-size: var(--neon-font-size-m);
    }
  }

  .neon-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--neon-space-32);
  }

  .highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    .highlight {
      @include layout.padding;
      align-items: center;
      width: calc(100 * var(--neon-space-4));
      @include layout.margin(1, true);

      h2 {
        font-size: var(--neon-h4-size);
        font-weight: var(--neon-h4-weight);
        text-align: center;
      }

      p {
        font-size: var(--neon-font-size-m);
      }

      @include responsive.responsive(mobile-large) {
        width: calc(82 * var(--neon-space-4));
      }
    }

    .highlight-icon {
      width: var(--neon-space-96);
      height: var(--neon-space-96);
      margin: var(--neon-space-16);
    }
  }
}
