.homepage {
  align-items: center;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include padding-horizontal;
    padding-bottom: 32 * $base-space !important;

    @include responsive(tablet) {
      padding-bottom: 16 * $base-space !important;
    }
  }

  &__content {
    align-items: center;
    @include padding;
  }

  .neon-logo {
    $logo-height: 100px;
    height: $logo-height;
    width: $logo-height * $logo-width-multiplier;
    max-width: 100%;
    align-self: center;
    margin-top: 32 * $base-space;
    margin-bottom: 5 * $base-space;

    @include responsive(tablet) {
      height: 0.75 * $logo-height;
      width: 0.75 * $logo-height * $logo-width-multiplier;
      margin-top: 16 * $base-space;
    }
  }

  &__tagline {
    text-align: center;
    font-size: $h4-size;
    font-family: $heading-font-family;
    font-weight: 400;
    letter-spacing: $component-letter-spacing-s;

    @include responsive(tablet) {
      font-size: $h5-size;
    }
  }

  h1 {
    @include neon-h0;
    text-align: center;
    margin-top: 16 * $base-space;

    @include responsive(tablet) {
      @include neon-h1;
      margin-top: 16 * $base-space;
    }
  }

  .powered-by {
    font-weight: 300;
    margin-top: 10 * $base-space;
    text-align: center;
  }

  p {
    font-size: $h5-size;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include responsive(tablet) {
      font-size: $base-font-size;
    }
  }

  .neon-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8 * $base-space;
  }

  .highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    .highlight {
      @include padding;
      align-items: center;
      width: 100 * $base-space;
      @include margin(1, true);

      h2 {
        font-size: $h4-size;
        font-weight: $h4-weight;
        text-align: center;
      }

      p {
        font-size: $base-font-size;
      }

      @include responsive(mobile-large) {
        width: 82 * $base-space;
      }
    }

    .highlight-icon {
      width: 24 * $base-space;
      height: 24 * $base-space;
      margin: 4 * $base-space;
    }
  }
}
