$editor-max-height: 400px;

.editor {
  font-family: $font-family-monospaced;
  font-variant-ligatures: discretionary-ligatures;
  font-variation-settings: $monospaced-font-variation-settings;
  font-size: $base-font-size;
  line-height: $line-height-ratio;
  min-width: 100%;
  width: $max-paragraph-width;
  height: 100%;
  overflow: visible;

  .prism-editor {
    &__container {
      display: flex;
      overflow: visible;
    }

    &__editor {
      @include padding(0.5);
      display: block;
      opacity: 0.85;
    }

    &__textarea {
      @include padding(0.5);
      font-family: $font-family-monospaced;
      font-variant-ligatures: discretionary-ligatures;
      font-variation-settings: $monospaced-font-variation-settings;

      &:focus {
        outline: none;
      }
    }
  }

  &__container {
    max-height: $editor-max-height;
    overflow: auto;
  }

  &__wrapper {
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $size-l;

    @include responsive(tablet) {
      height: $size-m + $base-space;

      .editor__copy {
        height: $size-m;
        width: $size-m;
      }
    }

    @include responsive(mobile-large) {
      height: $size-s + $base-space;

      .editor__copy {
        height: $size-s;
        width: $size-s;
      }
    }
  }

  &__copy {
    opacity: 0.66;
    transition: opacity ease-in-out $animation-speed-fast;

    &:hover {
      background: none !important;
      cursor: pointer;
      opacity: 1;
    }

    &:last-child {
      margin-right: 2 * $base-space;
    }
  }

  &__read-only {
    width: $font-size-l;
    height: $font-size-l;
    margin-left: 2 * $base-space;
    margin-right: 4 * $base-space;

    @include responsive(tablet) {
      margin-left: 0;
      margin-right: 3 * $base-space;
    }
  }
}

p + .editor__wrapper {
  margin-top: -2 * $base-space;
}

.editor__wrapper {
  & + p,
  & + .editor__wrapper {
    margin-top: 8 * $base-space;

    @include responsive(mobile-large) {
      margin-top: 4 * $base-space;
    }
  }
}
