@use '../../../sass/includes/layout';
@use '../../../sass/includes/responsive';

.editor__wrapper {
  border-radius: 0;
  overflow: hidden;
  position: relative;

  .editor {
    font-family: var(--neon-font-family-monospaced);
    font-variant-ligatures: discretionary-ligatures;
    font-variation-settings: var(--monospaced-font-variation-settings);
    font-size: var(--neon-font-size-m);
    line-height: var(--neon-line-height-ratio);
    min-width: 100%;
    width: var(--neon-max-paragraph-width);
    height: 100%;
    overflow: visible;

    @include responsive.responsive(mobile-large) {
      font-size: var(--neon-font-size-s);
    }

    .tag {
      color: var(--neon-color-error-l3);
    }

    .attr-name {
      color: var(--neon-color-warn-l3);
    }

    .attr-value {
      color: var(--neon-color-success-l3);
    }

    .punctuation {
      color: var(--neon-color-neutral-l3);
    }

    &.prism-editor-wrapper .prism-editor {
      &__container {
        display: flex;
        overflow: visible;
        color: var(--neon-color-text-light);
      }

      &__editor {
        background-color: var(--neon-background-color-pre);
        @include layout.padding(0.5);
        display: block;
        opacity: 0.85;
      }

      &__textarea {
        @include layout.padding(0.5);
        font-family: var(--neon-font-family-monospaced);
        font-variant-ligatures: discretionary-ligatures;
        font-variation-settings: var(--monospaced-font-variation-settings);

        &:focus {
          outline: none;
        }
      }
    }

    &__container {
      background-color: var(--neon-background-color-pre);
      scrollbar-color: rgba(var(--neon-rgb-low-contrast), 0.25) transparent;
      scrollbar-width: thin;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: var(--neon-width-scrollbar);
        height: var(--neon-width-scrollbar);

        &-thumb {
          background: rgba(var(--neon-rgb-low-contrast), 0.25);
          border-radius: var(--neon-border-radius-scrollbar);
        }

        &-track-piece {
          background: transparent;
        }
      }

      max-height: 400rem;
      overflow: auto;
    }

    &__actions {
      position: absolute;
      top: 0;
      gap: var(--neon-space-8);
      right: var(--neon-space-4);
      display: flex;
      flex-direction: row;
      align-items: center;
      height: var(--neon-size-l);

      @include responsive.responsive(tablet) {
        height: calc(var(--neon-size-m) + var(--neon-space-4));

        .editor__copy {
          height: var(--neon-size-m);
          width: var(--neon-size-m);
        }
      }

      @include responsive.responsive(mobile-large) {
        height: calc(var(--neon-size-s) + var(--neon-space-4));

        .editor__copy {
          height: var(--neon-size-s);
          width: var(--neon-size-s);
        }
      }
    }

    &__copy.neon-button {
      transition: opacity ease-in-out var(--neon-animation-speed-fast);

      &,
      &:focus {
        background-color: rgba(var(--neon-rgb-neutral-d3), 0.2);
      }

      &:hover:not(:disabled) {
        background-color: rgba(var(--neon-rgb-neutral-d2), 0.5);
        cursor: pointer;
      }

      &:last-child {
        margin-right: var(--neon-space-8);
      }
    }
  }
}
