.editor {
  .prism-editor {
    background-color: $background-color-pre;

    &__container {
      color: $color-text-light;
    }

    &__textarea {
      &::selection {
        background-color: rgba($color-primary, 0.33);
      }
    }
  }

  .tag {
    color: $color-error-l2;
  }

  .attr-name {
    color: $color-warn-l2;
  }

  .attr-value {
    color: $color-success-l2;
  }

  .punctuation {
    color: $color-neutral-l2;
  }

  &__read-only.neon-icon--disabled {
    path.neon-svg--fill {
      fill: $color-low-contrast-d5 !important;
    }
  }
}
