.editor {
  .prism-editor {
    background-color: $neon-background-color-pre;

    &__container {
      color: $neon-color-text-light;
      @include scrollbars;
    }

    &__textarea {
      &::selection {
        background-color: rgba($neon-background-color-selection, 0.5);
      }
    }
  }

  .tag {
    color: $neon-color-error-l2;
  }

  .attr-name {
    color: $neon-color-warn-l2;
  }

  .attr-value {
    color: $neon-color-success-l2;
  }

  .punctuation {
    color: $neon-color-neutral-l2;
  }

  &__read-only.neon-icon--disabled {
    opacity: 0.5;
    path.neon-svg--fill {
      fill: $neon-color-editor-lock !important;
    }
  }
}
