$z-index-default: 0;
$z-index-above: 10;
$z-index-overlay-under-top-nav: 20;
$z-index-modal-under-top-nav: 30;
$z-index-top-nav: 40;
$z-index-overlay-over-top-nav: 50;
$z-index-modal-over-top-nav: 60;

$z-index-below: -10;
