.example {
  &__output {
    &--fixed-content {
      @include scrollbars;

      .neon-page {
        .neon-grid {
          .neon-grid-area {
            border: 1px $neon-border-style $neon-border-color;
          }
        }
      }

      .neon-top-nav {
        border-bottom: 1px $neon-border-style $neon-border-color;
      }

      .neon-side-nav {
        border-right: 1px $neon-border-style $neon-border-color;
      }
    }
  }
}
