@use 'src/sass/includes/layout';
@use 'src/sass/includes/responsive';
@use 'src/sass/includes/scrollbars';

$fixed-content-height: 21.75rem;

.app .example {
  & + .example {
    margin-top: calc(8 * var(--neon-base-space));
  }

  &__output {
    border-radius: var(--neon-border-radius) !important;
    margin-bottom: calc(4 * var(--neon-base-space)) !important;
    position: relative;

    &--fixed-content {
      height: $fixed-content-height;
      margin-bottom: 0 !important;
      overflow-y: auto;

      @include scrollbars.scrollbars;

      .neon-side-nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100% !important;
        min-height: 100% !important;
        border-right: 0.0625rem var(--neon-border-style) var(--neon-border-color);

        h6 {
          margin-bottom: 0;
        }
      }

      .neon-top-nav {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 0.0625rem var(--neon-border-style) var(--neon-border-color);
      }

      .neon-page {
        height: $fixed-content-height;
        overflow-y: hidden;

        &__container {
          min-height: 100% !important;
        }

        .neon-side-nav {
          top: var(--neon-top-nav-height-desktop);

          @include responsive.responsive(tablet) {
            top: var(--neon-top-nav-height-tablet);
          }

          @include responsive.responsive(mobile-large) {
            top: var(--neon-top-nav-height-mobile);
          }
        }

        .neon-grid {
          min-height: 100%;
          width: calc(100% - var(--neon-side-nav-width));

          @include responsive.responsive(tablet) {
            width: 100%;
          }

          .neon-grid-area {
            border: 0.0625rem var(--neon-border-style) var(--neon-border-color);
            border-radius: var(--neon-border-radius);
            @include layout.padding;
          }
        }
      }
    }
  }

  &__code {
    &--fixed-content {
      @include layout.margin;
      margin-top: 0 !important;
    }
  }

  &--no-card {
    h3 {
      margin-bottom: calc(4 * var(--neon-base-space));
    }
  }

  &__title {
    h3 {
      margin-bottom: 0 !important;
    }
  }

  &--vertical {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: calc(3 * var(--neon-base-space));
    }
  }

  &--horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: calc(4 * var(--neon-base-space));
    }

    @include responsive.responsive(mobile-large) {
      flex-direction: column;
      align-items: flex-start;

      & > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: calc(3 * var(--neon-base-space));
      }
    }
  }

  &--margin-top {
    margin-top: calc(2 * var(--neon-base-space));
  }
}
