$background-color-card: $color-neutral-d4 !default;
$background-color: $color-neutral-d5 !default;

$color-text: $color-text-light !default;
$color-inverse: $color-text-dark !default;
$color-text-low-contrast: $color-low-contrast-l2 !default;
$color-text-neutral: $color-neutral-l1 !default;
$color-text-high-contrast: $color-high-contrast-l2 !default;
$color-text-brand: $color-brand-l2 !default;
$color-text-primary: $color-primary-l2 !default;
$color-text-info: $color-info-l2 !default;
$color-text-success: $color-success-l2 !default;
$color-text-warn: $color-warn-l2 !default;
$color-text-error: $color-error-l2 !default;

$background-color-low-contrast: $color-low-contrast-d1 !default;
$background-color-neutral: $color-neutral-d1 !default;
$background-color-high-contrast: $color-high-contrast-d1 !default;
$background-color-primary: $color-primary-d1 !default;
$background-color-info: $color-info-d1 !default;
$background-color-success: $color-success-d1 !default;
$background-color-warn: $color-warn-d1 !default;
$background-color-error: $color-error-d1 !default;

$border-color: $color-neutral-d3 !default;
$border: $border-width $border-style $border-color !default;
$hr-color: $border-color !default;

$logo: $logo-dark !default;

$label-color: $color-neutral-l1 !default;

$color-disabled-light: $color-neutral-d2 !default;
$color-disabled-dark: rgba($color-neutral-d3, 0.5) !default;

// switch
$background-color-switch-off: $color-neutral-d2 !default;
$background-color-switch-on: l1 !default;
$background-color-switch-indicator: $color-neutral-d4 !default;

$color-switch-label-disabled: $color-disabled-light !default;
$background-color-switch-disabled: $color-disabled-light !default;
$background-color-switch-indicator-disabled: rgba($background-color-switch-indicator, 0.75) !default;

// checkbox
$background-color-checkbox: l2 !default;
$border-color-checkbox: l1 !default;

// solid button
$background-solid-button-light: l2 !default;
$background-solid-button-dark: l1 !default;
$color-button-text: $color-neutral-d5 !default;

// high-contrast buttons
$background-high-contrast-solid-button-light: $color-text !default;
$background-high-contrast-solid-button-dark: $color-high-contrast-l1 !default;

// low-contrast buttons
$background-low-contrast-solid-button-light: $color-low-contrast-d3 !default;
$background-low-contrast-solid-button-dark: $color-low-contrast-d5 !default;
$color-low-contrast-solid-button: $color-low-contrast-l4 !default;
$color-low-contrast-outline-button: $color-low-contrast-d3 !default;

// text button
$color-text-button: l1 !default;
$background-color-text-button-hover: rgba($color-neutral-d3, 0.25) !default;
$background-color-text-button-active: rgba($color-neutral-d3, 0.5) !default;

// label
$color-label: l1 !default;

// note
$border-color-note: l1 !default;
$background-color-note: d5 !default;
$color-note: $color-neutral-l1 !default;

// link
$color-link: $color-primary-l1 !default;
$color-link-hover: $color-primary-l2 !default;

// icon
$color-icon: l1 !default;

// tree menu
$color-tree-menu-hover: $color-neutral-d3 !default;

// action menu
$color-action-menu-hover: $color-neutral-d5 !default;

// selection
$background-color-selection: $color-primary-l1 !default;

// pre
$color-pre: $color-primary-l3 !default;
$background-color-pre: rgba($color-neutral-d3, 0.5) !default;

// toggle
$color-toggle: l1 !default;
$color-toggle-selected: $color-neutral-d5 !default;

// radio buttons
$background-radio-button: linear-gradient(0deg, $color-neutral-d3 0%, $color-neutral-d5 100%) !default;
$color-radio-button-label: $color-neutral-l3 !default;

// input
$border-color-input: $color-neutral-d2 !default;
$background-color-input: rgba($color-neutral-d5, 0.5) !default;
$background-color-input-active: $color-neutral-d5 !default;
$border-color-input-selected: l1 !default;
$color-placeholder: $color-neutral-d2 !default;

// drop zone
$color-drop-zone: $color-neutral-l1 !default;

// file
$color-file-list: l1 !default;

// alert icons need to be provided inline in css to override the Snotify styles
$icon-error: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%"><path fill="%23ec4145" d="M9.036 7.976a.75.75 0 00-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 101.06 1.06L12 13.06l2.963 2.964a.75.75 0 001.061-1.06L13.061 12l2.963-2.964a.75.75 0 10-1.06-1.06L12 10.939 9.036 7.976z"></path><path fill="%23ec4145" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>') !default;
$icon-warn: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%"><path fill="%23ffb22b" d="M12 7a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0112 7zm1 9a1 1 0 11-2 0 1 1 0 012 0z"></path><path fill="%23ffb22b" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>') !default;
$icon-success: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%"><path fill="%233b9b79" d="M17.28 9.28a.75.75 0 00-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l6.5-6.5z"></path><path fill="%233b9b79" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>') !default;
$icon-info: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%"><path fill="%233b8eff" d="M13 7.5a1 1 0 11-2 0 1 1 0 012 0zm-3 3.75a.75.75 0 01.75-.75h1.5a.75.75 0 01.75.75v4.25h.75a.75.75 0 010 1.5h-3a.75.75 0 010-1.5h.75V12h-.75a.75.75 0 01-.75-.75z"></path><path fill="%233b8eff" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>') !default;

$alert-box-shadow-color: $color-neutral-d5 !default;

$alert-background-colors: (
  error: rgba($color-error-l1, 0.1),
  warning: rgba($color-warn-l1, 0.1),
  info: rgba($color-info-l1, 0.1),
  success: rgba($color-success-l1, 0.1),
) !default;

$alert-title-colors: (
  error: $color-error-l1,
  warning: $color-warn-l1,
  info: $color-info-l1,
  success: $color-success-l1,
) !default;

// dropdown menu
$background-color-dropdown-menu-hover: $background-color-text-button-hover !default;

// notification counter
$background-color-notification-counter: #cc0000 !default;

@import '../../src/sass/colors/color-components';
