$background-color-card: $color-neutral-d4 !default;
$background-color: $color-neutral-d5 !default;

$color-text: $color-text-light !default;
$color-inverse: $color-text-dark !default;
$color-text-low-contrast: $color-low-contrast-l1 !default;
$color-text-neutral: $color-neutral-l1 !default;
$color-text-high-contrast: $color-high-contrast-l1 !default;
$color-text-brand: $color-brand-l1 !default;
$color-text-primary: $color-primary-l1 !default;
$color-text-info: $color-info-l1 !default;
$color-text-success: $color-success-l1 !default;
$color-text-warn: $color-warn-l1 !default;
$color-text-error: $color-error-l1 !default;

$background-color-low-contrast: $color-low-contrast-d1 !default;
$background-color-neutral: $color-neutral-d1 !default;
$background-color-high-contrast: $color-high-contrast-d1 !default;
$background-color-primary: $color-primary-d1 !default;
$background-color-info: $color-info-d1 !default;
$background-color-success: $color-success-d1 !default;
$background-color-warn: $color-warn-d1 !default;
$background-color-error: $color-error-d1 !default;

$border-color: $color-neutral-d3 !default;
$border: $border-width $border-style $border-color !default;
$hr-color: $border-color !default;

$color-outline: l1 !default;

$label-color: $color-neutral-l1 !default;

$color-disabled-light: $color-neutral-d2 !default;
$color-disabled-dark: rgba($color-neutral-d3, 0.5) !default;

// switch
$color-switch-off: $color-neutral-d2 !default;
$color-switch-on: l1 !default;
$color-switch-indicator: $color-neutral-d4 !default;

$color-switch-disabled: $color-disabled-dark !default;
$color-switch-indicator-disabled: $color-disabled-light !default;

// checkbox
$background-color-checkbox: l2 !default;
$border-color-checkbox: l1 !default;

// solid button
$background-solid-button-light: l2 !default;
$background-solid-button-dark: l1 !default;

// high-contrast buttons
$background-high-contrast-solid-button-light: $color-text !default;
$background-high-contrast-solid-button-dark: $color-high-contrast-l1 !default;

// low-contrast buttons
$background-low-contrast-solid-button-light: $color-low-contrast-d3 !default;
$background-low-contrast-solid-button-dark: $color-low-contrast-d5 !default;
$color-low-contrast-solid-button: $color-low-contrast-l4 !default;
$color-low-contrast-outline-button: $color-low-contrast-d3 !default;

// text button
$color-text-button: l1 !default;
$background-color-text-button-hover: rgba($color-neutral-d3, 0.25) !default;
$background-color-text-button-active: rgba($color-neutral-d3, 0.5) !default;

// label
$color-label: l1 !default;

// note
$border-color-note: l1 !default;
$background-color-note: d4 !default;
$background-opacity-note: 0.125 !default;
$color-note: $color-neutral-l3 !default;

// link
$color-link: $color-primary-l1 !default;
$color-link-hover: $color-primary-l2 !default;
$color-link-visited: darken($color-primary-l1, 15%) !default;

// icon
$color-icon: l1 !default;

// action menu
$color-action-menu-hover: $color-neutral-d3 !default;
$color-action-menu-selected: l1 !default;

// selection
$background-color-selection: $color-brand-l1 !default;

// pre
$color-pre: $color-primary-l3 !default;
$background-color-pre: darken($color-neutral-d3, 3) !default;

// toggle
$color-toggle: l1 !default;
$color-toggle-selected: $color-neutral-d5 !default;
$border-color-toggle: $color-neutral-d3 !default;

// radio buttons
$background-radio-button: linear-gradient(0deg, $color-neutral-d3 0%, $color-neutral-d5 100%) !default;
$color-radio-button-label: $color-neutral-l3 !default;

// input
$border-color-input: $color-neutral-d2 !default;
$background-color-input: rgba($color-neutral-d5, 0.5) !default;
$background-color-input-active: $color-neutral-d5 !default;
$border-color-input-selected: l1 !default;
$color-placeholder: $color-disabled-light !default;

// drop zone
$color-drop-zone: $color-neutral-l1 !default;

// file
$color-list-item: l1 !default;

// alerts
$box-shadow-alert: 0.5 * $base-space 0.5 * $base-space 2 * $base-space $color-neutral-d5 !default;
$color-alert: l1 !default;
$background-color-toast: l1 !default;
$color-toast: d4 !default;

// dropdown / dropdown menu / select
$border-color-dropdown: $color-neutral-d3 !default;
$background-color-dropdown-menu-highlight: l1 !default;

// tabs
$color-tab-selected: l1 !default;
$border-color-tabs-underline: transparentize($color-neutral-d3, 0.667) !default;

// footer
$background-color-footer: darken($color-neutral-d4, 2.5) !default;
$border-top-footer: none !default;

// skeleton loader
$color-loading-1: $color-neutral-d3 !default;
$color-loading-2: $color-neutral-d2 !default;
$color-loading-3: rgba($color-neutral-d2, 0.5) !default;

// chip
$color-chip: l1 !default;

// scrollbars
$color-scrollbar: rgba(white, 0.05) !default;

// overlays
$background-color-overlay: rgba($color-neutral-d5, 0.75) !default;

// toggle chips
$color-toggle-chip: l1 !default;
$color-toggle-chip-text: $color-text !default;
$border-color-toggle-chip: $color-neutral-d3 !default;
$opacity-toggle-chip: 0.15 !default;
