/* theme variable */
$neon-theme: 'classic' !default;

/* base colors */
$color-brand: #5b0a9b !default;
$color-primary: #34b587 !default;
$color-info: #3c8eff !default;
$color-success: #34b587 !default;
$color-warn: #ffb22a !default;
$color-error: #ec4145 !default;

/* layout */
$base-space: 4px !default;
$max-paragraph-width: 70ch !default;
$max-page-width: 1920px !default;

/* vertical layout spacing, used for margins and paddings of layout components */
$spacing-vertical-mobile: 3 * $base-space !default;
/* ratio of horizontal to vertical spacing */
$spacing-horizontal-multiplier: 1.1667 !default;
/* ratio of tablet to mobile spacing */
$spacing-multiplier-tablet: 1.5 !default;
/* ratio of desktop to mobile spacing */
$spacing-multiplier-desktop: 2 !default;

/* animation */
$animation-speed-slow: 0.3s !default;
$animation-speed-fast: 0.225s !default;

/* borders */
$border-radius: 4px !default;
$border-width: 1px !default;
$border-style: solid !default;

/* typography */
$typography-scale: 1.125 !default; // Major second https://type-scale.com/
$base-font-size: 16px !default;

$font-size-xxs: round($base-font-size / ($typography-scale * $typography-scale * $typography-scale)) !default;
$font-size-xs: round($base-font-size / ($typography-scale * $typography-scale)) !default;
$font-size-s: round($base-font-size / $typography-scale) !default;
$font-size-l: round($base-font-size * $typography-scale) !default;

$letter-spacing-s: 0.25px !default;
$letter-spacing-m: 0.5px !default;
$letter-spacing-l: 1px !default;

$h6-size: $font-size-l !default;
$h5-size: round($base-font-size * $typography-scale * $typography-scale) !default;
$h4-size: round($base-font-size * $typography-scale * $typography-scale * $typography-scale) !default;
$h3-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale
) !default;
$h2-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale
) !default;
$h1-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale *
    $typography-scale
) !default;
// AKA branding font size, used for landing page & banners etc...
$h0-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale *
    $typography-scale * $typography-scale * $typography-scale
) !default;

$h6-weight: 500 !default;
$h5-weight: 500 !default;
$h4-weight: 500 !default;
$h3-weight: 500 !default;
$h2-weight: 500 !default;
$h1-weight: 500 !default;
$h0-weight: 500 !default;

$font-weight-em: 200 !default;
$font-weight-strong: 800 !default;

$letter-spacing-headings: 0 !default;

$line-height-headings-ratio: 1.2 !default;
$line-height-ratio: 1.618 !default;
$line-height-one: 1.125 !default; // hack for line-height: 1 to prevent cropping of content below the baseline e.g. 'g'

$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$body-font-family: $system-font-stack !default;
$body-font-weight: 400 !default;

$heading-font-family: $body-font-family !default;
$font-style-headings: normal !default;

$font-family-paragraph: $body-font-family !default;
$font-family-monospaced: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace !default;

$logo-width-multiplier: 3.84776 !default; // logo ratio of width to height

/* components */

/* gradient config */
$background-gradient-angle: 160deg !default;
/* % offset where background gradient switches to alternate-color */
$background-gradient-offset: 33% !default;

/* smaller sizes for labels only */
$size-xxs: 4 * $base-space !default;
$size-xs: 6 * $base-space !default;
/* standard label & input sizes */
$size-s: 8 * $base-space !default;
$size-m: 10 * $base-space !default;
$size-l: 12 * $base-space !default;
/* buttons only */
$size-xl: 16 * $base-space !default;

/* box shadows */
$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.014), 0 4px 4px rgba(0, 0, 0, 0.028), 0 6px 6px rgba(0, 0, 0, 0.03) !default;
$box-shadow-strong: 0 2px 2px rgba(0, 0, 0, 0.028), 0 4px 4px rgba(0, 0, 0, 0.056), 0 6px 6px rgba(0, 0, 0, 0.06) !default;
$inset-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.014), inset 0 4px 4px rgba(0, 0, 0, 0.028),
  inset 0 6px 6px rgba(0, 0, 0, 0.03) !default;

/* top nav */
$top-nav-height-mobile: $size-s + 4 * $base-space !default;
$top-nav-height-tablet: $size-m + 6 * $base-space !default;
$top-nav-height-desktop: $size-l + 8 * $base-space !default;

/* footer */
$footer-height-mobile: $font-size-s + 8 * $base-space !default;
$footer-height-tablet: $font-size-s + 8 * $base-space !default;
$footer-height-desktop: $base-font-size + 12 * $base-space !default;

/* side nav */
$side-nav-width: 80 * $base-space !default;

/* card */
$card-section-border: $border-width $border-style !default;
$card-box-shadow: $box-shadow !default;

/* checkbox */
$border-width-checkbox: 1px !default;

/* alerts */
$width-alert: 400px !default;
$width-alert-action: 96px !default;
$border-width-alert: $border-width !default;
$border-opacity-alert-action: 0.25 !default;
$width-toast: 250px !default;

/* dropdown */
$max-height-dropdown: 280px !default;

/* buttons */
$border-radius-button: $border-radius !default;
$border-radius-button-xl: 8px !default;
$border-width-outline-button: $border-width !default;

/* tabs */
$border-width-tabs: 2px !default;

/* chips */
$border-radius-chip: $border-radius !default;

/* scrollbars */
$width-scrollbar: 6px !default;
$border-radius-scrollbar: 4px !default;

/* tooltips */
$tooltip-max-width: 144px !default;
$tooltip-max-height: 3 * $tooltip-max-width !default;
$popover-max-width: 480px !default;
$popover-max-height: 3 * $tooltip-max-width !default;
$border-width-tooltip: 1px !default;

/* drawer */
$border-width-drawer: 0 !default;
$border-radius-drawer: 12px !default;

/* radio buttons */
$border-radius-radio-button: 50% !default;

/* switch */
$border-radius-switch: 4 * $base-space !default;
$border-radius-switch-indicator: 50% !default;

/* note */
$border-width-note: $border-width !default;

/* slider & range slider */
$height-slider-track: 8px !default;
$height-slider-thumb: 3 * $height-slider-track !default;
$width-slider-thumb: $height-slider-thumb !default;
$border-radius-slider-thumb: 50% !default;
$border-radius-slider-track: $height-slider-track !default;
$border-radius-slider-tooltip: $border-radius !default;

/* input */
$border-radius-input: $border-radius !default;

/* skeleton loader */
$border-radius-skeleton-loader: $border-radius !default;

/* expansion panel */
$border-width-expansion-panel: $border-width !default;
