@use 'sass:math';
@use '../../src/sass/global/global';
@use 'dark';
@use 'light';
@use '../../src/sass/components';

$neon-color-brand: #8b0dee !default;
$neon-color-primary: #f5b104 !default;
$neon-color-info: #0550e7 !default;
$neon-color-success: #0fdd95 !default;
$neon-color-warn: #f3840c !default;
$neon-color-error: #f80521 !default;

/* theme variable */
$neon-theme: 'classic' !default;

/* base colors */
$neon-color-brand: $neon-color-brand !default;
$neon-color-primary: $neon-color-primary !default;
$neon-color-info: $neon-color-info !default;
$neon-color-success: $neon-color-success !default;
$neon-color-warn: $neon-color-warn !default;
$neon-color-error: $neon-color-error !default;

/* layout */
$neon-base-space: 4px !default;
$neon-max-paragraph-width: 70ch !default;
$neon-max-page-width: 1920px !default;

/* vertical layout spacing, used for margins and paddings of layout components */
$neon-spacing-vertical-mobile: 4 * $neon-base-space !default;
/* ratio of horizontal to vertical spacing */
$neon-spacing-horizontal-multiplier: 1 !default;
/* ratio of tablet to mobile spacing */
$neon-spacing-multiplier-tablet: 1.5 !default;
/* ratio of desktop to mobile spacing */
$neon-spacing-multiplier-desktop: 2 !default;

/* mobile spacing */
$spacing-horizontal-mobile: $neon-spacing-vertical-mobile * $neon-spacing-horizontal-multiplier !default;
/* tablet spacing */
$spacing-vertical-tablet: $neon-spacing-vertical-mobile * $neon-spacing-multiplier-tablet !default;
$spacing-horizontal-tablet: $spacing-horizontal-mobile * $neon-spacing-multiplier-tablet !default;
/* desktop spacing */
$spacing-vertical-desktop: $neon-spacing-vertical-mobile * $neon-spacing-multiplier-desktop !default;
$spacing-horizontal-desktop: $spacing-horizontal-mobile * $neon-spacing-multiplier-desktop !default;

/* animation */
$neon-animation-speed-slow: 0.3s !default;
$neon-animation-speed-fast: 0.225s !default;

/* borders */
$neon-border-radius: 4px !default;
$neon-border-width: 1px !default;
$neon-border-width-separator-before: 1px !default;
$neon-border-style: solid !default;

/* typography */
$neon-typography-scale: 1.125; // Major second https://type-scale.com !default;/
$neon-base-font-size: 16px !default;

$neon-font-size-xxs: math.div($neon-base-font-size, $neon-typography-scale * $neon-typography-scale * $neon-typography-scale) !default;
$neon-font-size-xs: math.div($neon-base-font-size, $neon-typography-scale * $neon-typography-scale) !default;
$neon-font-size-s: math.div($neon-base-font-size, $neon-typography-scale) !default;
$neon-font-size-m: $neon-base-font-size !default;
$neon-font-size-l: $neon-base-font-size * $neon-typography-scale !default;

$neon-letter-spacing-s: 0.25px !default;
$neon-letter-spacing-m: 0.5px !default;
$neon-letter-spacing-l: 1px !default;

$neon-h6-size: $neon-font-size-l !default;
$neon-h5-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale !default;
$neon-h4-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale;
$neon-h3-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale;
$neon-h2-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale;
$neon-h1-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale;
/* AKA branding font size, used for landing page & banners etc...*/
$neon-h0-size: $neon-base-font-size * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale * $neon-typography-scale;

$neon-h6-weight: 500 !default;
$neon-h5-weight: 500 !default;
$neon-h4-weight: 500 !default;
$neon-h3-weight: 500 !default;
$neon-h2-weight: 500 !default;
$neon-h1-weight: 500 !default;
$neon-h0-weight: 500 !default;

$neon-font-weight-em: 200 !default;
$neon-font-weight-strong: 800 !default;

$neon-letter-spacing-headings: 0 !default;

$neon-line-height-headings-ratio: 1.2 !default;
$neon-line-height-ratio: 1.618 !default;
$neon-line-height-one: 1.125; // hack for line-height: 1 to prevent cropping of content below the baseline e.g. 'g !default;'

$neon-system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !default;
,
'Apple Color Emoji'
,
'Segoe UI Emoji'
,
'Segoe UI Symbol'
;

$neon-body-font-family: $neon-system-font-stack !default;
$neon-body-font-weight: 400 !default;

$neon-heading-font-family: $neon-body-font-family !default;
$neon-font-style-headings: normal !default;

$neon-font-family-paragraph: $neon-body-font-family !default;
$neon-font-family-monospaced: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace !default;

$neon-logo-width-multiplier: 3.84776; // logo ratio of width to heigh !default;t

/* components */

/* gradient config */
$neon-background-gradient-angle: 90deg !default;
/* % offset where background gradient switches to alternate-color */
$neon-background-gradient-offset: 33% !default;
$neon-background-gradient-offset-hover: 50% !default;

/* smaller sizes for labels only */
$neon-size-xxs: 4 * $neon-base-space !default;
$neon-size-xs: 6 * $neon-base-space !default;
/* standard label & input sizes */
$neon-size-s: 8 * $neon-base-space !default;
$neon-size-m: 10 * $neon-base-space !default;
$neon-size-l: 12 * $neon-base-space !default;
/* buttons only */
$neon-size-xl: 16 * $neon-base-space !default;

/* box shadows */
$neon-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.014), 0 4px 4px rgba(0, 0, 0, 0.028), 0 6px 6px rgba(0, 0, 0, 0.03) !default;
$neon-box-shadow-strong: 0 2px 2px rgba(0, 0, 0, 0.028), 0 4px 4px rgba(0, 0, 0, 0.056), 0 6px 6px rgba(0, 0, 0, 0.06) !default;
$neon-inset-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.014), inset 0 4px 4px rgba(0, 0, 0, 0.028),
inset 0 6px 6px rgba(0, 0, 0, 0.03) !default;

/* top nav */
$neon-top-nav-height-mobile: $neon-size-s + 4 * $neon-base-space !default;
$neon-top-nav-height-tablet: $neon-size-m + 6 * $neon-base-space !default;
$neon-top-nav-height-desktop: $neon-size-l + 8 * $neon-base-space !default;

/* footer */
$neon-footer-height-mobile: $neon-font-size-s + 8 * neon-base-space !default;
$neon-footer-height-tablet: $neon-font-size-s + 8 * neon-base-space !default;
$neon-footer-height-desktop: $neon-base-font-size + 12 * neon-base-space !default;

/* side nav */
$neon-side-nav-width: 80 * $neon-base-space !default;

/* card */
$neon-card-section-border: $neon-border-width $neon-border-style !default;
$neon-border-radius-card: $neon-border-radius !default;
$neon-card-box-shadow: $neon-box-shadow !default;

/* checkbox */
$neon-border-width-checkbox: 1px !default;
$neon-border-radius-checkbox: $neon-border-radius !default;

/* alerts */
$neon-width-alert: 400px !default;
$neon-width-alert-action: 96px !default;
$neon-border-width-alert: $neon-border-width !default;
$neon-border-opacity-alert-action: 0.25 !default;
$neon-width-toast: 250px !default;

/* dropdown */
$neon-max-height-dropdown: 280px !default;

/* buttons */
$neon-border-radius-button: $neon-border-radius !default;
$neon-border-radius-button-xl: 8px !default;
$neon-border-width-outline-button: $neon-border-width !default;

/* tabs */
$neon-border-width-tabs: 2px !default;

/* chips */
$neon-border-radius-chip: $neon-border-radius !default;

/* scrollbars */
$neon-width-scrollbar: 6px !default;
$neon-border-radius-scrollbar: 4px !default;

/* tooltips */
$neon-tooltip-max-width: 144px !default;
$neon-tooltip-max-height: 3 * $neon-tooltip-max-width !default;
$neon-popover-max-width: 480px !default;
$neon-popover-max-height: 3 * $neon-tooltip-max-width !default;
$neon-border-width-tooltip: 1px !default;

/* drawer */
$neon-border-width-drawer: 0 !default;
$neon-border-radius-drawer: 12px !default;

/* radio buttons */
$neon-border-radius-radio-button: 50% !default;
$neon-border-width-radio-button: $neon-border-width !default;

/* switch */
$neon-border-radius-switch: 4 * $neon-base-space !default;
$neon-border-radius-switch-indicator: 50% !default;

/* note */
$neon-border-width-note: 6px !default;

/* slider & range slider */
$neon-height-slider-track: 8px !default;
$neon-height-slider-thumb: 3 * $neon-height-slider-track !default;
$neon-width-slider-thumb: $neon-height-slider-thumb !default;
$neon-border-radius-slider-thumb: 50% !default;
$neon-border-radius-slider-track: neon-height-slider-track !default;
$neon-border-radius-slider-tooltip: neon-border-radius !default;

/* input */
$neon-border-radius-input: neon-border-radius !default;

/* skeleton loader */
$neon-border-radius-skeleton-loader: neon-border-radius !default;

/* expansion panel */
$neon-border-width-expansion-panel: neon-border-width !default;

/* table */
$neon-border-width-table: neon-border-width !default;

/* label */
$neon-border-radius-label: neon-border-radius !default;

/* badge */
$neon-background-gradient-angle-badge: 45deg !default;

/* color input */
$neon-border-radius-input-color: 0.5 * $neon-border-radius !default;

/* dialog */
$neon-max-width-dialog: 250px !default;
$neon-min-height-dialog: 275px !default;
$neon-font-style-dialog: italic !default;

/* progress linear */
$neon-opacity-background-progress: 0.0625 !default;
$neon-border-radius-progress-indicator: $neon-base-space !default;

@mixin import($neon-components: null) {
  .neon-theme--classic {
    @include global.init($neon-color-brand, $neon-color-primary, $neon-color-info, $neon-color-success, $neon-color-warn, $neon-color-error);
    @include dark.import($neon-components);
    @include light.import($neon-components);
    @include components.import($neon-components);
  }
}