@import '../../src/sass/includes/farbig/farbig';

/* base colors */
$color-brand: #5b0a9b !default;
$color-primary: #3a9b79 !default;
$color-info: #3c8eff !default;
$color-success: #3a9b79 !default;
$color-warn: #ffb22a !default;
$color-error: #ec4145 !default;

/* generate color palettes */
$neutral-palette: neutral-palette() !default;
$low-contrast-palette: low-contrast-palette() !default;
$high-contrast-palette: high-contrast-palette() !default;
$brand-palette: generate-palette($color-brand) !default;
$primary-palette: generate-palette($color-primary) !default;
$info-palette: generate-palette($color-info) !default;
$success-palette: generate-palette($color-success) !default;
$warn-palette: generate-palette($color-warn) !default;
$error-palette: generate-palette($color-error) !default;

@import '../../src/sass/colors/colors';

/* layout */
$base-space: 4px !default;
$max-paragraph-width: 70ch !default;
$max-page-width: 1920px !default;

/* vertical layout spacing, used for margins and paddings of layout components */
$spacing-vertical-mobile: 3 * $base-space !default;
/* ratio of horizontal to vertical spacing */
$spacing-horizontal-multiplier: 1.1667 !default;
/* ratio of tablet to mobile spacing */
$spacing-multiplier-tablet: 1.5 !default;
/* ratio of desktop to mobile spacing */
$spacing-multiplier-desktop: 2 !default;

/* animation */
$animation-speed-slow: 0.3s !default;
$animation-speed-fast: 0.225s !default;

/* borders */
$border-radius: 4px !default;
$border-width: 1px !default;
$border-style: solid !default;

/* typography */
$typography-scale: 1.125 !default; // Major second https://type-scale.com/
$base-font-size: 16px !default;

$font-size-xxs: round($base-font-size / ($typography-scale * $typography-scale * $typography-scale)) !default;
$font-size-xs: round($base-font-size / ($typography-scale * $typography-scale)) !default;
$font-size-s: round($base-font-size / $typography-scale) !default;
$font-size-l: round($base-font-size * $typography-scale) !default;

$h6-size: $font-size-l !default;
$h5-size: round($base-font-size * $typography-scale * $typography-scale) !default;
$h4-size: round($base-font-size * $typography-scale * $typography-scale * $typography-scale) !default;
$h3-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale
) !default;
$h2-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale
) !default;
$h1-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale *
    $typography-scale
) !default;
// AKA branding font size, used for landing page & banners etc...
$h0-size: round(
  $base-font-size * $typography-scale * $typography-scale * $typography-scale * $typography-scale * $typography-scale *
    $typography-scale * $typography-scale * $typography-scale
) !default;

$h6-weight: 500 !default;
$h5-weight: 500 !default;
$h4-weight: 500 !default;
$h3-weight: 500 !default;
$h2-weight: 500 !default;
$h1-weight: 500 !default;
$h0-weight: 500 !default;

$font-weight-em: 200 !default;
$font-weight-strong: 800 !default;

$line-height-headings-ratio: 1.2 !default;
$line-height-ratio: 1.618 !default;
$line-height-one: 1.125 !default; // hack for line-height: 1 to prevent cropping of content below the baseline e.g. 'g'

$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$body-font-family: $system-font-stack !default;
$body-font-weight: 400 !default;

$heading-font-family: $body-font-family !default;
$font-style-headings: normal !default;

$font-family-paragraph: $body-font-family !default;
$font-family-monospaced: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace !default;

$logo-width-multiplier: 3.84776 !default;
$logo-light: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 1289 335" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path fill="%23242424" d="M12.748,330.311c-3.612,0.003 -6.599,-1.175 -8.962,-3.535c-2.362,-2.359 -3.545,-5.344 -3.548,-8.955l-0.228,-300.417c-0.003,-3.611 1.175,-6.598 3.534,-8.961c2.36,-2.363 5.345,-3.546 8.956,-3.548c3.889,-0.003 7.084,1.383 9.586,4.159l211.877,275.256l-0.204,-267.084c-0.002,-3.611 1.176,-6.598 3.535,-8.961c2.36,-2.363 5.345,-3.545 8.956,-3.548c3.333,-0.003 6.251,1.176 8.753,3.535c2.501,2.359 3.754,5.344 3.756,8.955l0.229,300.417c0.003,3.611 -1.245,6.598 -3.743,8.961c-2.498,2.363 -5.414,3.546 -8.748,3.548c-1.944,0.002 -3.68,-0.344 -5.209,-1.037c-1.528,-0.694 -2.848,-1.595 -3.96,-2.706l-212.293,-275.672l0.203,267.084c0.003,3.611 -1.176,6.598 -3.535,8.961c-2.359,2.363 -5.344,3.545 -8.955,3.548Z" style="fill-rule:nonzero;"/><path fill="%23242424" d="M333.352,29.651c-3.611,0.002 -6.598,-1.245 -8.961,-3.744c-2.363,-2.498 -3.546,-5.414 -3.548,-8.747c-0.003,-3.611 1.175,-6.598 3.535,-8.961c2.359,-2.363 5.344,-3.546 8.955,-3.548l250.417,-0.191c3.333,-0.002 6.251,1.176 8.753,3.535c2.501,2.359 3.754,5.345 3.756,8.956c0.003,3.333 -1.245,6.251 -3.743,8.752c-2.498,2.502 -5.414,3.755 -8.747,3.757l-250.417,0.191Zm37.615,150.388c-3.056,-0.276 -5.835,-1.593 -8.337,-3.952c-2.501,-2.359 -3.754,-5.345 -3.756,-8.956c-0.003,-3.333 1.175,-6.181 3.535,-8.544c2.359,-2.363 5.344,-3.685 8.955,-3.965l175,-0.133c3.611,-0.003 6.598,1.175 8.961,3.534c2.363,2.36 3.546,5.345 3.548,8.956c0.003,3.611 -1.175,6.668 -3.534,9.169c-2.359,2.502 -5.345,3.755 -8.956,3.757l-175.416,0.134Zm-37.386,150.028c-3.611,0.003 -6.598,-1.175 -8.961,-3.535c-2.363,-2.359 -3.546,-5.344 -3.549,-8.955c-0.002,-3.334 1.176,-6.251 3.535,-8.753c2.359,-2.502 5.345,-3.754 8.956,-3.757l250.416,-0.19c3.334,-0.003 6.251,1.245 8.753,3.743c2.502,2.498 3.754,5.414 3.757,8.747c0.003,3.611 -1.245,6.598 -3.743,8.961c-2.499,2.363 -5.414,3.546 -8.748,3.549l-250.416,0.19Z" style="fill-rule:nonzero;"/><path fill="%23242424" d="M803.167,333.877c-23.889,0.018 -45.975,-4.132 -66.259,-12.45c-20.284,-8.318 -38.002,-20.04 -53.152,-35.168c-15.151,-15.127 -26.9,-32.827 -35.249,-53.098c-8.349,-20.271 -12.532,-42.352 -12.55,-66.241c-0.018,-23.888 4.132,-45.905 12.45,-66.051c8.318,-20.145 20.04,-37.793 35.168,-52.943c15.127,-15.151 32.826,-26.9 53.098,-35.249c20.271,-8.349 42.351,-12.532 66.24,-12.55c23.889,-0.018 45.906,4.132 66.051,12.45c20.146,8.318 37.793,20.04 52.944,35.168c15.15,15.127 26.9,32.757 35.248,52.889c8.349,20.133 12.532,42.144 12.551,66.033c0.018,23.889 -4.132,45.975 -12.45,66.259c-8.318,20.284 -20.04,38.001 -35.168,53.152c-15.127,15.15 -32.757,26.9 -52.89,35.248c-20.132,8.349 -42.143,12.533 -66.032,12.551Zm-0.019,-25c20,-0.016 38.609,-3.571 55.825,-10.668c17.217,-7.096 32.279,-17.108 45.186,-30.034c12.907,-12.927 22.895,-28.004 29.965,-45.231c7.071,-17.228 10.598,-35.981 10.583,-56.258c-0.016,-20 -3.571,-38.609 -10.668,-55.826c-7.096,-17.216 -17.108,-32.278 -30.034,-45.185c-12.927,-12.907 -28.004,-22.895 -45.231,-29.966c-17.228,-7.07 -35.842,-10.597 -55.842,-10.582c-20.277,0.015 -39.025,3.571 -56.242,10.668c-17.216,7.096 -32.278,17.107 -45.185,30.034c-12.907,12.926 -22.895,28.003 -29.966,45.231c-7.07,17.228 -10.597,35.841 -10.582,55.841c0.015,20.278 3.571,39.026 10.668,56.242c7.096,17.217 17.107,32.279 30.034,45.186c12.926,12.907 28.003,22.895 45.231,29.965c17.228,7.071 35.98,10.598 56.258,10.583Z" style="fill-rule:nonzero;"/><path fill="%23242424" d="M1049,329.523c-3.333,0.003 -6.251,-1.176 -8.752,-3.535c-2.502,-2.359 -3.755,-5.344 -3.757,-8.955l-0.229,-300.417c-0.003,-3.611 1.245,-6.598 3.743,-8.961c2.499,-2.363 5.414,-3.546 8.748,-3.549l226.666,-0.172c3.611,-0.003 6.598,1.176 8.961,3.535c2.363,2.359 3.546,5.344 3.549,8.956l0.228,300.416c0.003,3.611 -1.175,6.598 -3.535,8.961c-2.359,2.363 -5.344,3.546 -8.955,3.549c-3.611,0.002 -6.598,-1.176 -8.961,-3.535c-2.363,-2.36 -3.546,-5.345 -3.549,-8.956l-0.221,-290.416l-201.666,0.153l0.221,290.417c0.002,3.611 -1.176,6.598 -3.535,8.961c-2.359,2.362 -5.345,3.545 -8.956,3.548Z" style="fill-rule:nonzero;"/></svg>') !default;
$logo-dark: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 1289 335" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path fill="%23eeeeee" d="M12.748,330.311c-3.612,0.003 -6.599,-1.175 -8.962,-3.535c-2.362,-2.359 -3.545,-5.344 -3.548,-8.955l-0.228,-300.417c-0.003,-3.611 1.175,-6.598 3.534,-8.961c2.36,-2.363 5.345,-3.546 8.956,-3.548c3.889,-0.003 7.084,1.383 9.586,4.159l211.877,275.256l-0.204,-267.084c-0.002,-3.611 1.176,-6.598 3.535,-8.961c2.36,-2.363 5.345,-3.545 8.956,-3.548c3.333,-0.003 6.251,1.176 8.753,3.535c2.501,2.359 3.754,5.344 3.756,8.955l0.229,300.417c0.003,3.611 -1.245,6.598 -3.743,8.961c-2.498,2.363 -5.414,3.546 -8.748,3.548c-1.944,0.002 -3.68,-0.344 -5.209,-1.037c-1.528,-0.694 -2.848,-1.595 -3.96,-2.706l-212.293,-275.672l0.203,267.084c0.003,3.611 -1.176,6.598 -3.535,8.961c-2.359,2.363 -5.344,3.545 -8.955,3.548Z" style="fill-rule:nonzero;"/><path fill="%23eeeeee" d="M333.352,29.651c-3.611,0.002 -6.598,-1.245 -8.961,-3.744c-2.363,-2.498 -3.546,-5.414 -3.548,-8.747c-0.003,-3.611 1.175,-6.598 3.535,-8.961c2.359,-2.363 5.344,-3.546 8.955,-3.548l250.417,-0.191c3.333,-0.002 6.251,1.176 8.753,3.535c2.501,2.359 3.754,5.345 3.756,8.956c0.003,3.333 -1.245,6.251 -3.743,8.752c-2.498,2.502 -5.414,3.755 -8.747,3.757l-250.417,0.191Zm37.615,150.388c-3.056,-0.276 -5.835,-1.593 -8.337,-3.952c-2.501,-2.359 -3.754,-5.345 -3.756,-8.956c-0.003,-3.333 1.175,-6.181 3.535,-8.544c2.359,-2.363 5.344,-3.685 8.955,-3.965l175,-0.133c3.611,-0.003 6.598,1.175 8.961,3.534c2.363,2.36 3.546,5.345 3.548,8.956c0.003,3.611 -1.175,6.668 -3.534,9.169c-2.359,2.502 -5.345,3.755 -8.956,3.757l-175.416,0.134Zm-37.386,150.028c-3.611,0.003 -6.598,-1.175 -8.961,-3.535c-2.363,-2.359 -3.546,-5.344 -3.549,-8.955c-0.002,-3.334 1.176,-6.251 3.535,-8.753c2.359,-2.502 5.345,-3.754 8.956,-3.757l250.416,-0.19c3.334,-0.003 6.251,1.245 8.753,3.743c2.502,2.498 3.754,5.414 3.757,8.747c0.003,3.611 -1.245,6.598 -3.743,8.961c-2.499,2.363 -5.414,3.546 -8.748,3.549l-250.416,0.19Z" style="fill-rule:nonzero;"/><path fill="%23eeeeee" d="M803.167,333.877c-23.889,0.018 -45.975,-4.132 -66.259,-12.45c-20.284,-8.318 -38.002,-20.04 -53.152,-35.168c-15.151,-15.127 -26.9,-32.827 -35.249,-53.098c-8.349,-20.271 -12.532,-42.352 -12.55,-66.241c-0.018,-23.888 4.132,-45.905 12.45,-66.051c8.318,-20.145 20.04,-37.793 35.168,-52.943c15.127,-15.151 32.826,-26.9 53.098,-35.249c20.271,-8.349 42.351,-12.532 66.24,-12.55c23.889,-0.018 45.906,4.132 66.051,12.45c20.146,8.318 37.793,20.04 52.944,35.168c15.15,15.127 26.9,32.757 35.248,52.889c8.349,20.133 12.532,42.144 12.551,66.033c0.018,23.889 -4.132,45.975 -12.45,66.259c-8.318,20.284 -20.04,38.001 -35.168,53.152c-15.127,15.15 -32.757,26.9 -52.89,35.248c-20.132,8.349 -42.143,12.533 -66.032,12.551Zm-0.019,-25c20,-0.016 38.609,-3.571 55.825,-10.668c17.217,-7.096 32.279,-17.108 45.186,-30.034c12.907,-12.927 22.895,-28.004 29.965,-45.231c7.071,-17.228 10.598,-35.981 10.583,-56.258c-0.016,-20 -3.571,-38.609 -10.668,-55.826c-7.096,-17.216 -17.108,-32.278 -30.034,-45.185c-12.927,-12.907 -28.004,-22.895 -45.231,-29.966c-17.228,-7.07 -35.842,-10.597 -55.842,-10.582c-20.277,0.015 -39.025,3.571 -56.242,10.668c-17.216,7.096 -32.278,17.107 -45.185,30.034c-12.907,12.926 -22.895,28.003 -29.966,45.231c-7.07,17.228 -10.597,35.841 -10.582,55.841c0.015,20.278 3.571,39.026 10.668,56.242c7.096,17.217 17.107,32.279 30.034,45.186c12.926,12.907 28.003,22.895 45.231,29.965c17.228,7.071 35.98,10.598 56.258,10.583Z" style="fill-rule:nonzero;"/><path fill="%23eeeeee" d="M1049,329.523c-3.333,0.003 -6.251,-1.176 -8.752,-3.535c-2.502,-2.359 -3.755,-5.344 -3.757,-8.955l-0.229,-300.417c-0.003,-3.611 1.245,-6.598 3.743,-8.961c2.499,-2.363 5.414,-3.546 8.748,-3.549l226.666,-0.172c3.611,-0.003 6.598,1.176 8.961,3.535c2.363,2.359 3.546,5.344 3.549,8.956l0.228,300.416c0.003,3.611 -1.175,6.598 -3.535,8.961c-2.359,2.363 -5.344,3.546 -8.955,3.549c-3.611,0.002 -6.598,-1.176 -8.961,-3.535c-2.363,-2.36 -3.546,-5.345 -3.549,-8.956l-0.221,-290.416l-201.666,0.153l0.221,290.417c0.002,3.611 -1.176,6.598 -3.535,8.961c-2.359,2.362 -5.345,3.545 -8.956,3.548Z" style="fill-rule:nonzero;"/></svg>') !default;

/* components */
/* smaller sizes for labels only */
$size-xxs: 4 * $base-space !default;
$size-xs: 6 * $base-space !default;
/* standard label & input sizes */
$size-s: 8 * $base-space !default;
$size-m: 10 * $base-space !default;
$size-l: 12 * $base-space !default;
/* buttons only */
$size-xl: 16 * $base-space !default;

$component-letter-spacing-s: 0.25px !default;
$component-letter-spacing-m: 0.5px !default;

/* box shadows */
$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.014), 0 4px 4px rgba(0, 0, 0, 0.028), 0 6px 6px rgba(0, 0, 0, 0.03) !default;
$box-shadow-strong: 0 2px 2px rgba(0, 0, 0, 0.028), 0 4px 4px rgba(0, 0, 0, 0.056), 0 6px 6px rgba(0, 0, 0, 0.06) !default;
$inset-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.014), inset 0 4px 4px rgba(0, 0, 0, 0.028),
  inset 0 6px 6px rgba(0, 0, 0, 0.03) !default;

/* top nav */
$top-nav-height-mobile: $size-s + 4 * $base-space !default;
$top-nav-height-tablet: $size-m + 6 * $base-space !default;
$top-nav-height-desktop: $size-l + 8 * $base-space !default;

/* footer */
$footer-height-mobile: $font-size-s + 8 * $base-space !default;
$footer-height-tablet: $font-size-s + 8 * $base-space !default;
$footer-height-desktop: $base-font-size + 12 * $base-space !default;

/* side nav */
$side-nav-width: 80 * $base-space !default;

/* card */
$card-section-border: $border-width $border-style !default;
$card-box-shadow: $box-shadow !default;

/* checkbox */
$border-width-checkbox: 1px !default;

/* alerts */
$width-alert: 400px !default;
$width-alert-action: 96px !default;
$width-toast: 250px !default;

/* dropdown */
$box-shadow-dropdown: $box-shadow-strong !default;
$max-height-dropdown: 280px !default;

/* buttons */
$border-radius-button-xl: 8px !default;

/* tabs */
$border-width-tabs: 2px !default;

/* chips */
$border-radius-chip: 50px !default;

/* scrollbars */
$width-scrollbar: 6px !default;
$border-radius-scrollbar: 4px !default;

/* tooltips */
$tooltip-max-width: 144px !default;
$tooltip-max-height: 3 * $tooltip-max-width !default;
$popover-max-width: 480px !default;
$popover-max-height: 3 * $tooltip-max-width !default;

@import '../../src/sass/includes/includes';
@import 'src/sass/common';
