.icons-wrapper {
  flex-direction: row;
  flex-wrap: wrap;

  .icon-container {
    min-width: 40 * $base-space;
    min-height: 40 * $base-space;
    justify-content: center;
    align-items: center;

    label {
      margin-top: 4 * $base-space;
    }

    .neon-icon {
      width: 10 * $base-space;
      height: 10 * $base-space;
    }
  }
}
