$notificationIcons: (
  error: $icon-error,
  warning: $icon-warn,
  info: $icon-info,
  success: $icon-success,
);

.snotifyToast {
  box-shadow: 0.5 * $base-space 0.5 * $base-space 2 * $base-space $alert-box-shadow-color;

  &__body {
    color: $color-text;
  }
}

@each $type, $color in $alert-background-colors {
  .snotify-#{$type} {
    background-color: $color;
  }
}

@each $type, $color in $alert-title-colors {
  .snotify-#{$type} {
    .snotifyToast__title {
      color: $color;
    }
  }
}

@each $type, $icon in $notificationIcons {
  .snotify-icon--#{$type} {
    background: $icon;
  }
}
