$alert-colors: (
  info: $info-palette,
  success: $success-palette,
  warn: $warn-palette,
  error: $error-palette,
);

.neon-alert {
  &__message {
    box-shadow: 0.5 * $base-space 0.5 * $base-space 2 * $base-space $box-shadow-color-alert;

    @each $color, $palette in $alert-colors {
      $alert-color: map-get($palette, $color-alert);

      &--#{$color} {
        background-color: rgba($color-inverse, 0.85);

        @supports (backdrop-filter: none) {
          background-color: rgba($alert-color, 0.1);
          backdrop-filter: blur(20px);
        }

        .neon-alert__title {
          color: $alert-color;
        }
      }
    }
  }
}
