.neon-badge {
  &--with-icon,
  &--with-label {
    @each $color, $palette in $neon-functional-colors {
      &.neon-badge--#{$color}:not(.neon-badge--disabled) {
        @if ($color == high-contrast) {
          color: $neon-color-inverse;
          background-color: $neon-color-text;
        } @else {
          color: $neon-background-color-card;
          background-color: map-get($palette, $neon-color-label);
        }
      }
    }
  }

  &--disabled {
    color: $neon-color-disabled-light;
    background-color: $neon-color-disabled-dark;
    cursor: not-allowed;
  }
}
