& {
  background-color: $background-color;
}

*::selection {
  background-color: rgba($background-color-selection, 0.99);
  color: $color-inverse;
}

body {
  background-color: $background-color;
  color: $color-text;
}

label:not(.no-style) {
  color: $label-color;
}

.neon-color-text {
  color: $color-text;
}

.neon-color-inverse {
  color: $color-inverse;
}

.neon-dark-text {
  color: $color-text-dark;
}

.neon-light-text {
  color: $color-text-light;
}

.neon-color-text-low-contrast {
  color: $color-text-low-contrast;
}

.neon-color-text-neutral {
  color: $color-text-neutral;
}

.neon-color-text-high-contrast {
  color: $color-text-high-contrast;
}

.neon-color-text-brand {
  color: $color-text-brand;
}

.neon-color-text-primary {
  color: $color-text-primary;
}

.neon-color-text-info {
  color: $color-text-info;
}

.neon-color-text-success {
  color: $color-text-success;
}

.neon-color-text-warn {
  color: $color-text-warn;
}

.neon-color-text-error {
  color: $color-text-error;
}

hr {
  border-top: $border;
}

ul {
  li {
    &:before {
      color: $color-text-primary;
    }
  }
}

pre {
  color: $color-text-light;
  background-color: $background-color-pre;
}

.neon-square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    padding-bottom: 100%;
  }
}

.neon--error {
  color: $color-text-error;
  font-weight: 500;
  line-height: 1;
  height: $base-font-size;
  margin: 2 * $base-space 0;
}
