.neon-card {
  border: $border-width $border-style $border-color;
  box-shadow: $card-box-shadow;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    background-color: $background-color-card;

    &:not(:last-child) {
      border-bottom: $card-section-border;
      border-bottom-color: $border-color;
    }
  }
}
