.neon-chip {
  border: $border-width $border-style $border-color-toggle-chip;
  background-color: rgba($background-color, 0.125);
  @include color-with-svg($border-color-toggle-chip);

  &:not(.neon-chip--disabled) {
    &:focus,
    &:hover {
      background-color: rgba($border-color-toggle-chip, 0.33);
    }
  }

  @each $color, $palette in $functional-colors {
    &--#{$color}:not(.neon-chip--disabled) {
      border-color: map-get($palette, $color-toggle-chip);
      background-color: rgba(map-get($palette, $color-toggle-chip), $opacity-toggle-chip);
      @include color-with-svg(map-get($palette, $color-toggle-chip));

      &:focus,
      &:hover {
        background-color: rgba(map-get($palette, $color-toggle-chip), 2 * $opacity-toggle-chip);
      }
    }
  }

  &--disabled {
    opacity: 0.85;
    color: $color-disabled-light;
    @include color-with-svg($color-disabled-light);
    border-color: $border-color-toggle-chip;
  }
}
