.neon-chip {
  border: $neon-border-width $neon-border-style $neon-border-color-toggle-chip;
  background-color: rgba($neon-background-color, 0.125);
  @include color-with-svg($neon-border-color-toggle-chip);

  &:not(.neon-chip--disabled) {
    &:focus,
    &:hover {
      background-color: rgba($neon-border-color-toggle-chip, 0.33);
    }
  }

  @each $color, $palette in $neon-functional-colors {
    &--#{$color}:not(.neon-chip--disabled) {
      border-color: map-get($palette, $neon-color-toggle-chip);
      background-color: rgba(map-get($palette, $neon-color-toggle-chip), $neon-opacity-toggle-chip);
      @include color-with-svg(map-get($palette, $neon-color-toggle-chip));

      &:focus,
      &:hover {
        background-color: rgba(map-get($palette, $neon-color-toggle-chip), 2 * $neon-opacity-toggle-chip);
      }
    }
  }

  &--disabled {
    opacity: 0.85;
    color: $neon-color-disabled-light;
    @include color-with-svg($neon-color-disabled-light);
    border-color: $neon-color-disabled-light;
  }
}
