.neon-dropdown {
  &__content {
    background-color: $neon-background-color-card;
    box-shadow: $neon-box-shadow-dropdown;
  }

  &--open,
  &--open-on-hover:hover {
    .neon-dropdown__content {
      border: $neon-border-width $neon-border-style $neon-border-color-dropdown;
    }
  }

  &__badge {
    &:focus {
      outline: none;
    }
  }

  @each $color, $palette in $neon-functional-colors {
    &--#{$color}:not(.neon-dropdown--disabled) {
      .neon-dropdown__badge {
        &:focus {
          .neon-badge {
            @include box-shadow-outline(map-get($palette, $neon-color-label));
          }
        }
      }
    }
  }
}
