.neon-dropdown {
  &__content {
    background-color: $background-color-card;
    box-shadow: $box-shadow-dropdown;
  }

  &--open,
  &--open-on-hover:hover {
    .neon-dropdown__content {
      border: $border-width $border-style $border-color;
    }
  }
}
