.neon-dropdown-menu {
  &__item {
    transition: none;

    &--separator-before {
      border-top: $border-width $border-style $border-color;

      &:first-child {
        border-top: none;
      }
    }

    .neon-link {
      color: $color-text;
    }

    &--disabled {
      &,
      .neon-link {
        color: $color-disabled-light;
      }
    }
  }

  &__items {
    @include scrollbars;
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      .neon-dropdown-menu__item {
        &--highlighted:not(.neon-dropdown-menu__item--disabled):not(.neon-dropdown-menu__item--selected):not(.neon-dropdown-menu__item--group-title) {
          background-color: rgba(map-get($palette, $background-color-dropdown-menu-highlight), 0.125);
        }
      }
    }
  }
}

.neon-dropdown__content {
  &--top-left,
  &--top-right,
  &--left-bottom,
  &--right-bottom {
    .neon-dropdown-menu__item {
      &--separator-before {
        &:first-child {
          border-top: $border-width $border-style $border-color;
        }

        &:last-child {
          border-top: none;
        }
      }
    }
  }
}
