.neon-expansion-panel {
  &--top {
    border-bottom: $border-width-expansion-panel $border-style $border-color;
  }

  &--bottom {
    .neon-expansion-panel__header {
      border-top: $border-width-expansion-panel $border-style $border-color;
    }
  }

  @each $color, $palette in $functional-colors {
    &--#{$color}:not(.neon-expansion-panel--disabled) {
      $expansion-panel-color: map-get($palette, $base-color);

      .neon-expansion-panel__label-container {
        color: $expansion-panel-color;
        @include focus-text-outline($expansion-panel-color);
      }
    }
  }

  &.neon-expansion-panel--disabled {
    .neon-expansion-panel__header {
      color: $color-disabled-light;
    }
  }
}
