.neon-file {
  @each $color, $palette in $functional-colors {
    &--#{$color} {
      .neon-file__file {
        $file-foreground-color: rgba(map-get($palette, $color-file-list), 0.875);
        @include color-with-svg($file-foreground-color);

        background-color: rgba(map-get($palette, $color-file-list), 0.125);

        &:hover {
          $file-hover-color: map-get($palette, $color-file-list);
          @include color-with-svg($file-hover-color);
          background-color: rgba(map-get($palette, $color-file-list), 0.25);
        }
      }
    }

    &--disabled {
      .neon-file__file {
        &,
        &:hover {
          background-color: $color-disabled-dark;
          color: $color-disabled-light;
        }
      }
    }
  }
}
