.neon-expansion-indicator,
.neon-icon {
  .neon-svg--fill {
    fill: $color-text;
    transition: fill ease-in-out $animation-speed-fast;
  }

  .neon-svg--stroke {
    stroke: $color-text;
    transition: stroke ease-in-out $animation-speed-fast;
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      .neon-svg--fill {
        fill: map-get($palette, $color-icon);
      }

      .neon-svg--stroke {
        stroke: map-get($palette, $color-icon);
      }
    }
  }

  &--inverse {
    .neon-svg--fill {
      fill: $color-inverse;
    }

    .neon-svg--stroke {
      stroke: $color-inverse;
    }
  }

  &--disabled {
    .neon-svg--fill {
      fill: $color-disabled-light !important;
    }

    .neon-svg--stroke {
      stroke: $color-disabled-light !important;
    }
  }
}
