.neon-input {
  &__text,
  &__textarea {
    border-color: $neon-border-color-input;
    color: $neon-color-text;
    background-color: $neon-background-color-input;
    box-shadow: $neon-inset-shadow;
    transition: all ease-in-out $neon-animation-speed-fast;

    &::placeholder {
      color: $neon-color-placeholder;
      transition: all ease-in-out $neon-animation-speed-fast;
    }
  }

  @each $color, $palette in $neon-functional-colors {
    $input-color: map-get($palette, $neon-color-input-selected);
    &.neon-input--#{$color} {
      &.neon-input--focused {
        .neon-input__text,
        .neon-input__textarea {
          @if ($neon-theme == smooth) {
            background-color: rgba($input-color, 0.1);

            &::placeholder {
              color: rgba($input-color, 0.75);
            }
          } @else {
            border-color: $input-color;
            background-color: $neon-background-color-input-active;
          }
        }
      }

      .neon-icon:focus {
        background-color: rgba($input-color, 0.125);
        box-shadow: 0 0 0 2px rgba($input-color, 0.125);
      }
    }
  }

  &--disabled {
    .neon-input__text,
    .neon-input__textarea {
      box-shadow: none;
      border-color: $neon-color-disabled-dark;
      background-color: $neon-color-disabled-dark;

      &,
      &::placeholder {
        color: $neon-color-disabled-light;
      }
    }
  }
}
