.neon-input {
  &__text,
  &__textarea {
    border-color: $border-color-input;
    color: $color-text;
    background-color: $background-color-input;
    box-shadow: $inset-shadow;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  @each $color, $palette in $functional-colors {
    $input-color: map-get($palette, $color-input-selected);
    &.neon-input--#{$color} {
      &.neon-input--focused {
        .neon-input__text,
        .neon-input__textarea {
          @if ($neon-theme == curved) {
            background-color: rgba($input-color, 0.125);
          } @else {
            border-color: $input-color;
            background-color: $background-color-input-active;
          }
        }
      }

      .neon-icon:focus {
        background-color: rgba($input-color, 0.125);
        box-shadow: 0 0 0 2px rgba($input-color, 0.125);
      }
    }
  }

  &--disabled {
    .neon-input__text,
    .neon-input__textarea {
      box-shadow: none;
      border-color: $color-disabled-dark;
      background-color: $color-disabled-dark;

      &,
      &::placeholder {
        color: $color-disabled-light;
      }
    }
  }
}
