.neon-list {
  @each $color, $palette in $functional-colors {
    &--#{$color} {
      .neon-list__item {
        $file-foreground-color: rgba(map-get($palette, $color-file-list), 0.875);
        @include color-with-svg($file-foreground-color);

        background-color: rgba(map-get($palette, $color-file-list), 0.125);

        &:hover,
        &:focus {
          $file-hover-color: map-get($palette, $color-file-list);
          @include color-with-svg($file-hover-color);
          background-color: rgba(map-get($palette, $color-file-list), 0.25);
        }
      }
    }

    &--disabled {
      .neon-list__item {
        &,
        &:focus,
        &:hover {
          background-color: $color-disabled-dark;
          color: rgba($color-disabled-light, 0.75);
        }
      }
    }
  }
}
