.neon-menu {
  &__item {
    & > .neon-link {
      color: $color-text-neutral;
      transition: color ease-in-out $animation-speed-fast;
    }

    &--disabled {
      .neon-link {
        color: $color-disabled-light;
      }
    }
  }

  &__wrapper {
    .neon-dropdown:not(.neon-dropdown--disabled) {
      .neon-dropdown__button {
        color: $color-text-neutral;
        transition: color ease-in-out $animation-speed-fast;

        .neon-svg--fill {
          fill: $color-text-neutral;
        }

        .neon-svg--stroke {
          stroke: $color-text-neutral;
        }

        &:hover:not(disabled),
        &:active:not(disabled) {
          background-color: transparent;
          color: $color-text-neutral;
        }
      }

      .neon-dropdown-menu__item {
        &:not(.neon-dropdown-menu__item--highlighted) .neon-link,
        &--group-title {
          color: $color-text-neutral;
        }
      }
    }
  }

  @each $color, $palette in $functional-colors {
    &.neon-menu--#{$color},
    &__responsive-menu.neon-dropdown-menu--#{$color} {
      .neon-menu__item:not(.neon-menu__item--disabled) {
        &:hover:not(.router-link-active),
        &:focus:not(.router-link-active),
        &:active:not(.router-link-active) {
          & > .neon-link,
          .neon-dropdown__button {
            color: rgba(map-get($palette, $color-tab-selected), 0.85);

            .neon-svg--fill {
              fill: rgba(map-get($palette, $color-tab-selected), 0.85);
            }

            .neon-svg--stroke {
              stroke: rgba(map-get($palette, $color-tab-selected), 0.85);
            }
          }
        }

        &:focus-within {
          background-color: rgba(map-get($palette, $background-color-dropdown-menu-highlight), 0.125);

          & > .neon-link:not(.router-link-active),
          .neon-button:not(.router-link-active) {
            color: $color-text;

            .neon-svg--fill {
              fill: $color-text;
            }

            .neon-svg--stroke {
              stroke: $color-text;
            }
          }
        }
      }

      .router-link-active {
        color: map-get($palette, $color-tab-selected);

        .neon-dropdown__button {
          color: map-get($palette, $color-tab-selected);
        }

        .neon-svg--fill {
          fill: rgba(map-get($palette, $color-tab-selected), 0.85);
        }

        .neon-svg--stroke {
          stroke: rgba(map-get($palette, $color-tab-selected), 0.85);
        }
      }
    }
  }
}
