.neon-notification-counter {
  &--default {
    background-color: $background-color-notification-counter;
    color: $color-text-light;
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      color: $color-inverse;
      @if ($color == high-contrast) {
        background-color: $color-text;
      } @else {
        background-color: map-get($palette, $color-label);
      }
    }
  }
}
