.neon-note {
  color: $color-note;

  strong {
    color: $color-text;
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      background-color: rgba(map-get($palette, $background-color-note), 0.5);
      border: $border-width $border-style map-get($palette, $border-color-note);
    }
  }

  .neon-button.neon-button--s.neon-button--icon-only {
    min-width: $size-xs;
    width: $size-xs;
    height: $size-xs;

    &:focus:not(:disabled) {
      box-shadow: none;
    }
  }
}

blockquote {
  color: $color-note;

  strong {
    color: $color-text;
  }

  background-color: rgba(map-get($primary-palette, $background-color-note), 0.5);
  border: $border-width $border-style map-get($primary-palette, $border-color-note);
}
