.neon-number {
  @each $color, $palette in $functional-colors {
    $number-component-color: map-get($palette, $border-color-input-selected);
    &--#{$color}.neon-number--with-buttons:not(.neon-number--disabled) {
      .neon-input__textfield {
        border-color: $number-component-color;

        &:focus {
          border-right: $border-width $border-style $number-component-color;
        }
      }

      .neon-button.neon-number__decrement:not(.neon-button--disabled),
      .neon-button.neon-number__increment:not(.neon-button--disabled) {
        background-color: rgba($number-component-color, 0.0625);

        .neon-svg--fill {
          fill: $color-text;
        }

        &:hover,
        &:focus {
          background-color: rgba($number-component-color, 0.25);
          box-shadow: none;

          .neon-svg--fill {
            fill: $color-text;
          }
        }
      }

      .neon-button.neon-number__decrement.neon-button--disabled,
      .neon-button.neon-number__increment.neon-button--disabled {
        border-color: $number-component-color;
      }
    }

    &--#{$color}:not(.neon-number--with-buttons) {
      .neon-input__textfield {
        border-right: $border-width $border-style $border-color-input;
      }
    }
  }

  .neon-button--disabled {
    &.neon-number__decrement,
    &.neon-number__increment {
      background-color: $color-disabled-dark;

      .neon-svg--fill {
        fill: $color-disabled-light;
      }
    }
  }

  &:not(.neon-number--editable) {
    &:not(.neon-number--disabled) .neon-number__input .neon-input__textfield {
      color: $color-text;
      background-color: $background-color-input;
      box-shadow: none;
    }
  }

  &--disabled {
    .neon-button--disabled {
      &.neon-number__decrement,
      &.neon-number__increment {
        border: $border-width $border-style $color-disabled-dark;
      }
    }

    &:not(.neon-number--with-buttons) .neon-input__textfield {
      border-right: $border-width $border-style $color-disabled-dark;
    }
  }
}
