@mixin range-slider-track-lower($color-slider-fill) {
  background: linear-gradient($color-slider-track, $color-slider-track) 0 / var(--sx) 100% no-repeat $color-slider-fill;
}

@mixin range-slider-track-upper {
  background: linear-gradient($color-slider-track, $color-slider-track) 101% / calc(100% - var(--sx)) 100% no-repeat;
}

@mixin range-slider-track-lower-disabled {
  background: linear-gradient($color-disabled-dark, $color-disabled-dark) 0 / var(--sx) 100% no-repeat
    $color-disabled-light;
}

.neon-range-slider {
  .neon-range-slider__lower {
    @each $color, $palette in $functional-colors {
      &.neon-slider--#{$color} {
        $color-slider-fill: map-get($palette, $color-slider);

        .neon-slider__input {
          &::-webkit-slider-runnable-track {
            @include range-slider-track-lower($color-slider-fill);
          }

          &::-moz-range-track {
            @include range-slider-track-lower($color-slider-fill);
          }

          &::-ms-track {
            @include range-slider-track-lower($color-slider-fill);
          }
        }
      }
    }

    &.neon-slider--disabled {
      .neon-slider__input {
        &::-webkit-slider-runnable-track {
          @include range-slider-track-lower-disabled;
        }

        &::-moz-range-track {
          @include range-slider-track-lower-disabled;
        }

        &::-ms-track {
          @include range-slider-track-lower-disabled;
        }
      }
    }
  }

  .neon-range-slider__upper {
    .neon-slider__input {
      &::-webkit-slider-runnable-track {
        @include range-slider-track-upper;
      }

      &::-moz-range-track {
        @include range-slider-track-upper;
      }

      &::-ms-track {
        @include range-slider-track-upper;
      }
    }
  }
}
