.neon-select {
  &__option {
    &--separator-before {
      border-top: $border-width $border-style $border-color;

      &:first-child {
        border-top: none;
      }
    }

    .neon-link {
      color: $color-text;
    }

    &--disabled {
      &,
      .neon-link {
        color: $color-disabled-light;
      }
    }
  }

  &__options {
    @include scrollbars;
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      .neon-select__option {
        &--selected {
          background-color: rgba(map-get($palette, $background-color-dropdown-menu-highlight), 0.2);
        }

        &--highlighted:not(.neon-select__option--disabled):not(.neon-select__option--selected) {
          background-color: rgba(map-get($palette, $background-color-dropdown-menu-highlight), 0.125);
        }
      }
    }
  }
}

.neon-dropdown__content {
  &--top-left,
  &--top-right,
  &--left-bottom,
  &--right-bottom {
    .neon-select__option {
      &--separator-before {
        &:first-child {
          border-top: $border-width $border-style $border-color;
        }

        &:last-child {
          border-top: none;
        }
      }
    }
  }
}
