/* from https://css-tricks.com/sliding-nightmare-understanding-range-input/ */
@mixin track-color($color-slider-fill) {
  background: $color-slider-track;
  background: linear-gradient($color-slider-fill, $color-slider-fill) 0 / var(--sx) 100% no-repeat $color-slider-track;
}

@mixin disabled-track {
  cursor: not-allowed;
  background: linear-gradient($color-disabled-dark, $color-disabled-dark) 0 / var(--sx) 100% no-repeat
    rgba($color-disabled-dark, 0.5);
}

@mixin thumb-color($border-slider-thumb) {
  background: $slider-thumb-color;
  box-shadow: $box-shadow-slider;
  border: $border-slider-thumb;
}

@mixin thumb-disabled {
  cursor: not-allowed;
  background: $color-disabled-dark;
  box-shadow: none;
  border-color: $color-disabled-dark;
}

.neon-slider {
  &__legend {
    color: $color-placeholder;
  }

  &__tooltip {
    div {
      box-shadow: $card-box-shadow;
      color: $color-inverse;
    }
  }

  &__input {
    &::-webkit-slider-thumb {
      @include thumb-color($border-slider-thumb);
    }

    &::-moz-range-thumb {
      @include thumb-color($border-slider-thumb);
    }

    &::-ms-thumb {
      @include thumb-color($border-slider-thumb);
    }
  }

  @each $color, $palette in $functional-colors {
    &--#{$color} {
      $color-slider-fill: map-get($palette, $color-slider);
      /* create a transparent fixed width container to position centered above the thumb, that way we can center the
         variable width contents using flex */
      .neon-slider__tooltip {
        div {
          background: $color-slider-fill;

          &:after {
            border-top-color: $color-slider-fill;
          }
        }
      }

      .neon-slider__input {
        &::-webkit-slider-runnable-track {
          @include track-color($color-slider-fill);
        }

        &::-moz-range-track {
          @include track-color($color-slider-fill);
        }

        &::-ms-track {
          @include track-color($color-slider-fill);
        }

        @if ($theme == 'sharp') {
          $border-slider-thumb-sharp: $border-width $border-style $color-slider-fill;
          &::-webkit-slider-thumb {
            @include thumb-color($border-slider-thumb-sharp);
          }

          &::-moz-range-thumb {
            @include thumb-color($border-slider-thumb-sharp);
          }

          &::-ms-thumb {
            @include thumb-color($border-slider-thumb-sharp);
          }
        }
      }
    }
  }

  &.neon-slider--disabled {
    .neon-slider__input {
      &::-webkit-slider-runnable-track {
        @include disabled-track;
      }

      &::-moz-range-track {
        @include disabled-track;
      }

      &::-ms-track {
        @include disabled-track;
      }

      &::-webkit-slider-thumb {
        @include thumb-disabled;
      }

      &::-moz-range-thumb {
        @include thumb-disabled;
      }

      &::-ms-thumb {
        @include thumb-disabled;
      }
    }
  }
}
