.neon-tabs {
  .neon-tabs__menu-item {
    border-bottom: $border-width-tabs $border-style transparent;
  }

  @each $color, $palette in $functional-colors {
    &.neon-tabs--#{$color} {
      .neon-tabs__menu-item {
        &:hover:not(.neon-tabs__menu-item--selected),
        &:active:not(.neon-tabs__menu-item--selected) {
          color: rgba(map-get($palette, $color-tab-selected), 0.85);

          .neon-svg--fill {
            fill: rgba(map-get($palette, $color-tab-selected), 0.85);
          }

          .neon-svg--stroke {
            stroke: rgba(map-get($palette, $color-tab-selected), 0.85);
          }
        }

        &--selected {
          color: map-get($palette, $color-tab-selected);
          border-bottom-color: map-get($palette, $color-tab-selected);
        }
      }
    }
  }
}
