table {
  thead {
    tr {
      th {
        border-bottom: $neon-border-width $neon-border-style $neon-label-color;
        color: $neon-label-color;
      }
    }
  }

  &.neon-table--hover {
    tbody {
      tr:hover {
        background-color: rgba($neon-color-text-low-contrast, 0.125);
      }
    }
  }

  border-bottom: $neon-border-width $neon-border-style $neon-label-color;
}
