$alert-colors: (
  info: $info-palette,
  success: $success-palette,
  warn: $warn-palette,
  error: $error-palette,
);

.neon-toast__message {
  box-shadow: $box-shadow-alert;

  @each $color, $palette in $alert-colors {
    $alert-background-color: map-get($palette, $background-color-toast);
    $alert-color: map-get($palette, $color-toast);

    &.neon-toast__message--#{$color} {
      background-color: $alert-background-color;
      @include color-with-svg($alert-color);

      &:focus-within {
        @include box-shadow-outline($alert-background-color);
      }
    }
  }
}
