@mixin toggle-color($color, $toggle-color) {
  &:not(.neon-toggle--disabled).neon-toggle--#{$color} {
    color: rgba($color-text, 0.7);

    label {
      border: $border-width $border-style $border-color;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      & + label {
        margin-left: -$border-width;
      }

      &.neon-toggle__label--checked {
        border-color: $toggle-color;
        background-color: rgba($toggle-color, 0.125);
      }

      &:hover:not(.neon-toggle__label--disabled):not(.neon-toggle__label--checked) {
        background-color: rgba($border-color, 0.375);
      }
    }
  }
}

@mixin toggle-colors() {
  @each $color, $palette in $functional-colors {
    @if ($color == high-contrast) {
      @include toggle-color($color, $color-text);
    } @else {
      @include toggle-color($color, map-get($palette, $color-toggle));
    }
  }

  &.neon-toggle--disabled {
    border: $border-width $border-style $color-disabled-dark;

    .neon-toggle__label {
      color: $color-disabled-light;
      border-color: $color-disabled-dark;
    }
  }

  .neon-toggle__label--disabled {
    color: $color-disabled-light;
  }

  &.neon-toggle--disabled .neon-toggle__label--checked,
  .neon-toggle__label--disabled.neon-toggle__label--checked {
    color: $color-disabled-light;
    border-color: $color-disabled-dark;
    background-color: $color-disabled-dark;
  }
}
