@mixin toggle-color($color, $toggle-color) {
  &:not(.neon-toggle--disabled).neon-toggle--#{$color} {
    color: rgba($neon-color-text, 0.7);

    .neon-toggle__label:not(.neon-toggle__label--disabled) {
      border: $neon-border-width $neon-border-style $neon-border-color-toggle;

      &:first-child {
        border-top-left-radius: $neon-border-radius;
        border-bottom-left-radius: $neon-border-radius;
      }

      &:last-child {
        border-top-right-radius: $neon-border-radius;
        border-bottom-right-radius: $neon-border-radius;
      }

      & + label {
        margin-left: -$neon-border-width;
      }

      &.neon-toggle__label--checked {
        border-color: $toggle-color;
        background-color: rgba($toggle-color, 0.125);
      }

      &:hover:not(.neon-toggle__label--checked),
      &:focus:not(.neon-toggle__label--checked) {
        background-color: rgba($neon-border-color-toggle, 0.375);
      }
    }
  }
}

@mixin toggle-colors() {
  @each $color, $palette in $neon-functional-colors {
    @if ($color == high-contrast) {
      @include toggle-color($color, $neon-color-text);
    } @else {
      @include toggle-color($color, map-get($palette, $neon-color-toggle));
    }
  }

  &.neon-toggle--disabled {
    border: $neon-border-width $neon-border-style $neon-color-disabled-dark;

    .neon-toggle__label {
      color: $neon-color-disabled-light;
      border-color: $neon-color-disabled-dark;
    }
  }

  .neon-toggle__label--disabled {
    color: $neon-color-disabled-light;
    border-top: $neon-border-width $neon-border-style $neon-color-disabled-dark;
    border-bottom: $neon-border-width $neon-border-style $neon-color-disabled-dark;
  }

  .neon-toggle__label:not(.neon-toggle__label--disabled) + .neon-toggle__label--disabled {
    border-left: $neon-border-width $neon-border-style $neon-border-color-toggle;
  }

  &.neon-toggle--disabled .neon-toggle__label--checked,
  .neon-toggle__label--disabled.neon-toggle__label--checked {
    color: $neon-color-disabled-light;
    border-color: $neon-color-disabled-dark;
    background-color: $neon-color-disabled-dark;
  }
}
