.neon-toggle-chip {
  border-color: $neon-border-color-toggle-chip;
  background-color: rgba($neon-border-color-toggle-chip, $neon-opacity-toggle-chip);
  color: rgba($neon-color-text, 0.667);

  &:not(.neon-toggle-chip--disabled) {
    &:focus,
    &:hover {
      background-color: rgba($neon-border-color-toggle-chip, $neon-opacity-toggle-chip-hover);
    }
  }

  @each $color, $palette in $neon-functional-colors {
    &--#{$color}:not(.neon-toggle-chip--disabled) {
      &.neon-toggle-chip--checked {
        border-color: map-get($palette, $neon-color-toggle-chip);
        background-color: rgba(map-get($palette, $neon-color-toggle-chip), $neon-opacity-toggle-chip);
        @if ($neon-theme == smooth) {
          @include color-with-svg(map-get($palette, $neon-color-toggle-chip));
        } @else {
          @include color-with-svg($neon-color-toggle-chip-text);
        }
      }

      &.neon-toggle-chip--checked {
        &:focus,
        &:hover {
          background-color: rgba(map-get($palette, $neon-color-toggle-chip), $neon-opacity-toggle-chip-hover);
        }
      }
    }
  }

  &--disabled {
    opacity: 0.85;
    color: $neon-color-disabled-light;
    border-color: $neon-border-color-toggle-chip;
  }
}
