.neon-tooltip {
  &__content {
    background: $color-text;
    color: $color-inverse;
    border: 1px solid $border-color;
    box-shadow: $box-shadow-dropdown;
  }

  &--top,
  &--bottom {
    .neon-tooltip__arrow,
    .neon-tooltip__arrow-overlay {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }

  &--top {
    .neon-tooltip__arrow {
      border-top: 6px solid $color-text;
    }
  }

  &--bottom {
    .neon-tooltip__arrow {
      border-bottom: 6px solid $color-text;
    }
  }

  &--left,
  &--right {
    .neon-tooltip__arrow,
    .neon-tooltip__arrow-overlay {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }

  &--left {
    .neon-tooltip__arrow {
      border-left: 6px solid $color-text;
    }
  }

  &--right {
    .neon-tooltip__arrow {
      border-right: 6px solid $color-text;
    }
  }

  &--popover {
    .neon-tooltip {
      &__content {
        background: $color-inverse;
        color: $color-text;
      }
    }

    &.neon-tooltip--top {
      .neon-tooltip__arrow {
        border-top-color: $border-color;
      }

      .neon-tooltip__arrow-overlay {
        border-top: 6px solid $color-inverse;
      }
    }

    &.neon-tooltip--bottom {
      .neon-tooltip__arrow {
        border-bottom-color: $border-color;
      }

      .neon-tooltip__arrow-overlay {
        border-bottom: 6px solid $color-inverse;
      }
    }

    &.neon-tooltip--left {
      .neon-tooltip__arrow {
        border-left-color: $border-color;
      }

      .neon-tooltip__arrow-overlay {
        border-left: 6px solid $color-inverse;
      }
    }

    &.neon-tooltip--right {
      .neon-tooltip__arrow {
        border-right-color: $border-color;
      }

      .neon-tooltip__arrow-overlay {
        border-right: 6px solid $color-inverse;
      }
    }
  }
}
