.neon-tree-menu {
  a.neon-tree-menu__link,
  a.neon-tree-menu__anchor {
    &.neon-link {
      &,
      &:hover,
      &:active {
        color: $neon-color-text;
      }

      &.router-link-exact-active {
        &,
        &:active {
          color: $neon-color-link;
          opacity: 1;
        }
      }

      &:not(.neon-tree-menu__link--no-click):hover {
        color: $neon-color-link;
        opacity: 0.75;
      }
    }
  }

  &__section-link-label,
  &__link-label,
  &__anchor-label {
    outline: none;
    @include focus-text-outline($neon-color-text-primary);
  }
}
