$neon-functional-colors: (
  neutral: $neon-neutral-palette,
  low-contrast: $neon-low-contrast-palette,
  high-contrast: $neon-high-contrast-palette,
  brand: $neon-brand-palette,
  primary: $neon-primary-palette,
  info: $neon-info-palette,
  success: $neon-success-palette,
  warn: $neon-warn-palette,
  error: $neon-error-palette,
);

@include generate-color-classes('neon-neutral', $neon-neutral-palette);
@include generate-color-classes('neon-low-contrast', $neon-low-contrast-palette);
@include generate-color-classes('neon-high-contrast', $neon-high-contrast-palette);
@include generate-color-classes('neon-brand', $neon-brand-palette);
@include generate-color-classes('neon-primary', $neon-primary-palette);
@include generate-color-classes('neon-info', $neon-info-palette);
@include generate-color-classes('neon-success', $neon-success-palette);
@include generate-color-classes('neon-warn', $neon-warn-palette);
@include generate-color-classes('neon-error', $neon-error-palette);

$neon-color-neutral-l5: map-get($neon-neutral-palette, l5);
$neon-color-neutral-l4: map-get($neon-neutral-palette, l4);
$neon-color-neutral-l3: map-get($neon-neutral-palette, l3);
$neon-color-neutral-l2: map-get($neon-neutral-palette, l2);
$neon-color-neutral-l1: map-get($neon-neutral-palette, l1);
$neon-color-neutral-d1: map-get($neon-neutral-palette, d1);
$neon-color-neutral-d2: map-get($neon-neutral-palette, d2);
$neon-color-neutral-d3: map-get($neon-neutral-palette, d3);
$neon-color-neutral-d4: map-get($neon-neutral-palette, d4);
$neon-color-neutral-d5: map-get($neon-neutral-palette, d5);

$neon-color-low-contrast-l5: map-get($neon-low-contrast-palette, l5);
$neon-color-low-contrast-l4: map-get($neon-low-contrast-palette, l4);
$neon-color-low-contrast-l3: map-get($neon-low-contrast-palette, l3);
$neon-color-low-contrast-l2: map-get($neon-low-contrast-palette, l2);
$neon-color-low-contrast-l1: map-get($neon-low-contrast-palette, l1);
$neon-color-low-contrast-d1: map-get($neon-low-contrast-palette, d1);
$neon-color-low-contrast-d2: map-get($neon-low-contrast-palette, d2);
$neon-color-low-contrast-d3: map-get($neon-low-contrast-palette, d3);
$neon-color-low-contrast-d4: map-get($neon-low-contrast-palette, d4);
$neon-color-low-contrast-d5: map-get($neon-low-contrast-palette, d5);

$neon-color-high-contrast-l5: map-get($neon-high-contrast-palette, l5);
$neon-color-high-contrast-l4: map-get($neon-high-contrast-palette, l4);
$neon-color-high-contrast-l3: map-get($neon-high-contrast-palette, l3);
$neon-color-high-contrast-l2: map-get($neon-high-contrast-palette, l2);
$neon-color-high-contrast-l1: map-get($neon-high-contrast-palette, l1);
$neon-color-high-contrast-d1: map-get($neon-high-contrast-palette, d1);
$neon-color-high-contrast-d2: map-get($neon-high-contrast-palette, d2);
$neon-color-high-contrast-d3: map-get($neon-high-contrast-palette, d3);
$neon-color-high-contrast-d4: map-get($neon-high-contrast-palette, d4);
$neon-color-high-contrast-d5: map-get($neon-high-contrast-palette, d5);

$neon-color-brand-l5: map-get($neon-brand-palette, l5);
$neon-color-brand-l4: map-get($neon-brand-palette, l4);
$neon-color-brand-l3: map-get($neon-brand-palette, l3);
$neon-color-brand-l2: map-get($neon-brand-palette, l2);
$neon-color-brand-l1: map-get($neon-brand-palette, l1);
$neon-color-brand-d1: map-get($neon-brand-palette, d1);
$neon-color-brand-d2: map-get($neon-brand-palette, d2);
$neon-color-brand-d3: map-get($neon-brand-palette, d3);
$neon-color-brand-d4: map-get($neon-brand-palette, d4);
$neon-color-brand-d5: map-get($neon-brand-palette, d5);

$neon-color-primary-l5: map-get($neon-primary-palette, l5);
$neon-color-primary-l4: map-get($neon-primary-palette, l4);
$neon-color-primary-l3: map-get($neon-primary-palette, l3);
$neon-color-primary-l2: map-get($neon-primary-palette, l2);
$neon-color-primary-l1: map-get($neon-primary-palette, l1);
$neon-color-primary-d1: map-get($neon-primary-palette, d1);
$neon-color-primary-d2: map-get($neon-primary-palette, d2);
$neon-color-primary-d3: map-get($neon-primary-palette, d3);
$neon-color-primary-d4: map-get($neon-primary-palette, d4);
$neon-color-primary-d5: map-get($neon-primary-palette, d5);

$neon-color-info-l5: map-get($neon-info-palette, l5);
$neon-color-info-l4: map-get($neon-info-palette, l4);
$neon-color-info-l3: map-get($neon-info-palette, l3);
$neon-color-info-l2: map-get($neon-info-palette, l2);
$neon-color-info-l1: map-get($neon-info-palette, l1);
$neon-color-info-d1: map-get($neon-info-palette, d1);
$neon-color-info-d2: map-get($neon-info-palette, d2);
$neon-color-info-d3: map-get($neon-info-palette, d3);
$neon-color-info-d4: map-get($neon-info-palette, d4);
$neon-color-info-d5: map-get($neon-info-palette, d5);

$neon-color-success-l5: map-get($neon-success-palette, l5);
$neon-color-success-l4: map-get($neon-success-palette, l4);
$neon-color-success-l3: map-get($neon-success-palette, l3);
$neon-color-success-l2: map-get($neon-success-palette, l2);
$neon-color-success-l1: map-get($neon-success-palette, l1);
$neon-color-success-d1: map-get($neon-success-palette, d1);
$neon-color-success-d2: map-get($neon-success-palette, d2);
$neon-color-success-d3: map-get($neon-success-palette, d3);
$neon-color-success-d4: map-get($neon-success-palette, d4);
$neon-color-success-d5: map-get($neon-success-palette, d5);

$neon-color-warn-l5: map-get($neon-warn-palette, l5);
$neon-color-warn-l4: map-get($neon-warn-palette, l4);
$neon-color-warn-l3: map-get($neon-warn-palette, l3);
$neon-color-warn-l2: map-get($neon-warn-palette, l2);
$neon-color-warn-l1: map-get($neon-warn-palette, l1);
$neon-color-warn-d1: map-get($neon-warn-palette, d1);
$neon-color-warn-d2: map-get($neon-warn-palette, d2);
$neon-color-warn-d3: map-get($neon-warn-palette, d3);
$neon-color-warn-d4: map-get($neon-warn-palette, d4);
$neon-color-warn-d5: map-get($neon-warn-palette, d5);

$neon-color-error-l5: map-get($neon-error-palette, l5);
$neon-color-error-l4: map-get($neon-error-palette, l4);
$neon-color-error-l3: map-get($neon-error-palette, l3);
$neon-color-error-l2: map-get($neon-error-palette, l2);
$neon-color-error-l1: map-get($neon-error-palette, l1);
$neon-color-error-d1: map-get($neon-error-palette, d1);
$neon-color-error-d2: map-get($neon-error-palette, d2);
$neon-color-error-d3: map-get($neon-error-palette, d3);
$neon-color-error-d4: map-get($neon-error-palette, d4);
$neon-color-error-d5: map-get($neon-error-palette, d5);
