.colors {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -4 * $base-space;
  margin-bottom: 8 * $base-space;
}

.color-list {
  flex-direction: row;

  &:not(:last-of-type) {
    margin-bottom: 6 * $base-space;
  }

  &-section {
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: $base-space;
    flex-direction: row;
  }

  .color-item {
    padding: 2 * $base-space 3 * $base-space;
    min-width: 12 * $base-space;
    min-height: 12 * $base-space;
    flex-direction: row;
    font-family: monospace;
    justify-content: center;
    align-items: center;

    @include responsive(mobile-large) {
      font-size: $font-size-xs;
      min-width: 35px;
      min-height: 35px;
    }
  }
}

.color-palettes {
  p {
    margin-bottom: 2 * $base-space;
  }
}
