@use '../../../../sass/includes/responsive';

.colors {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: calc(-1 * var(--neon-space-16));
  margin-bottom: var(--neon-space-32);
}

.color-list {
  flex-direction: row;

  &:not(:last-of-type) {
    margin-bottom: var(--neon-space-24);
  }

  .color-list-section {
    border-radius: var(--neon-border-radius);
    overflow: hidden;
    margin-bottom: var(--neon-space-4);
    flex-direction: row;
    width: fit-content;
  }

  .color-item {
    padding: var(--neon-space-8) var(--neon-space-12);
    min-width: var(--neon-space-48);
    min-height: var(--neon-space-48);
    flex-direction: row;
    font-family: var(--neon-font-family-monospaced);
    font-variation-settings: var(--monospaced-font-variation-settings);
    justify-content: center;
    align-items: center;

    @include responsive.responsive(mobile-large) {
      font-size: var(--neon-font-size-xs);
      min-width: 35rem;
      min-height: 35rem;
    }
  }
}

.color-palettes {
  p {
    margin-bottom: var(--neon-space-8);
  }
}

.color-example-inverse-bg {
  background-color: var(--neon-color-primary);
  border-radius: var(--neon-border-radius);
  margin-left: calc(-1 * var(--neon-space-4));
  padding-left: var(--neon-space-4);
  padding-right: var(--neon-space-4);
  width: fit-content;
}
