.color-example-inverse-bg {
  background-color: $neon-color-primary;
  border-radius: $neon-border-radius;
  margin-left: -$neon-base-space;
  padding-left: $neon-base-space;
  padding-right: $neon-base-space;
  width: fit-content;
}
