.colors {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -4 * $base-space;
  margin-bottom: 8 * $base-space;
}

.color-list {
  margin-top: 4 * $base-space;

  &:not(:last-child) {
    margin-right: 4 * $base-space;
  }

  border-radius: $border-radius;
  overflow: hidden;

  .color-item {
    padding: 2 * $base-space 3 * $base-space;
    min-width: 150px;
    min-height: 41px;
    flex-direction: row;
  }
}
