.color-example-inverse-bg {
  background-color: $color-primary;
  border-radius: $border-radius;
  margin-left: -$base-space;
  padding-left: $base-space;
  padding-right: $base-space;
  width: fit-content;
}
