$neon-color-text-dark: #242424 !default; // dark text color
$neon-color-text-light: #eeeeee !default; // light text color

$neon-neutral-luminance-curve: (94, 88, 81, 73, 64, 44, 35, 27, 20, 14) !default;
$neon-low-contrast-luminance-curve: (88, 81, 72, 60, 48, 68, 55, 44, 35, 28) !default;
$neon-high-contrast-luminance-curve: (100, 95, 90, 85, 80, 20, 15, 10, 5, 0) !default;
