$color-text-dark: black !default; // dark text color
$color-text-light: white !default; // light text color

$neutral-luminance-curve: (94, 88, 81, 73, 64, 44, 35, 27, 20, 14) !default;
$low-contrast-luminance-curve: (88, 81, 72, 60, 48, 68, 55, 44, 35, 28) !default;
$high-contrast-luminance-curve: (100, 95, 90, 85, 80, 20, 15, 10, 5, 0) !default;
