.colors {
  flex-direction: row;
}

.color-list {
  &:not(:last-child) {
    margin-right: 4 * $base-space;
  }

  border-radius: $border-radius;
  overflow: hidden;
}

.color-item {
  padding: 2 * $base-space 3 * $base-space;
  min-width: 100px;
}
