// This structure allows you to not only use the theme and light/dark modes,
// but to also use the defined variables, mixins and functions in your own components and pages.
.app {
  &.neon-theme--classic {
    @import '../../themes/classic/theme';

    &.neon-mode--dark {
      @import '../../themes/classic/dark';

      // application dark mode SASS
      @import '../app/sass/api-docs-colors';

      .neon-monospaced {
        color: $color-primary-l1;
      }
    }

    &.neon-mode--light {
      @import '../../themes/classic/light';

      // application light mode SASS
      @import '../app/sass/api-docs-colors';

      .neon-monospaced {
        color: $color-primary-d1;
      }
    }

    // application classic theme SASS
    @import '../app/sass/fonts';
    @import '../app/sass/example';
    @import '../app/sass/component-docs';
    @import '../app/sass/api-docs';
    @import '~codemirror/lib/codemirror';
    @import '~codemirror/theme/lucario';

    @import '../app/views/design/color/Color';
    @import '../app/views/design/icons/Icons';
    @import '../app/views/design/typography/Typography';
    @import '../app/views/feedback/note/Note';
    @import '../app/views/source/Source';
    @import '../app/views/user-input/button/Button';
    @import '../app/views/user-input/drop-zone/DropZone';

    body {
      .title {
        margin-left: 8 * $base-space;
        font-family: $body-font-family;
        font-weight: lighter;
      }
    }

    header {
      .neon-top-nav__container {
        justify-content: space-between;

        .github-link {
          margin-right: 6 * $base-space;
        }

        .top-nav-actions {
          display: flex;
        }
      }

      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      .homepage-link {
        display: flex;
      }

      .tagline {
        margin-left: 4 * $base-space;
        font-size: $font-size-l;
        opacity: 0.9;
        font-style: oblique;
        letter-spacing: 1px;
        font-weight: 200;
        line-height: 1;
        user-select: none;

        @include responsive(tablet) {
          display: none;
        }
      }
    }

    .neon-side-nav > hr {
      display: none;
    }

    .content {
      grid-template-rows: auto 1fr;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-style: $font-style-headings;
    }

    .collection {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 4 * $base-space;
      }

      &:not(:last-child) {
        margin-bottom: 6 * $base-space;
      }
    }

    .neon-card + .neon-card {
      @include margin-top;
    }

    .positioned-element {
      position: relative;
      display: flex;
      width: fit-content;
    }

    .neon-dropdown__content {
      p {
        white-space: nowrap;
      }
    }

    .fade-enter-active,
    .fade-leave-active {
      transition-duration: $animation-speed-slow;
      transition-property: height, opacity;
      transition-timing-function: ease;
      overflow: hidden;
    }

    .fade-enter,
    .fade-leave-active {
      opacity: 0;
    }
  }
}
