// This structure allows you to not only use the theme and light/dark modes,
// but to also use the defined variables, mixins and functions in your own components and pages.
@use 'src/sass/includes/responsive';
@use 'src/sass/includes/svg';
@use 'src/sass/theme';
@use './sass/fonts';
@use './sass/global';
@use './sass/variables';
@use './components/components';
@use './views/views';

.app {
  &.neon {
    overscroll-behavior: none;

    .app-side-nav,
    .app-top-nav {
      .homepage-logo {
        @include svg.color-with-svg(var(--neon-color-text-strong));
      }
    }

    .neon-vertically-spaced {
      & > *:not(:last-child):not(label) {
        margin-bottom: calc(4 * var(--neon-base-space));
      }
    }

    .app-side-nav {
      & > hr {
        display: none;
      }

      .tagline {
        display: flex;
        margin-top: calc(2 * var(--neon-base-space));
        margin-bottom: calc(8 * var(--neon-base-space));
      }

      .neon-side-nav__sticky {
        padding-bottom: calc(2 * var(--neon-base-space));
      }

      .neon-side-nav__scrolling {
        padding-top: 0;
      }

      .side-nav-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .neon-select {
          width: 100%;
        }

        & > .neon-button {
          margin-left: calc(2 * var(--neon-base-space));
        }
      }
    }

    .homepage-logo {
      width: 163rem;
      height: 40rem;
    }

    .app-top-nav {
      .homepage-logo {
        width: 122rem;
        height: 30rem;

        @include responsive.responsive(mobile-large) {
          width: 81.5rem;
          height: 20rem;
        }
      }

      @include responsive.responsive(larger-than-tablet) {
        display: none !important;
      }

      .top-nav-logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
          margin-right: calc(2 * var(--neon-base-space));
        }
      }
    }

    .app-footer {
      max-width: calc(var(--neon-max-page-width) - var(--neon-side-nav-width));

      .neon-footer__container {
        align-items: center;
      }
    }
  }
}
