// This structure allows you to not only use the theme and light/dark modes,
// but to also use the defined variables, mixins and functions in your own components and pages.
@use '../sass/includes/responsive';
@use '../sass/includes/svg';
@use '../sass/theme';
@use './sass/fonts';
@use './sass/global';
@use './sass/variables';
@use './components/components';
@use './views/views';

.app {
  &.neon {
    overscroll-behavior: none;

    .app-side-nav,
    .app-top-nav {
      .homepage-logo {
        @include svg.color-with-svg(var(--neon-color-text-strong));
      }
    }

    .app-side-nav {
      & > hr {
        display: none;
      }

      .tagline {
        display: flex;
        margin-top: var(--neon-space-8);
        margin-bottom: var(--neon-space-32);
      }

      .neon-side-nav__sticky {
        padding-bottom: var(--neon-space-8);
      }

      .neon-side-nav__scrolling {
        padding-top: 0;
      }

      .side-nav-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .neon-select {
          width: 100%;
        }

        & > .neon-button {
          margin-left: var(--neon-space-8);
        }
      }
    }

    .homepage-logo {
      width: 163rem;
      height: 40rem;
    }

    .app-top-nav {
      .homepage-logo {
        width: 122rem;
        height: 30rem;

        @include responsive.responsive(mobile-large) {
          width: 81.5rem;
          height: 20rem;
        }
      }

      @include responsive.responsive(larger-than-tablet) {
        display: none !important;
      }

      .top-nav-logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
          margin-right: var(--neon-space-8);
        }
      }
    }

    .app-footer {
      &__contents {
        align-items: center;
      }
    }

    h3:not(:first-child) {
      margin-top: var(--neon-space-24);
    }
  }
}
