@use 'src/sass/includes/layout';
@use 'src/sass/includes/responsive';

$neon-height-component-header-desktop: 160rem;
$neon-height-component-header-mobile: 77rem;

.component-documentation {
  margin-top: calc(#{$neon-height-component-header-desktop} - 0.5 * var(--neon-spacing-vertical-desktop));

  &__description-heading {
    display: none;
  }

  @include responsive.responsive(tablet) {
    margin-top: calc(#{$neon-height-component-header-desktop} - var(--neon-spacing-vertical-tablet));
  }

  @include responsive.responsive(mobile-large) {
    margin-top: calc(#{$neon-height-component-header-mobile} - 0.5 * var(--neon-spacing-vertical-mobile));

    &__description-heading {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__header {
    position: fixed;
    z-index: var(--neon-z-index-above-2);
    @include layout.padding(1, true);
    padding-bottom: 0 !important;
    max-width: calc(var(--neon-max-page-width) - var(--neon-side-nav-width));
    top: 0;
    left: var(--neon-side-nav-width);
    width: calc(100vw - var(--neon-side-nav-width));

    @include responsive.responsive(tablet) {
      top: var(--neon-top-nav-height-tablet);
      left: 0;
      width: 100vw;
    }

    @include responsive.responsive(mobile-large) {
      top: var(--neon-top-nav-height-mobile);
    }

    .neon-tabs {
      position: relative;
    }

    &,
    &:before {
      background-color: var(--neon-background-color-footer);
      border-bottom: var(--neon-border);
    }

    &:before {
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: var(--neon-z-index-below);
    }
  }

  &__tab-title,
  & > .neon-tab > h2,
  .examples > h2 {
    display: none;

    @include responsive.responsive(mobile-large) {
      display: flex;
    }
  }

  &__header-container,
  .neon-tab {
    width: 100%;
    max-width: 1024rem;
    margin: auto;
  }

  & > .neon-tab {
    padding-top: 0;
    padding-bottom: 0;

    &:nth-child(2) {
      padding-top: calc(4 * var(--neon-base-space));
    }

    @include responsive.responsive(mobile-large) {
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: calc(8 * var(--neon-base-space));
      }
    }
  }

  &__headline {
    margin-bottom: calc(8 * var(--neon-base-space));
    font-weight: 300;
    font-size: var(--neon-h6-size);
    letter-spacing: var(--neon-letter-spacing-m);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include responsive.responsive(mobile-large) {
      margin-bottom: calc(2 * var(--neon-base-space));
      font-size: var(--neon-font-size-m);
    }
  }

  .examples:not(:first-child) {
    margin-top: calc(8 * var(--neon-base-space));
  }
}
