@use '../../../sass/includes/layout';
@use '../../../sass/includes/responsive';
@use '../../../sass/includes/scrollbars';

$neon-height-component-header-desktop: 180rem;
$neon-height-component-header-tablet: 180rem;
$neon-height-component-header-mobile: 124rem;
$fixed-content-height: 348rem;

.component-documentation {
  &__description-heading {
    display: none;
  }

  @include responsive.responsive(mobile-large) {
    &__description-heading {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__header {
    position: sticky;
    z-index: var(--neon-z-index-above-2);
    width: 100%;
    margin-top: calc(-1 * var(--neon-gutter));
    padding-top: var(--neon-gutter);
    top: var(--neon-top-nav-height);
    left: 0;
    background-color: var(--neon-background-color-footer);

    .neon-tabs {
      position: relative;
    }

    .neon-swiper__container {
      border-bottom: var(--neon-border);
    }

    @include responsive.responsive(larger-than-tablet) {
      top: 0;
    }
  }

  &__tab-title,
  & > .neon-tab > h2,
  .examples > h2 {
    display: none;

    @include responsive.responsive(mobile-large) {
      display: flex;
    }
  }

  &__header-container,
  .neon-tab {
    width: 100%;
    max-width: 1023rem;
    margin: 0 auto;
  }

  & > .neon-tab {
    padding-top: 0;
    padding-bottom: 0;

    &:nth-child(2) {
      padding-top: var(--neon-space-16);
    }

    @include responsive.responsive(mobile-large) {
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: var(--neon-space-32);
      }
    }
  }

  &__headline {
    margin-bottom: var(--neon-space-32);
    font-weight: var(--neon-font-weight-extra-light);
    font-size: var(--neon-h6-size);
    letter-spacing: var(--neon-letter-spacing-m);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include responsive.responsive(mobile-large) {
      margin-bottom: var(--neon-space-8);
      font-size: var(--neon-font-size-m);
    }
  }

  .examples:not(:first-child) {
    margin-top: var(--neon-space-32);
  }
}

.app .example {
  &__output {
    border-radius: var(--neon-border-radius) !important;
    margin-bottom: var(--neon-space-16) !important;
    position: relative;

    &--fixed-content {
      z-index: var(--neon-z-index-default);
      height: $fixed-content-height;
      margin-bottom: 0 !important;
      overflow-y: auto;

      @include scrollbars.scrollbars;

      .neon-side-nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100% !important;
        min-height: 100% !important;
        border-right: 1rem var(--neon-border-style) var(--neon-border-color);

        h6 {
          margin-bottom: 0;
        }
      }

      .neon-top-nav {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1rem var(--neon-border-style) var(--neon-border-color);
      }

      .neon-page {
        height: $fixed-content-height;
        overflow-y: hidden;

        &__container {
          min-height: 100% !important;
        }

        .neon-side-nav {
          top: var(--neon-top-nav-height-desktop);

          @include responsive.responsive(tablet) {
            top: var(--neon-top-nav-height-tablet);
          }

          @include responsive.responsive(mobile-large) {
            top: var(--neon-top-nav-height-mobile);
          }
        }

        .neon-grid {
          min-height: 100%;
          width: calc(100% - var(--neon-side-nav-width));

          @include responsive.responsive(tablet) {
            width: 100%;
          }

          .neon-grid-area {
            border: 1rem var(--neon-border-style) var(--neon-border-color);
            border-radius: var(--neon-border-radius);
            @include layout.padding;
          }
        }
      }
    }
  }

  &__code {
    &--fixed-content {
      @include layout.margin;
      margin-top: 0 !important;
    }
  }

  &--no-card {
    h3 {
      margin-bottom: var(--neon-space-16);
    }
  }

  &__title {
    h3 {
      margin-bottom: 0 !important;
    }
  }

  &--vertical {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: var(--neon-space-12);
    }
  }

  &--horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: var(--neon-space-16);
    }

    @include responsive.responsive(mobile-large) {
      flex-direction: column;
      align-items: flex-start;

      & > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: var(--neon-space-12);
      }
    }
  }

  &--padded {
    padding: var(--neon-space-16);
  }

  &--info {
    background-color: var(--neon-color-info);
  }

  &--margin-top {
    margin-top: var(--neon-space-8);
  }
}
