$height-component-header-desktop: 151px;
$height-component-header-mobile: 75px;

.component-documentation {
  margin-top: $height-component-header-desktop;

  @include responsive(mobile-large) {
    margin-top: $height-component-header-mobile;
  }

  &__header {
    position: fixed;
    z-index: $z-index-overlay-under-top-nav;
    @include padding(1, true);
    padding-bottom: 0 !important;
    top: $top-nav-height-desktop;
    left: $side-nav-width;
    width: calc(100vw - #{$side-nav-width});

    @include responsive(tablet) {
      top: $top-nav-height-tablet;
      left: 0;
      width: 100vw;
    }

    @include responsive(mobile-large) {
      top: $top-nav-height-mobile;
    }

    .neon-tabs {
      position: relative;
    }
  }

  &__header-container,
  .neon-tab {
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }

  & > .neon-tab {
    padding-top: 8 * $base-space;
    padding-bottom: 0;

    &:nth-child(2) {
      padding-top: 4 * $base-space;
    }

    & > h2,
    .examples > h2,
    .api-docs > h2 {
      margin-top: 6 * $base-space;

      @include responsive(mobile-large) {
        margin-top: 2 * $base-space;
      }
    }

    .api-docs:not(:first-child) > h2 {
      margin-top: 8 * $base-space;

      @include responsive(mobile-large) {
        margin-top: 4 * $base-space;
      }
    }
  }

  &__title {
    margin-bottom: 2 * $base-space;

    @include responsive(mobile-large) {
      margin-bottom: 0;
    }
  }

  &__headline {
    margin-bottom: 8 * $base-space;
    font-weight: 300;
    font-size: $h6-size;
    opacity: 0.66;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include responsive(mobile-large) {
      margin-bottom: 2 * $base-space;
      font-size: $base-font-size;
    }
  }

  .examples:not(:first-child) {
    margin-top: 8 * $base-space;
  }

  @include responsive(mobile-large) {
    h1 {
      font-size: $h2-size;
    }
    h2 {
      font-size: $h3-size;
    }
    h3 {
      font-size: $h4-size;
    }
    h4 {
      font-size: $h5-size;
    }
    h5 {
      font-size: $h6-size;
    }
    h6 {
      font-size: $base-font-size;
    }
  }
}
