@use '../includes/palettes';
@use '../includes/layout';
@use '../includes/responsive';
@use '../includes/scrollbars';
@use '../includes/svg';

@mixin alert-container {
  .neon-alert__wrapper .neon-alert {
    position: fixed;
    z-index: var(--neon-z-index-top);
    user-select: none;
    pointer-events: none;
    touch-action: none;
    width: var(--neon-width-alert);
    max-width: min(var(--neon-width-alert), 100%);

    @include layout.max-height(100);

    overflow-y: auto;
    overflow-x: visible;
    padding: var(--neon-space-8);

    @include scrollbars.scrollbars;

    &--top-right {
      top: 0;
      right: 0;
    }

    &--bottom-right {
      bottom: 0;
      right: 0;
    }

    &--top-right,
    &--bottom-right {
      @include responsive.responsive(mobile-large) {
        right: auto;
        min-width: 100vw;
      }
    }

    &--top-left {
      top: 0;
      left: 0;
    }

    &--bottom-left {
      bottom: 0;
      left: 0;
    }

    &--top-left,
    &--bottom-left {
      @include responsive.responsive(mobile-large) {
        left: auto;
        min-width: 100vw;
      }
    }

    &__message {
      --neon-rgb-link: var(--neon-rgb-inverse);
      pointer-events: visible;
      touch-action: auto;
      height: 100%;
      min-height: var(--neon-space-80);
      margin: var(--neon-space-4);
      padding: var(--neon-padding-alert);
      border-radius: var(--neon-border-radius-alert);
      display: flex;
      flex-direction: row;
      gap: var(--neon-gap-alert);
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: var(--neon-box-shadow-alert);
      overflow: hidden;

      @each $color in palettes.$alert-colors {
        $alert-rgb: var(--neon-rgb-alert-#{$color});

        &.neon-alert__message--#{$color} {
          background-color: var(--neon-background-color-alert-#{$color});
          @include svg.color-with-svg(var(--neon-color-alert-#{$color}));
          color: var(--neon-color-inverse);

          .neon-alert__title {
            color: var(--neon-color-alert-#{$color});
          }

          .neon-alert__actions {
            .neon-alert__action {
              transition: all var(--neon-animation-speed-fast) ease-in-out;
              color: var(--neon-color-alert-#{$color});

              &:focus,
              &:hover {
                color: var(--neon-color-alert-#{$color});
                text-decoration: none;
                background-color: var(--neon-background-color-alert-#{$color});
              }
            }
          }
        }
      }

      &--dismissible:not(.neon-alert__message--with-actions) {
        cursor: pointer;
      }

      &-icon {
        min-width: var(--neon-size-alert-icon);
        width: var(--neon-size-alert-icon);
        min-height: var(--neon-size-alert-icon);
        height: var(--neon-size-alert-icon);
        align-self: center;
      }
    }

    &__title {
      line-height: var(--neon-line-height-alert-title);
      font-size: var(--neon-font-size-alert-title);
      font-weight: var(--neon-font-weight-alert-title);
      font-family: var(--neon-font-family-alert-title);
      letter-spacing: var(--neon-letter-spacing-alert-title);
    }

    &__close {
      min-width: var(--neon-size-alert-close-icon);
      width: var(--neon-size-alert-close-icon);
      min-height: var(--neon-size-alert-close-icon);
      height: var(--neon-size-alert-close-icon);
      outline: none;
      cursor: pointer;
    }

    &__body {
      line-height: var(--neon-line-height-alert-body);
      font-size: var(--neon-font-size-alert-body);
      font-weight: var(--neon-font-weight-alert-body);
      font-family: var(--neon-font-family-alert-body);
      letter-spacing: var(--neon-letter-spacing-alert-body);
    }

    .neon-alert__actions {
      flex-direction: row;

      .neon-alert__action {
        padding: var(--neon-space-8);
        font-size: var(--neon-font-size-alert-action);
        text-transform: uppercase;
        letter-spacing: var(--neon-letter-spacing-alert-action);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: var(--neon-font-weight-alert-action);

        &:focus-visible {
          .neon-alert__action-label {
            outline: none;
            text-decoration: underline;
          }
        }
      }
    }

    &__content {
      justify-content: center;
      flex: 1 1 auto;
      gap: var(--neon-space-4);
      outline: none;
    }
  }

  .neon-alert-transition {
    &-enter-active,
    &-leave-active {
      transition: all ease-in-out var(--neon-animation-speed-slow);
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      height: 0;
      transform: scale(0);
    }
  }
}
