@use '../includes/palettes';

@mixin badge {
  .neon-badge {
    &--with-icon,
    &--with-label {
      @each $color in palettes.$neon-functional-colors {
        &.neon-badge--#{$color}:not(.neon-badge--disabled) {
          $neon-badge-color: var(--neon-color-#{$color});
          @if ($color == high-contrast) {
            color: var(--neon-color-inverse);
            $neon-badge-color: var(--neon-color-text-secondary);
          } @else {
            color: var(--neon-color-inverse);
          }

          background: $neon-badge-color;

          @each $alternateColor in palettes.$neon-functional-colors {
            &.neon-badge--alternate-color-#{$alternateColor} {
              background: linear-gradient(
                              var(--neon-background-gradient-angle-badge),
                              $neon-badge-color,
                              var(--neon-color-#{$alternateColor})
              );
            }
          }
        }
      }
    }

    &--disabled {
      color: var(--neon-color-disabled-text);
      background: var(--neon-color-disabled-background);
      cursor: not-allowed;
    }

    $neon-badge-sizes: (s, m, l, xl, xxl);

    @each $badge-size in $neon-badge-sizes {
      &--#{$badge-size} {
        font-size: var(--neon-font-size-#{$badge-size});

        &,
        .neon-badge__image {
          width: var(--neon-size-#{$badge-size}-badge);
          height: var(--neon-size-#{$badge-size}-badge);
          object-fit: cover;
        }

        .neon-icon {
          width: calc(var(--neon-icon-size-multiplier-badge) * var(--neon-size-#{$badge-size}-badge));
          height: calc(var(--neon-icon-size-multiplier-badge) * var(--neon-size-#{$badge-size}-badge));
        }
      }
    }

    text-transform: uppercase;
    font-weight: var(--neon-font-weight-medium);
    letter-spacing: var(--neon-letter-spacing-m);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &__label,
    svg {
      display: flex;
      position: relative;
      top: 0;
    }

    &--square {
      &,
      .neon-badge__image {
        border-radius: var(--neon-border-radius);
      }
    }

    &--circular {
      &,
      .neon-badge__image {
        border-radius: 50%;
      }
    }
  }
}
