@use '../includes/palettes';

@mixin badge {
  .neon-badge {
    position: relative;

    &--with-icon,
    &--with-label {
      @each $color in palettes.$neon-functional-colors {
        &.neon-badge--#{$color}:not(.neon-badge--disabled) {
          $neon-badge-color: var(--neon-color-#{$color});
          @if ($color == high-contrast) {
            color: var(--neon-color-inverse);
            $neon-badge-color: var(--neon-color-text-secondary);
          } @else {
            color: var(--neon-color-inverse);
          }

          background: $neon-badge-color;

          @each $alternateColor in palettes.$neon-functional-colors {
            &.neon-badge--alternate-color-#{$alternateColor} {
              background: linear-gradient(
                              var(--neon-background-gradient-angle-badge),
                              $neon-badge-color,
                              var(--neon-color-#{$alternateColor})
              );
            }
          }
        }
      }
    }

    &--editable {
      .neon-badge__upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .neon-button-group {
          width: 100%;
          height: 100%;
        }

        .neon-button {
          width: 100%;
          height: 100%;

          &--circular {
            border-radius: 50%;
          }
        }
      }

      .neon-badge__clear {
        position: absolute;
        top: 0;
        right: 0;
      }

      &.neon-badge--xxl {
        .neon-button {
          svg {
            width: 50%;
            height: 50%;
          }
        }
      }

      @each $color in palettes.$neon-functional-colors {
        &.neon-badge--#{$color}:not(.neon-badge--disabled) {
          .neon-badge__upload {
            .neon-button {
              background: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-badge-editable-button));
              transition: background-color ease-in-out var(--neon-animation-speed-slow);

              &:focus,
              &:hover {
                background: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-badge-editable-button-hover));
              }
            }
          }
        }
      }

      &:not(.neon-badge--disabled) {
        &.neon-badge--with-icon,
        &.neon-badge--with-label {
          .neon-badge__label,
          .neon-badge__icon {
            opacity: var(--neon-opacity-badge-editable-content);
          }
        }
      }
    }

    &--disabled {
      color: var(--neon-color-disabled-text);
      background: var(--neon-color-disabled-background);
      cursor: not-allowed;

      &.neon-badge--editable {
        .neon-button {
          background: rgba(var(--neon-rgb-disabled-background), 0.75);

          svg {
            display: none;
          }
        }
      }
    }

    $neon-badge-sizes: (s, m, l, xl, xxl);

    @each $badge-size in $neon-badge-sizes {
      &--#{$badge-size} {
        font-size: var(--neon-font-size-#{$badge-size});

        &,
        .neon-badge__image {
          width: var(--neon-size-#{$badge-size}-badge);
          height: var(--neon-size-#{$badge-size}-badge);
          object-fit: cover;
        }

        .neon-icon {
          width: calc(var(--neon-icon-size-multiplier-badge) * var(--neon-size-#{$badge-size}-badge));
          height: calc(var(--neon-icon-size-multiplier-badge) * var(--neon-size-#{$badge-size}-badge));
        }
      }
    }

    text-transform: uppercase;
    font-weight: var(--neon-font-weight-medium);
    letter-spacing: var(--neon-letter-spacing-m);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &__label,
    svg {
      display: flex;
      position: relative;
      top: 0;
    }

    &--square {
      &,
      .neon-badge__image {
        border-radius: var(--neon-border-radius);
      }
    }

    &--circular {
      &,
      .neon-badge__image {
        border-radius: 50%;
      }
    }
  }
}
