@use '../includes/responsive';

@mixin basic-layout {
  .neon-basic-layout {
    position: relative;
    padding-bottom: calc(var(--neon-space-20) + var(--neon-height-mobile-menu) + var(--neon-border-width));
    width: 100%;
    max-width: 100%;
    flex: 1 0 auto;

    .neon-basic-layout__container {
      gap: var(--neon-gutter);
    }

    &.neon-basic-layout--with-sticky-buttons {
      padding-bottom: calc(
              var(--neon-height-basic-layout-sticky-buttons) + var(--neon-space-20) + var(--neon-height-mobile-menu) +
              var(--neon-height-mobile-menu-indicator)
      );
    }
  }

  /* All min-height logic */
  @include responsive.responsive(larger-than-mobile-large) {
    .neon-page--with-footer {
      .neon-basic-layout {
        min-height: calc(100% - (var(--neon-footer-height) + var(--neon-border-width-footer) + var(--neon-top-nav-height)));
      }
    }
  }

  @include responsive.responsive(tablet) {
    .neon-basic-layout {
      max-width: 100%;
    }
  }

  @include responsive.responsive(mobile-large) {
    .neon-basic-layout {
      min-height: 100%;
    }
  }

  .neon-page--left.neon-page--with-side-nav {
    @include responsive.responsive(larger-than-tablet) {
      .neon-basic-layout {
        max-width: calc(100% - 2 * var(--neon-gutter));
        margin-left: var(--neon-gutter);
        margin-right: var(--neon-gutter);
      }
    }
  }
}
