@use '../includes/palettes';
@use '../includes/responsive';

@mixin card-list {
  .neon-card-list {
    &__results-end {
      align-self: center;
      user-select: none;
      margin-top: 16rem;
      font-size: var(--neon-font-size-s);
      color: var(--neon-color-low-contrast);
    }

    &__show-more {
      align-self: center;
      user-select: none;
      margin-top: var(--neon-space-16);
      font-size: var(--neon-font-size-s);
      color: var(--neon-color-low-contrast);
    }

    &__header {
      align-items: center;
      user-select: none;
      margin-bottom: var(--neon-space-16);
      font-size: var(--neon-font-size-xs);
      color: var(--neon-color-text-primary);

      @include responsive.responsive(mobile-large) {
        display: none;
      }
    }

    &__total {
      white-space: nowrap;
      user-select: none;
      font-size: var(--neon-font-size-l);
      font-weight: var(--neon-font-weight-medium);
      width: 30%;
      text-align: right;
      margin-left: auto;
    }

    &__cards {
      border-top: var(--neon-border);
      position: relative;

      .neon-splash-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: var(--neon-z-index-above);
      }
    }

    .neon-card-list__card {
      padding: var(--neon-space-16);
      user-select: none;
      width: 100%;

      &:not(:focus-visible) {
        border: none;
        border-bottom: var(--neon-border);
      }

      &.neon-card-list__card--selectable {
        padding-left: var(--neon-space-12);
        box-shadow: none;

        .neon-card-header {
          padding: 0;
        }
      }

      &--disabled {
        cursor: not-allowed;
      }

      @include responsive.responsive(mobile-large) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .neon-card-list__link {
      width: 100%;
      min-width: 100%;
      @each $color in palettes.$neon-functional-colors {
        &--#{$color} {
          .neon-card-list__card:not(.neon-card-list__card--disabled) {
            &:hover,
            &:hover,
            &:hover {
              background-color: rgba(var(--neon-rgb-#{$color}), 0.03125);
            }
          }
        }
      }
    }
  }
}
