@use '../includes/layout';
@use '../includes/responsive';

@mixin horizontal-card-responsive {
  flex-direction: row;

  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    @include layout.padding;
    margin-bottom: 0;
    justify-content: center;

    &:first-child {
      border-bottom-left-radius: var(--neon-border-radius-card);
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--neon-border-radius-card);
    }
  }

  .neon-card-header {
    align-items: center;
  }

  .neon-card-body {
    flex: 1 1 auto;
  }
}

@mixin horizontal-card-responsive-borders {
  .neon-card-header,
  .neon-card-body,
  .neon-card-footer {
    &:not(:last-child) {
      border-right: var(--neon-border);
    }
  }
}

@mixin card {
  .neon-card {
    position: relative;
    border-radius: var(--neon-border-radius-card);
    border: var(--neon-border);
    box-shadow: var(--neon-card-box-shadow);

    &--s {
      & > .neon-card-header,
      & > .neon-card-body,
      & > .neon-card-footer {
        @include layout.padding(0.5);
      }
    }

    &--m {
      & > .neon-card-header,
      & > .neon-card-body,
      & > .neon-card-footer {
        @include layout.padding(0.75);
      }
    }

    &--l {
      & > .neon-card-header,
      & > .neon-card-body,
      & > .neon-card-footer {
        @include layout.padding;
      }
    }

    .neon-card-header,
    .neon-card-body,
    .neon-card-footer {
      position: relative;
      background-color: var(--neon-background-color-card);

      &:first-child {
        border-top-left-radius: var(--neon-border-radius-card);
        border-top-right-radius: var(--neon-border-radius-card);
      }
    }

    .neon-card-footer {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .neon-button + .neon-button {
        margin-left: calc(4 * var(--neon-base-space));
      }
    }

    .neon-card-header {
      flex-direction: row;
      justify-content: space-between;

      .neon-h1,
      .neon-h2,
      .neon-h3,
      .neon-h4,
      .neon-h5,
      .neon-h6,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .neon-card-header,
    .neon-card-body,
    .neon-card-footer {
      &:last-child {
        border-bottom-left-radius: var(--neon-border-radius-card);
        border-bottom-right-radius: var(--neon-border-radius-card);
      }
    }

    &.neon-card--horizontal {
      &.neon-card--horizontal-breakpoint-mobile-l {
        @include responsive.responsive(larger-than-mobile-large) {
          @include horizontal-card-responsive;
          @include horizontal-card-responsive-borders;
        }
      }

      &.neon-card--horizontal-breakpoint-mobile {
        @include responsive.responsive(larger-than-mobile) {
          @include horizontal-card-responsive;
          @include horizontal-card-responsive-borders;
        }
      }

      &.neon-card--horizontal-breakpoint-tablet {
        @include responsive.responsive(larger-than-tablet) {
          @include horizontal-card-responsive;
          @include horizontal-card-responsive-borders;
        }
      }
    }

    .neon-card-body--full-width {
      padding: 0;

      img {
        margin-left: calc(-1 * var(--neon-border-width));
        margin-right: calc(-1 * var(--neon-border-width));
      }

      &:not(:first-child) {
        img {
          margin-top: -0.0625rem;
        }
      }

      & > * {
        max-width: calc(100% + 2 * var(--neon-border-width));
        width: 100%;
      }

      &:first-child {
        & > * {
          border-top-left-radius: var(--neon-border-radius-card);
          border-top-right-radius: var(--neon-border-radius-card);
        }
      }

      &:last-child {
        & > * {
          border-bottom-left-radius: var(--neon-border-radius-card);
          border-bottom-right-radius: var(--neon-border-radius-card);
        }
      }
    }
  }

  .neon-card.neon-card--vertical {
    .neon-card-header {
      &:not(:last-child) {
        padding-bottom: 0;
      }
    }

    .neon-card-footer {
      &:not(:first-child) {
        padding-top: 0;
      }
    }
  }
}
