@mixin color {
  .neon-color {
    position: relative;

    &__input {
      position: absolute;
      right: 0;
      opacity: 0;
      z-index: var(--neon-z-index-above);

      &:not(.neon-input--disabled) {
        input {
          cursor: pointer;
        }
      }

      &:not(:focus-within) + .neon-color__indicator {
        box-shadow: none !important;
      }

      .neon-icon {
        display: none;
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: var(--neon-border-radius-input-color);
      margin: calc(2 * var(--neon-base-space));
    }

    &--s {
      .neon-color__input {
        width: var(--neon-size-s);
      }

      .neon-color__indicator {
        width: calc(var(--neon-size-s) - 3 * var(--neon-base-space));
        height: calc(var(--neon-size-s) - 3 * var(--neon-base-space));
        margin: calc(1.5 * var(--neon-base-space));
      }

      .neon-input .neon-icon {
        right: calc(var(--neon-size-s) + var(--neon-base-space));
      }
    }

    &--m {
      .neon-color__input {
        width: var(--neon-size-m);
      }

      .neon-color__indicator {
        width: calc(var(--neon-size-m) - 4 * var(--neon-base-space));
        height: calc(var(--neon-size-m) - 4 * var(--neon-base-space));
      }

      .neon-input .neon-icon {
        right: calc(var(--neon-size-m) + var(--neon-base-space));
      }
    }

    &--l {
      .neon-color__input {
        width: var(--neon-size-l);
      }

      .neon-color__indicator {
        width: calc(var(--neon-size-l) - 4 * var(--neon-base-space));
        height: calc(var(--neon-size-l) - 4 * var(--neon-base-space));
      }

      .neon-input .neon-icon {
        right: calc(var(--neon-size-l) + 2 * var(--neon-base-space));
      }
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}
