@use '../includes/palettes';
@use '../includes/responsive';
@use '../includes/outline';

@mixin date-picker {
  .neon-date-picker {
    position: relative;
    width: 100%;

    @each $color in palettes.$neon-functional-colors {
      &--#{$color} {
        &:not(.neon-select--disabled):focus-within {
          .neon-dropdown__button.neon-button--input {
            border: var(--neon-border-width-input) var(--neon-border-style) var(--neon-color-#{$color});
          }
        }
      }
    }

    .neon-dropdown {
      width: 100%;

      &__button .neon-button__label {
        font-variant: tabular-nums;
      }
    }

    .neon-dropdown__content {
      min-width: fit-content;
    }

    .neon-date-picker__button {
      z-index: var(--neon-z-index-default);

      input {
        pointer-events: none;
        user-select: none;
        font-variant: tabular-nums;
      }

      &,
      .neon-icon {
        cursor: default;
        user-select: none;
      }
    }

    .neon-date-picker__button-click-capture {
      position: absolute;
      z-index: var(--neon-z-index-above);
      border-radius: var(--neon-border-radius-input);
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    .neon-date-picker__native-input {
      pointer-events: none;
      width: 100%;
      min-width: 100%;
      display: flex;
      opacity: 0;
      z-index: var(--neon-z-index-above);
      position: absolute;
      top: 0;
      left: 0;

      @include responsive.touchscreen {
        pointer-events: all;
      }
    }

    &__calendar {
      $cell-size: 36rem;
      user-select: none;
      padding: var(--neon-space-12);
      font-variant: tabular-nums;
      min-width: 304rem;
      width: 304rem;

      &-header {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: var(--neon-space-8);

        &-actions {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }

        &-actions button {
          margin-left: var(--neon-space-4);
        }
      }

      .neon-date-picker__calendar-header-title {
        flex: 0 1 auto;
        font-size: var(--neon-font-size-s);
      }

      &-change-date-button {
        margin-left: var(--neon-space-4);
      }

      &-dows,
      &-dates {
        flex-direction: row;
        justify-content: space-evenly;
      }

      &-dow {
        margin: var(--neon-space-2);
        text-align: center;
        width: $cell-size;
        min-width: $cell-size;
        text-transform: uppercase;
        font-size: var(--neon-font-size-xs);
        letter-spacing: var(--neon-letter-spacing-m);
        color: var(--neon-color-low-contrast);
        text-decoration: none;
      }

      .neon-date-picker__calendar-date {
        margin: var(--neon-space-2);
        justify-content: center;
        min-width: $cell-size;
        width: $cell-size;
        min-height: $cell-size;
        height: $cell-size;
        border-radius: 50%;
        font-size: var(--neon-font-size-s);
        cursor: pointer;
        color: var(--neon-color-text-primary);
        background-color: transparent;

        &--empty {
          cursor: default;
        }

        &.neon-date-picker__calendar-date--disabled {
          cursor: not-allowed;
          color: var(--neon-color-disabled-text);
        }
      }
    }

    .neon-date-picker__calendar-options {
      margin-top: var(--neon-space-8);
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--neon-space-8);

      .neon-date-picker__calendar-option {
        width: 84rem;
        max-width: 88rem;
        font-size: var(--neon-font-size-s);
        cursor: pointer;
        color: var(--neon-color-text-primary);
        background-color: transparent;

        &.neon-date-picker__calendar-option--disabled {
          cursor: not-allowed;
          color: var(--neon-color-disabled-text);
        }
      }
    }

    .neon-date-picker__calendar-title-readonly {
      align-self: center;
      font-weight: var(--neon-font-weight-medium);
    }

    @each $color in palettes.$neon-functional-colors {
      &--#{$color} {
        .neon-date-picker__calendar-date--today,
        .neon-date-picker__calendar-options .neon-date-picker__calendar-option--today {
          color: var(--neon-color-#{$color});
          background-color: rgba(var(--neon-rgb-#{$color}), 0.125);
          font-weight: var(--neon-font-weight-semi-bold);
        }

        .neon-date-picker__calendar-date--selected:not(:disabled) {
          &,
          &.neon-date-picker__calendar-date--selected:active,
          &.neon-date-picker__calendar-date--selected:focus,
          &.neon-date-picker__calendar-date--selected:hover {
            color: var(--neon-color-inverse);
            background-color: var(--neon-color-#{$color});
            font-weight: var(--neon-font-weight-semi-bold);
          }
        }

        .neon-date-picker__calendar-option--selected:not(:disabled) {
          &,
          &.neon-date-picker__calendar-option--selected:active,
          &.neon-date-picker__calendar-option--selected:focus,
          &.neon-date-picker__calendar-option--selected:hover {
            color: var(--neon-color-inverse);
            background-color: var(--neon-color-#{$color});
            font-weight: var(--neon-font-weight-semi-bold);
          }
        }

        button.neon-date-picker__calendar-option:not(:disabled):not(.neon-date-picker__calendar-option--selected),
        button.neon-date-picker__calendar-date:not(:disabled):not(.neon-date-picker__calendar-date--selected) {
          &:focus,
          &:active,
          &:hover {
            color: var(--neon-color-#{$color});
            background-color: rgba(var(--neon-rgb-#{$color}), 0.25);
          }
        }

        button.neon-date-picker__calendar-option:not(:disabled):not(.neon-date-picker__calendar-option--selected),
        button.neon-date-picker__calendar-date:not(:disabled):not(.neon-date-picker__calendar-date--selected) {
          &:focus,
          &:active {
            color: var(--neon-color-#{$color});
            background-color: rgba(var(--neon-rgb-#{$color}), 0.25);
            font-weight: var(--neon-font-weight-semi-bold);
          }
        }

        &:not(.neon-date-picker--disabled) .neon-date-picker__button-click-capture {
          &:focus {
            border: var(--neon-border);
            border-color: var(--neon-color-#{$color});
          }
        }
      }
    }

    hr {
      margin-top: var(--neon-space-8);
      margin-bottom: var(--neon-space-8);
    }

    .neon-button-group {
      gap: var(--neon-space-8);
    }
  }
}
