@use '../includes/layout';

@mixin drop-zone {
  .neon-drop-zone {
    border: var(--neon-border-drop-zone);
    border-radius: var(--neon-border-radius);
    @include layout.padding(1, true);
    cursor: copy;
    background-color: var(--neon-background-color-drop-zone);
    color: var(--neon-color-drop-zone);
    transition: background-color ease-in-out var(--neon-animation-speed-fast), color ease-in-out var(--neon-animation-speed-fast),
    border-left-color ease-in-out var(--neon-animation-speed-fast), border-top-color ease-in-out var(--neon-animation-speed-fast),
    border-bottom-color ease-in-out var(--neon-animation-speed-fast),
    border-right-color ease-in-out var(--neon-animation-speed-fast);

    &--circular {
      border-radius: 50%;
    }

    &--disabled {
      color: var(--neon-color-disabled-text);
      background-color: transparent;
      border-color: var(--neon-color-disabled-border);
      cursor: not-allowed;
    }

    &--state-loading {
      cursor: progress;
    }

    &__container {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
