@use 'src/sass/includes/layout';

@mixin drop-zone {
  .neon-drop-zone {
    border: calc(0.5 * var(--neon-base-space)) dashed rgba(var(--neon-rgb-drop-zone), 0.5);
    border-radius: var(--neon-border-radius);
    @include layout.padding(1, true);
    cursor: copy;
    background-color: rgba(var(--neon-rgb-drop-zone-background), 0.5);
    color: rgba(var(--neon-rgb-drop-zone), 0.5);
    transition: background-color ease-in-out var(--neon-animation-speed-fast), color ease-in-out var(--neon-animation-speed-fast),
    border-left-color ease-in-out var(--neon-animation-speed-fast), border-top-color ease-in-out var(--neon-animation-speed-fast),
    border-bottom-color ease-in-out var(--neon-animation-speed-fast),
    border-right-color ease-in-out var(--neon-animation-speed-fast);

    &--active:not(.neon-drop-zone--disabled),
    &:hover:not(.neon-drop-zone--disabled) {
      border-color: rgb(var(--neon-rgb-drop-zone));
      color: rgb(var(--neon-rgb-drop-zone));
    }

    &--circular {
      border-radius: 50%;
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--state-loading {
      cursor: progress;
    }

    &__container {
      justify-content: center;
      align-items: center;
    }
  }
}
