@use '../includes/svg';

@mixin expansion-indicator {
  .neon-expansion-indicator__line1,
  .neon-expansion-indicator__line2 {
    stroke-width: 1;
    stroke-linecap: round;
    transition: all ease-in-out var(--neon-animation-speed-fast);
    transform-origin: 8rem 8rem;
  }

  .neon-expansion-indicator {
    display: flex;
    font-size: var(--neon-font-size-m);
    position: relative;

    &__container {
      transition: all ease-in-out var(--neon-animation-speed-fast);
      transform: translateY(2rem);
    }

    &__line1 {
      transform: rotate(35deg);

      &.neon-svg--stroke {
        transition: transform ease-in-out var(--neon-animation-speed-fast) !important;
      }
    }

    &__line2 {
      transform: rotate(-35deg);

      &.neon-svg--stroke {
        transition: transform ease-in-out var(--neon-animation-speed-fast) !important;
      }
    }

    &--expanded {
      .neon-expansion-indicator__container {
        transform: translateY(-2rem);
      }

      .neon-expansion-indicator__line1 {
        transform: rotate(-35deg);
      }

      .neon-expansion-indicator__line2 {
        transform: rotate(35deg);
      }
    }

    &.neon-expansion-indicator--disabled {
      @include svg.svg-colors(var(--neon-color-disabled-text));
    }
  }
}
