@use '../includes/responsive';
@use '../includes/typography';

@mixin field {
  .neon-field {
    width: 100%;

    &__label-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: var(--neon-space-4);
      gap: var(--neon-space-6);
      @include typography.label;
    }

    &__optional {
      font-size: var(--neon-font-size-s);
      color: var(--neon-color-text-tertiary);
      user-select: none;
    }

    &.neon-field--disabled {
      cursor: not-allowed;

      .neon-field__message,
      .neon-field__label {
        color: var(--neon-color-disabled-text);
      }
    }

    &--with-message {
      .neon-field__message {
        bottom: 0;
        font-size: var(--neon-font-size-s);
        min-height: calc(var(--neon-font-size-s) * var(--neon-line-height-ratio));
        text-transform: none;
        letter-spacing: initial;
        font-weight: var(--neon-font-weight-normal);
      }
    }
  }
}
