@use '../includes/layout';

@mixin single-file-size($size) {
  .neon-list__item {
    height: var(--neon-size-#{$size});
    @include layout.padding(0.5);
  }
}

@mixin file {
  .neon-file {
    &__input {
      display: none;
    }

    .neon-list {
      margin-bottom: var(--neon-space-16);
    }

    &--single {
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%;
      flex: 1 1 auto;

      .neon-list {
        margin-right: var(--neon-space-8);
        flex: 1 1 auto;
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
      }

      &.neon-file--s {
        @include single-file-size('s');
      }

      &.neon-file--m {
        @include single-file-size('m');
      }

      &.neon-file--l {
        @include single-file-size('l');
      }
    }

    &--direct-upload {
      width: fit-content;

      .neon-file__actions {
        width: fit-content;
      }
    }

    gap: var(--neon-space-16);
  }
}
