@use '../includes/layout';
@use '../includes/responsive';

@mixin footer {
  .neon-footer {
    display: flex;
    align-items: flex-start;
    background-color: var(--neon-background-color-footer);
    border-top: var(--neon-border-top-footer);
    color: var(--neon-color-neutral);
    margin: 0 calc(-1 * var(--neon-gutter));

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      line-height: var(--neon-line-height-one);
      height: var(--neon-footer-height);
      padding: 0 var(--neon-gutter);

      @include responsive.responsive(larger-than-tablet) {
        font-size: var(--neon-font-size-m);
        max-width: var(--neon-max-width-page);
      }

      @include responsive.responsive(tablet) {
        font-size: var(--neon-font-size-s);
        max-width: 100vw;
      }
    }
  }

  .neon-page--with-side-nav .neon-footer .neon-footer__container {
    @include responsive.responsive(larger-than-tablet) {
      max-width: calc(var(--neon-max-width-page) - var(--neon-side-nav-width));
    }
  }

  .neon-page--left.neon-page--with-side-nav {
    .neon-footer {
      margin: 0;
      position: relative;
      border-top: none;

      &__container {
        z-index: var(--neon-z-index-above);
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: var(--neon-footer-height);
        width: calc(100vw - var(--neon-side-nav-width));
        border-top: var(--neon-border-color) var(--neon-border-style) var(--neon-border-width-footer);
        background-color: var(--neon-background-color-footer);
      }
    }
  }
}
