@use '../includes/layout';
@use '../includes/responsive';

@mixin footer {
  .neon-footer {
    display: flex;
    align-items: flex-start;
    background-color: var(--neon-background-color-footer);
    border-top: var(--neon-border-top-footer);
    color: var(--neon-color-neutral);
    width: 100vw;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: calc(var(--neon-max-width-page) - 2 * var(--neon-gutter-desktop));
      line-height: var(--neon-line-height-one);
      margin-left: auto;
      margin-right: auto;

      @include responsive.responsive(larger-than-tablet) {
        font-size: var(--neon-font-size-m);
        height: var(--neon-footer-height-desktop);
        padding: 0 var(--neon-gutter-desktop);
        max-width: var(--neon-max-width-page);
      }

      @include responsive.responsive(tablet) {
        font-size: var(--neon-font-size-s);
        height: var(--neon-footer-height-tablet);
        padding: 0 var(--neon-gutter-tablet);
        max-width: 100vw;
      }

      @include responsive.responsive(mobile-large) {
        font-size: var(--neon-font-size-s);
        height: var(--neon-footer-height-mobile);
        padding: 0 var(--neon-gutter-mobile);
      }
    }
  }

  .neon-page--with-side-nav .neon-footer {
    @include layout.side-nav-offset;

    .neon-footer__container {
      max-width: calc(var(--neon-max-width-page) - var(--neon-side-nav-width) - 2 * var(--neon-gutter-desktop));
    }
  }
}
