@use '../includes/layout';
@use '../includes/responsive';

@mixin grid {
  .neon-grid {
    width: 100%;
    max-width: 100%;
    @include layout.min-height(100, 'var(--neon-footer-height-desktop)');
    display: grid;

    @include responsive.responsive(larger-than-tablet) {
      padding: var(--neon-gutter-desktop) 0;
      gap: var(--neon-gutter-desktop);
    }

    @include responsive.responsive(tablet) {
      padding: var(--neon-gutter-tablet) 0;
      gap: var(--neon-gutter-tablet);
    }

    @include responsive.responsive(mobile-large) {
      padding: var(--neon-gutter-mobile) 0;
      gap: var(--neon-gutter-mobile);
      display: flex;
      flex-direction: column;
    }

    .neon-grid-area {
      display: flex;
      width: 100%;
      max-width: 100%;

      & > .neon-card {
        flex: 1 0 auto;

        & > .neon-card-body {
          flex: 0 1 auto;

          @include responsive.responsive(mobile-large) {
            flex: 0 0 auto;
          }
        }

        & > .neon-card-body:last-child,
        & > .neon-card-footer:last-child {
          flex: 1 0 auto;
        }
      }
    }
  }

  .neon-page--with-side-nav .neon-grid {
    @include layout.side-nav-offset;
  }

  .neon-page--with-top-nav .neon-page__container {
    .neon-grid {
      @include responsive.responsive(larger-than-tablet) {
        @include layout.min-height(100, 'var(--neon-top-nav-height-desktop) + var(--neon-footer-height-desktop)');
      }

      @include responsive.responsive(tablet) {
        @include layout.min-height(100, 'var(--neon-top-nav-height-tablet) + var(--neon-footer-height-tablet)');
      }

      @include responsive.responsive(mobile-large) {
        @include layout.min-height(100, 'var(--neon-top-nav-height-mobile) + var(--neon-footer-height-mobile)');
      }
    }
  }
}
