@use '../includes/layout';
@use '../includes/responsive';

@mixin grid {
  .neon-grid {
    width: 100%;
    max-width: 100%;
    @include layout.min-height(100, 'var(--neon-footer-height) + var(--neon-border-width-footer)');
    display: grid;
    padding: var(--neon-gutter);
    gap: var(--neon-gutter);

    @include responsive.responsive(mobile-large) {
      display: flex;
      flex-direction: column;
    }

    .neon-grid-area {
      display: flex;
      width: 100%;
      max-width: 100%;

      & > .neon-card {
        flex: 1 0 auto;

        & > .neon-card-body {
          flex: 0 1 auto;

          @include responsive.responsive(mobile-large) {
            flex: 0 0 auto;
          }
        }

        & > .neon-card-body:last-child,
        & > .neon-card-footer:last-child {
          flex: 1 0 auto;
        }
      }
    }
  }

  .neon-page--with-top-nav .neon-page__container {
    .neon-grid {
      @include responsive.responsive(larger-than-tablet) {
        @include layout.min-height(100, 'var(--neon-top-nav-height) + var(--neon-border-width-top-nav) + var(--neon-footer-height)');
      }

      @include responsive.responsive(tablet) {
        @include layout.min-height(100, 'var(--neon-top-nav-height) + var(--neon-border-width-top-nav) + var(--neon-footer-height)');
      }

      @include responsive.responsive(mobile-large) {
        @include layout.min-height(100, 'var(--neon-top-nav-height) + var(--neon-border-width-top-nav) + var(--neon-footer-height)');
      }
    }
  }
}
