@use '../includes/layout';
@use '../includes/outline';
@use '../includes/responsive';
@use '../includes/scrollbars';
@use '../includes/svg';

@mixin image-carousel {
  .neon-image-carousel {
    user-select: none;
    transition: backdrop-filter ease-in-out var(--neon-animation-speed-fast);
    width: 100%;
    height: 100%;

    &:focus-visible {
      outline: none;
      @include outline.box-shadow-outline(var(--neon-rgb-high-contrast));
    }

    .neon-image-carousel__container {
      flex-direction: row;
      align-items: center;
      flex: 1 1 auto;
      gap: var(--neon-space-16);
      min-height: 0;

      &:focus-visible {
        outline: none;
      }
    }

    .neon-image-carousel__items {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      overscroll-behavior-x: contain;

      @include scrollbars.hide-scrollbars();

      &:focus-visible {
        outline: none;
      }
    }

    .neon-image-carousel__item {
      display: flex;
      flex-direction: column;
      gap: var(--neon-space-8);
      justify-content: center;
      min-width: 100%;
      padding: var(--neon-space-2);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      opacity: 0;
      transition: opacity ease-in-out var(--neon-animation-speed-fast);

      &-title {
        text-align: center;
        font-weight: var(--neon-font-weight-normal);
        font-size: var(--neon-font-size-m);
        font-style: italic;
        color: var(--neon-color-image-carousel-expanded-button);
        margin-left: auto;
        margin-right: auto;
        padding: 0 var(--neon-space-16);
        text-shadow: var(--neon-text-shadow-image-carousel-expanded);
      }
    }

    .neon-image-carousel__image {
      object-fit: contain;
      cursor: pointer;
      max-width: 100%;
      max-height: 100%;
      min-height: 0;
    }

    .neon-image-carousel__nav {
      padding-top: var(--neon-space-12);

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .neon-image-carousel__nav-item {
      width: 12rem;
      height: 12rem;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &-indicator {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: var(--neon-border);
        border-color: var(--neon-color-image-carousel-nav-indicator);
      }

      &--active,
      &:hover {
        .neon-image-carousel__nav-item-indicator {
          background-color: var(--neon-color-image-carousel-nav-indicator);
        }

        margin-left: var(--neon-image-carousel-swipe-distance);
      }

      &:focus-visible {
        outline: none;
      }

      &-link:focus-visible {
        outline: none;

        .neon-image-carousel__nav-item-indicator {
          outline: none;
          @include outline.box-shadow-outline(var(--neon-rgb-high-contrast));
        }
      }
    }

    .neon-image-carousel__label {
      text-align: center;
      width: 100%;
      padding-top: var(--neon-space-4);
      font-size: var(--neon-font-size-xs);
      line-height: var(--neon-font-size-m);
      color: var(--neon-color-neutral);
    }

    .neon-image-carousel__previous,
    .neon-image-carousel__next {
      @include responsive.touchscreen {
        display: none;
      }
    }

    &.neon-image-carousel--expanded {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      @include layout.height(100);
      max-width: 100%;
      max-height: 100%;
      background-color: var(--neon-background-color-overlay);
      z-index: var(--neon-z-index-top);
      -webkit-backdrop-filter: blur(var(--neon-blur-radius-image-carousel));
      backdrop-filter: blur(var(--neon-blur-radius-image-carousel));
      gap: var(--neon-space-8);

      .neon-image-carousel__container {
        padding-top: var(--neon-gutter);
        max-height: 100%;
        min-height: 0;
        height: 100%;

        .neon-button {
          &:not(:disabled) {
            @include svg.color-with-svg(var(--neon-color-image-carousel-expanded-button));

            &:hover,
            &:focus-visible {
              background-color: var(--neon-background-color-image-carousel-expanded-button);
            }
          }

          &:disabled {
            @include svg.color-with-svg(var(--neon-color-image-carousel-expanded-button-disabled));
          }
        }
      }

      .neon-image-carousel__image {
        cursor: default;
      }

      .neon-image-carousel__close {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0;
      }

      .neon-image-carousel__label {
        font-size: var(--neon-font-size-m);
        line-height: var(--neon-line-height-ratio);
        color: var(--neon-color-image-carousel-expanded-label);
        text-shadow: var(--neon-text-shadow-image-carousel-expanded);
      }

      .neon-image-carousel__nav-container {
        padding-bottom: var(--neon-gutter);

      }

      .neon-image-carousel__nav-item {
        width: 24rem;
        height: 24rem;

        &-indicator {
          width: 12rem;
          height: 12rem;
          border-color: var(--neon-color-image-carousel-expanded-nav-indicator);
        }

        &--active,
        &:hover {
          .neon-image-carousel__nav-item-indicator {
            background-color: var(--neon-color-image-carousel-expanded-nav-indicator);
          }
        }
      }
    }
  }

  .neon-image-carousel--initialised {
    .neon-image-carousel__item {
      opacity: 1;
    }
  }
}
