@use '../includes/responsive';
@use '../includes/layout';

@mixin inline {
  .neon-inline {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;

    @include layout.layout-gaps;

    &--breakpoint-mobile {
      @include responsive.responsive(mobile) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &--breakpoint-mobile-large {
      @include responsive.responsive(mobile-large) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &--breakpoint-tablet {
      @include responsive.responsive(tablet) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &--breakpoint-desktop {
      @include responsive.responsive(desktop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > .neon-h0,
    & > .neon-h1,
    & > .neon-h2,
    & > .neon-h3,
    & > .neon-h4,
    & > .neon-h5,
    & > .neon-h6 {
      margin-bottom: 0;
    }
  }
}
