@use '../includes/layout';
@use '../includes/svg';

@mixin input-indicator {
  .neon-input-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: var(--neon-font-weight-normal);
    letter-spacing: var(--neon-letter-spacing-s);

    &:not(.neon-input-indicator--disabled) {
      border: var(--neon-border-width) var(--neon-border-style) var(--neon-border-color-input);
      background-color: var(--neon-background-color-input-indicator);
      color: var(--neon-color-input-indicator);
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: var(--neon-font-weight-input-indicator);
      padding-left: var(--neon-space-12);
      padding-right: var(--neon-space-12);
    }

    &--s {
      height: var(--neon-size-s);

      .neon-input-indicator__label {
        font-size: var(--neon-font-size-input-indicator-s);
      }

      .neon-input-indicator__label,
      .neon-icon {
        min-width: var(--neon-size-s);
      }

      .neon-icon {
        width: var(--neon-font-size-input-indicator-s);
        height: var(--neon-font-size-input-indicator-s);
      }
    }

    &--m {
      height: var(--neon-size-m);

      .neon-input-indicator__label {
        font-size: var(--neon-font-size-input-indicator-m);
      }

      .neon-input-indicator__label,
      .neon-icon {
        min-width: var(--neon-size-m);
      }

      .neon-icon {
        width: var(--neon-font-size-input-indicator-m);
        height: var(--neon-font-size-input-indicator-m);
      }
    }

    &--l {
      height: var(--neon-size-l);

      .neon-input-indicator__label {
        font-size: var(--neon-font-size-input-indicator-l);
      }

      .neon-input-indicator__label,
      .neon-icon {
        min-width: var(--neon-size-l);
      }

      .neon-icon {
        width: var(--neon-font-size-input-indicator-l);
        height: var(--neon-font-size-input-indicator-l);
      }
    }

    &.neon-input-indicator--disabled {
      border: var(--neon-border-width) var(--neon-border-style) var(--neon-color-disabled-border);
      background-color: var(--neon-color-disabled-background);
      color: var(--neon-color-disabled-text);
      cursor: not-allowed;
    }
  }
}
