@use '../includes/palettes';

@mixin input-size($size) {
  .neon-input__text,
  .neon-input__textarea {
    font-size: var(--neon-font-size-input-#{$size});
  }

  .neon-input__text {
    height: var(--neon-size-#{$size});
    padding-right: var(--neon-size-#{$size});
  }

  &.neon-input--state-loading,
  &.neon-input--state-success,
  &.neon-input--state-error,
  &.neon-input--with-icon {
    .neon-icon {
      position: absolute;

      @if ($size == 's') {
        width: calc(var(--neon-size-#{$size}) - 2.5 * var(--neon-base-space));
        height: calc(var(--neon-size-#{$size}) - 2.5 * var(--neon-base-space));
        top: calc(1.25 * var(--neon-base-space));
        right: calc(1.25 * var(--neon-base-space));

        padding: calc(0.5 * var(--neon-base-space));
        &.neon-icon--name-close {
          padding: var(--neon-base-space);
        }
      } @else {
        width: calc(var(--neon-size-#{$size}) - 3 * var(--neon-base-space));
        height: calc(var(--neon-size-#{$size}) - 3 * var(--neon-base-space));
        top: calc(1.5 * var(--neon-base-space));
        right: calc(1.5 * var(--neon-base-space));

        padding: calc(1 * var(--neon-base-space));

        &.neon-icon--name-close {
          @if ($size == 'l') {
            padding: calc(2.25 * var(--neon-base-space));
          } @else {
            padding: calc(1.5 * var(--neon-base-space));
          }
        }
      }

      cursor: default;
      border-radius: 50%;

      &:focus {
        outline: none;
      }
    }
  }

  &.neon-input--with-icon {
    .neon-input__icon:not(.neon-input__icon--read-only) {
      cursor: pointer;
    }
  }
}

@mixin input {
  .neon-input {
    width: 100%;

    &,
    &__textarea,
    &__textarea-wrapper {
      position: relative;
    }

    @each $color in palettes.$neon-functional-colors {
      &.neon-input--#{$color} {
        &.neon-input--focused {
          .neon-input__text,
          .neon-input__textarea {
            border-color: var(--neon-color-#{$color});
            background-color: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-input-background-active));
          }
        }
      }
    }

    .neon-icon:focus {
      background-color: rgba(var(--neon-rgb-low-contrast), 0.125);
      box-shadow: 0 0 0 2rem rgba(var(--neon-rgb-low-contrast), 0.125);
    }

    &.neon-input--with-state-highlight.neon-input--state-success {
      .neon-input__text,
      .neon-input__textarea {
        background-color: rgba(var(--neon-rgb-success), 0.125);

        &::placeholder {
          color: rgba(var(--neon-rgb-success), 0.75);
        }
      }
    }

    &.neon-input--with-state-highlight.neon-input--state-error {
      &,
      &.neon-input--focused {
        .neon-input__text,
        .neon-input__textarea {
          background-color: rgba(var(--neon-rgb-error), 0.125);

          &::placeholder {
            color: rgba(var(--neon-rgb-error), 0.75);
          }
        }
      }
    }

    &--s {
      @include input-size('s');
    }

    &--m {
      @include input-size('m');
    }

    &--l {
      @include input-size('l');
    }

    &__text,
    &__textarea {
      border-radius: var(--neon-border-radius-input);
      border: var(--neon-border-width-input) var(--neon-border-style);
      padding: var(--neon-base-space) calc(2 * var(--neon-base-space));
      line-height: var(--neon-line-height-input);
      outline: none;
      font-family: var(--neon-font-family-body);
      width: 100%;
      border-color: var(--neon-border-color-input);
      color: var(--neon-color-input);
      background-color: var(--neon-background-color-input);
      box-shadow: var(--neon-inset-shadow);
      font-weight: var(--neon-font-weight-input);

      &::placeholder {
        font-family: var(--neon-font-family-body);
        font-size: var(--neon-font-size-placeholder);
        font-style: var(--neon-font-style-placeholder);
        font-weight: var(--neon-font-weight-placeholder);
        color: var(--neon-color-placeholder);
      }

      &-counter {
        align-self: flex-start;
        user-select: none;
        font-size: var(--neon-font-size-s);
        font-weight: var(--neon-font-weight-normal);
        letter-spacing: var(--neon-letter-spacing-s);
        color: var(--neon-color-text-tertiary);
        margin-top: var(--neon-space-4);
      }
    }

    &:not(.neon-input--placeholder-visible) {
      input[type='password'] {
        font-weight: var(--neon-font-weight-semi-bold);
        letter-spacing: calc(2 * var(--neon-letter-spacing-m));
      }
    }

    &__text[type='number'],
    &__text[inputmode='tel'],
    &__text[inputmode='decimal'],
    &__text[inputmode='numeric'] {
      font-variant: tabular-nums;
    }

    &--disabled {
      .neon-input__text,
      .neon-input__textarea {
        box-shadow: none;
        border-color: var(--neon-color-disabled-border);
        background-color: var(--neon-color-disabled-background);

        &,
        &::placeholder {
          color: var(--neon-color-disabled-text);
          -webkit-text-fill-color: var(--neon-color-disabled-text);
        }
      }

      input,
      textarea {
        cursor: not-allowed;
      }
    }
  }
}
