@use '../includes/outline';

@mixin neon-link-style {
  cursor: pointer;
  position: relative;
  align-items: center;

  &:not(.neon-button) {
    display: inline-flex;
    width: fit-content;

    color: var(--neon-color-link);
    transition: color ease-in-out var(--neon-animation-speed-fast);
    text-decoration: underline;
    text-underline-offset: var(--neon-text-underline-offset-link);
    text-decoration-thickness: var(--neon-text-decoration-thickness-link);
    opacity: 1;

    &:visited {
      color: var(--neon-color-link-visited);
    }

    &:active,
    &:hover {
      color: var(--neon-color-link-hover);
      text-decoration-thickness: var(--neon-text-decoration-thickness-link-hover);
    }

    &:focus-visible {
      &:not(.neon-link--no-style) {
        outline: none;
        text-decoration: none;
        background-color: var(--neon-color-link);
        color: var(--neon-color-inverse);
      }
    }
  }

  &.neon-link--no-style {
    text-decoration: none;

    &,
    &:visited,
    &:active,
    &:hover {
      color: inherit;
    }

    &.neon-link {
      @include outline.focus-outline-styles(var(--neon-rgb-link));
    }
  }
}

a[href] {
  @include neon-link-style;
}

@mixin link {
  .neon-link {
    @include neon-link-style;

    &__external-indicator {
      width: var(--neon-font-size-s);
      height: var(--neon-font-size-s);
      margin-left: var(--neon-space-8);
      vertical-align: -2rem;
      opacity: 0.5;
    }

    &:hover {
      .neon-link__external-indicator {
        opacity: 1;
      }
    }

    &.neon-link--outline-text.neon-link--with-external-indicator {
      &:after {
        width: calc(100% - 4.5 * var(--neon-space-4));
      }

      &:hover,
      &:focus-visible {
        &:after {
          width: calc(100% - 4.5 * var(--neon-space-4));
        }
      }
    }
  }
}
