@use '../includes/responsive';

@mixin logo {
  .neon-logo {
    align-self: center;

    @include responsive.responsive(larger-than-tablet) {
      height: var(--neon-size-m);
      width: calc(var(--neon-logo-width-multiplier) * var(--neon-size-m));
    }

    @include responsive.responsive(tablet) {
      height: var(--neon-size-s);
      width: calc(var(--neon-logo-width-multiplier) * var(--neon-size-s));
    }

    @include responsive.responsive(mobile-large) {
      height: var(--neon-size-xs);
      width: calc(var(--neon-logo-width-multiplier) * var(--neon-size-xs));
    }
  }
}
