@use '../includes/palettes';
@use '../includes/svg';

@mixin neon-menu-size($size) {
  .neon-menu__item {
    height: 100%;
    font-size: var(--neon-font-size-menu);
    align-items: center;
    display: flex;

    & > .neon-link {
      height: 100%;

      .neon-menu__link-container {
        width: 100%;
        height: 100%;
        padding-left: calc(5 * var(--neon-base-space));
        padding-right: calc(5 * var(--neon-base-space));
        justify-content: center;
        flex-direction: row;
        align-items: center;
        position: relative;
        gap: var(--neon-space-12);
        font-family: var(--neon-font-family-menu);
        text-transform: var(--neon-text-transform-menu);
        font-weight: var(--neon-font-weight-menu);
        @include svg.color-with-svg(var(--neon-color-menu));

        &,
        .neon-svg--stroke,
        .neon-svg--fill {
          transition: color ease-in-out var(--neon-animation-speed-fastest);
        }

        &:before {
          content: '';
          position: absolute;
          bottom: calc(-1 * var(--neon-border-width-top-nav));
          left: 0;
          width: 100%;
          opacity: 0;
          height: var(--neon-height-menu-indicator);
          transition: opacity ease-in-out var(--neon-animation-speed-fastest);
        }
      }
    }

    &:not(.neon-menu__item--disabled) {
      .neon-link {
        &:hover {
          .neon-menu__link-container {
            @include svg.color-with-svg(var(--neon-color-menu-active));

            &:before {
              opacity: 1;
            }
          }

        }

        &:focus {
          .neon-menu__link-container {
            @include svg.color-with-svg(var(--neon-color-menu-active));
          }
        }

        &.router-link-active {
          .neon-menu__link-container {
            @include svg.color-with-svg(var(--neon-color-menu-active));

            &:before {
              opacity: 1;
            }
          }
        }
      }
    }

    .neon-button__label {
      font-family: var(--neon-font-family-menu);
      font-weight: var(--neon-font-weight-menu);
    }

    &--disabled {
      .neon-link {
        .neon-menu__link-container {
          opacity: 1;
          cursor: not-allowed;
          @include svg.color-with-svg(var(--neon-color-disabled-text));
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:focus,
    a:focus {
      outline: none;
    }

    &-icon,
    .neon-dropdown .neon-dropdown__button .neon-icon {
      width: calc(1.5 * var(--neon-font-size-#{$size}));
      height: calc(1.5 * var(--neon-font-size-#{$size}));
      padding-right: 0;
    }
  }

  .neon-dropdown .neon-dropdown__button {
    font-size: var(--neon-font-size-#{$size});
    padding-left: 0;
    padding-right: 0;

    &:hover {
      cursor: pointer;
    }

    &:active,
    &:focus {
      .neon-button__label,
      .neon-button__indicator {
        top: 0;
      }
    }
  }
}

@mixin menu {
  .neon-menu {
    display: flex;
    flex-direction: row;
    user-select: none;
    align-items: center;
    height: 100%;

    @each $color in palettes.$neon-functional-colors {
      &.neon-menu--#{$color},
      &__responsive-menu.neon-dropdown-menu--#{$color} {
        .neon-menu__item:not(.neon-menu__item--disabled) {
          .neon-link:focus {
            background-color: rgba(var(--neon-rgb-#{$color}), 0.125);
          }

          .neon-menu__link-container:before {
            background-color: var(--neon-color-#{$color});
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;

      .neon-dropdown:not(.neon-dropdown--disabled) {
        .neon-dropdown__button {
          background-color: transparent;

          @include svg.color-with-svg(var(--neon-color-neutral));
          transition: color ease-in-out var(--neon-animation-speed-fast);

          &.neon-dropdown__button:hover:not(:disabled),
          &.neon-dropdown__button:active:not(:disabled) {
            background-color: transparent;
          }
        }

        .neon-dropdown-menu__item {
          &:not(.neon-dropdown-menu__item--highlighted) .neon-link,
          &--group-title {
            color: var(--neon-color-neutral);
          }
        }
      }
    }

    &__responsive-menu {
      font-family: var(--neon-font-family-menu);
      text-transform: var(--neon-text-transform-menu);

      &.neon-menu__responsive-menu:not(:first-child) {
        margin-left: calc(5 * var(--neon-base-space));
      }

      &.neon-menu__responsive-menu--hidden {
        display: none;
      }
    }

    .neon-menu__item {
      font-weight: var(--neon-font-weight-normal);
      letter-spacing: var(--neon-letter-spacing-m);
      white-space: nowrap;

      & > .neon-link {
        color: var(--neon-color-neutral);
        transition: color ease-in-out var(--neon-animation-speed-fast);
      }

      .neon-link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &__label {
          display: flex;
          align-items: center;
          font-family: var(--neon-font-family-menu);
          text-transform: var(--neon-text-transform-menu);
        }
      }

      &--disabled {
        .neon-link {
          cursor: not-allowed;
          color: var(--neon-color-disabled-text);
        }
      }

      .neon-dropdown .neon-dropdown__button {
        font-family: var(--neon-font-family-menu);
        text-transform: var(--neon-text-transform-menu);
        font-weight: var(--neon-font-weight-normal);
        letter-spacing: var(--neon-letter-spacing-m);
      }
    }

    &.neon-menu--s {
      --neon-font-size-menu: var(--neon-font-size-menu-s);
      @include neon-menu-size('s');
    }

    &.neon-menu--m {
      --neon-font-size-menu: var(--neon-font-size-menu-m);
      @include neon-menu-size('m');
    }

    &.neon-menu--l {
      --neon-font-size-menu: var(--neon-font-size-menu-l);
      @include neon-menu-size('l');
    }
  }
}
