@use '../includes/layout';
@use '../includes/responsive';

@mixin modal {
  .neon-modal {
    align-items: center;
    justify-content: center;

    &__overlay {
      background-color: var(--neon-background-color-overlay);

      &--opaque {
        background-color: var(--neon-background-color-overlay-opaque);
      }
    }

    .neon-card {
      box-shadow: var(--neon-box-shadow-alert);
    }

    &,
    .neon-modal__container,
    .neon-modal__overlay {
      position: fixed;
      opacity: 0;
      z-index: var(--neon-z-index-below);
      pointer-events: none;
      transition: opacity ease-in-out var(--neon-animation-speed-fast);

      @include responsive.responsive(larger-than-mobile-large) {
        transition: all ease-in-out var(--neon-animation-speed-fast);
        .neon-card {
          margin-top: -30vh;
          transition: all ease-in-out var(--neon-animation-speed-slow);
        }
      }
    }

    &,
    .neon-modal__overlay {
      bottom: 0;
      left: 0;
      @include layout.width(100);
      @include layout.min-height(100);
      @include layout.height(100);

      &--show-top-nav {
        @include layout.min-height(100, 'var(--neon-top-nav-height-desktop)');
        @include layout.height(100, 'var(--neon-top-nav-height-desktop)');

        @include responsive.responsive(tablet) {
          @include layout.min-height(100, 'var(--neon-top-nav-height-tablet)');
          @include layout.height(100, 'var(--neon-top-nav-height-tablet)');
        }

        @include responsive.responsive(mobile) {
          @include layout.min-height(100, 'var(--neon-top-nav-height-mobile)');
          @include layout.height(100, 'var(--neon-top-nav-height-mobile)');
        }
      }
    }

    &.neon-modal--open {
      opacity: 1;

      @include responsive.responsive(larger-than-mobile-large) {
        .neon-card {
          margin-top: -20vh;
        }
      }

      .neon-modal__container,
      .neon-modal__overlay {
        opacity: 1;
        pointer-events: auto;
      }

      &:not(.neon-dialog),
      &:not(.neon-dialog) .neon-modal__container {
        @include responsive.responsive(mobile-large) {
          @include layout.width(100);
          @include layout.min-height(100);

          .neon-card {
            @include layout.min-height(100);
          }
        }
      }

      &,
      .neon-modal__container {
        z-index: var(--neon-z-index-top);

        @include responsive.responsive(mobile-large) {
          .neon-card {
            .neon-card-body {
              flex: 1 1 auto;
            }
          }
        }
      }
    }

    &__container {
      @include responsive.responsive(larger-than-mobile-large) {
        padding-left: var(--neon-space-8);
        padding-right: var(--neon-space-8);
      }
    }

    &__close {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      margin: var(--neon-space-2);

      @include responsive.responsive(larger-than-mobile-large) {
        display: none;
      }
    }

    &.neon-dialog {
      &,
      .neon-modal__container,
      .neon-modal__overlay {
        transition: all ease-in-out var(--neon-animation-speed-fast);

        .neon-card {
          margin-top: -30vh;
          transition: all ease-in-out var(--neon-animation-speed-slow);
        }
      }

      &.neon-modal--open {
        .neon-card {
          margin-top: -20vh;
        }
      }

      .neon-modal__close {
        @include responsive.responsive(mobile-large) {
          display: none;
        }
      }
    }
  }
}
