@use '../includes/layout';
@use '../includes/responsive';

@mixin modal-responsive() {
  &.neon-modal--open {
    &:not(.neon-dialog),
    &:not(.neon-dialog) .neon-modal__container {
      @include layout.width(100);
      @include layout.min-height(100);
      @include layout.max-height(100);

      .neon-card {
        @include layout.min-height(100);
      }
    }

    &,
    .neon-modal__container {
      .neon-card {
        .neon-card-body {
          flex: 1 1 auto;
        }
      }
    }
  }
}

@mixin modal-responsive-larger-than() {
  &,
  .neon-modal__overlay {
    transition: all ease-in-out var(--neon-animation-speed-fast);
  }

  .neon-modal__container {
    margin-top: -30vh;
    transition: all ease-in-out var(--neon-animation-speed-slow);

    & > .neon-card {
      margin-left: calc(2 * var(--neon-base-space));
      margin-right: calc(2 * var(--neon-base-space));
    }
  }

  &.neon-modal--open {
    .neon-modal__container {
      margin-top: -20vh;
    }
  }

  .neon-modal__close {
    right: var(--neon-space-12);
  }
}

@mixin modal {
  .neon-modal {
    align-items: center;
    justify-content: center;

    &__overlay {
      background-color: var(--neon-background-color-overlay);

      &--opaque {
        background-color: var(--neon-background-color-overlay-opaque);
      }
    }

    .neon-card {
      box-shadow: var(--neon-box-shadow-alert);
    }

    &,
    .neon-modal__container,
    .neon-modal__overlay {
      position: fixed;
      opacity: 0;
      z-index: var(--neon-z-index-below);
      pointer-events: none;
      transition: opacity ease-in-out var(--neon-animation-speed-fast);
    }

    &,
    .neon-modal__overlay {
      bottom: 0;
      left: 0;
      @include layout.width(100);
      @include layout.min-height(100);
      @include layout.height(100);

      &--show-top-nav {
        @include layout.min-height(100, 'var(--neon-top-nav-height)');
        @include layout.height(100, 'var(--neon-top-nav-height)');
      }
    }

    &.neon-modal--open {
      opacity: 1;

      .neon-modal__container,
      .neon-modal__overlay {
        opacity: 1;
        pointer-events: auto;
      }

      &,
      .neon-modal__container {
        z-index: var(--neon-z-index-top);
      }
    }

    &__close {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      margin: var(--neon-space-2);

      @include responsive.responsive(larger-than-mobile-large) {
        display: none;
      }
    }

    &.neon-dialog {
      &,
      .neon-modal__container,
      .neon-modal__overlay {
        transition: all ease-in-out var(--neon-animation-speed-fast);

        .neon-card {
          margin-top: -30vh;
          transition: all ease-in-out var(--neon-animation-speed-slow);
        }
      }

      &.neon-modal--open {
        .neon-card {
          margin-top: -20vh;
        }
      }

      .neon-modal__close {
        @include responsive.responsive(mobile-large) {
          display: none;
        }
      }
    }

    &.neon-modal--breakpoint-mobile {
      @include responsive.responsive(larger-than-mobile) {
        @include modal-responsive-larger-than();
      }

      @include responsive.responsive(mobile) {
        @include modal-responsive();
      }
    }

    &.neon-modal--breakpoint-mobile-large {
      @include responsive.responsive(larger-than-mobile-large) {
        @include modal-responsive-larger-than();
      }

      @include responsive.responsive(mobile-large) {
        @include modal-responsive();
      }
    }
  }
}
