@use '../includes/palettes';
@use '../includes/layout';
@use '../includes/responsive';

@mixin note {
  .neon-note {
    display: flex;
    flex-direction: row;
    max-width: var(--neon-max-width-note);
    width: 100%;
    margin: 0;
    border-radius: 0 var(--neon-border-radius) var(--neon-border-radius) 0;

    color: var(--neon-color-note);
    font-size: var(--neon-font-size-note-text);
    font-weight: var(--neon-font-weight-note-text);
    justify-content: space-between;

    @include responsive.responsive(mobile-large) {
      font-size: var(--neon-font-size-note-text-mobile);
    }

    .neon-inline {
      --neon-gap-desktop-s: var(--neon-space-8);
      --neon-gap-tablet-s: var(--neon-space-8);
      --neon-gap-mobile-s: var(--neon-space-8);
    }

    &__title {
      font-size: var(--neon-font-size-note-title);
      font-weight: var(--neon-font-weight-note-title);
      line-height: var(--neon-line-height-one);

      @include responsive.responsive(mobile-large) {
        font-size: var(--neon-font-size-note-title-mobile);
      }
    }

    @each $color in palettes.$neon-functional-colors {
      &--#{$color} {
        background-color: var(--neon-background-color-note);
        border-left: var(--neon-border-width-note) var(--neon-border-style) var(--neon-color-#{$color});

        .neon-note__title {
          @if ($color == low-contrast or $color == high-contrast or $color == neutral) {
            color: var(--neon-color-text-primary);
          } @else {
            color: var(--neon-color-#{$color});
          }
        }
      }
    }

    .neon-button.neon-button--s.neon-button--icon-only {
      min-width: var(--neon-size-xs);
      width: var(--neon-size-xs);
      height: var(--neon-size-xs);
      opacity: 0.75;

      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }

    span {
      display: inline;
    }

    &__icon.neon-icon {
      width: calc(1.5 * var(--neon-font-size-s));
      min-width: calc(1.5 * var(--neon-font-size-s));
      height: calc(1.5 * var(--neon-font-size-s));
      min-height: calc(1.5 * var(--neon-font-size-s));
    }

    &__container {
      padding: var(--neon-space-12) var(--neon-space-16) var(--neon-space-12) var(--neon-space-20);
      width: 100%;
      justify-items: flex-start;
      align-items: flex-start;
      flex-direction: row;
    }

    &__close {
      align-self: flex-start;

      &.neon-button {
        @include responsive.responsive(larger-than-tablet) {
          margin: var(--neon-space-8);
        }

        @include responsive.responsive(tablet) {
          margin: var(--neon-space-4);
        }

        @include responsive.responsive(mobile-large) {
          margin: var(--neon-space-2);
        }
      }
    }

    &--with-title-only {
      .neon-note__close {
        align-self: center;
      }
    }
  }

  blockquote {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--neon-max-width-note);
    margin: 0;
    border-radius: 0 var(--neon-border-radius) var(--neon-border-radius) 0;
    padding: var(--neon-space-12) var(--neon-space-16) var(--neon-space-12) var(--neon-space-20);
    color: var(--neon-color-note);
    background-color: var(--neon-background-color-note);
    border-left: var(--neon-border-width-note) var(--neon-border-style) var(--neon-color-primary);
    justify-content: space-between;
    font-size: var(--neon-font-size-note-text);
    font-weight: var(--neon-font-weight-note-text);

    span {
      display: inline;
    }

    @include responsive.responsive(mobile-large) {
      font-size: var(--neon-font-size-note-text-mobile);
    }
  }
}
