@use '../includes/layout';
@use '../includes/responsive';
@use '../includes/svg';

@mixin page-container {
  .neon-page-container {
    padding-bottom: calc(var(--neon-space-20) + var(--neon-height-mobile-menu) + var(--neon-border-width));
    gap: var(--neon-gutter);

    @include layout.min-height(
                    100,
                    'var(--neon-top-nav-height-desktop) + var(--neon-border-width-top-nav) + var(--neon-footer-height-desktop) + var(--neon-border-width-footer)'
    );

    @include responsive.responsive(tablet) {
      @include layout.min-height(
                      100,
                      'var(--neon-top-nav-height-tablet) + var(--neon-border-width-top-nav) + var(--neon-footer-height-tablet) + var(--neon-border-width-footer)'
      );
    }

    @include responsive.responsive(mobile-large) {
      @include layout.min-height(100);
    }

    &.neon-page-container--hide-nav {
      @include layout.min-height(100, 'var(--neon-footer-height-desktop) + var(--neon-border-width-footer)');

      @include responsive.responsive(tablet) {
        @include layout.min-height(100, 'var(--neon-footer-height-tablet) + var(--neon-border-width-footer)');
      }

      @include responsive.responsive(mobile-large) {
        @include layout.min-height(100);
      }
    }

    &.neon-page-container--with-sticky-buttons {
      padding-bottom: calc(
              var(--neon-height-page-container-sticky-buttons) + var(--neon-space-20) + var(--neon-height-mobile-menu) +
              var(--neon-height-mobile-menu-indicator)
      );
    }

    h1,
    .neon-page-container__title {
      padding-top: var(--neon-gutter);
      margin-bottom: 0;
    }

    @include responsive.responsive(larger-than-mobile-large) {
      padding-bottom: var(--neon-space-96);
    }
  }
}
