@use '../includes/layout';
@use '../includes/responsive';

@mixin page {
  .neon-page {
    position: relative;
    left: 0;
    width: 100vw;
    @include layout.min-height(100);

    &--with-top-nav .neon-page__container {
      @include responsive.responsive(larger-than-tablet) {
        padding-top: var(--neon-top-nav-height-desktop);
        @include layout.min-height(100, 'var(--neon-footer-height-desktop) + var(--neon-border-width-footer)');
      }

      @include responsive.responsive(tablet) {
        padding-top: var(--neon-top-nav-height-tablet);
        @include layout.min-height(100, 'var(--neon-footer-height-tablet) + var(--neon-border-width-footer)');
      }

      @include responsive.responsive(mobile-large) {
        padding-top: var(--neon-top-nav-height-mobile);
        @include layout.min-height(100, 'var(--neon-footer-height-mobile) + var(--neon-border-width-footer)');
      }
    }

    .neon-page__container {
      @include responsive.responsive(larger-than-tablet) {
        padding-left: var(--neon-gutter-desktop);
        padding-right: var(--neon-gutter-desktop);
        max-width: var(--neon-max-width-page);
        width: 100%;
      }

      @include responsive.responsive(tablet) {
        max-width: 100%;
        width: 100%;
        padding-left: var(--neon-gutter-tablet);
        padding-right: var(--neon-gutter-tablet);
      }

      @include responsive.responsive(mobile-large) {
        padding-left: var(--neon-gutter-mobile);
        padding-right: var(--neon-gutter-mobile);
      }
    }

    &--left {
      &.neon-page--with-side-nav {
        .neon-page__container {
          @include responsive.responsive(larger-than-tablet) {
            padding-left: 0;
          }
        }
      }
    }

    &--center {
      .neon-page__container {
        margin: 0 auto;
      }
    }
  }
}
