@use '../includes/palettes';

@mixin range-slider-track-lower($color) {
  $neon-color-slider-fill: var(--neon-color-#{$color});
  $neon-color-slider-track: var(--neon-color-slider-track);
  background: linear-gradient($neon-color-slider-track, $neon-color-slider-track) 0 / var(--sx) 100% no-repeat $neon-color-slider-fill;
}

@mixin range-slider-track-upper {
  $neon-color-slider-track: var(--neon-color-slider-track);
  background: linear-gradient($neon-color-slider-track, $neon-color-slider-track) 101% / calc(100% - var(--sx)) 100% no-repeat;
}

@mixin range-slider-track-lower-disabled {
  $disabled-track-color: var(--neon-color-disabled-background);
  background: linear-gradient($disabled-track-color, $disabled-track-color) 0 / var(--sx) 100% no-repeat var(--neon-color-disabled-text);
}

@mixin range-slider {
  .neon-range-slider {
    position: relative;
    width: 100%;
    height: var(--neon-space-64);

    .neon-range-slider__lower {
      @each $color in palettes.$neon-functional-colors {
        &.neon-slider--#{$color} {
          .neon-slider__input {
            &::-webkit-slider-runnable-track {
              @include range-slider-track-lower($color);
            }

            &::-moz-range-track {
              @include range-slider-track-lower($color);
            }

            &::-ms-track {
              @include range-slider-track-lower($color);
            }
          }
        }
      }

      .neon-slider__legend {
        position: absolute;
        bottom: calc(-14.5 * var(--neon-space-4));
        width: 100%;
      }

      .neon-slider__tooltip {
        bottom: calc(-1 * var(--neon-space-6));
      }

      &.neon-slider--disabled {
        .neon-slider__input {
          &::-webkit-slider-runnable-track {
            @include range-slider-track-lower-disabled;
          }

          &::-moz-range-track {
            @include range-slider-track-lower-disabled;
          }

          &::-ms-track {
            @include range-slider-track-lower-disabled;
          }
        }
      }
    }

    .neon-range-slider__upper {
      .neon-slider__input {
        &::-webkit-slider-runnable-track {
          @include range-slider-track-upper;
        }

        &::-moz-range-track {
          @include range-slider-track-upper;
        }

        &::-ms-track {
          @include range-slider-track-upper;
        }
      }
    }

    .neon-range-slider__lower.neon-slider--no-legend,
    .neon-range-slider__upper {
      .neon-slider__tooltip {
        bottom: calc(-1 * var(--neon-space-6));
      }
    }

    &.neon-range-slider--disabled {
      cursor: not-allowed;

      .neon-slider__output {
        color: var(--neon-color-disabled-text);
      }
    }

    &.neon-range-slider__output-range-separator {
      margin-left: var(--neon-space-6);
      margin-right: var(--neon-space-6);
      font-weight: var(--neon-font-weight-semi-bold);
      opacity: 0.25;
      top: -1rem;
      position: relative;
    }

    .neon-slider__output {
      font-size: var(--neon-font-size-s);
      font-variant-numeric: tabular-nums;
      height: var(--neon-space-16);
      display: flex;
    }

    .neon-slider__input,
    .neon-slider {
      pointer-events: none;
    }

    .neon-range-slider__lower,
    .neon-range-slider__upper {
      position: absolute;
      top: var(--neon-space-12);
      width: 100%;
    }

    &.neon-range-slider--all-upper-bound {
      .neon-range-slider__upper {
        .neon-slider__input {
          &::-webkit-slider-thumb {
            pointer-events: none;
          }

          &::-moz-range-thumb {
            pointer-events: none;
          }

          &::-ms-thumb {
            pointer-events: none;
          }
        }
      }
    }
  }
}
