@use '../includes/palettes';

@mixin selectable-card {
  .neon-selectable-card {
    --neon-border-radius-card: 0;
    cursor: pointer;
    user-select: none;
    transition: all var(--neon-animation-speed-fast) ease-in-out;
    outline: none;
    width: 100%;
    background-color: var(--neon-background-color-card);

    & > .neon-card-header,
    & > .neon-card-body,
    & > .neon-card-footer {
      background-color: transparent;
    }

    &__checkbox {
      cursor: pointer;
      margin-right: var(--neon-space-24);
    }

    @each $color in palettes.$neon-functional-colors {
      &--#{$color} {
        &:focus-visible {
          border: var(--neon-border-width) var(--neon-border-style) var(--neon-color-#{$color});
        }

        &:not(.neon-selectable-card--disabled) {
          &:hover {
            background-color: rgba(var(--neon-rgb-#{$color}), 0.03125);
          }

          &.neon-selectable-card--selected {
            background-color: rgba(var(--neon-rgb-#{$color}), 0.0625);
          }
        }
      }
    }

    &--disabled {
      color: var(--neon-color-disabled-background);

      &,
      .neon-switch {
        cursor: not-allowed;
      }
    }
  }
}
