@use '../includes/palettes';
@use '../includes/responsive';
@use '../includes/scrollbars';

@mixin select {
  .neon-select {
    width: 100%;

    .neon-expansion-indicator {
      margin-left: auto;
    }

    .neon-dropdown__button {
      padding-left: var(--neon-space-8);
      font-weight: var(--neon-font-weight-input);

      &.neon-button--s {
        font-size: var(--neon-font-size-input-s);
      }

      &.neon-button--m {
        font-size: var(--neon-font-size-input-m);
      }

      &.neon-button--l {
        font-size: var(--neon-font-size-input-l);
      }
    }

    @each $color in palettes.$neon-functional-colors {
      &--#{$color} {
        .neon-select__option {
          &--selected {
            background-color: rgba(var(--neon-rgb-#{$color}), 0.2);
          }

          &--highlighted:not(.neon-select__option--disabled):not(.neon-select__option--selected) {
            background-color: rgba(var(--neon-rgb-#{$color}), 0.05);
          }
        }

        &:not(.neon-select--disabled):focus-within {
          .neon-dropdown__button.neon-button--input {
            border: var(--neon-border-width-input) var(--neon-border-style) var(--neon-color-#{$color});
          }
        }
      }
    }

    &--with-placeholder {
      .neon-dropdown__button {
        color: rgba(var(--neon-rgb-placeholder), 0.6);
        font-style: var(--neon-font-style-placeholder);
        font-weight: var(--neon-font-weight-placeholder);
      }
    }

    &__wrapper {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      max-width: 100%;
    }

    &__options {
      max-height: var(--neon-max-height-dropdown);
      overflow-y: auto;
      @include scrollbars.scrollbars;
    }

    &__option {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      user-select: none;
      cursor: pointer;
      outline: none;

      &--separator-before {
        border-top: var(--neon-border-width-separator-before) var(--neon-border-style) var(--neon-border-color-dropdown);

        &:first-child {
          border-top: none;
        }
      }

      .neon-link {
        color: var(--neon-color-text-secondary);
      }

      &--disabled {
        cursor: not-allowed;

        &,
        .neon-link {
          color: var(--neon-color-disabled-text);
        }
      }

      &-placeholder {
        cursor: default;
      }

      &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }

      &-label {
        white-space: nowrap;
      }

      &-title {
        display: flex;
        flex: 1 0 auto;
        user-select: none;
        align-items: center;
        font-weight: var(--neon-font-weight-semi-bold);
        font-size: var(--neon-font-size-xs);
        text-transform: uppercase;
        padding: var(--neon-space-12) var(--neon-space-16) var(--neon-space-4);
        letter-spacing: var(--neon-letter-spacing-s);
      }

      .neon-switch {
        pointer-events: none;
        touch-action: none;
      }

      .neon-icon {
        margin-right: var(--neon-space-12);
      }

      .neon-select__option-container {
        padding-left: var(--neon-space-16);
        padding-right: var(--neon-space-16);
        height: var(--neon-size-m);
        flex: 1 1 auto;
        font-size: var(--neon-font-size-s);
      }

      .neon-icon {
        width: var(--neon-font-size-s);
        height: var(--neon-font-size-s);
      }
    }

    &--grouped:not(.neon-select--multiple) {
      .neon-select__option {
        padding-left: var(--neon-space-16);
      }
    }

    &:not(.neon-select--grouped) {
      .neon-dropdown__content {
        &--top-left,
        &--top-right,
        &--left-bottom,
        &--right-bottom {
          .neon-select__options {
            flex-direction: column-reverse;
          }
        }
      }
    }

    &__native {
      display: none;

      @include responsive.touchscreen {
        font-size: var(--neon-font-size-m);
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--neon-z-index-above);
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }

  .neon-dropdown__content {
    &--top-left,
    &--top-right,
    &--left-bottom,
    &--right-bottom {
      .neon-select__option {
        &--separator-before {
          &:first-child {
            border-top: var(--neon-border-width-separator-before) var(--neon-border-style) var(--neon-border-color-dropdown);
          }

          &:last-child {
            border-top: none;
          }
        }
      }
    }
  }
}
