@use '../includes/responsive';
@use '../includes/layout';

@mixin stack {
  .neon-stack {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include layout.layout-gaps;
  }
}
