@use '../includes/scrollbars';

@mixin swiper {
  .neon-swiper {
    position: relative;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;

    .neon-swiper__container {
      position: relative;
      top: 0;
      left: 0;
      overflow-x: auto;
      overscroll-behavior: contain;
      width: 100%;
      height: 100%;

      @include scrollbars.hide-scrollbars();
    }

    .neon-swiper__fade-out {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      touch-action: none;
      z-index: var(--neon-z-index-above);
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        background: linear-gradient(to left, transparent, var(--neon-background-color-swiper));
        height: 100%;
        width: 0;
        transition: width ease-in-out var(--neon-animation-speed-fast);
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        background: linear-gradient(to right, transparent, var(--neon-background-color-swiper));
        height: 100%;
        width: 0;
        transition: width ease-in-out var(--neon-animation-speed-fastest);
      }
    }

    &--overflowing.neon-swiper--fade {
      &:not(.neon-swiper--start) {
        .neon-swiper__fade-out:before {
          width: var(--neon-space-24);
        }
      }

      &:not(.neon-swiper--end) {
        .neon-swiper__fade-out:after {
          width: var(--neon-space-24);
        }
      }
    }
  }
}
