@use '../includes/palettes';
@use '../includes/layout';
@use '../includes/responsive';
@use '../includes/svg';

@mixin tabs {
  .neon-tabs {
    @each $color in palettes.$neon-functional-colors {
      &.neon-tabs--#{$color} {
        $tab-selected-color: var(--neon-color-tab-selected-#{$color});
        $tab-hover-color: var(--neon-color-tab-hover-#{$color});

        .neon-tabs__menu-item {
          &--selected {
            .neon-tabs__menu-item-container:before {
              background-color: $tab-selected-color;
            }
          }

          &:hover,
          &:active {
            .neon-tabs__menu-item-container:before {
              background-color: $tab-hover-color;
            }
          }

          &-container:focus:before {
            background-color: $tab-hover-color;
          }
        }

        .neon-tab {
          &:focus:before {
            background-color: $tab-hover-color;
          }
        }
      }
    }

    .neon-tabs__menu-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: var(--neon-font-weight-medium);
    }

    .neon-tabs__menu-item {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      height: 100%;
      user-select: none;
      cursor: pointer;
      transition: color ease-in-out var(--neon-animation-speed-fast);
      @include svg.color-with-svg(var(--neon-color-low-contrast));

      &:focus {
        outline: none;
      }

      &-container {
        pointer-events: none;
        touch-action: none;
        outline: none;
        height: 100%;
        align-items: center;
        color: var(--neon-color-text-primary);

        .neon-svg--stroke {
          stroke: var(--neon-color-text-primary);
        }

        .neon-svg--fill {
          fill: var(--neon-color-text-primary);
        }

        &:before {
          content: '';
          display: flex;
          width: 100%;
          background-color: transparent;
          position: absolute;
          height: var(--neon-border-width-tabs);
          bottom: 0;
          border-radius: var(--neon-border-radius-tabs);
          transition: all ease-in-out var(--neon-animation-speed-fast);
        }
      }
    }

    &--web {
      &.neon-tabs--s {
        .neon-tabs__menu-items {
          height: var(--neon-size-s);
          font-size: var(--neon-font-size-m);

          svg {
            width: var(--neon-font-size-m);
            height: var(--neon-font-size-m);
            margin-right: var(--neon-base-space);
          }
        }
      }

      &.neon-tabs--m {
        .neon-tabs__menu-items {
          height: var(--neon-size-m);
          font-size: var(--neon-font-size-l);

          svg {
            width: var(--neon-font-size-l);
            height: var(--neon-font-size-l);
            margin-right: calc(2 * var(--neon-base-space));
          }
        }
      }

      &.neon-tabs--l {
        .neon-tabs__menu-items {
          height: var(--neon-size-l);
          font-size: var(--neon-font-size-l);

          svg {
            width: var(--neon-font-size-l);
            height: var(--neon-font-size-l);
            margin-right: calc(2 * var(--neon-base-space));
          }
        }
      }

      .neon-tabs__menu-items--underlined {
        border-bottom: var(--neon-border-width-tabs) var(--neon-border-style) var(--neon-border-color-tabs-underline);

        .neon-tabs__menu-item-container:before {
          bottom: calc(-1 * var(--neon-border-width-tabs));
        }
      }

      .neon-tabs__menu-item {
        & + .neon-tabs__menu-item {
          margin-left: calc(6 * var(--neon-base-space));
        }

        &-container {
          flex-direction: row;
        }

        .neon-tabs__menu-item-container:focus {
          &:before {
            margin-left: var(--neon-base-space);
            margin-right: var(--neon-base-space);
            width: calc(100% - 2 * var(--neon-base-space));
          }
        }
      }
    }

    &--app {
      border-top: var(--neon-border);

      .neon-tabs__menu-items--underlined {
        border-top: var(--neon-border-width-tabs) var(--neon-border-style) var(--neon-border-color-tabs-underline);

        .neon-tabs__menu-item-container:before {
          top: calc(-1 * (var(--neon-border-width-tabs) + var(--neon-border-width)));
        }
      }

      .neon-tabs__menu-item {
        width: 100%;

        &-container {
          flex-direction: column;
          justify-content: center;
          gap: var(--neon-base-space);
          width: 100%;
          padding-top: calc(3 * var(--neon-base-space));
          padding-bottom: calc(2 * var(--neon-base-space));
          font-weight: var(--neon-font-weight-medium);
          font-size: var(--neon-font-size-xs);
          line-height: 1.26;

          .neon-icon {
            width: auto;
            height: 24rem;
          }
        }
      }
    }
  }

  .neon-tab {
    position: relative;
    display: none;
    border-radius: var(--neon-border-radius);
    @include layout.padding-vertical;

    &--selected {
      display: flex;
    }

    &:before {
      content: '';
      position: absolute;
      top: var(--neon-base-space);
      right: 0;
      width: calc(2 * var(--neon-base-space));
      height: calc(2 * var(--neon-base-space));
      border-radius: var(--neon-border-radius);
      display: flex;
      transition: all var(--neon-animation-speed-fast) ease-in-out;
    }

    &:focus {
      outline: none;

      &:before {
        background-color: var(--neon-color-low-contrast);
      }
    }
  }

  @include responsive.responsive(mobile-large) {
    .neon-tabs__menu-items {
      display: none;
    }

    .neon-tab {
      display: flex;
      padding-bottom: 0;
    }
  }

  .neon-card-body--full-width {
    .neon-tabs__menu-items {
      @include layout.padding-horizontal;
    }

    .neon-tab {
      @include layout.padding;
    }
  }
}
