@use '../includes/palettes';
@use '../includes/layout';
@use '../includes/responsive';
@use '../includes/svg';

@mixin tabs {
  .neon-tabs {
    @each $color in palettes.$neon-functional-colors {
      &.neon-tabs--#{$color} {
        $tab-selected-color: var(--neon-color-tab-selected-#{$color});
        $tab-hover-color: var(--neon-color-tab-hover-#{$color});

        .neon-tabs__menu-item {
          &.neon-tabs__menu-item {
            .neon-tabs__menu-item-container:before {
              background-color: $tab-selected-color;
            }
          }

          &:hover,
          &:active {
            .neon-tabs__menu-item-container:before {
              background-color: $tab-hover-color;
            }
          }

          .neon-tabs__menu-item-container:focus {
            background-color: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-tab-focus));
          }

          &-container:focus:before {
            background-color: $tab-hover-color;
          }
        }

        .neon-tab {
          &:focus-visible:before {
            background-color: $tab-hover-color;
          }
        }
      }
    }

    .neon-tabs__menu-items {
      height: var(--neon-height-tabs);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .neon-tabs__menu-item {
      --neon-border-width-link: 0rem;
      --neon-border-width-link-hover: 0rem;

      text-decoration: none;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      height: 100%;
      user-select: none;
      cursor: pointer;
      transition: color ease-in-out var(--neon-animation-speed-fast);
      @include svg.color-with-svg(var(--neon-color-low-contrast));

      font-weight: var(--neon-font-weight-tabs);

      &--selected {
        font-weight: var(--neon-font-weight-tabs-selected);
      }

      &:focus {
        outline: none;
      }

      &-container {
        pointer-events: none;
        touch-action: none;
        outline: none;
        height: 100%;
        align-items: center;
        color: var(--neon-color-text-primary);

        .neon-svg--stroke {
          stroke: var(--neon-color-text-primary);
        }

        .neon-svg--fill {
          fill: var(--neon-color-text-primary);
        }

        &:before {
          content: '';
          display: flex;
          width: 100%;
          background-color: transparent;
          position: absolute;
          height: var(--neon-border-width-tabs);
          bottom: 0;
          left: 0;
          border-radius: var(--neon-border-radius-tabs);
          transition: all ease-in-out var(--neon-animation-speed-fast);
        }
      }
    }

    &.neon-tabs--s {
      .neon-tabs__menu-items {
        font-size: var(--neon-font-size-m);

        svg {
          width: var(--neon-font-size-m);
          height: var(--neon-font-size-m);
          margin-right: var(--neon-base-space);
        }
      }
    }

    &.neon-tabs--m {
      .neon-tabs__menu-items {
        font-size: var(--neon-font-size-l);

        svg {
          width: var(--neon-font-size-l);
          height: var(--neon-font-size-l);
          margin-right: calc(2 * var(--neon-base-space));
        }
      }
    }

    &.neon-tabs--l {
      .neon-tabs__menu-items {
        font-size: var(--neon-font-size-l);

        svg {
          width: var(--neon-font-size-l);
          height: var(--neon-font-size-l);
          margin-right: calc(2 * var(--neon-base-space));
        }
      }
    }

    .neon-tabs__menu-items--full-width-mobile {
      @include responsive.responsive(mobile-large) {
        margin: 0 calc(-1 * var(--neon-gutter-mobile));
        max-width: calc(100% + 2 * var(--neon-gutter-mobile));
        width: calc(100% + 2 * var(--neon-gutter-mobile));
      }
    }

    .neon-tabs__menu-items--underlined {
      .neon-swiper__container {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          display: flex;
          bottom: 0;
          left: 0;
          width: 100%;
          height: var(--neon-border-width-tabs);
          background-color: var(--neon-border-color-tabs-underline);
        }

        .neon-tabs__menu-item-container:before {
          background-color: var(--neon-border-color-tabs-underline);
        }
      }

      .neon-tabs__menu-item-container:before {
        bottom: 0;
        z-index: var(--neon-z-index-above);
      }
    }

    .neon-tabs__menu-item {
      &-container {
        padding: 0 calc(8 * var(--neon-base-space));
        flex-direction: row;
      }

      .neon-tabs__menu-label {
        white-space: nowrap;
      }
    }
  }

  .neon-tab {
    position: relative;
    display: none;
    border-radius: var(--neon-border-radius);
    @include layout.padding-vertical;

    &--selected {
      display: flex;
    }

    &:before {
      content: '';
      position: absolute;
      top: var(--neon-base-space);
      right: 0;
      width: calc(2 * var(--neon-base-space));
      height: calc(2 * var(--neon-base-space));
      border-radius: var(--neon-border-radius);
      display: flex;
      transition: all var(--neon-animation-speed-fast) ease-in-out;
    }

    &:focus-visible {
      outline: none;

      &:before {
        background-color: var(--neon-color-low-contrast);
      }
    }
  }

  .neon-card-body--full-width {
    .neon-tabs__menu-items {
      @include layout.padding-horizontal;
    }

    .neon-tab {
      @include layout.padding;
    }
  }
}
