@use '../includes/palettes';
@use '../includes/svg';
@use '../includes/outline';

@mixin toast-container {
  .neon-alert {
    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &--top,
    &--bottom {
      min-width: 100%;
      max-width: 100%;
      align-items: center;
    }

    .neon-toast__message {
      pointer-events: visible;
      touch-action: auto;
      min-width: var(--neon-width-toast);
      margin: var(--neon-space-4);
      overflow: hidden;
      border-radius: var(--neon-border-radius-toast);
      display: flex;
      flex-direction: row;
      gap: var(--neon-gap-toast);
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: var(--neon-padding-toast);
      box-shadow: var(--neon-box-shadow-alert);

      @each $color in palettes.$alert-colors {
        &.neon-toast__message--#{$color} {
          background-color: var(--neon-background-color-toast-#{$color});
          @include svg.color-with-svg(var(--neon-color-toast-#{$color}));

          &:focus-within {
            @include outline.box-shadow-outline(var(--neon-rgb-#{$color}));
          }
        }
      }

      &--dismissible {
        cursor: pointer;
      }

      .neon-toast__close {
        min-width: var(--neon-size-toast-close-icon);
        width: var(--neon-size-toast-close-icon);
        min-height: var(--neon-size-toast-close-icon);
        height: var(--neon-size-toast-close-icon);
        outline: none;
      }
    }

    .neon-toast__title {
      line-height: var(--neon-line-height-toast);
      font-size: var(--neon-font-size-toast);
      font-weight: var(--neon-font-weight-toast);
      font-family: var(--neon-font-family-toast);
      letter-spacing: var(--neon-letter-spacing-toast);
    }
  }
}
