@use '../includes/palettes';
@use '../includes/svg';

@mixin neon-toggle-chip-size($neon-toggle-chip-size, $neon-toggle-chip-font-size, $neon-toggle-chip-padding) {
  height: var(--neon-size-#{$neon-toggle-chip-size});
  font-size: var(--neon-font-size-#{$neon-toggle-chip-font-size});
  padding-left: calc(#{$neon-toggle-chip-padding} * var(--neon-space-4));
  padding-right: calc(#{$neon-toggle-chip-padding} * var(--neon-space-4));

  &.neon-toggle-chip--checked {
    .neon-toggle-chip__checked {
      width: var(--neon-font-size-#{$neon-toggle-chip-size});
      height: var(--neon-font-size-#{$neon-toggle-chip-size});
    }
  }
}

@mixin toggle-chip {
  .neon-toggle-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border: var(--neon-border-width-toggle-chip) var(--neon-border-style);
    border-radius: var(--neon-border-radius-toggle-chip);
    transition: width ease-in-out var(--neon-animation-speed-fast), background-color ease-in-out var(--neon-animation-speed-fast);
    border-color: var(--neon-border-color-toggle-chip);
    background-color: var(--neon-background-color-toggle-chip);
    font-weight: var(--neon-font-weight-toggle-chip);

    @each $color in palettes.$neon-functional-colors {
      &--#{$color}:not(.neon-toggle-chip--disabled) {
        color: var(--neon-color-#{$color});

        &:focus,
        &:hover {
          background-color: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-toggle-chip-hover));
        }

        &.neon-toggle-chip--checked {
          border-color: var(--neon-color-#{$color});
          background-color: var(--neon-color-#{$color});
          @include svg.color-with-svg(var(--neon-color-toggle-chip-text-checked));
        }

        &.neon-toggle-chip--checked {
          &:focus,
          &:hover {
            background-color: rgba(var(--neon-rgb-#{$color}), var(--neon-opacity-toggle-chip-hover-checked));
          }
        }
      }
    }

    &:focus {
      outline: none;
    }

    &__label {
      user-select: none;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    &__input {
      display: none;
    }

    &__checked {
      width: 0;
      margin-right: 0;
      opacity: 0;
    }

    &--checked {
      .neon-toggle-chip__checked {
        margin-right: var(--neon-space-8);
        opacity: 1;
      }
    }

    &--xs {
      @include neon-toggle-chip-size('xs', 's', 2);
    }

    &--s {
      @include neon-toggle-chip-size('s', 'm', 2.5);
    }

    &--m {
      @include neon-toggle-chip-size('m', 'm', 3.5);
    }

    &--l {
      @include neon-toggle-chip-size('l', 'l', 5);
    }

    &:active:not(.neon-toggle-chip--disabled):not(.neon-toggle-chip--show-check) {
      transform: scale(0.95);
    }

    &--disabled {
      cursor: not-allowed;
      background-color: var(--neon-color-disabled-background);
      color: var(--neon-color-disabled-text);
      border-color: var(--neon-color-disabled-border);
    }
  }
}
