@use '../includes/layout';
@use '../includes/responsive';

@mixin top-nav {
  .neon-top-nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    z-index: var(--neon-z-index-above-3);
    background-color: var(--neon-background-color-top-nav);
    border-bottom: var(--neon-border-width-top-nav) var(--neon-border-style) var(--neon-border-color-top-nav);

    &__container {
      @include responsive.responsive(larger-than-tablet) {
        padding: 0 var(--neon-gutter-desktop);
        max-width: var(--neon-max-width-page);
      }

      @include responsive.responsive(tablet) {
        padding: 0 var(--neon-gutter-tablet);
        max-width: 100vw;
      }

      @include responsive.responsive(mobile-large) {
        padding: 0 var(--neon-gutter-mobile);
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @include responsive.responsive(larger-than-tablet) {
      height: var(--neon-top-nav-height-desktop);
    }

    @include responsive.responsive(tablet) {
      height: var(--neon-top-nav-height-tablet);
    }

    @include responsive.responsive(mobile-large) {
      height: var(--neon-top-nav-height-mobile);
    }
  }

  .neon-page--center {
    .neon-top-nav__container {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
