@use 'src/sass/includes/responsive';

.app .api-docs {
  &__wrapper:not(:last-child) {
    margin-bottom: var(--neon-space-32);

    @include responsive.responsive(mobile-large) {
      margin-bottom: var(--neon-space-16);
    }
  }

  & > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__section {
    margin-top: var(--neon-space-24);
  }

  &__title {
    margin-bottom: calc(-1 * var(--neon-space-8));
  }

  &__type,
  &__default {
    font-family: var(--neon-font-family-monospaced);
    font-variant-ligatures: discretionary-ligatures;
    font-variation-settings: var(--monospaced-font-variation-settings);
    white-space: nowrap;
  }

  &__name {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    color: var(--app-color-api-docs-name);

    .neon-label {
      margin-left: var(--neon-space-8);
    }
  }

  .api-docs__description {
    display: inline !important;
    letter-spacing: normal;
    color: var(--neon-color-high-contrast);
  }

  table {
    border-bottom: none;
    width: 100%;

    td:last-child {
      width: 100%;
    }
  }

  &__responsive {
    display: flex;

    .api-docs {
      &__title {
        margin-top: var(--neon-space-8);
        margin-bottom: 0;
      }

      &__attribute {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: var(--neon-space-4);

        label {
          margin-bottom: 0;
          margin-right: var(--neon-space-8);
        }

        .neon-label {
          margin-left: var(--neon-space-8);
        }

        &:first-child {
          border-bottom: var(--neon-border-width-table) var(--neon-border-style) var(--neon-color-neutral);
        }
      }

      &__name {
        font-size: var(--neon-font-size-l);
      }

      &__property,
      &__event,
      &__slot {
        &:not(:first-of-type) {
          margin-top: var(--neon-space-16);
        }
      }
    }
  }
}
