.api-docs {
  &__wrapper:not(:last-child) {
    margin-bottom: 8 * $base-space;

    @include responsive(mobile-large) {
      margin-bottom: 4 * $base-space;
    }
  }

  & > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__desktop,
  &__responsive {
    margin-top: 2 * $base-space;
  }

  &__section {
    margin-bottom: 4 * $base-space;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: -2 * $base-space;
  }

  &__type,
  &__default {
    font-family: $font-family-monospaced;
    font-variant-ligatures: discretionary-ligatures;
    font-variation-settings: $monospaced-font-variation-settings;
    white-space: nowrap;
  }

  &__name {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    .neon-label {
      margin-left: 2 * $base-space;
    }
  }

  &__description {
    letter-spacing: normal;
  }

  table {
    border-bottom: none;
    width: 100%;

    td:last-child {
      width: 100%;
    }
  }

  @include responsive(desktop-large) {
    &__desktop {
      display: flex;
    }

    &__responsive {
      display: none;
    }
  }

  @include responsive(desktop) {
    &__desktop {
      display: none;
    }

    &__responsive {
      display: flex;

      .api-docs {
        &__title {
          margin-top: 2 * $base-space;
          margin-bottom: 0;
        }

        &__attribute {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: $base-space;

          label {
            margin-bottom: 0;
            margin-right: 2 * $base-space;
          }

          .neon-label {
            margin-left: 2 * $base-space;
          }
        }

        &__name {
          font-size: $font-size-l;
          padding-bottom: $base-space;
        }

        &__property,
        &__event,
        &__slot {
          &:not(:first-of-type) {
            margin-top: 4 * $base-space;
          }
        }
      }
    }
  }
}
