@use 'sass:map';

.api-docs {
  &__name {
    color: map.get($neon-info-palette, $neon-color-api-docs-property-name);
  }

  @include responsive(desktop) {
    &__responsive {
      .api-docs__attribute:first-child {
        border-bottom: $neon-border-width-table $neon-border-style $neon-color-text-neutral;
      }
    }
  }

  &__description {
    color: $neon-color-text-high-contrast;
  }
}
