.palette-creator {
  .neon-field {
    max-width: 250rem;
  }

  .neon-card .neon-card-body:not(.palette-creator__text-vars) .neon-color--m {
    margin-bottom: var(--neon-space-4);

    .neon-color__indicator {
      border-radius: 0;
      width: 116rem;
      height: 50rem;
      top: -13rem;
      position: absolute;
      left: 98rem;
      border: none;
    }

    input.neon-input__text:focus {
      background-color: var(--neon-background-color);
    }

    .neon-color__input {
      width: 100rem;
      height: 45rem;
      top: -3rem;
      left: 52rem;
    }
  }

  .palette-creator__light-palette,
  .palette-creator__dark-palette {
    padding: var(--neon-space-16);

    & > div {
      position: relative;

      & > span {
        position: absolute;
        top: -6rem;
        left: 110rem;
        text-transform: uppercase;
        font-weight: var(--neon-font-weight-medium);
        pointer-events: none;
        touch-action: none;
      }
    }
  }

  .palette-creator__dark-palette,
  .palette-creator__light-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      font-size: 18.66rem;
      font-weight: var(--neon-font-weight-semi-bold);
      left: 144rem;
      top: 12rem;
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      font-size: 16rem;
      font-weight: var(--neon-font-weight-normal);
      left: 144rem;
    }
  }

  .palette-creator__dark-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      color: var(--neon-color-text-primary-dark);
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      color: var(--neon-color-text-secondary-dark);
    }
  }

  .palette-creator__light-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      color: var(--neon-color-text-primary-light);
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      color: var(--neon-color-text-secondary-light);
    }
  }

  .palette-creator__palette-group {
    max-width: fit-content;
  }

  .palette-creator__palette-group--hide {
    .palette-creator__dark-palette,
    .palette-creator__light-palette {
      .palette-creator__color-level,
      .palette-creator__color--large-aaa,
      .palette-creator__color--large-aa,
      .palette-creator__color--normal-aaa,
      .palette-creator__color--normal-aa {
        display: none;
      }
    }
  }

  .palette-creator__light-palette {
    padding-bottom: 1rem;
    margin-bottom: 0 !important;
    background-color: black;
    color: var(--neon-color-text-primary-light);
  }

  .palette-creator__dark-palette {
    padding-top: 5rem;
    background-color: white;
    color: var(--neon-color-text-primary-dark);
  }
}
