.palette-creator {
  .neon-card .neon-card-body:not(.palette-creator__text-vars) .neon-color--m {
    margin-bottom: var(--neon-base-space);

    .neon-color__indicator {
      border-radius: 0;
      width: 116rem;
      height: 50rem;
      top: -13rem;
      position: absolute;
      left: 78rem;
      border: none;
    }

    .neon-color__input {
      width: 100rem;
      height: 45rem;
      top: -3rem;
      left: 52rem;
    }
  }

  .palette-creator__light-palette,
  .palette-creator__dark-palette {
    padding: calc(4 * var(--neon-base-space));

    & > div {
      position: relative;

      & > span {
        position: absolute;
        top: -6rem;
        left: 90rem;
        text-transform: uppercase;
        font-weight: var(--neon-font-weight-semi-bold);
        pointer-events: none;
        touch-action: none;
      }
    }
  }

  .neon--vertical.palette-creator__palette-group {
    margin-right: 0;
  }


  .palette-creator__dark-palette,
  .palette-creator__light-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      font-size: 18.66rem;
      font-weight: bold;
      left: 124rem;
      top: 12rem;
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      font-size: 16rem;
      font-weight: normal;
      left: 124rem;
    }
  }

  .palette-creator__dark-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      color: var(--neon-color-text-strong-light);
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      color: var(--neon-color-text-light);
    }
  }

  .palette-creator__light-palette {
    .palette-creator__color--large-aaa,
    .palette-creator__color--large-aa {
      color: var(--neon-color-text-strong-dark);
    }

    .palette-creator__color--normal-aaa,
    .palette-creator__color--normal-aa {
      color: var(--neon-color-text-dark);
    }
  }

  .palette-creator__palette-group--hide {
    .palette-creator__dark-palette,
    .palette-creator__light-palette {
      .palette-creator__color-level,
      .palette-creator__color--large-aaa,
      .palette-creator__color--large-aa,
      .palette-creator__color--normal-aaa,
      .palette-creator__color--normal-aa {
        display: none;
      }
    }
  }

  .palette-creator__light-palette {
    padding-bottom: 1rem;
    margin-bottom: 0 !important;
    background-color: black;
    color: var(--neon-color-text-strong-dark);
  }

  .palette-creator__dark-palette {
    padding-top: 5rem;
    background-color: white;
    color: var(--neon-color-text-strong-light);
  }
}
