@use '../../../../sass/includes/responsive';

.image-carousel {
  .image-carousel__wrapper {
    width: 500rem;
    height: 500rem;

    @include responsive.responsive(mobile-large) {
      margin: 0 auto;
      width: 300rem;
      height: 300rem;
    }
  }
}
