p + .app-pre {
  margin-top: 0;
}

.app-pre + p {
  margin-top: 3 * $base-space;
}

.app-pre {
  position: relative;

  pre {
    margin-top: 0;
  }

  &__copy {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    transition: opacity ease-in-out $animation-speed-fast;

    &:hover {
      background: none !important;
      cursor: pointer;
      opacity: 1;
    }
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-family: $font-family-monospaced;
    font-variant-ligatures: discretionary-ligatures;
    font-variation-settings: $monospaced-font-variation-settings;
  }
}
