.api-docs {
  .api-docs__event-badge {
    border-color: $border-color;
    background-color: rgba($background-color, 0.25);

    .api-docs__event-returns-label {
      border-color: $border-color;
    }
  }

  .api-docs__card {
    border-color: $border-color;
    background-color: rgba($background-color, 0.25);

    .api-docs__card-header {
      border-color: $border-color;
    }

    .api-docs__card-description {
      border-color: $border-color;
    }

    dl {
      border-color: $border-color;
    }

    dt {
      color: $label-color;
    }
  }
}
