// application SASS
@import '../components/editor/Editor';
@import '../components/examples/Examples';
@import '../components/example/Example';
@import '../components/component-documentation/ComponentDocumentation';
@import '../components/api-docs/ApiDocs';

@import '../views/design/color/Color';
@import '../views/presentation/expansion-panel/ExpansionPanel';
@import '../views/presentation/icon/Icon';
@import '../views/design/typography/Typography';
@import '../views/feedback/note/Note';
@import '../views/source/Source';
@import '../views/user-input/button/Button';
@import '../views/user-input/drop-zone/DropZone';
@import '../views/feedback/alert/Alert';
@import '../views/home/Home';
@import '../views/error/NotFound';
@import '../views/feedback/splash-loader/SplashLoader';
@import '../views/user-input/select/Select';
@import '../views/user-input/field-group/FieldGroup';
@import '../views/layout/footer/Footer';
@import '../views/design/layout/Layout';
@import '../views/user-input/slider/Slider';

body {
  .title {
    margin-left: 8 * $neon-base-space;
    font-family: $neon-body-font-family;
    font-weight: lighter;
  }
}

header {
  .neon-top-nav__container {
    justify-content: space-between;

    .top-nav-actions {
      display: flex;
    }
  }

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @include responsive(tablet) {
      align-items: center;
    }

    .neon-button {
      margin-right: 4 * $neon-base-space;

      @include responsive(larger-than-tablet) {
        display: none;
      }
    }
  }

  .homepage-link {
    display: flex;
  }

  .tagline {
    margin-left: 4 * $neon-base-space;
    font-size: $neon-font-size-l;
    font-weight: 300;
    opacity: 0.9;
    letter-spacing: $neon-letter-spacing-s;
    line-height: $neon-line-height-one;
    user-select: none;
    position: relative;
    top: 3px;

    @include responsive(tablet) {
      display: none;
    }
  }
}

.example__output,
.no-style--font {
  .neon-h0,
  .neon-h1,
  .neon-h2,
  .neon-h3,
  .neon-h4,
  .neon-h5,
  .neon-h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

.neon-card + .neon-card {
  @include margin-top;
}

.positioned-element {
  position: relative;
  display: flex;
  width: fit-content;
}

.neon-dropdown__content {
  p {
    white-space: nowrap;
  }
}

blockquote,
.neon-note {
  max-width: $neon-max-paragraph-width;
}

.menu-filter {
  @include hidden;
}
