$height-component-header-desktop: 151px;
$height-component-header-mobile: 77px;

.component-documentation {
  margin-top: $height-component-header-desktop;

  @include responsive(mobile-large) {
    margin-top: $height-component-header-mobile;
  }

  &__header {
    position: fixed;
    z-index: $z-index-overlay-under-top-nav;
    @include padding(1, true);
    padding-bottom: 0 !important;
    top: $top-nav-height-desktop;
    left: $side-nav-width;
    width: calc(100vw - #{$side-nav-width});

    @include responsive(tablet) {
      top: $top-nav-height-tablet;
      left: 0;
      width: 100vw;
    }

    @include responsive(mobile-large) {
      top: $top-nav-height-mobile;
    }

    .neon-tabs {
      position: relative;
      top: $border-width;
    }
  }

  &__header-container,
  .neon-tab {
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }

  .neon-tab {
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 2 * $base-space;

    @include responsive(mobile-large) {
      margin-bottom: 0;
    }
  }

  &__headline {
    margin-bottom: 8 * $base-space;
    font-weight: 300;
    font-size: $h6-size;
    opacity: 0.66;

    @include responsive(mobile-large) {
      margin-bottom: 2 * $base-space;
    }
  }

  .examples:not(:first-child) {
    margin-top: 8 * $base-space;
  }
}
