.app-side-nav {
  .neon-input {
    input {
      border: none;
      border-radius: 0;
      box-shadow: none;
      @include padding-horizontal(0.75);
    }
  }

  & > hr {
    display: none;
  }
}
