$neon-color-api-docs-property-name: l2;
$neon-color-404: rgba($neon-color-brand-l1, 0.75);
$neon-color-editor-lock: $neon-color-text-low-contrast;

// application dark mode SASS
@import '../components/editor/Editor-colors';
@import '../components/api-docs/ApiDocs-colors';
@import '../components/example/Example-colors';
@import '../components/component-documentation/ComponentDocumentation-colors';

@import '../views/design/color/Color-colors';
@import '../views/error/NotFound-colors';
@import '../views/design/layout/Layout-colors';

.neon-top-nav + .neon-side-nav {
  .neon-side-nav__scrolling {
    border-top: $neon-border;
  }
}

a[href]:not(.neon-link--no-style):not(.neon-link) {
  display: inline-flex;
  position: relative;

  &:after {
    content: '';
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    display: flex;
    background-color: transparent;
    border-radius: $neon-border-radius;
    transition: background-color $neon-animation-speed-slow ease-in-out, color $neon-animation-speed-slow ease-in-out;
  }

  &:focus {
    outline: none;
    color: $neon-color-link;

    &:after {
      background-color: $neon-color-link;
    }
  }

  &:hover {
    color: $neon-color-link;

    &:after {
      background-color: $neon-color-link;
    }
  }
}

.example-inverse-bg {
  background-color: $neon-color-primary;
  border-radius: $neon-border-radius;
  padding: 2 * $neon-base-space;
}
