@import './code-mirror';

.example {
  &__code {
    span {
      display: inline;
    }

    pre {
      display: block;
      background-color: inherit !important;
    }

    .CodeMirror {
      height: fit-content;
      min-height: 30 * $base-space;
      max-height: 75 * $base-space;
      padding-top: $base-space;
      padding-left: 1.5 * $base-space;
      margin-top: 2 * $base-space;
      overflow: hidden;
      border-radius: $border-radius !important;

      @include code-mirror-width;
    }
  }

  &__output {
    border-radius: $border-radius !important;
  }

  &--inline {
    .example__output {
      padding: 0;
    }
  }
}
