@import './code-mirror';

.example {
  &__code {
    border-radius: $border-radius;
    overflow: hidden;
    @include margin-top;

    span {
      display: inline;
    }

    pre {
      display: block;
      background-color: inherit !important;
    }

    .CodeMirror {
      height: fit-content;
      min-height: 30 * $base-space;
      max-height: 75 * $base-space;

      @include code-mirror-width;
    }
  }
}
