// global SASS overrides
@use '../../sass/includes/responsive';
@use '../../sass/includes/layout';
@use '../../sass/includes/hidden';

body {
  font-size: var(--neon-base-font-size);

  .title {
    margin-left: var(--neon-space-32);
    font-family: var(--neon-font-family-body);
    font-weight: var(--neon-font-weight-extra-light);
  }
}

header {
  .neon-top-nav__container {
    justify-content: space-between;

    .top-nav-actions {
      display: flex;
    }
  }

  .homepage-link {
    display: flex;
  }

  .tagline {
    margin-left: var(--neon-space-16);
    font-family: var(--neon-font-family-heading);
    font-size: var(--neon-font-size-l);
    font-weight: var(--neon-font-weight-extra-light);
    opacity: 0.9;
    letter-spacing: var(--neon-letter-spacing-s);
    line-height: var(--neon-line-height-one);
    user-select: none;
    position: relative;
    top: 3rem;

    @include responsive.responsive(tablet) {
      display: none;
    }
  }
}

.example__output,
.no-style--font {
  .neon-h0,
  .neon-h1,
  .neon-h2,
  .neon-h3,
  .neon-h4,
  .neon-h5,
  .neon-h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--neon-font-family-heading);
  }
}

.positioned-element {
  position: relative;
  display: flex;
  width: fit-content;
}

.neon-dropdown__content {
  p {
    white-space: nowrap;
  }
}

.menu-filter {
  @include hidden.hidden;
}

.neon-top-nav + .neon-side-nav {
  .neon-side-nav__scrolling {
    border-top: var(--neon-border);
  }
}

a[href]:not(.neon-link--no-style):not(.neon-link) {
  display: inline-flex;
  position: relative;

  &:after {
    content: '';
    font-weight: var(--neon-font-weight-semi-bold);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    background-color: transparent;
    border-radius: var(--neon-border-radius);
    transition: background-color var(--neon-animation-speed-slow) ease-in-out, color var(--neon-animation-speed-slow) ease-in-out;
  }

  &:focus {
    outline: none;
    color: var(--neon-color-link);

    &:after {
      font-weight: var(--neon-font-weight-semi-bold);
    }
  }

  &:hover {
    color: var(--neon-color-link);

    &:after {
      background-color: var(--neon-color-link);
    }
  }
}

.example-inverse-bg {
  background-color: var(--neon-color-text-primary);
  border-radius: var(--neon-border-radius);
  padding: var(--neon-space-8);
}
