$color-api-docs-property-name: d2;
$color-404: $color-brand-d3;
$color-editor-lock: $color-text-neutral;

// application light mode SASS
@import '../components/editor/Editor-colors';
@import '../components/api-docs/ApiDocs-colors';
@import '../components/example/Example-colors';
@import '../components/component-documentation/ComponentDocumentation-colors';

@import '../views/design/color/Color-colors';
@import '../views/error/NotFound-colors';
@import '../views/design/layout/Layout-colors';

.neon-top-nav + .neon-side-nav {
  .neon-side-nav__scrolling {
    border-top: $border-width $border-style $border-color;
  }
}

.app-side-nav {
  .neon-input {
    input {
      background-color: $background-color-footer;

      &:focus {
        background-color: $background-color;
      }
    }
  }
}

a[href]:not(.neon-link--no-style):not(.neon-link) {
  display: inline-flex;
  position: relative;

  &:after {
    content: '';
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    display: flex;
    background-color: transparent;
    border-radius: $border-radius;
    transition: background-color $animation-speed-slow ease-in-out, color $animation-speed-slow ease-in-out;
  }

  &:focus {
    outline: none;
    color: $color-link;

    &:after {
      background-color: $color-link;
    }
  }

  &:hover {
    color: $color-link;

    &:after {
      background-color: $color-link;
    }
  }
}
