.neon {
  --monospaced-font-variation-settings: 'wdth' 100, 'wght' 450;
  --neon-font-family-monospaced: Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Courier, monospace;
  --neon-heading-font-family: Archia, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  .typography-sample {
    --neon-h0-weight: 600;
    --neon-h1-weight: 600;
    --neon-h2-weight: 600;
    --neon-font-weight-bold: 600;
  }

  &.neon-mode--dark {
    --app-color-api-docs-name: var(--neon-color-info-l2);
    --app-color-404: rgba(var(--neon-rgb-brand), 0.75);
    --app-color-editor-lock: var(--neon-color-low-contrast);
  }

  &.neon-mode--light {
    --app-color-api-docs-name: var(--neon-color-info-d1);
    --app-color-404: var(--neon-color-brand-d3);
    --app-color-editor-lock: var(--neon-color-neutral);
  }
}
