$neon-base-color: l1 !default;

$neon-background-color-card: $neon-color-neutral-d4 !default;
$neon-background-color: $neon-color-neutral-d5 !default;

$neon-color-text-dark: #000;
$neon-color-text-light: #fff;
$neon-color-text: $neon-color-text-light !default;
$neon-color-inverse: $neon-color-text-dark !default;
$neon-color-text-low-contrast: $neon-color-low-contrast-l1 !default;
$neon-color-text-neutral: $neon-color-neutral-l1 !default;
$neon-color-text-high-contrast: $neon-color-high-contrast-l1 !default;
$neon-color-text-brand: $neon-color-brand-l1 !default;
$neon-color-text-primary: $neon-color-primary-l1 !default;
$neon-color-text-info: $neon-color-info-l1 !default;
$neon-color-text-success: $neon-color-success-l1 !default;
$neon-color-text-warn: $neon-color-warn-l1 !default;
$neon-color-text-error: $neon-color-error-l1 !default;

$neon-background-color-low-contrast: $neon-color-low-contrast-d1 !default;
$neon-background-color-neutral: $neon-color-neutral-d1 !default;
$neon-background-color-high-contrast: $neon-color-high-contrast-d1 !default;
$neon-background-color-primary: $neon-color-primary-d1 !default;
$neon-background-color-info: $neon-color-info-d1 !default;
$neon-background-color-success: $neon-color-success-d1 !default;
$neon-background-color-warn: $neon-color-warn-d1 !default;
$neon-background-color-error: $neon-color-error-d1 !default;

$neon-border-color: $neon-color-neutral-d3 !default;
$neon-border: $neon-border-width $neon-border-style $neon-border-color !default;
$neon-hrcolor: $neon-border-color !default;

$neon-color-outline: $neon-base-color !default;

$neon-label-color: $neon-color-neutral-l1 !default;

$neon-color-disabled-light: $neon-color-neutral-d2 !default;
$neon-color-disabled-dark: #333333 !default;

/* switch */
$neon-color-switch-off: $neon-color-neutral-d2 !default;
$neon-color-switch-on: $neon-base-color !default;
$neon-color-switch-indicator: $neon-color-neutral-d4 !default;

$neon-color-switch-disabled: $neon-color-disabled-dark !default;
$neon-color-switch-indicator-disabled: $neon-color-disabled-light !default;

/* checkbox */
$neon-background-color-checkbox: l2 !default;
$neon-border-color-checkbox: $neon-base-color !default;

/* solid button */
$neon-background-solid-button-light: $neon-base-color !default;
$neon-background-solid-button-dark: $neon-base-color !default;
/* alternate color for gradient buttons only */
$neon-background-solid-button-alternate: d1 !default;

/* high-contrast buttons */
$neon-background-high-contrast-solid-button-light: $neon-color-text !default;
$neon-background-high-contrast-solid-button-dark: $neon-color-text !default;

/* low-contrast buttons */
$neon-background-low-contrast-solid-button-light: $neon-color-low-contrast-d5 !default;
$neon-background-low-contrast-solid-button-dark: $neon-color-low-contrast-d5 !default;
$neon-color-low-contrast-solid-button: $neon-color-low-contrast-l4 !default;
$neon-color-low-contrast-outline-button: $neon-color-low-contrast-d3 !default;

/* text button */
$neon-color-text-button: $neon-base-color !default;
$neon-background-color-text-button-hover: rgba($neon-color-neutral-d3, 0.25) !default;
$neon-background-color-text-button-active: rgba($neon-color-neutral-d3, 0.5) !default;

/* label */
$neon-color-label: $neon-base-color !default;

/* note */
$neon-border-color-note: $neon-base-color !default;
$neon-background-color-note: $neon-base-color !default;
$neon-background-opacity-note: 0.125 !default;
$neon-color-note: $neon-color-neutral-l3 !default;

/* link */
$neon-color-link: $neon-color-primary-l1 !default;
$neon-color-link-hover: $neon-color-primary-l2 !default;
$neon-color-link-visited: darken($neon-color-primary-l1, 15%) !default;

/* icon */
$neon-color-icon: $neon-base-color !default;

/* action menu */
$neon-color-action-menu-hover: $neon-color-neutral-d3 !default;
$neon-color-action-menu-selected: $neon-base-color !default;

/* selection */
$neon-background-color-selection: $neon-color-brand-l1 !default;

/* pre */
$neon-color-pre: $neon-color-primary-l3 !default;
$neon-background-color-pre: darken($neon-color-neutral-d3, 3) !default;

/* toggle */
$neon-color-toggle: $neon-base-color !default;
$neon-color-toggle-selected: $neon-color-neutral-d5 !default;
$neon-border-color-toggle: $neon-color-neutral-d3 !default;

/* radio buttons */
$neon-background-radio-button: linear-gradient(0deg, $neon-color-neutral-d3 0%, $neon-color-neutral-d5 100%) !default;
$neon-color-radio-button-label: $neon-color-neutral-l3 !default;

/* input */
$neon-border-color-input: $neon-color-neutral-d2 !default;
$neon-background-color-input: rgba($neon-color-neutral-d5, 0.5) !default;
$neon-color-input-selected: $neon-base-color !default;
$neon-color-placeholder: rgba($neon-color-text, 0.25) !default;

/* drop zone */
$neon-color-drop-zone: $neon-color-neutral-l1 !default;

/* file */
$neon-color-list-item: $neon-base-color !default;

/* alerts */
$neon-box-shadow-alert: 0.5 * $neon-base-space 0.5 * $neon-base-space 2 * $neon-base-space $neon-color-neutral-d5 !default;
$neon-color-alert: $neon-base-color !default;
$neon-background-color-toast: $neon-base-color !default;
$neon-color-toast: d4 !default;

/* dropdown / dropdown menu / select */
$neon-border-color-dropdown: $neon-color-neutral-d3 !default;
$neon-background-color-dropdown-menu-highlight: $neon-base-color !default;
$neon-box-shadow-dropdown: 0.5 * $neon-base-space 0.5 * $neon-base-space 2 * $neon-base-space $neon-color-neutral-d5 !default;

/* tooltip */
$neon-box-shadow-tooltip: 0.5 * $neon-base-space 0.5 * $neon-base-space 2 * $neon-base-space $neon-color-neutral-d5 !default;

/* tabs */
$neon-color-tab-selected: $neon-base-color !default;
$neon-border-color-tabs-underline: transparentize($neon-color-neutral-d3, 0.667) !default;

/* footer */
$neon-background-color-footer: $neon-background-color !default;
$neon-border-top-footer: none !default;

/* skeleton loader */
$neon-color-loading-1: $neon-color-neutral-d3 !default;
$neon-color-loading-2: $neon-color-neutral-d2 !default;
$neon-color-loading-3: rgba($neon-color-neutral-d2, 0.5) !default;

/* chip */
$neon-color-chip: $neon-base-color !default;

/* scrollbars */
$neon-color-scrollbar: rgba(white, 0.05) !default;

/* overlays */
$neon-background-color-overlay: rgba($neon-color-neutral-d5, 0.75) !default;

/* toggle chips */
$neon-color-toggle-chip: $neon-base-color !default;
$neon-color-toggle-chip-text: $neon-color-text !default;
$neon-border-color-toggle-chip: $neon-color-neutral-d3 !default;
$neon-opacity-toggle-chip: 0.15 !default;

/* slider & range slider */
$neon-color-slider: $neon-base-color !default;
$neon-color-slider-track: $neon-color-neutral-d3 !default;
$neon-slider-thumb-color: $neon-color-neutral-l4 !default;
$neon-box-shadow-slider: 0px -2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.3) !default;
$neon-border-slider-thumb: none !default;

/* top nav */
$neon-background-color-top-nav: $neon-background-color-card !default;

/* side nav */
$neon-background-color-side-nav: $neon-background-color-card !default;

/* input indicators */
$neon-background-color-input-indicator: $neon-color-high-contrast-d2 !default;
$neon-color-input-indicator: $neon-color-text-neutral !default;
