@import 'src/sass/themes/default/default';

.app {
  @import 'src/views/home/Home';

  body {
    .title {
      margin-left: 8 * $base-space;
      font-family: $body-font-family;
      font-weight: lighter;
    }

  }

  &.neon {
  }
}
