.icons-wrapper {
  flex-direction: row;
  flex-wrap: wrap;

  .icon-container {
    min-width: 40 * $neon-base-space;
    min-height: 40 * $neon-base-space;
    justify-content: center;
    align-items: center;

    label {
      margin-top: 4 * $neon-base-space;
    }
  }

  .neon-icon {
    width: 10 * $neon-base-space;
    height: 10 * $neon-base-space;
  }

  label {
    text-transform: lowercase;
    font-size: $neon-font-size-m;
    user-select: all;
  }
}
