.neon-card .icons-wrapper {
  flex-direction: row;
  flex-wrap: wrap;

  .icon-container {
    min-width: calc(40 * var(--neon-base-space));
    min-height: calc(40 * var(--neon-base-space));
    justify-content: center;
    align-items: center;

    label {
      margin-top: calc(4 * var(--neon-base-space));
    }
  }

  .neon-icon {
    width: calc(10 * var(--neon-base-space));
    height: calc(10 * var(--neon-base-space));
  }

  label {
    text-transform: lowercase;
    font-size: var(--neon-font-size-m);
    user-select: all;
  }
}
