.neon-card .icons-wrapper {
  flex-direction: row;
  flex-wrap: wrap;

  .icon-container {
    min-width: calc(40 * var(--neon-space-4));
    min-height: calc(40 * var(--neon-space-4));
    justify-content: center;
    align-items: center;

    label {
      margin-top: var(--neon-space-16);
    }
  }

  .neon-icon {
    height: var(--neon-space-40);
  }

  label {
    text-transform: lowercase;
    font-size: var(--neon-font-size-m);
    user-select: all;
  }
}
