* {
  box-sizing: border-box;
}

hr {
  display: flex;
  width: 100%;
  border-radius: $border-radius;
  border: none;
  @include margin-vertical;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  > li {
    list-style-type: none;
  }

  &:not(.no-style) > li {
    display: inline;
    max-width: $max-paragraph-width;
    padding-left: 5 * $base-space;

    &:before {
      content: '•';
      padding-right: 3 * $base-space;
      margin-left: -5 * $base-space;
      display: inline-flex;
      align-items: center;
      font-size: $font-size-l;
      line-height: $line-height-ratio;
    }
  }
}

pre {
  @include padding;
  border-radius: $border-radius;
  white-space: pre-wrap;
}

.neon--disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
}

.neon-monospaced {
  font-family: $font-family-monospaced;
}

textarea {
  font-family: $body-font-family;
}
