@mixin horizontal-card-responsive {
  flex-direction: row;

  .neon-card-header,
  .neon-card-body {
    margin-right: $card-section-margin;
    margin-bottom: 0;

    &:last-child {
      width: 100%;
    }
  }
}

.neon-card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;

  .neon-card-header,
  .neon-card-body {
    @include padding;
    position: relative;
    border-radius: $border-radius-card-section;

    &:not(:last-child) {
      margin-bottom: $card-section-margin;
    }
  }

  .neon-card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      line-height: 1;
    }
  }

  .neon-card-body {
    &--full-width {
      padding: 0;
    }
  }

  &.neon-card--horizontal {
    &.neon-card--horizontal-breakpoint-mobile {
      @include responsive(larger-than-mobile) {
        @include horizontal-card-responsive;
      }
    }

    &.neon-card--horizontal-breakpoint-tablet {
      @include responsive(desktop) {
        @include horizontal-card-responsive;
      }
    }
  }
}
