.neon-card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;

  .neon-card-header,
  .neon-card-body {
    position: relative;
    @include padding;
    border-radius: $border-radius-card-section;

    &:not(:last-child) {
      margin-bottom: $card-section-margin;
    }
  }

  .neon-card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      line-height: 1;
    }
  }

  .neon-card-body {
    &--full-width {
      padding: 0;
    }
  }
}
