@mixin colors($prefix, $colorMap, $color) {
  .neon-color-#{$prefix} {
    color: $color;
  }

  .neon-bg-color-#{$prefix} {
    background-color: $color;
  }

  $mapKeys: map-keys($colorMap);
  @for $i from 1 through length($mapKeys) {
    $key: nth($mapKeys, $i);

    .neon-color-#{$prefix}-#{$key} {
      color: map-get($colorMap, $key);
    }

    .neon-bg-color-#{$prefix}-#{$key} {
      background-color: map-get($colorMap, $key);
    }
  }
}

$colors-neutral: (
        10: $color-neutral-10,
        20: $color-neutral-20,
        30: $color-neutral-30,
        40: $color-neutral-40,
        50: $color-neutral-50,
        60: $color-neutral-60,
        70: $color-neutral-70,
        80: $color-neutral-80,
        90: $color-neutral-90,
        100: $color-neutral-100,
);

$colors-primary: (
        10: $color-primary-10,
        20: $color-primary-20,
        30: $color-primary-30,
        40: $color-primary-40,
        50: $color-primary-50,
        60: $color-primary-60,
        70: $color-primary-70,
        80: $color-primary-80,
        90: $color-primary-90,
        100: $color-primary-100,
);

$colors-info: (
        10: $color-info-10,
        20: $color-info-20,
        30: $color-info-30,
        40: $color-info-40,
        50: $color-info-50,
        60: $color-info-60,
        70: $color-info-70,
        80: $color-info-80,
        90: $color-info-90,
        100: $color-info-100,
);

$colors-success: (
        10: $color-success-10,
        20: $color-success-20,
        30: $color-success-30,
        40: $color-success-40,
        50: $color-success-50,
        60: $color-success-60,
        70: $color-success-70,
        80: $color-success-80,
        90: $color-success-90,
        100: $color-success-100,
);

$colors-warn: (
        10: $color-warn-10,
        20: $color-warn-20,
        30: $color-warn-30,
        40: $color-warn-40,
        50: $color-warn-50,
        60: $color-warn-60,
        70: $color-warn-70,
        80: $color-warn-80,
        90: $color-warn-90,
        100: $color-warn-100,
);

$colors-error: (
        10: $color-error-10,
        20: $color-error-20,
        30: $color-error-30,
        40: $color-error-40,
        50: $color-error-50,
        60: $color-error-60,
        70: $color-error-70,
        80: $color-error-80,
        90: $color-error-90,
        100: $color-error-100,
);

&{
  background-color: $color-primary;
}

*::selection {
  background-color: $color-primary;
  color: $color-inverse;
}

body {
  background-color: $background-color;
  color: $color-text;
}

.neon-color-text {
  color: $color-text;
}

.neon-color-inverse {
  color: $color-inverse;
}

@include colors('neutral', $colors-neutral, $color-neutral);
@include colors('primary', $colors-primary, $color-primary);
@include colors('info', $colors-info, $color-info);
@include colors('success', $colors-success, $color-success);
@include colors('warn', $colors-warn, $color-warn);
@include colors('error', $colors-error, $color-error);

.neon-color-inverse {
  color: $color-inverse;
}

.neon-link {
  color: $color-primary;
}
