$background-color: $color-neutral-100;

$color-text: $color-neutral-10;
$color-inverse: $color-neutral-100;
$color-neutral: $color-neutral-50;
$color-primary: $color-primary-50;
$color-info: $color-info-50;
$color-success: $color-success-50;
$color-warn: $color-warn-50;
$color-error: $color-error-50;

$background-color-neutral: $color-neutral-60;
$background-color-primary: $color-primary-60;
$background-color-info: $color-info-60;
$background-color-success: $color-success-60;
$background-color-warn: $color-warn-60;
$background-color-error: $color-error-60;
