.neon-footer {
  width: 100%;
  display: flex;
  align-items: center;

  &__container {
    @include padding(1, true);
    display: flex;
    width: 100%;
    max-width: $max-page-width + 4 * $base-space + $margin-left-footer;

    @include responsive(desktop) {
      height: $footer-height-desktop;
    }

    @include responsive(tablet) {
      height: $footer-height-tablet;
    }

    @include responsive(mobile) {
      height: $footer-height-mobile;
    }
  }
}

.neon-side-nav + .neon-grid + .neon-footer {
  border-top-left-radius: $border-radius;
  @include side-nav-offset($margin-left-footer);

  .neon-footer__container {
    max-width: $max-page-width - $side-nav-width - $margin-left-footer;
  }
}
