& {
  @include zero-spacing;
}

body {
  display: flex;
  margin: 0;
  @include height(100);
  overscroll-behavior: none;
}

div {
  display: flex;
  flex-direction: column;
}

span {
  display: inline-flex;
}

.neon-row,
.neon-horizontal {
  flex-direction: row;
  align-items: center;

  @include responsive(mobile) {
    flex-direction: column;
  }
}

.neon-app {
  width: 100%;
}
