& {
  @include zero-spacing;
}

body {
  display: flex;
  margin: 0;
  @include min-height(100);
  overscroll-behavior: none;
}

div {
  display: flex;
  flex-direction: column;
}

span {
  display: inline-flex;
}

.neon-row,
.neon-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  @include margin-vertical;

  @include responsive(mobile) {
    flex-direction: column;
  }
}

.neon-space-evenly {
  width: 100%;
  justify-content: space-evenly;
}

.neon-app {
  width: 100%;
}
