.neon-logo {
  background-size: auto;
  align-self: center;

  @include responsive(desktop) {
    height: $size-m;
    width: $logo-width-multiplier * $size-m;
  }

  @include responsive(tablet) {
    height: $size-s;
    width: $logo-width-multiplier * $size-s;
  }

  @include responsive(mobile) {
    height: $size-xs;
    width: $logo-width-multiplier * $size-xs;
  }
}
