blockquote,
.neon-note {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  border-radius: $border-radius;

  span {
    display: inline;
  }

  strong {
    margin-right: 2 * $base-space;
  }

  &__icon.neon-icon {
    margin-right: 4 * $base-space;
    $note-icon-size: $base-font-size * $line-height-ratio;
    width: $note-icon-size;
    min-width: $note-icon-size;
    height: $note-icon-size;
    min-height: $note-icon-size;
  }

  &__container {
    @include padding;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  &__close {
    align-self: flex-start;

    &.neon-button {
      @include responsive(desktop) {
        margin: 3 * $base-space;
      }

      @include responsive(tablet) {
        margin: 2 * $base-space;
      }

      @include responsive(mobile) {
        margin: $base-space;
      }
    }
  }
}

.neon-note {
  justify-content: space-between;
}

blockquote {
  @include padding;
}
