@import 'includes/toggle-mixins';

.neon-toggle {
  input {
    display: none;
  }

  label {
    user-select: none;
    padding: 2 * $base-space 3 * $base-space;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  &--toggle {
    @include toggle-layout;
  }

  &--radio-buttons {
    @include radio-button-layout;
  }

  &--horizontal {
    flex-direction: row;
  }
}
