.neon-top-nav {
  @include padding;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: $z-index-above;

  @include responsive(desktop) {
    max-height: $top-nav-height-desktop;
  }

  @include responsive(tablet) {
    max-height: $top-nav-height-tablet;
  }

  @include responsive(mobile) {
    max-height: $top-nav-height-mobile;
  }
}
