.neon-action-menu {
  &__link {
    &:not(.neon-action-menu__link--selected):not(.neon-action-menu__link--disabled):hover {
      background-color: $color-action-menu-hover;
    }

    &.neon-action-menu__link--selected {
      background-color: $color-link;
      color: $color-inverse;
      transition: background-color ease-in-out $animation-speed-slow, color ease-in-out $animation-speed-slow;
    }

    &.neon-action-menu__link--disabled {
      color: $color-disabled-light;
    }
  }
}
