$transparency-button-disabled: 0.3;

@mixin solid-button($from-color, $to-color) {
  background: linear-gradient($from-color, $to-color);

  &:hover:not(:disabled) {
    background: linear-gradient(lighten($from-color, 1), lighten($to-color, 1));
  }

  &:active:not(:disabled) {
    background: darken($to-color, 1);
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 0 4px rgba($to-color, 0.3);
  }
}

@mixin outline-button($color) {
  border: $border-width $border-style $color;
  color: $color;

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    color: $color-button-text;
  }

  &:hover:not(:disabled) {
    background: $color;
  }

  &:active:not(:disabled) {
    background: darken($color, 4);
    border-color: darken($color, 4);
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 0 4px rgba($color, $transparency-button-disabled);
  }
}

@mixin text-button($color, $background-color-hover, $background-color-active) {
  color: $color;

  &:hover:not(:disabled) {
    background: $background-color-hover;
  }

  &:active:not(:disabled) {
    background: $background-color-active;
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 0 4px rgba($color, $transparency-button-disabled);
  }
}

.neon-button {
  @each $color, $palette in $functional-colors {
    &--#{$color} {
      &.neon-button--solid {
        @if ($color == high-contrast) {
          @include solid-button(
            $background-high-contrast-solid-button-light,
            $background-high-contrast-solid-button-dark
          );
        } @else if($color == low-contrast) {
          color: $color-low-contrast-solid-button;
          @include solid-button(
            $background-low-contrast-solid-button-light,
            $background-low-contrast-solid-button-dark
          );
        } @else {
          @include solid-button(
            map-get($palette, $background-solid-button-light),
            map-get($palette, $background-solid-button-dark)
          );
        }
      }

      &.neon-button--outline {
        @if ($color == high-contrast) {
          @include outline-button($color-text);
        } @else if($color == low-contrast) {
          @include outline-button($color-low-contrast-outline-button);
        } @else {
          @include outline-button(map-get($palette, $background-solid-button-dark));
        }
      }

      &.neon-button--text {
        @include text-button(
          map-get($palette, $color-text-button),
          $background-color-text-button-hover,
          $background-color-text-button-active
        );
      }
    }
  }

  &--solid {
    border: none;
    box-shadow: $box-shadow;
    color: $color-button-text;

    &:active {
      box-shadow: $inset-shadow;
    }

    &.neon-button--disabled {
      color: $color-disabled-light;
      background: $color-disabled-dark;
    }
  }

  &--outline {
    background: transparent;

    &.neon-button--disabled {
      color: rgba($color-disabled-light, 0.5);
      border-color: rgba($color-disabled-light, 0.5);
    }
  }

  &--text {
    background-color: transparent;
    border: none;

    &.neon-button--disabled {
      color: rgba($color-disabled-light, 0.5);
    }
  }

  &--no-outline {
    box-shadow: none !important;
  }
}
