.neon-drop-zone {
  background-color: rgba($background-color, 0.5);
  border-color: rgba($color-drop-zone, 0.5);
  color: rgba($color-drop-zone, 0.5);
  transition: background-color ease-in-out $animation-speed-fast, color ease-in-out $animation-speed-fast,
    border-left-color ease-in-out $animation-speed-fast, border-top-color ease-in-out $animation-speed-fast,
    border-bottom-color ease-in-out $animation-speed-fast, border-right-color ease-in-out $animation-speed-fast;

  &--active,
  &:hover:not(.neon-drop-zone--disabled) {
    border-color: $color-drop-zone;
    color: $color-drop-zone;
  }
}
