@mixin label-colors($label-color, $label-solid-background-color) {
  &.neon-label--solid {
    color: $label-solid-background-color;
    background-color: $label-color;
    border: $border-width $border-style $label-color;
  }

  &.neon-label--outline {
    color: $label-color;
    border: $border-width $border-style $label-color;
  }
}

.neon-label {
  @each $color, $palette in $functional-colors {
    &--#{$color} {
      @if ($color == high-contrast) {
        @include label-colors($color-text, $color-inverse);
      } @else {
        @include label-colors(map-get($palette, $color-label), $background-color-card);
      }
    }
  }
}
