$background-color-card: $color-neutral-d5;
$background-color: $color-neutral-d4;

$color-text: $color-text-dark;
$color-inverse: $color-text-light;
$color-text-primary: $color-primary-l1;
$color-text-info: $color-info-l1;
$color-text-success: $color-success-l1;
$color-text-warn: $color-warn-l1;
$color-text-error: $color-error-l1;

$background-color-neutral: $color-neutral-d1;
$background-color-primary: $color-primary-d1;
$background-color-info: $color-info-d1;
$background-color-success: $color-success-d1;
$background-color-warn: $color-warn-d1;
$background-color-error: $color-error-d1;

$border-color: $color-neutral-d3;
$border: $border-width $border-style $border-color;
$hr-color: $border-color;

$logo: $logo-dark;
