$background-color-card: $color-neutral-d5;
$background-color: $color-neutral-d4;

$color-text: $color-text-dark;
$color-text-gray: $color-neutral-l1;
$color-inverse: $color-text-light;
$color-text-low-contrast: $color-low-contrast-l1;
$color-text-neutral: $color-neutral-l1;
$color-text-high-contrast: $color-high-contrast-l1;
$color-text-primary: $color-primary-l1;
$color-text-info: $color-info-l1;
$color-text-success: $color-success-l1;
$color-text-warn: $color-warn-l1;
$color-text-error: $color-error-l1;

$background-color-low-contrast: $color-low-contrast-d1;
$background-color-neutral: $color-neutral-d1;
$background-color-high-contrast: $color-high-contrast-d1;
$background-color-primary: $color-primary-d1;
$background-color-info: $color-info-d1;
$background-color-success: $color-success-d1;
$background-color-warn: $color-warn-d1;
$background-color-error: $color-error-d1;

$border-color: $color-neutral-d3;
$border: $border-width $border-style $border-color;
$hr-color: $border-color;

$logo: $logo-dark;

$label-color: $color-neutral-l1;

$color-disabled-light: $color-neutral-d2;
$color-disabled-dark: $color-neutral-d4;

// switch
$background-color-switch-off: $color-neutral-d2;
$background-color-switch-on: l1;
$background-color-switch-indicator: $color-neutral-d5;

// checkbox
$background-color-checkbox: l2;
$border-color-checkbox: l1;

// solid button
$background-solid-button-light: l2;
$background-solid-button-dark: l1;
$color-button-text: $color-neutral-d5;

// high-contrast buttons
$background-high-contrast-solid-button-light: $color-text;
$background-high-contrast-solid-button-dark: $color-high-contrast-l1;

// low-contrast buttons
$background-low-contrast-solid-button-light: $color-low-contrast-d4;
$background-low-contrast-solid-button-dark: $color-low-contrast-d5;
$color-low-contrast-solid-button: $color-low-contrast-l4;
$color-low-contrast-outline-button: $color-low-contrast-d3;

// text button
$color-text-button: l1;
$background-color-text-button-hover: darken($color-neutral-d4, 1);
$background-color-text-button-active: $color-neutral-d4;

// label
$color-label: l1;

// note
$border-color-note: l1;
$background-color-note: d5;
$color-note: $color-neutral-l1;

// link
$color-link: $color-primary-l2;
$color-link-hover: $color-primary-l1;

// icon
$color-icon: l1;

// tree menu
$color-tree-menu-hover: $color-neutral-d4;

// action menu
$color-action-menu-hover: $color-neutral-d4;

// selection
$background-color-selection: $color-primary-l1;

// pre
$background-color-pre: $color-neutral-d3;

// toggle
$color-toggle: l1;
$color-toggle-selected: $color-neutral-d5;

// radio buttons
$background-radio-button: linear-gradient(0deg, $color-neutral-d3 0%, $color-neutral-d5 100%);
$color-radio-button-label: $color-neutral-l3;

// input
$input-border-color: $color-neutral-d2;
