.layout-example {
  border-radius: $neon-border-radius;
  padding: 4 * $neon-base-space;
  margin: 2 * $neon-base-space;
  user-select: none;

  &__label {
    font-size: $neon-font-size-s;
    margin-left: 2 * $neon-base-space;
  }

  &__content {
    flex-direction: row;
  }

  &__side-nav {
    width: 25%;

    &-section {
      height: 100%;
    }
  }

  &__grid-wrapper {
    flex: 1 0 auto;
    width: 75%;
  }
}
