.layout-example {
  border: 2rem solid var(--neon-color-neutral);
  border-radius: var(--neon-border-radius);
  padding: calc(4 * var(--neon-base-space));
  margin: calc(2 * var(--neon-base-space));
  user-select: none;

  &__label,
  &__link {
    color: var(--neon-color-neutral) !important;
  }

  &__label {
    font-size: var(--neon-font-size-s);
    margin-left: calc(2 * var(--neon-base-space));
  }

  &__content {
    flex-direction: row;
  }

  &__side-nav {
    width: 25%;

    &-section {
      height: 100%;
    }
  }

  &__grid-wrapper {
    flex: 1 1 auto;
    width: 75%;
  }
}
