.layout-example {
  border: 2rem solid var(--neon-color-neutral);
  border-radius: var(--neon-border-radius);
  padding: var(--neon-space-16);
  margin: var(--neon-space-8);
  user-select: none;

  .layout-example__label,
  .layout-example__link {
    color: var(--neon-color-neutral) !important;
  }

  .layout-example__label {
    font-size: var(--neon-font-size-s);
    margin-left: var(--neon-space-8);
  }

  .layout-example__content {
    flex-direction: row;
  }

  .layout-example__with-footer {
    flex-direction: column;
    width: 100%;
  }

  .layout-example__side-nav {
    width: 25%;

    &-section {
      height: 100%;
    }
  }

  .layout-example__grid-wrapper {
    flex: 1 1 auto;
  }
}
