/******************
* COMPONENT INIT
******************/
@function flatten-dependencies($neon-components: null) {
  $neon-component-dependencies: (
          NeonActionMenu: [NeonLink,
          NeonIcon],
          NeonAlert: [NeonToastContainer, NeonIcon, NeonLink],
          NeonAnchor: [],
          NeonBadge: [NeonIcon, NeonFile, NeonButton, NeonInput, NeonList, NeonExpansionIndicator, NeonIcon, NeonLink],
          NeonButton: [NeonExpansionIndicator,
          NeonIcon,
          NeonLink],
          NeonCard: [],
          NeonCardBody: [],
          NeonCardFooter: [],
          NeonCardHeader: [],
          NeonChip: [NeonIcon],
          NeonColor: [NeonInput,
          NeonIcon],
          NeonDialog: [NeonButton,
  NeonCard,
  NeonCardBody,
  NeonModal,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
          NeonDrawer: [],
          NeonDropdown: [NeonBadge,
  NeonButton,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
          NeonDropdownMenu: [NeonDropdown,
  NeonIcon,
  NeonLink,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator],
          NeonDropZone: [],
          NeonExpansionIndicator: [],
          NeonExpansionPanel: [NeonExpansionIndicator,
  NeonIcon],
          NeonFieldGroup: [],
          NeonFile: [NeonButton,
  NeonInput,
  NeonList,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
          NeonFilterList: [NeonIcon,
  NeonLink],
          NeonFooter: [],
          NeonGrid: [],
          NeonGridArea: [],
          NeonIcon: [],
          NeonInput: [NeonIcon],
          NeonInputIndicator: [NeonIcon],
          NeonLabel: [NeonIcon],
          NeonLink: [NeonIcon],
          NeonList: [NeonIcon],
          NeonMenu: [NeonDropdownMenu,
  NeonIcon,
  NeonLink,
  NeonDropdown,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator],
          NeonModal: [NeonButton,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
          NeonNote: [NeonButton,
  NeonIcon,
  NeonExpansionIndicator,
  NeonLink, NeonInline, NeonStack],
          NeonNotificationCounter: [],
          NeonNumber: [NeonButton,
  NeonFieldGroup,
  NeonInput,
  NeonExpansionIndicator,
  NeonIcon,
  NeonLink],
          NeonLinearProgress: [NeonIcon],
          NeonPage: [NeonBanner, NeonButton, NeonNote, NeonIcon, NeonLink, NeonExpansionIndicator, NeonAlert],
          NeonPassword: [NeonInput,
          NeonIcon],
          NeonRangeSlider: [NeonSlider],
          NeonSearch: [NeonChip,
          NeonDropdown,
          NeonIcon,
          NeonInput,
          NeonBadge,
          NeonButton,
          NeonExpansionIndicator,
          NeonLink],
          NeonSelect: [NeonDropdown,
  NeonIcon,
  NeonSwitch,
  NeonBadge,
  NeonButton,
  NeonExpansionIndicator,
  NeonLink],
          NeonSideNav: [],
          NeonSkeletonLoader: [],
          NeonSlider: [],
          NeonSplashLoader: [NeonIcon],
          NeonSwitch: [NeonIcon],
          NeonTab: [],
          NeonTabs: [NeonIcon, NeonSwiper, NeonLink],
          NeonToastContainer: [NeonIcon],
          NeonToggle: [NeonIcon],
          NeonToggleChip: [NeonIcon],
          NeonTooltip: [],
          NeonTopNav: [],
          NeonTreeMenu: [NeonLink,NeonIcon],
          NeonStepper: [NeonIcon],
          NeonSelectableCard: [NeonCard, NeonCardHeader, NeonSwitch, NeonIcon],
          NeonDatePicker: [NeonDropdown, NeonBadge, NeonButton, NeonExpansionIndicator, NeonIcon, NeonLink, NeonInput],
          NeonField: [],
          NeonStack: [],
          NeonInline: [],
          NeonCardList: [NeonButton, NeonExpansionIndicator, NeonIcon, NeonLink, NeonCard, NeonCardBody, NeonInline, NeonStack],
          NeonImageCarousel: [NeonButton, NeonLink],
          NeonSwiper: [],
          NeonMobileMenu: [NeonIcon, NeonLink],
          NeonPageContainer: [NeonIcon],
          NeonBanner: [NeonButton, NeonNote, NeonIcon, NeonLink, NeonExpansionIndicator],
  );

  $neon-flattened-components: [];
  $neon-components-local: map-keys($neon-component-dependencies);
  @if ($neon-components != null) {
    $neon-components-local: $neon-components;
  }
  @each $neon-component-key in $neon-components-local {
    @if not index($neon-flattened-components, $neon-component-key) {
      $neon-flattened-components: append($neon-flattened-components, $neon-component-key);
    }

    @each $neon-component-dependency in map-get($neon-component-dependencies, $neon-component-key) {
      @if not index($neon-flattened-components, $neon-component-dependency) {
        $neon-flattened-components: append($neon-flattened-components, $neon-component-dependency);
      }
    }
  }

  @return $neon-flattened-components;
}
