@import 'responsive';

// mobile spacing
$spacing-horizontal-mobile: $spacing-vertical-mobile * $spacing-horizontal-multiplier;
// tablet spacing
$spacing-vertical-tablet: $spacing-vertical-mobile * $spacing-multiplier-tablet;
$spacing-horizontal-tablet: $spacing-horizontal-mobile * $spacing-multiplier-tablet;
// desktop spacing
$spacing-vertical-desktop: $spacing-vertical-mobile * $spacing-multiplier-desktop;
$spacing-horizontal-desktop: $spacing-horizontal-mobile * $spacing-multiplier-desktop;

$spacing: (
  mobile: (
    $spacing-vertical-mobile,
    $spacing-horizontal-mobile,
  ),
  mobile-large: (
    $spacing-vertical-mobile,
    $spacing-horizontal-mobile,
  ),
  tablet: (
    $spacing-vertical-tablet,
    $spacing-horizontal-tablet,
  ),
  larger-than-tablet: (
    $spacing-vertical-desktop,
    $spacing-horizontal-desktop,
  ),
  desktop: (
    $spacing-vertical-desktop,
    $spacing-horizontal-desktop,
  ),
  desktop-large: (
    $spacing-vertical-desktop,
    $spacing-horizontal-desktop,
  ),
);

@mixin spacing-horizontal($paddingOrMargin, $breakpoint) {
  @include responsive($breakpoint) {
    #{$paddingOrMargin}: 0 nth(map-get($spacing, $breakpoint), 2);
  }
}

@mixin spacing-vertical($paddingOrMargin, $breakpoint) {
  @include responsive($breakpoint) {
    #{$paddingOrMargin}: nth(map-get($spacing, $breakpoint), 1) 0;
  }
}

@mixin spacing-top($paddingOrMargin, $breakpoint) {
  @include responsive($breakpoint) {
    #{$paddingOrMargin}-top: nth(map-get($spacing, $breakpoint), 1);
  }
}

@mixin spacing($paddingOrMargin, $breakpoint, $multiplier: 1, $square: false) {
  @include responsive($breakpoint) {
    @if ($square) {
      #{$paddingOrMargin}: $multiplier *
        nth(map-get($spacing, $breakpoint), 1)
        $multiplier *
        nth(map-get($spacing, $breakpoint), 1);
    } @else {
      #{$paddingOrMargin}: $multiplier *
        nth(map-get($spacing, $breakpoint), 1)
        $multiplier *
        nth(map-get($spacing, $breakpoint), 2);
    }
  }
}

@mixin zero-spacing {
  margin: 0;
  padding: 0;
}

// padding mixins
@mixin padding-mobile($multiplier: 1, $square: false) {
  @include spacing('padding', mobile-large, $multiplier, $square);
}

@mixin padding-tablet($multiplier: 1, $square: false) {
  @include spacing('padding', tablet, $multiplier, $square);
}

@mixin padding-desktop($multiplier: 1, $square: false) {
  @include spacing('padding', larger-than-tablet, $multiplier, $square);
}

@mixin padding($multiplier: 1, $square: false) {
  @include padding-desktop($multiplier, $square);
  @include padding-tablet($multiplier, $square);
  @include padding-mobile($multiplier, $square);
}

@mixin padding-horizontal {
  @include spacing-horizontal('padding', larger-than-tablet);
  @include spacing-horizontal('padding', tablet);
  @include spacing-horizontal('padding', mobile-large);
}

@mixin padding-vertical {
  @include spacing-vertical('padding', larger-than-tablet);
  @include spacing-vertical('padding', tablet);
  @include spacing-vertical('padding', mobile-large);
}

// margin mixins
@mixin margin-mobile($multiplier: 1, $square: false) {
  @include spacing('margin', mobile-large, $multiplier, $square);
}

@mixin margin-tablet($multiplier: 1, $square: false) {
  @include spacing('margin', tablet, $multiplier, $square);
}

@mixin margin-desktop($multiplier: 1, $square: false) {
  @include spacing('margin', larger-than-tablet, $multiplier, $square);
}

@mixin margin-vertical {
  @include spacing-vertical('margin', larger-than-tablet);
  @include spacing-vertical('margin', tablet);
  @include spacing-vertical('margin', mobile-large);
}

@mixin margin-top {
  @include spacing-top('margin', larger-than-tablet);
  @include spacing-top('margin', tablet);
  @include spacing-top('margin', mobile-large);
}

@mixin margin($multiplier: 1, $square: false) {
  @include margin-desktop($multiplier, $square);
  @include margin-tablet($multiplier, $square);
  @include margin-mobile($multiplier, $square);
}

// height
@mixin min-height($n, $offset: 0px) {
  min-height: calc(#{$n} * var(--vh, 1vh) - #{$offset});
}

@mixin height($n, $offset: 0px) {
  height: calc(#{$n} * var(--vh, 1vh) - #{$offset});
}

// width
@mixin width($n, $offset: 0px) {
  width: calc(#{$n} * var(--vw, 1vw) - #{$offset});
}

@mixin side-nav-offset($offset: 0px) {
  @include responsive(larger-than-tablet) {
    margin-left: $side-nav-width + $offset;
    @include width(100, $side-nav-width + $offset);
  }
}
