@mixin box-shadow-outline($outline-rgb) {
  box-shadow: 0 0 0 0.25rem rgba($outline-rgb, 0.3);
}

@mixin focus-text-outline($outline-rgb) {
  &--outline-text {
    display: inline-flex;
    position: relative;

    &:after {
      content: '';
      font-weight: bold;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.125rem;
      display: flex;
      background-color: transparent;
      border-radius: var(--neon-border-radius);
      transition: background-color var(--neon-animation-speed-slow) ease-in-out, color var(--neon-animation-speed-slow) ease-in-out;
    }

    &:focus {
      color: rgb($outline-rgb);

      &:after {
        background-color: rgb($outline-rgb);
      }
    }
  }
}

@mixin focus-border-outline($outline-rgb) {
  &--outline-border {
    &:focus {
      @include box-shadow-outline($outline-rgb);
    }
  }
}

@mixin focus-bullet-outline($outline-rgb) {
  &--outline-bullet {
    position: relative;

    &:before {
      transition: all var(--neon-animation-speed-fast) ease-in-out;
      content: '';
      opacity: 0;
      position: absolute;
      display: flex;
      align-self: center;
      right: 0;
      border-radius: var(--neon-border-radius);
      width: 0;
      height: 0;
      background-color: transparent;
    }

    &:focus {
      &:before {
        width: calc(2 * var(--neon-base-space));
        height: calc(2 * var(--neon-base-space));
        background-color: rgb($outline-rgb);
        opacity: 1;
      }
    }
  }
}

@mixin focus-background-outline($outline-rgb) {
  &--outline-background {
    transition: all var(--neon-animation-speed-fast) ease-in-out;

    &:focus {
      background-color: rgba($outline-rgb, 0.125);
    }
  }
}

@mixin focus-outline-styles($outline-rgb) {
  &:focus {
    outline: none;
  }

  @include focus-text-outline($outline-rgb);
  @include focus-border-outline($outline-rgb);
  @include focus-bullet-outline($outline-rgb);
  @include focus-background-outline($outline-rgb);
}
