@mixin box-shadow-outline($outline-color) {
  box-shadow: 0 0 0 4px rgba($outline-color, 0.3);
}

@mixin focus-text-outline($outline-color) {
  &--outline-text {
    display: inline-flex;
    position: relative;

    &:after {
      content: '';
      font-weight: bold;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      display: flex;
      background-color: transparent;
      border-radius: $neon-border-radius;
      transition: background-color $neon-animation-speed-slow ease-in-out, color $neon-animation-speed-slow ease-in-out;
    }

    &:focus {
      color: $outline-color;

      &:after {
        background-color: $outline-color;
      }
    }
  }
}

@mixin focus-border-outline($outline-color) {
  &--outline-border {
    &:focus {
      @include box-shadow-outline($outline-color);
    }
  }
}

@mixin focus-bullet-outline($outline-color) {
  &--outline-bullet {
    position: relative;

    &:before {
      transition: all $neon-animation-speed-fast ease-in-out;
      content: '';
      opacity: 0;
      position: absolute;
      display: flex;
      align-self: center;
      right: 0;
      border-radius: $neon-border-radius;
      width: 0;
      height: 0;
      background-color: transparent;
    }

    &:focus {
      &:before {
        width: 2 * $neon-base-space;
        height: 2 * $neon-base-space;
        background-color: $outline-color;
        opacity: 1;
      }
    }
  }
}

@mixin focus-background-outline($outline-color) {
  &--outline-background {
    transition: all $neon-animation-speed-fast ease-in-out;

    &:focus {
      background-color: rgba($outline-color, 0.125);
    }
  }
}

@mixin focus-outline-styles($outline-color) {
  &:focus {
    outline: none;
  }

  @include focus-text-outline($outline-color);
  @include focus-border-outline($outline-color);
  @include focus-bullet-outline($outline-color);
  @include focus-background-outline($outline-color);
}
