$neon-functional-colors: (
        neutral,
        low-contrast,
        high-contrast,
        brand,
        accent,
        primary,
        info,
        success,
        warn,
        error,
);

$neon-button-colors: (
        neutral,
        low-contrast,
        high-contrast,
        brand,
        accent,
        primary,
        info,
        success,
        warn,
        error,
        inverse,
);

$neon-neutral-colors: (
        neutral,
        low-contrast,
        high-contrast,
);

$alert-colors: (
        info,
        success,
        warn,
        error,
);
