@mixin toggle-size($font-size, $size) {
  label {
    font-size: var(--neon-font-size-#{$font-size});
    font-weight: var(--neon-font-weight-normal);
    letter-spacing: var(--neon-letter-spacing-s);
    line-height: var(--neon-line-height-one);
    min-height: var(--neon-size-#{$size});
    height: var(--neon-size-#{$size});
    z-index: var(--neon-z-index-default);
    gap: var(--neon-space-8);

    &.neon-toggle__label--with-icon {
      .neon-icon {
        width: calc(var(--neon-font-size-#{$font-size}) * var(--neon-line-height-one));
        height: calc(var(--neon-font-size-#{$font-size}) * var(--neon-line-height-one));
      }
    }

    &.neon-toggle__label--with-icon:not(.neon-toggle__label--with-text) {
      width: var(--neon-size-#{$size});
      padding: 0;
    }

    &.neon-toggle__label--checked {
      z-index: var(--neon-z-index-above);
    }
  }
}

@mixin radio-button-size($control-size, $font-size, $size) {
  @include toggle-size($font-size, $size);

  .neon-toggle__radio-button {
    width: 1.25 * $control-size;
    height: 1.25 * $control-size;
  }

  .neon-toggle__label--checked {
    .neon-toggle__radio-button {
      &-indicator {
        width: 0.75 * $control-size;
        height: 0.75 * $control-size;
      }
    }
  }
}

@mixin toggle-layout {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--neon-border-radius-toggle);
  overflow: hidden;

  &.neon-toggle--s {
    @include toggle-size('s', 's');
  }

  &.neon-toggle--m {
    @include toggle-size('s', 'm');
  }

  &.neon-toggle--l {
    @include toggle-size('m', 'l');
  }

  .neon-toggle__label {
    margin: var(--neon-margin-toggle-option);
    border-radius: var(--neon-border-radius-toggle-option);
  }
}

@mixin radio-button-layout {
  .neon-toggle__label {
    letter-spacing: var(--neon-letter-spacing-s);
  }

  .neon-toggle__radio-button {
    border-radius: var(--neon-border-radius-radio-button);
    margin-right: var(--neon-space-4);
    align-items: center;
    justify-content: center;
  }

  .neon-toggle__label--checked {
    .neon-toggle__radio-button {
      &-indicator {
        border-radius: var(--neon-border-radius-radio-button);
      }
    }
  }

  &.neon-toggle--s {
    @include radio-button-size(14rem, 's', 's');
  }

  &.neon-toggle--m {
    @include radio-button-size(14rem, 's', 'm');
  }

  &.neon-toggle--l {
    @include radio-button-size(16rem, 'm', 'l');
  }
}
