name: Pull Request Checks

on:
  pull_request:
    branches:
      - main
jobs:
  lint_test:
    name: Lint and Unit test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ~18.17.1

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package.json') }}

      - name: install Node Dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm install

      - name: Build
        run: npm run build

      - name: Lint code
        run: npm run lint

      - name: Run unit test and collect coverage
        run: npm run test
        env:
          FORCE_COLOR: true
