@use '../../../sass/includes/layout';
@use '../../../sass/includes/responsive';

.source-page {
  .source-page__property {
    margin-bottom: var(--neon-space-16);

    &:last-child {
      .source-page__separator {
        display: none;
      }
    }
  }

  &__summary {
    & + .source-page__summary,
    p + p {
      margin-top: var(--neon-space-16);
    }
  }

  &__property-value {
    font-family: var(--neon-font-family-monospaced);
    font-weight: var(--neon-font-weight-medium);
    color: var(--neon-color-info);
  }

  &__property-description {
    font-size: var(--neon-font-size-s);
  }

  .source-page__separator {
    margin: var(--neon-space-8) 0;
  }

  &__param-separator {
    margin: 0 var(--neon-space-8);
  }

  &__param-name {
    font-family: var(--neon-font-family-monospaced);
    font-weight: var(--neon-font-weight-medium);
    color: var(--neon-color-neutral);
  }

  &__params-title,
  &__returns-title {
    color: var(--neon-color-neutral);
    font-size: var(--neon-font-size-xs);
    margin-top: var(--neon-space-16);
    text-transform: uppercase;
  }
}
