.source-page {
  .editor__wrapper {
    @include responsive(larger-than-tablet) {
      max-height: calc(
        100vh - #{$top-nav-height-desktop + $footer-height-desktop + $h1-size * 1.125 + 6 * $spacing-vertical-desktop +
          3 * $border-width}
      );
    }

    @include responsive(tablet) {
      max-height: calc(
        100vh - #{$top-nav-height-tablet + $footer-height-tablet + $h1-size * 1.125 + 6 * $spacing-vertical-tablet + 3 *
          $border-width}
      );
    }
    @include responsive(mobile-large) {
      max-height: calc(
        100vh - #{$top-nav-height-mobile + $footer-height-mobile + $h1-size * 1.125 + 6 * $spacing-vertical-mobile + 3 *
          $border-width}
      );
    }
  }
}
